<template>
  <div :class="{ 'menu-open': menuOpen }">
    <div
      class="fixed top-0 left-0 w-screen h-full flex z-40 will-change-opacity will-change-width"
      :class="{ 'pointer-events-none': !menuOpen }"
    >
      <div
        ref="backdrop"
        class="blur opacity-0 flex-grow"
        :class="{ 'w-full': !isMobile }"
        @click="handleBackdropClick"
      />
      <div
        ref="drawer"
        class="bg-black overflow-hidden w-0 cursor-white will-change-width relative"
      >
        <BlockMenuDrawerInner />
      </div>
    </div>
    <BlockMenuBurger class="pointer-events-auto" :color="burgerColor" />
  </div>
</template>

<script>
import gsap from 'gsap'
import { mapState } from 'vuex'
import { MUTATIONS } from '@store/ui'
import { BLACK, TRANSPARENT_REVERSE } from '@c/Block/BlockMenuBar'

import { CustomEase } from 'gsap/CustomEase'

gsap.registerPlugin(CustomEase)

CustomEase.create('mask', '0.35, 0, 0.45, 1')

export default {
  data: () => ({
    tl: null,
  }),

  computed: {
    ...mapState({
      menuOpen: (state) => state.ui.menuOpen,
      menuBgColor: (state) => state.ui.menuBgColor,
      isMobile: (state) => state.ui.isMobile,
    }),
    burgerColor() {
      return [TRANSPARENT_REVERSE, BLACK].includes(this.menuBgColor)
        ? 'white'
        : 'black'
    },
  },

  watch: {
    isMobile(isMobile, lastIsMobile) {
      // If switching between mobile and desktop, close menu
      if (isMobile !== lastIsMobile) {
        this.$store.commit(MUTATIONS.SET_MENU_OPEN, false)
      }
    },
    '$route.fullPath'() {
      // Close the menu if the route changes
      this.$store.commit(MUTATIONS.SET_MENU_OPEN, false)
    },
    menuOpen(menuOpen) {
      const expandList = this.$refs.drawer.querySelectorAll('.expand-open')
      const expandOpen = !!expandList.length

      // If the menu is closing and there are no dropdowns open
      if (!menuOpen && !expandOpen) {
        this.tl.time(this.tl.time() - 0.8)
      }

      this.tl[menuOpen ? 'play' : 'reverse']()
    },
  },

  mounted() {
    this.setTimeline()
  },

  methods: {
    handleBackdropClick() {
      this.$store.commit(MUTATIONS.SET_MENU_OPEN, false)
    },

    setTimeline() {
      const { backdrop, drawer } = this.$refs

      // Set timeline
      this.tl = gsap.timeline({ paused: true })

      // Set backdrop
      this.tl.to(backdrop, {
        autoAlpha: 1,
        duration: 0.125,
      })

      // Set drawer
      this.tl.to(
        drawer,
        {
          width: '100%',
          duration: 1.25,
          delay: 0.06,
          ease: 'mask',
        },
        0
      )

      // 0.8s delay at the end of the timeline to allow dropdowns to close on reverse
      this.tl.set({}, { delay: 0.8 })
    },
  },
}
</script>

<style scoped>
.blur {
  backdrop-filter: blur(10px);
}

.transition-color {
  transition-property: background-color, color;
  transition-duration: var(--time-general);
  transition-timing-function: var(--ease-general);
}

.will-change-opacity {
  will-change: opacity;
}

.will-change-width {
  will-change: width;
}

/** Burger transition delay */
::v-deep g {
  transition-delay: 1s;
}

.menu-open ::v-deep g {
  transition-delay: 0s;
}
</style>
