<template>
  <svg
    x="0px"
    y="0px"
    viewBox="0 0 537.6 86.9"
    style="enable-background: new 0 0 537.6 86.9"
    xml:space="preserve"
  >
    <g :fill="fill">
      <g>
        <path
          d="M10.2,1.4L41.9,44L73.8,1.4h10.1v85.5H72.8V20.4L42,61.8L11.2,20.4v66.4H0V1.4H10.2z"
        />
      </g>
      <g>
        <path
          d="M186.4,1.4h9.3l37.9,85.5H222L210.9,62H171l-10.8,24.9h-11.6L186.4,1.4z M175.5,51.9h30.9l-15.5-35.3L175.5,51.9z"
        />
      </g>
      <g>
        <path
          d="M348.5,28.9l-20.8,58h-10L294.3,1.4H306l17.8,66.7L348.5,0l24.7,68.1l17.9-66.7h11.7l-23.3,85.5h-10L348.5,28.9z"
        />
      </g>
      <g>
        <rect x="263.2" y="1.4" width="1.5" height="85.5" />
      </g>
      <g>
        <rect x="432.4" y="1.4" width="1.5" height="85.5" />
      </g>
      <g>
        <rect x="117.6" y="1.4" width="1.5" height="85.5" />
      </g>
      <g>
        <path
          d="M467.6,1.4h24.5c26.2,0,45.5,18.3,45.5,42.7c0,24.4-19.3,42.7-45.5,42.7h-24.5V1.4z M492.1,76.4
			c20.6,0,34.2-13.6,34.2-32.3s-13.6-32.3-34.2-32.3h-13.4v64.5L492.1,76.4L492.1,76.4z"
        />
      </g>
    </g>
  </svg>
</template>

<script>
import { colors } from '@utils/tailwind'

export default {
  props: {
    color: {
      // Pass the color string as used in tailwind config
      type: String,
      default: 'black',
    },
  },

  computed: {
    fill() {
      return colors[this.color]
    },
  },
}
</script>
