<template>
  <div
    class="p-gutter top-0 right-0 fixed z-50 flex justify-end items-center transition-color"
    :class="{ 'cursor-white': burgerColor === 'white' }"
  >
    <CoreBurger :color="burgerColor" :open="menuOpen" @click="handleClick" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { MUTATIONS } from '@store/ui'

export default {
  props: {
    color: {
      type: String,
      default: 'black',
    },
  },

  computed: {
    ...mapState({
      menuOpen: (state) => state.ui.menuOpen,
    }),
    burgerColor() {
      return this.menuOpen ? 'white' : this.color
    },
  },

  methods: {
    handleClick() {
      this.$store.commit(MUTATIONS.SET_MENU_OPEN, !this.menuOpen)
    },
  },
}
</script>
