<template>
  <li class="stagger-item">
    <div
      class="px-gutter flex justify-between items-center cursor-hover"
      @click="handleClick"
    >
      <span>
        <slot />
      </span>
      <CoreIcon
        v-if="!toExists"
        class="transition-rotate"
        :class="{ 'rotate-180': open }"
        color="white"
        :width="isMobile ? 16 : 25"
      >
        <IconArrowMenu />
      </CoreIcon>
    </div>
    <CoreExpand
      class="px-gutter"
      :class="{ 'expand-open': open }"
      :open="open"
      :apply-fade="false"
      :animation-options="{ delay: open ? 0 : 0.1 }"
    >
      <div ref="linksContainer" class="font-euclid-regular flex flex-col">
        <slot name="links" />
      </div>
    </CoreExpand>
  </li>
</template>

<script>
import { mapState } from 'vuex'
import { MUTATIONS } from '@store/ui'
import SnapScrollUtils from '@mixins/SnapScrollUtils'
import gsap from 'gsap'
import { isEmptyObject, isNumber } from '@utils/types'
import { SECTIONS } from '@constants'

export default {
  mixins: [SnapScrollUtils],

  props: {
    to: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    open: false,
    tl: null,
    items: SECTIONS,
  }),

  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
      menuOpen: (state) => state.ui.menuOpen,
    }),
    toExists() {
      return !isEmptyObject(this.to)
    },
  },

  watch: {
    menuOpen(menuOpen) {
      if (!menuOpen) {
        this.open = false
      }
    },
    open(open) {
      this.tl[open ? 'play' : 'reverse']()
    },
  },

  mounted() {
    this.setupTimeline()
  },

  methods: {
    setupTimeline() {
      const targets = this.$refs.linksContainer.children
      this.tl = gsap.timeline({ paused: true })

      if (targets.length === 0) return

      this.tl.from(targets, {
        autoAlpha: 0,
        x: -20,
        duration: 0.3,
        delay: 0.3,
        stagger: 0.05,
        ease: 'power1.out',
      })
    },
    handleClick() {
      if (this.toExists) {
        if (isNumber(this.to.params.key)) {
          const item = this.items.find((x) => x.step === this.to.params.key)
          this.scrollSpine(item)
        } else {
          this.$router.push(this.to)
        }
        this.$store.commit(MUTATIONS.SET_MENU_OPEN, false)
      } else {
        this.open = !this.open
      }
    },
    colapseDropdown() {
      this.open = false
    },
  },
}
</script>

<style scoped>
.transition-rotate {
  transition-property: transform;
  transition-duration: 0.16s;
  transition-timing-function: var(--ease-general);
}

.rotate-180 {
  transform: rotate(180deg);
}
</style>
