<template>
  <ul>
    <BlockMenuDrawerInnerItem :to="{ name: 'index', params: { key: 0 } }">
      Overview
    </BlockMenuDrawerInnerItem>
    <BlockMenuDrawerInnerItem :to="{ name: 'index', params: { key: 2 } }">
      Our Process
    </BlockMenuDrawerInnerItem>
    <BlockMenuDrawerInnerItem>
      <template v-slot:default>Our Work</template>
      <template v-slot:links>
        <MenuDrawerLink
          :to="{
            name: 'our-work-category',
            params: { category: 'live', key: 3 },
          }"
        >
          Live
        </MenuDrawerLink>
        <MenuDrawerLink
          :to="{
            name: 'our-work-category',
            params: { category: 'move', key: 3 },
          }"
        >
          Move
        </MenuDrawerLink>
        <MenuDrawerLink
          :to="{
            name: 'our-work-category',
            params: { category: 'work', key: 3 },
          }"
        >
          Work
        </MenuDrawerLink>
        <MenuDrawerLink
          :to="{
            name: 'our-work-category',
            params: { category: 'play', key: 3 },
          }"
        >
          Play
        </MenuDrawerLink>
        <MenuDrawerLink
          :to="{
            name: 'OurWorkPageIndexDirectory',
            params: { key: 3 },
          }"
        >
          Index
        </MenuDrawerLink>
        <MenuDrawerLink :to="{ name: 'our-work-services', params: { key: 3 } }">
          Services
        </MenuDrawerLink>
      </template>
    </BlockMenuDrawerInnerItem>
    <BlockMenuDrawerInnerItem>
      <template v-slot:default>Our Thoughts</template>
      <template v-slot:links>
        <MenuDrawerLink
          v-for="(page, i) in ourThoughts"
          :key="i"
          :to="{
            name: 'our-thoughts',
            query: { filter: page.id },
            params: { key: 4 },
          }"
        >
          {{ page.title }}
        </MenuDrawerLink>
      </template>
    </BlockMenuDrawerInnerItem>
    <BlockMenuDrawerInnerItem>
      <template v-slot:default>Our Studio</template>
      <template v-slot:links>
        <MenuDrawerLink
          :to="{ name: 'our-studio-slug', params: { slug: 'values', key: 5 } }"
        >
          Our Values
        </MenuDrawerLink>
        <MenuDrawerLink
          :to="{
            name: 'our-studio-slug',
            params: { slug: 'leadership', key: 5 },
          }"
        >
          Leadership
        </MenuDrawerLink>
        <MenuDrawerLink
          :to="{
            name: 'our-studio-slug',
            params: { slug: 'elliot-james', key: 5 },
          }"
        >
          Elliot & James
        </MenuDrawerLink>
        <MenuDrawerLink
          :to="{ name: 'our-studio-slug', params: { slug: 'clients', key: 5 } }"
        >
          Clients
        </MenuDrawerLink>
        <MenuDrawerLink
          :to="{ name: 'our-studio-slug', params: { slug: 'careers', key: 5 } }"
        >
          Careers
        </MenuDrawerLink>
      </template>
    </BlockMenuDrawerInnerItem>
    <BlockMenuDrawerInnerItem>
      <template v-slot:default>Press & Media</template>
      <template v-slot:links>
        <MenuDrawerLink
          v-for="(year, i) in pressMedia"
          :key="i"
          :to="{
            name: 'press-media-all',
            hash: `#year-${year}`,
            params: { key: 6 },
          }"
        >
          {{ year.substring(2) }}
        </MenuDrawerLink>
      </template>
    </BlockMenuDrawerInnerItem>
    <BlockMenuDrawerInnerItem :to="{ name: 'index', params: { key: 7 } }">
      Contact
    </BlockMenuDrawerInnerItem>
  </ul>
</template>

<script>
import { BurgerMenuQuery as query } from '@gql/queries'
import { all } from '@pages/our-thoughts'
import { isEmptyObject } from '@utils/types'

export default {
  async fetch() {
    const result = await this.$craft({ query })

    const ourThoughtsTags = result.data.categories.filter(
      (category) => !isEmptyObject(category)
    )

    const years = [
      ...new Set(
        result.data.pressMedia.map((entry) => {
          return new Date(entry.year).getFullYear().toString()
        })
      ),
    ].splice(0, 3)

    this.ourThoughts = [all, ...ourThoughtsTags]
    this.pressMedia = years
  },

  data: () => ({
    ourThoughts: [],
    pressMedia: [],
  }),
}
</script>
