<template>
  <div
    class="p-gutter top-0 left-0 fixed z-30 w-full flex items-center transition-color"
    :class="color"
  >
    <CoreBreadcrumb v-if="language === 'en'" />
    <CoreChineseBreadcrumb v-else />
  </div>
</template>

<script>
import { mapState } from 'vuex'

export const WHITE = Symbol('white menu color')
export const BLACK = Symbol('black menu color')
export const PUTTY = Symbol('menu color')
export const TRANSPARENT = Symbol('menu color')
export const TRANSPARENT_REVERSE = Symbol('menu color')

const MENU_BACKGROUND_COLORS = {
  [WHITE]: 'bg-white text-black',
  [BLACK]: 'bg-black text-white cursor-white',
  [PUTTY]: 'bg-putty text-black',
  [TRANSPARENT]: 'text-black pointer-events-none',
  [TRANSPARENT_REVERSE]: 'text-white pointer-events-none',
}

export default {
  computed: {
    ...mapState({
      menuBgColor: (state) => state.ui.menuBgColor,
      language: (state) => state.ui.language,
    }),
    color() {
      return MENU_BACKGROUND_COLORS?.[this.menuBgColor]
        ? MENU_BACKGROUND_COLORS[this.menuBgColor]
        : ''
    },
  },
}
</script>

<style scoped>
.transition-color {
  transition-property: background-color, color;
  transition-duration: var(--time-general);
  transition-timing-function: var(--ease-general);
}
</style>
