<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 537.6 86.9">
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_1-2" data-name="Layer 1">
        <polygon
          class="type st0"
          points="10.23 1.44 41.88 44.05 73.78 1.44 83.89 1.44 83.89 86.89 72.81 86.89 72.81 20.46 42 61.86 11.19 20.46 11.19 86.89 0 86.89 0 1.44 10.23 1.44"
        />
        <path
          class="type st0"
          d="M186.45,1.44h9.27L233.63,86.9H222L210.89,62H171.05L160.22,86.9H148.66ZM175.5,51.87h30.93L190.91,16.61Z"
        />
        <polygon
          class="type st0"
          points="348.5 28.89 327.68 86.89 317.69 86.89 294.34 1.44 306.01 1.44 323.82 68.12 348.5 0 373.17 68.12 391.1 1.44 402.78 1.44 379.43 86.89 369.44 86.89 348.5 28.89"
        />
        <path
          class="type st0"
          d="M467.55,1.44h24.56c26.23,0,45.49,18.3,45.49,42.73s-19.26,42.72-45.49,42.72H467.55Zm24.56,75c20.58,0,34.18-13.6,34.18-32.25s-13.6-32.25-34.18-32.25H478.75v64.5Z"
        />
        <rect class="line st0" x="117.56" y="1.44" width="1.5" height="85.45" />
        <rect class="line st0" x="263.24" y="1.44" width="1.5" height="85.45" />
        <rect class="line st0" x="432.38" y="1.44" width="1.5" height="85.45" />
      </g>
    </g>
  </svg>
</template>

<script>
import { gsap } from 'gsap'
export default {
  name: 'BlockChineseMawdLogo',
  data() {
    return {
      tl: gsap.timeline({ paused: true }),
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.tl
        .fromTo(
          '.type',
          { opacity: 0 },
          {
            opacity: 1,
            stagger: 0.5,
            ease: 'expo.in',
            duration: 0.9,
          },
          0.3
        )
        .fromTo(
          '.line',
          { opacity: 0 },
          {
            opacity: 1,
            stagger: 0.1,
            ease: 'expo.in',
            duration: 2,
          },
          2
        )
      this.tl.play()
    })
  },
}
</script>

<style type="scss" scoped>
.st0 {
  fill: #ffffff;
}
.st1 {
  fill: #666666;
}
</style>
