<template>
  <header>
    <CoreGrid
      :lg-only="true"
      class="p-gutter top-0 left-0 w-full hidden fixed z-31 pointer-events-none"
    >
      <div
        class="lg:col-start-7 lg:col-end-18 h-filter-container flex items-center transition-filter pointer-events-auto"
        :class="[
          filterTextColor,
          { 'opacity-0 transform-filter': filterTranition },
        ]"
      >
        <!-- FILTER DESKTOP -->
        <slot name="filter" />
        <!-- <OurWorkServicesLink v-if="showServices" /> -->
      </div>
    </CoreGrid>
    <CoreGrid :lg-only="true" class="mt-l lg:mt-0 lg:pt-xxxl px-gutter">
      <CoreTextAnimateIn class="col-span-18">
        <!-- text-mob-size-2 lg:text-size-10 -->
        <h2 class="text-fluid-size-10" v-text="title" />
      </CoreTextAnimateIn>

      <div v-if="filterExists" class="lg:hidden col-span-9 mb-s mt-xs">
        <!-- FILTER MOBILE -->
        <slot name="filter" />
      </div>
    </CoreGrid>
    <slot name="paragraph" />
  </header>
</template>

<script>
import { mapState } from 'vuex'
import { isFunction } from '@utils/types'
import { BLACK } from './BlockMenuBar'

export default {
  props: {
    title: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    filterTranition: true,
  }),

  computed: {
    ...mapState({
      menuBgColor: (state) => state.ui.menuBgColor,
      deviceWidth: (state) => state.ui.deviceWidth,
    }),

    filterTextColor() {
      return this.menuBgColor === BLACK ? 'text-white' : 'text-black'
    },

    filterExists() {
      return isFunction(this.$scopedSlots.filter)
    },

    truncatedTitle() {
      // To do
      // Change fixed 11 for a programatic approch
      if (this.deviceWidth <= 750 && this.title.length > 11) {
        return `${this.title.substring(0, 11)}...`
      }
      return this.title
    },
  },

  mounted() {
    // transition delay x-long
    window.setTimeout(() => (this.filterTranition = false), 1000)
  },
  methods: {},
}
</script>

<style lang="postcss" scoped>
.h-filter-container {
  height: 31px;
}

.transform-filter {
  transform: translateY(1.5rem);
}

.z-31 {
  z-index: 31;
}

.transition-filter {
  transition-property: color, opacity, transform;
  transition-duration: var(--content-ease);
  transition-timing-function: var(--content-ease);
}

@screen lg {
  .h-filter-container {
    height: 41px;
  }
}
</style>
