<template>
  <div class="relative pb-video">
    <!-- eslint-disable vue/no-v-html -->
    <div
      v-if="init"
      ref="viemo"
      class="absolute w-full h-full"
      v-html="embed.html"
    />
    <!-- eslint-enable vue/no-v-html -->
  </div>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      default: null,
    },
  },

  data: () => ({
    embed: {},
    init: false,
  }),

  watch: {
    url: {
      immediate: true,
      async handler() {
        const response = await fetch(
          `https://vimeo.com/api/oembed.json?url=${this.url}`,
          {
            method: 'GET',
          }
        )

        const oEmbed = await response.json()

        this.embed = oEmbed
        this.init = true

        await this.$nextTick()

        if (process.server) return

        this.$refs.viemo.firstChild.width = '100%'
        this.$refs.viemo.firstChild.height = '100%'
      },
    },
  },
}
</script>

<style scoped>
.pb-video {
  padding-bottom: 56.25%;
}
</style>
