<template>
  <footer
    class="flex flex-wrap justify-between lg:grid gap-gutter lg:grid-cols-18 border-t text-mob-size-1 lg:text-size-3 font-euclid-regular px-gutter py-gutter lg:py-0"
    :class="[
      isWhite
        ? 'border-black bg-white'
        : 'border-white bg-black text-white cursor-white',
    ]"
  >
    <div
      class="col-span-6 flex lg:col-start-13 lg:items-center justify-between lg:order-5 w-full"
    >
      <!-- Mobile -->
      <NuxtLink :to="{ name: 'index' }" class="block lg:hidden">
        <BlockLogo :color="isWhite ? 'black' : 'white'" class="h-gutter-mob" />
      </NuxtLink>
      <span class="hidden lg:flex lg:flex-row">
        <a
          rel="noreferrer"
          target="_blank"
          href="https://www.instagram.com/marchandwhitedesign"
          class="mr-xs"
        >
          <CoreIcon :color="isWhite ? 'black' : 'white'">
            <IconInstagram />
          </CoreIcon>
        </a>
        <a
          rel="noreferrer"
          target="_blank"
          href="https://twitter.com/marchandwhite"
        >
          <CoreIcon :color="isWhite ? 'black' : 'white'">
            <IconTwitter />
          </CoreIcon>
        </a>
      </span>
      <span @click="backToTop">Back to top ↑</span>
    </div>
    <!-- Desktop  -->
    <NuxtLink
      :to="{ name: 'index' }"
      class="hidden lg:block lg:col-span-6 lg:order-1"
    >
      <BlockLogo
        :color="isWhite ? 'black' : 'white'"
        class="h-gutter-mob lg:h-gutter-desk my-gutter"
      />
    </NuxtLink>
    <NuxtLink
      to="/legal"
      class="col-span-3 flex flex-1 lg:justify-start items-center lg:order-3"
    >
      Legal
    </NuxtLink>
    <NuxtLink
      :to="{ name: 'index', hash: '#contact' }"
      class="col-span-3 flex flex-1 lg:justify-start items-center lg:order-4"
    >
      Contact
    </NuxtLink>
    <span class="col-span-3 flex flex-row lg:hidden">
      <a
        rel="noreferrer"
        target="_blank"
        href="https://twitter.com/marchandwhite"
        class="mr-xs"
      >
        <CoreIcon
          :color="isWhite ? 'black' : 'white'"
          :width="isMobile ? 12 : 20"
        >
          <IconInstagram />
        </CoreIcon>
      </a>
      <a
        rel="noreferrer"
        target="_blank"
        href="https://www.instagram.com/marchandwhitedesign"
      >
        <CoreIcon
          :color="isWhite ? 'black' : 'white'"
          :width="isMobile ? 12 : 20"
        >
          <IconTwitter />
        </CoreIcon>
      </a>
    </span>
  </footer>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: {
    background: {
      type: String,
      default: 'white',
    },
  },
  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
    }),
    isWhite() {
      return this.background === 'white'
    },
  },
  methods: {
    backToTop() {
      if (process.client)
        window.scrollTo({
          top: 0,
          behavior: 'smooth',
        })
    },
  },
}
</script>

<style lang="postcss" scoped>
@screen lg {
  .filter-separator:before {
    content: '|';
    @apply pr-xxs;
  }

  .lg\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
</style>
