<template>
  <div
    ref="container"
    class="absolute top-0 right-0 lg:w-screen-1/2 min-h-full w-screen text-white flex flex-col justify-end"
  >
    <div ref="logo" class="absolute top-0 w-full p-gutter bg-black z-20">
      <BlockLogo class="w-logo my-logo" color="white" />
    </div>

    <div ref="content" class="max-h-screen mt-bar overflow-y-scroll">
      <BlockMenuDrawerContent class="pb-gutter text-fluid-size-7" />
    </div>
  </div>
</template>

<script>
import gsap from 'gsap'
import { mapState } from 'vuex'
import { CustomEase } from 'gsap/CustomEase'

gsap.registerPlugin(CustomEase)

CustomEase.create('content-in', '0.55, 0, 0.25, 1')
CustomEase.create('content-out', '0.25, 0, 0.55, 1')

export default {
  computed: {
    ...mapState({
      menuOpen: (state) => state.ui.menuOpen,
    }),
  },

  watch: {
    menuOpen(menuOpen) {
      this[menuOpen ? 'to' : 'from']()
    },
  },

  mounted() {
    const { container } = this.$refs
    gsap.set(container, { x: '25vw' })
    gsap.set('.stagger-item', { autoAlpha: '0', x: -20 })
    gsap.set(this.$refs.logo, { autoAlpha: '0', x: -20 })
  },

  methods: {
    to() {
      const { container, logo } = this.$refs

      // Set container
      gsap.to(container, {
        x: '0vw',
        duration: 1.25,
        ease: 'content-in',
      })

      // Set logo
      gsap.to(logo, {
        autoAlpha: 1,
        x: 0,
        duration: 0.3,
        delay: 0.36,
        ease: 'power1.out',
      })

      // set stagger
      gsap.to('.stagger-item', {
        autoAlpha: 1,
        x: 0,
        duration: 0.3,
        delay: 0.36,
        stagger: 0.05,
        ease: 'power1.out',
      })
    },
    from() {
      const { container, content, logo } = this.$refs

      // Set delays to allow time for drop downs to close if going to home page
      let delay = 0

      const expandList = content.querySelectorAll('.expand-open')
      const expandOpen = !!expandList.length

      // If the menu is closing and there are dropdowns open
      if (!this.menuOpen && expandOpen) {
        delay = 0.8
      }

      // Set container
      gsap.to(container, {
        x: '25vw',
        duration: 1.25,
        delay: 0.25 + delay,
        ease: 'content-out',
      })

      // set logo
      gsap.to(logo, {
        autoAlpha: '0',
        x: -20,
        duration: 0.3,
        delay: 0.3 + delay,
        ease: 'power1.out',
      })

      // set stagger
      gsap.to('.stagger-item', {
        autoAlpha: '0',
        x: -20,
        duration: 0.3,
        delay: 0.3 + delay,
        stagger: 0.05,
        ease: 'power1.out',
      })
    },
  },
}
</script>

<style>
@screen lg {
  .lg\:w-screen-1\/2 {
    width: 50vw;
  }
}

.w-logo {
  width: 8.25rem;
}

.my-logo {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mt-bar {
  padding-top: 61px;
}

@screen lg {
  .w-logo {
    width: 11.25rem;
  }

  .mt-bar {
    padding-top: 97px;
  }
}
</style>
