<template>
  <div>
    <div
      v-for="(item, index) in items"
      :key="index"
      :ref="`title${index}`"
      class="absolute"
      :class="containerClass"
    >
      <template v-if="titleFirst">
        <p :class="titleClass" v-html="item.title"></p>
        <div
          v-if="item.multiText"
          :class="bodyClass"
          v-html="item.multiText"
        ></div>
      </template>
      <template v-else>
        <div
          v-if="item.multiText"
          :class="bodyClass"
          v-html="item.multiText"
        ></div>
        <p :class="titleClass" v-html="item.title"></p>
      </template>
    </div>
    <!-- Progress bar -->
    <div class="progress">
      <div class="progress__percentage">
        <div
          class="progress__percentage__bar"
          :style="{ width: `${state.progress}%` }"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
import { gsap } from 'gsap'
export default {
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    pause: {
      type: Number,
      default: 3.5,
    },
    speed: {
      type: Number,
      default: 0.4,
    },
    titleClass: {
      type: String,
      default: 'text-fluid-size-2',
    },
    bodyClass: {
      type: String,
      default: 'text-fluid-size-8',
    },
    containerClass: {
      type: String,
      default: 'col-span-16',
    },
    titleFirst: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      intro: gsap.timeline({ paused: true, onComplete: this.repeat }),
      totalTime: 0,
      state: {
        progress: 0,
      },
    }
  },

  mounted() {
    this.getTotal()
    this.initAnimation()
  },

  methods: {
    initAnimation() {
      this.intro = null
      this.intro = gsap.timeline({ paused: true, onComplete: this.repeat })
      let playhead = 0
      let count = 0
      this.items.forEach(() => {
        this.intro.add(this.animateElementIn(`title${count}`), playhead)
        this.intro.add(`loop${count}`, playhead + this.speed)
        playhead = playhead + this.pause
        count++
      })
      this.intro.add(this.animateElementLast(`title0`), playhead)
      this.intro.fromTo(
        this.state,
        { progress: 0 },
        { progress: 100, duration: this.totalTime, ease: 'none' },
        0
      )
      this.intro.restart()
    },
    getTotal() {
      const pauses = []
      this.items.forEach(() => {
        pauses.push(this.pause)
      })
      this.totalTime = pauses.reduce((a, b) => a + b)
    },
    animateElementIn(target) {
      const tl = gsap.timeline()
      const t = this.$refs[target]
      tl.fromTo(
        t,
        { opacity: 0, y: '20%' },
        { opacity: 1, y: '0%', duration: this.speed, ease: 'power1.easeIn' },
        0
      ).to(t, {
        opacity: 0,
        y: '-20%',
        duration: this.speed,
        ease: 'power1.easeIn',
        delay: this.pause - this.speed,
      })
      return tl
    },
    animateElementLast(target) {
      const tl = gsap.timeline()
      const t = this.$refs[target]
      tl.fromTo(
        t,
        { opacity: 0, y: '20%' },
        { opacity: 1, y: '0%', duration: this.speed, ease: 'power1.easeIn' },
        0
      ).to(t, {
        opacity: 1,
        duration: this.speed,
        ease: 'power1.easeIn',
        delay: this.pause - this.speed,
      })
      return tl
    },
    repeat() {
      this.intro.seek('loop0').play()
    },
  },
}
</script>
