<template>
  <nav>
    <span
      v-for="(filter, i) in filters"
      :key="i"
      class="font-euclid-semibold text-size-2 lg:text-size-3 filter-separator inline-block"
    >
      <span
        class="cursor-hover"
        :class="[activeId === filter.id ? 'underline' : 'hover:underline']"
        @click="$emit('click', filter.id)"
        v-text="filter.title"
      />
    </span>
  </nav>
</template>

<script>
export default {
  props: {
    filters: {
      type: Array,
      default: () => [],
    },
    activeId: {
      type: [Number, String],
      default: 0,
    },
  },
}
</script>

<style scoped>
.filter-separator:after {
  content: '|';
  @apply px-xxs;
  @apply font-euclid-regular;
}

.filter-separator:last-of-type:after {
  content: unset;
}

.filter-separator:first-of-type {
  @apply pl-0;
}

nav {
  @apply inline-block;
}
</style>
