<template>
  <CoreGrid class="bg-black pt-xs lg:pt-s px-gutter">
    <h3
      class="text-white text-size-2 lg:text-size-4 col-span-6 lg:col-span-18 mb-s lg:mb-m"
    >
      Similar {{ type }}
    </h3>
    <slot />
  </CoreGrid>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: '',
    },
  },
}
</script>
