<template>
  <div @click="handleClick">
    <span class="hover:underline-thin">
      <slot />
    </span>
  </div>
</template>

<script>
import SnapScrollUtils from '@mixins/SnapScrollUtils'
import { isNumber } from '@utils/types'
import { SECTIONS } from '@constants'

export default {
  mixins: [SnapScrollUtils],

  props: {
    to: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    items: SECTIONS,
  }),

  methods: {
    handleClick() {
      if (isNumber(this.to.params.key)) {
        const item = this.items.find((x) => x.step === this.to.params.key)
        this.scrollSpine(item)
        this.$router.push(this.to)
      } else {
        this.$router.push(this.to)
      }
    },
  },
}
</script>
