<template>
  <div v-if="!!entry" class="bg-putty z-60 absolute">
    <!-- Header Zone -->
    <NuxtLink
      class="fixed right-0 top-0 z-50"
      :to="{ name: 'our-thoughts', params: { activeFilterId } }"
    >
      <CoreIcon
        class="m-gutter cursor-hover"
        :width="isMobile ? 31 : 41"
        :color="iconWhite ? 'white' : 'black'"
      >
        <IconCloseDesktop class="hidden lg:block" />
        <IconCloseMobile class="lg:hidden" />
      </CoreIcon>
    </NuxtLink>

    <div ref="imageMobile">
      <CoreScrollPerspective>
        <template v-slot:default="slotProps">
          <CoreImage
            inner-class="lg:hidden w-full object-cover"
            :inner-style="innerStyleMobile"
            v-bind="entry.media[0].image"
            @load="slotProps.resetAnimation()"
          />
        </template>
      </CoreScrollPerspective>
      <OurThoughtsNumber
        :id="entry.id"
        class="lg:hidden"
        :bootstrap="bootstrap"
      />
    </div>

    <CoreGrid elm-type="main" class="px-gutter">
      <aside
        class="col-span-8 lg:h-screen flex flex-col lg:justify-between py-xs lg:py-s relative lg:sticky lg:top-0 lg:mb-xl"
      >
        <div class="lg:grid lg:grid-cols-8 w-fill">
          <div class="lg:col-span-8">
            <span
              v-for="(tag, i) in entry.tags"
              :key="i"
              class="filter-separator text-mob-size-1 lg:text-size-2"
              v-text="tag.title"
            />
          </div>

          <h1
            class="mt-xxs lg:mt-xs mb-m font-lyon-regular text-fluid-size-7 lg:col-span-7"
            v-text="entry.title"
          />
        </div>
        <div class="flex flex-col lg:grid lg:grid-cols-8 lg:gap-gutter-desk">
          <div class="col-span-2 grid grid-cols-6 lg:flex lg:flex-col">
            <span class="col-span-2">Written By</span>
            <span
              class="col-span-4 font-euclid-regular"
              v-text="entry.ourThoughtsAuthor"
            />
          </div>
          <div
            class="col-span-2 grid grid-cols-6 lg:flex lg:flex-col lg:pl-xs lg:border-l my-xxs lg:my-0"
          >
            <span class="col-span-2">Date</span>
            <span
              class="col-span-4 font-euclid-regular"
              v-text="formatedDate"
            />
          </div>
          <div
            class="col-span-4 grid grid-cols-6 lg:flex lg:flex-col lg:pl-xs lg:border-l"
          >
            <span class="col-span-2">Share</span>
            <span class="col-span-4 font-euclid-regular">
              <a target="_blank" :href="twitterUrl">Twitter</a>
              <a target="_blank" :href="facebookUrl" class="mx-xxs">Facebook</a>
              <a target="_blank" :href="emailUrl">Email</a>
            </span>
          </div>
        </div>
        <div
          class="absolute left-neg-gutter bottom-0 h-1px w-screen bg-black lg:hidden"
        />
      </aside>

      <div class="col-span-10">
        <div ref="imageDesktop" class="h-screen mr-neg-gutter hidden lg:block">
          <CoreScrollPerspective>
            <template v-slot:default="slotProps">
              <CoreImage
                inner-class="object-cover w-full h-screen"
                v-bind="entry.media[0].image"
                @load="slotProps.resetAnimation()"
              />
            </template>
          </CoreScrollPerspective>
        </div>
        <OurThoughtsNumber
          :id="entry.id"
          class="hidden lg:flex"
          :bootstrap="bootstrap"
        />
        <!-- Content Zone -->
        <OurThoughtsContentArea :entry="entry" />
      </div>
    </CoreGrid>

    <OurThoughtsSimilarArticles
      :active-filter-id="activeFilterId"
      :entries="similarEntries"
      :bootstrap="bootstrap"
    />
    <BlockFooter background="black" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { OUR_THOUGHTS } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'
import {
  OurThoughtsEntryQuery as query1,
  OurThoughtsLatestQuery as query2,
} from '@gql/queries'
import SeoMatic from '@mixins/SeoMatic'
import { isNul } from '@utils/types'

export default {
  // scrollToTop: false,
  mixins: [SeoMatic],
  async fetch() {
    const result1 = await this.$craft({
      query: query1,
      variables: {
        slug: this.$route.params.slug,
      },
    })

    const { entry, bootstrap } = result1.data

    // sort by date and add index
    this.entry = entry
    this.bootstrap = bootstrap

    // Limit to how many vacent related entries in the current entry
    // not this entry or any slugs from related entries
    const result2 = await this.$craft({
      query: query2,
      variables: {
        limit: 3 - entry.ourThoughtsSimilarArticles.length,
        not: [
          'not',
          this.$route.params.slug,
          ...entry.ourThoughtsSimilarArticles.map((article) => article.slug),
        ],
      },
    })

    this.latest = result2.data.latest
    this.generateTags(entry.seomatic)
  },

  data: () => ({
    entry: null,
    bootstrap: null,
    latest: null,
    iconWhite: true,
    activeFilterId: null,
  }),

  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
    }),
    similarEntries() {
      if (this.$fetchState.pending) return []

      return [...this.entry.ourThoughtsSimilarArticles, ...this.latest]
    },
    innerStyleMobile() {
      if (process.server) return {}

      return {
        height: `${window.innerHeight - 168}px`,
      }
    },
    formatedDate() {
      return new Date(this.entry.date).toLocaleDateString().replace(/\//g, '.')
    },
    twitterUrl() {
      if (process.server) return ''
      return `https://twitter.com/intent/tweet?text=${encodeURI(
        this.entry.title
      )}&url=${encodeURI(location.href)}`
    },
    facebookUrl() {
      if (process.server) return ''
      const appId = ''
      return `https://www.facebook.com/dialog/share?href=${encodeURI(
        location.href
      )}&quote=${encodeURI(this.entry.title)}&display=popup&app_id=${appId}`
    },
    emailUrl() {
      if (process.server) return ''
      return `mailto:?subject=${encodeURI(this.entry.title)}&body=${encodeURI(
        location.href
      )}`
    },
  },

  watch: {
    entry: {
      immediate: true,
      handler(val) {
        if (isNul(val)) return

        this.setIntersectionObserver()
      },
    },
    isMobile() {
      this.observer.disconnect()

      this.setIntersectionObserver()
    },
  },

  created() {
    const {
      params: { activeFilterId },
    } = this.$route

    if (activeFilterId) this.activeFilterId = activeFilterId
  },

  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_THOUGHTS)
    this.$store.commit(MUTATIONS.SET_MENU_WHITE)
  },

  beforeDestroy() {
    this.observer.disconnect()
  },

  methods: {
    async setIntersectionObserver() {
      await this.$nextTick()

      this.observer = new IntersectionObserver(this.handleIntersection, {
        rootMargin: this.isMobile ? '-15px' : '-29px',
      })

      this.observer.observe(
        this.$refs[this.isMobile ? 'imageMobile' : 'imageDesktop']
      )
    },

    handleIntersection(entries) {
      this.iconWhite = entries[0].isIntersecting
    },
  },
}
</script>

<style lang="postcss" scoped>
.filter-separator:after {
  content: '|';
  @apply px-xxs;
  @apply font-euclid-regular;
}

.filter-separator:last-of-type:after {
  content: unset;
}

.filter-separator:first-of-type {
  @apply pl-0;
}

.mr-neg-gutter {
  margin-right: -1.813rem;
}

.h-1px {
  height: 1px;
}

.left-neg-gutter {
  left: -0.9375rem;
}
</style>
