<template>
  <div>
    <div ref="container" class="swiper-container w-screen">
      <div class="swiper-wrapper">
        <CoreGrid
          v-for="(quote, i) in quotes"
          :key="i"
          :lg-only="true"
          class="px-gutter py-xs lg:py-s swiper-slide flex flex-col justify-between"
        >
          <div class="flex client-fluid font-lyon-regular col-span-15">
            <span>“</span>
            <p>{{ quote.quote }}”</p>
          </div>
          <div
            class="text-mob-size-1 lg:text-size-2 col-span-18 w-full flex flex-col justify-end"
          >
            <div class="mt-m" v-text="quote.personName" />
            <div class="font-euclid-regular" v-text="quote.company" />
          </div>
        </CoreGrid>
      </div>
    </div>
    <span
      class="text-mob-size-1 lg:text-size-2 absolute right-0 px-gutter py-xs lg:py-s translate-100"
      v-text="position"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Swiper, { Autoplay } from 'swiper'
import 'swiper/swiper-bundle.css'

export default {
  props: {
    quotes: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    realIndex: 0,
  }),

  computed: {
    ...mapState({
      deviceWidth: (state) => state.ui.deviceWidth,
    }),
    position() {
      return `${this.realIndex + 1}/${this.quotes.length}`
    },
  },

  watch: {
    deviceWidth() {
      this.setMinHeight()
    },
  },

  mounted() {
    this.setMinHeight()

    Swiper.use([Autoplay])

    this.swiper = new Swiper(this.$refs.container, {
      loop: true,
      autoplay: {
        delay: 10000,
        disableOnInteraction: false,
      },
    })

    this.swiper.on('slideChange', () => {
      this.realIndex = this.swiper.realIndex
    })
  },

  methods: {
    setMinHeight() {
      const top =
        this.$refs.container.getBoundingClientRect().top + window.scrollY

      document.documentElement.style.setProperty(
        '--our-studio-clients-swiper-min-height',
        `calc(100vh - ${top}px)`
      )
    },
  },
}
</script>

<style scoped>
.swiper-container,
.swiper-slide {
  min-height: var(--our-studio-clients-swiper-min-height);
}

.translate-100 {
  transform: translateY(-100%);
}

.client-fluid {
  font-size: 2.25rem;
  line-height: 2.625rem;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 64rem) {
  .client-fluid {
    letter-spacing: -0.03em;
    font-size: calc(2.25rem + (3.325 - 2.25) * ((100vw - 64rem) / (120 - 64)));
    line-height: calc(
      2.625rem + (3.563 - 2.625) * ((100vw - 64rem) / (120 - 64))
    );
  }
}

@media screen and (min-width: 120rem) {
  .client-fluid {
    font-size: 3.325rem;
    line-height: 3.563rem;
    letter-spacing: -0.03em;
  }
}
</style>
