<template>
  <CoreGrid class="px-gutter">
    <hr class="col-span-6 lg:col-span-18 mb-xxs lg:mb-xs" />
    <CoreContentLoad>
      <p
        class="mb-s lg:mb-l col-span-6 lg:col-span-9 font-euclid-regular text-fluid-size-5 invisible"
        v-text="entry.multiText"
      />
    </CoreContentLoad>

    <slot />
  </CoreGrid>
</template>

<script>
export default {
  props: {
    entry: {
      type: Object,
      default: () => ({}),
    },
  },
}
</script>
