<template>
  <div>
    <BlockHeader :title="title" class="mb-xs lg:mb-m">
      <!-- <template v-slot:filter>
          <BlockFilter
            :filters="filters"
            :active-id="slug"
            @click="handleClick"
          />
        </template> -->
    </BlockHeader>
    <div
      v-for="(style, index) in contentStyles"
      :key="style.typeHandle + '-' + index"
    >
      <OurWorkStyleA
        v-if="style.typeHandle === 'styleA'"
        :entry="style"
        class="mb-xs lg:mb-xl"
      />

      <OurWorkStyleB
        v-if="style.typeHandle === 'styleB'"
        :entry="style"
        class="mb-xs lg:mb-xl"
      />

      <OurWorkStyleC
        v-if="style.typeHandle === 'styleC'"
        :entry="style"
        class="mb-xs lg:mb-xl"
      />

      <OurWorkStyleD
        v-if="style.typeHandle === 'styleD'"
        :entry="style"
        class="mb-xs lg:mb-xl"
      />

      <OurWorkStyleSoloSplit
        v-if="style.typeHandle === 'styleSoloSplit'"
        :entry="style"
      />

      <OurWorkStyleSoloFull
        v-if="style.typeHandle === 'styleSoloFull'"
        :entry="style"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: [String],
      default: '',
    },
    contentStyles: {
      type: [Array, Object],
      default: null,
    },
  },
}
</script>
