<template>
  <OurStudioContentArea v-if="!$fetchState.pending" :entry="entry">
    <hr class="col-span-6 lg:col-span-18 mb-s lg:mb-m" />
    <CoreGrid :lg-only="true" class="col-span-6 lg:col-span-18 lg:mb-m mb-xs">
      <CoreContentLoad
        v-for="(person, i) in entry.ourStudioPeople"
        :key="i"
        :delay="i % 3"
      >
        <OurStudioPeoplePerson class="invisible" :person="person" />
      </CoreContentLoad>
    </CoreGrid>
  </OurStudioContentArea>
</template>

<script>
import { OUR_STUDIO } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'
import { OurStudioPeopleQuery as query } from '@gql/queries'
import SeoMatic from '@mixins/SeoMatic'

export default {
  mixins: [SeoMatic],
  async fetch() {
    const result = await this.$craft({ query })

    const { entry } = result.data

    this.entry = entry

    this.generateTags(entry.seomatic)
  },

  data: () => ({
    entry: null,
  }),

  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_STUDIO)
    this.$store.commit(MUTATIONS.SET_MENU_WHITE)
  },
}
</script>
