<template>
  <OurStudioContentArea v-if="!$fetchState.pending" :entry="entry">
    <CoreContentLoad v-for="(person, i) in entry.elliotJames" :key="i">
      <div
        class="invisible col-span-6 mb-m lg:mb-xxl flex flex-col self-start"
        :class="{ 'lg:col-start-3': i === 0, 'lg:col-start-11': i === 1 }"
      >
        <!-- <NuxtLink
          :to="`/our-studio/founders/${elliotJamesRoute(person.personName)}`"
          class="mb-xs block"
        > -->
        <div class="mb-xs">
          <!-- <div class="hover-area"> -->
          <!-- <div @mouseover="handleMouseover" @mouseleave="handleMouseleave"> -->
          <div class="overflow-hidden">
            <div class="hover-image">
              <CoreImage
                v-bind="person.image[0].image4x5"
                class="col-span-6 lg:col-span-18 h-full w-full"
              />
            </div>
          </div>
          <!-- </div> -->
        </div>
        <!-- </div> -->
        <!-- </NuxtLink> -->
        <h3 class="text-size-6 mb-xs" v-text="person.personName" />
        <p
          class="font-lyon-regular text-size-2 lg:text-size-5 mb-xs"
          v-text="person.bio"
        />
        <!-- Expand read more -->
        <span class="inline-block">
          <span
            class="font-euclid-regular text-mob-size-1 lg:text-size-4 underline"
            @click="expandText[i] = !expandText[i]"
            >Read More</span
          ></span
        >
        <!-- <span class="inline-block">
          <NuxtLink
            :to="`/our-studio/founders/${elliotJamesRoute(person.personName)}`"
            class="font-euclid-regular text-mob-size-1 lg:text-size-4 underline-thin"
            >Read More</NuxtLink
          >
        </span> -->
        <transition name="fade">
          <div
            v-show="expandText[i]"
            class="mt-s expand-text font-euclid-regular text-fluid-size-4"
            v-html="person.expandText"
          />
        </transition>
      </div>
    </CoreContentLoad>
  </OurStudioContentArea>
</template>

<script>
import { mapState } from 'vuex'
import { OUR_STUDIO } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'
import { OurStudioElliotJamesQuery as query } from '@gql/queries'
import SeoMatic from '@mixins/SeoMatic'
import { READ_MORE } from '@c/Core/CoreCursorSignpost'

export default {
  mixins: [SeoMatic],
  async fetch() {
    const result = await this.$craft({
      query,
    })

    const { entry } = result.data

    this.entry = entry

    this.generateTags(entry.seomatic)
  },

  data: () => ({
    entry: null,
    expandText: {
      0: false,
      1: false,
    },
  }),

  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
    }),
  },

  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_STUDIO)
    this.$store.commit(MUTATIONS.SET_MENU_WHITE)
  },

  methods: {
    elliotJamesRoute(name) {
      return name.replace(/\s/g, '-').toLowerCase()
    },
    handleMouseover() {
      this.$store.commit(MUTATIONS.SET_CURSOR_SIGNPOST, READ_MORE)
    },
    handleMouseleave() {
      this.$store.commit(MUTATIONS.UNSET_CURSOR_SIGNPOST)
    },
  },
}
</script>

<style lang="postcss" scoped>
.hover-image {
  transition-property: transform;
  transition-duration: var(--hover-long);
  transition-timing-function: var(--hover-ease-out);
}

.hover-area:hover .hover-image {
  transition-timing-function: var(--hover-ease-in);
  transition-duration: var(--hover-short);
  transform: scale3d(1.03, 1.03, 1.03);
}

.expand-text {
  p {
    @apply mb-xs;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity, height;
  transition-duration: var(--hover-long);
  transition-timing-function: var(--hover-ease-out);
}

.fade-enter,
.fade-leave-to {
  @apply opacity-0;
}
</style>
