<template>
  <CoreGrid class="px-gutter lg:py-xl">
    <CoreGrid :lg-columns="16" class="col-span-6 lg:col-span-16 lg:col-start-2">
      <img
        v-for="(logo, i) in logos"
        :key="i"
        class="col-span-3 lg:col-span-4"
        :src="logo"
      />
    </CoreGrid>
  </CoreGrid>
</template>

<script>
const logos = [
  require('@assets/media/clientLogos/related@2x.png'),
  require('@assets/media/clientLogos/blackstone@2x.png'),
  require('@assets/media/clientLogos/artsclub@2x.png'),
  require('@assets/media/clientLogos/bizzi@2x.png'),

  require('@assets/media/clientLogos/neuehouse@2x.png'),
  require('@assets/media/clientLogos/caferoyal@2x.png'),
  require('@assets/media/clientLogos/grosvenor@2x.png'),
  require('@assets/media/clientLogos/tishman@2x.png'),

  require('@assets/media/clientLogos/beacon@2x.png'),
  require('@assets/media/clientLogos/lip@2x.png'),
  require('@assets/media/clientLogos/LaSalle@2x.png'),
  require('@assets/media/clientLogos/lionstone@2x.png'),

  require('@assets/media/clientLogos/divcowest@2x.png'),
  require('@assets/media/clientLogos/qnb@2x.png'),
  require('@assets/media/clientLogos/tog@2x.png'),
  require('@assets/media/clientLogos/StJames@2x.png'),

  require('@assets/media/clientLogos/cheval@2x.png'),
  require('@assets/media/clientLogos/Dukelease@2x.png'),
  require('@assets/media/clientLogos/GeminiRosemont@2x.png'),
  require('@assets/media/clientLogos/stanhope@2x.png'),

  // require('@assets/media/clientLogos/devonshire@2x.png'),
  // require('@assets/media/clientLogos/lima@2x.png'),
  // require('@assets/media/clientLogos/mandarin@2x.png'),
]

export default {
  data: () => ({
    logos,
  }),
}
</script>
