<template>
  <div v-if="!$fetchState.pending">
    <!-- Quotes -->
    <div class="px-gutter w-full"><hr /></div>
    <OurStudioClientsQuotes :quotes="entry.ourStudioClientQuotes" />
    <div class="px-gutter w-full"><hr /></div>

    <!-- Logos -->
    <OurStudioClientLogos />
  </div>
</template>

<script>
import { OUR_STUDIO } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'
import { OurStudioClientsQuery as query } from '@gql/queries'
import SeoMatic from '@mixins/SeoMatic'

export default {
  mixins: [SeoMatic],
  async fetch() {
    const result = await this.$craft({ query })

    const { entry } = result.data

    this.entry = entry

    this.generateTags(entry.seomatic)
  },

  data: () => ({
    entry: null,
  }),

  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_STUDIO)
    this.$store.commit(MUTATIONS.SET_MENU_WHITE)
  },
}
</script>
