<template>
  <div
    class="lg:col-span-6 mb-s lg:mb-m flex flex-col cursor-hover text-fluid-size-4"
    @click="open = !open"
    @mouseover="handleMouseoveContainer"
    @mouseout="handleMouseoutContainer"
  >
    <CoreImage
      class="lg:mb-xs mb-xxxs text-mob-size-1 lg:text-size-4 cursor-white cursor-hover"
      v-bind="person.image[0].image4x5"
      @mouseover.native="handleMouseoveImage"
      @mouseout.native="handleMouseoutImage"
    />
    <div class="flex justify-between items-center">
      <h4 v-text="person.personName" />
      <CoreIcon
        class="mr-xxs transition-rotate"
        :class="{ 'rotate-45': open }"
        :width="isMobile ? 9 : 15"
      >
        <IconPlus />
      </CoreIcon>
    </div>
    <p
      class="whitespace-pre-wrap font-euclid-regular"
      v-text="person.additionalInfo"
    />
    <CoreExpand :open="open">
      <br />
      <p class="font-euclid-regular" v-text="person.bio" />
    </CoreExpand>
  </div>
</template>

<script>
import { ABOUT } from '@c/Core/CoreCursorSignpost'
import { MUTATIONS } from '@store/ui'

import { mapState } from 'vuex'

export default {
  props: {
    person: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    open: false,
  }),

  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
    }),
  },

  methods: {
    handleMouseoveImage() {
      this.$store.commit(MUTATIONS.SET_CURSOR_SIGNPOST_WHITE)
    },
    handleMouseoutImage() {
      this.$store.commit(MUTATIONS.SET_CURSOR_SIGNPOST_BLACK)
    },
    handleMouseoveContainer() {
      this.$store.commit(MUTATIONS.SET_CURSOR_SIGNPOST, ABOUT)
    },
    handleMouseoutContainer() {
      this.$store.commit(MUTATIONS.UNSET_CURSOR_SIGNPOST)
    },
  },
}
</script>

<style scoped>
.transition-rotate {
  transition-property: transform;
  transition-duration: var(--time-general);
  transition-timing-function: var(--ease-general);
}

.rotate-45 {
  transform: rotate(45deg);
}
</style>
