<template>
  <div class="col-span-6 lg:col-span-18">
    <h2 class="mt-s lg:mt-m mb-xs text-size-5 lg:text-size-7" v-text="title" />
    <hr />
    <ul>
      <OurStudioCareersListing
        v-for="(listing, i) in listings"
        :key="i"
        :listing="listing"
      />
      <li v-if="listings.length === 0">
        <h3 class="text-light-grey my-xs lg:my-s text-size-2 lg:text-size-6">
          No Positions Available
        </h3>
        <hr />
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    listings: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
