<template>
  <OurStudioContentArea v-if="!$fetchState.pending" :entry="entry">
    <CoreContentLoad v-for="(value, i) in entry.ourStudioValues" :key="i">
      <CoreGrid class="col-span-6 lg:col-span-18 invisible">
        <hr class="col-span-6 lg:col-span-18 mb-xxs lg:mb-xs" />
        <div
          class="col-span-1 lg:col-span-3 text-size-4 lg:text-size-8"
          v-text="String(i + 1).padStart(2, '0')"
        />
        <h3
          class="col-span-5 lg:col-span-6 text-size-4 lg:text-size-6 mb-xxs whitespace-pre-wrap"
          v-text="value.heading"
        />
        <p
          class="col-start-2 lg:col-start-10 col-span-5 lg:col-span-6 text-mob-size-1 lg:text-size-4 font-euclid-regular mb-gutter-desk lg:mb-xl"
          v-text="value.text"
        />
      </CoreGrid>
    </CoreContentLoad>
  </OurStudioContentArea>
</template>

<script>
import { OUR_STUDIO } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'
import { OurStudioValuesQuery as query } from '@gql/queries'
import SeoMatic from '@mixins/SeoMatic'

export default {
  mixins: [SeoMatic],
  async fetch() {
    const result = await this.$craft({ query })

    const { entry } = result.data

    this.entry = entry

    this.generateTags(entry.seomatic)
  },

  data: () => ({
    entry: null,
  }),

  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_STUDIO)
    this.$store.commit(MUTATIONS.SET_MENU_WHITE)
  },
}
</script>
