<template>
  <li>
    <div
      class="flex justify-between items-center cursor-hover"
      @click="open = !open"
    >
      <h3
        class="my-xs lg:my-s text-size-2 lg:text-size-6"
        v-text="listing.position"
      />
      <CoreIcon
        class="mr-xs transition-rotate"
        :class="{ 'rotate-45': open }"
        :width="isMobile ? 15 : 30"
      >
        <IconPlus />
      </CoreIcon>
    </div>
    <CoreExpand :open="open">
      <CoreGrid class="pb-s lg:pb-m text-mob-size-1 lg:text-size-4">
        <ul class="lg:order-2 col-span-6 lg:col-start-12 mb-xs">
          <CoreGrid :lg-columns="7">
            <span class="col-span-3">Job Added</span>
            <span
              class="col-span-3 lg:col-span-4 font-euclid-regular"
              v-text="formatDate(listing.dateAdded)"
            />
          </CoreGrid>
          <CoreGrid :lg-columns="7">
            <span class="col-span-3">Applications Close</span>
            <span
              class="col-span-3 lg:col-span-4 font-euclid-regular"
              v-text="formatDate(listing.applicationsClose)"
            />
          </CoreGrid>
          <CoreGrid :lg-columns="7">
            <span class="col-span-3">Contract</span>
            <span
              class="col-span-3 lg:col-span-4 font-euclid-regular"
              v-text="listing.contract"
            />
          </CoreGrid>
          <CoreGrid :lg-columns="7">
            <span class="col-span-3">Salary</span>
            <span
              class="col-span-3 lg:col-span-4 font-euclid-regular"
              v-text="listing.salary"
            />
          </CoreGrid>
        </ul>
        <div class="col-span-6 lg:col-span-9 lg:order-1 font-euclid-regular">
          <p class="whitespace-pre-wrap" v-text="listing.description" />
          <br />
          <h4 class="font-euclid-semibold">How to apply:</h4>
          <!-- eslint-disable vue/no-v-html -->
          <div class="rich-text-area" v-html="listing.howToApply" />
          <!-- eslint-enable vue/no-v-html -->
        </div>
      </CoreGrid>
    </CoreExpand>
    <hr />
  </li>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: {
    listing: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    open: false,
  }),

  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
    }),
  },

  methods: {
    formatDate(date) {
      return new Date(date).toLocaleDateString(undefined, {
        year: 'numeric',
        month: 'long',
        day: '2-digit',
      })
    },
  },
}
</script>

<style scoped>
.transition-rotate {
  transition-property: transform;
  transition-duration: var(--time-general);
  transition-timing-function: var(--ease-general);
}

.rotate-45 {
  transform: rotate(45deg);
}
</style>
