<template>
  <OurStudioContentArea v-if="!$fetchState.pending" :entry="entry">
    <hr class="col-span-6 lg:col-span-18" />
    <CoreContentLoad>
      <OurStudioCareersListingGroup
        class="invisible"
        title="London"
        :listings="london"
      />
    </CoreContentLoad>
    <CoreContentLoad>
      <OurStudioCareersListingGroup
        class="invisible"
        title="New York"
        :listings="newYork"
      />
    </CoreContentLoad>
    <CoreContentLoad>
      <OurStudioCareersListingGroup
        title="Los Angeles"
        :listings="losAngeles"
        class="mb-m lg:mb-xl invisible"
      />
    </CoreContentLoad>
  </OurStudioContentArea>
</template>

<script>
import { OUR_STUDIO } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'
import { OurStudioCareersQuery as query } from '@gql/queries'
import SeoMatic from '@mixins/SeoMatic'

export default {
  mixins: [SeoMatic],
  async fetch() {
    const result = await this.$craft({ query })

    const { entry } = result.data

    this.entry = entry

    this.generateTags(entry.seomatic)
  },

  data: () => ({
    entry: [],
  }),

  computed: {
    london() {
      return this.entry.ourStudioCareers.filter(
        (listing) => listing.locaton === 'london'
      )
    },
    newYork() {
      return this.entry.ourStudioCareers.filter(
        (listing) => listing.locaton === 'newYork'
      )
    },
    losAngeles() {
      return this.entry.ourStudioCareers.filter(
        (listing) => listing.locaton === 'losAngeles'
      )
    },
  },

  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_STUDIO)
    this.$store.commit(MUTATIONS.SET_MENU_WHITE)
  },
}
</script>
