<template>
  <section class="h-screen w-full text-white">
    <CoreImage
      class="pointer-events-none"
      :src="image"
      :srcset="image"
      inner-class="h-screen w-full object-cover"
    />
    <div class="h-full w-full flex items-center absolute top-0 left-0">
      <div class="container mx-auto">
        <div class="w-2/3">
          <h2 class="text-size-9 mb-size-7 font-tusker uppercase">
            How you can help
          </h2>
        </div>
        <div class="w-1/2">
          <h3 class="text-size-5 relative font-tt-norms-pro-regular">
            <span
              >Udam que dolorem poreperat acienis ratur. Menim am, vel eiunt
              quibust quo del ea voluptatius nesti dem ellacepudae nonectatur.
              Evelige ndignisi cum fugit.
            </span>
          </h3>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: require('~/assets/images/HowYouCanHelp/hero-background.jpg'),
    },
  },
  computed: {
    styles() {
      return [this.backgroundImage]
    },
    backgroundImage() {
      return {
        'background-image': `url(${this.image})`,
      }
    },
  },
}
</script>

<style lang="postcss" scoped>
h3 {
  &:before {
    content: '';
    @apply absolute;
    @apply bg-white;
    width: 74px;
    height: 1px;
    top: 2vh;
  }
}
h3 span {
  margin-left: calc(74px + 5rem);
  @apply block;
}
</style>
