<template>
  <section class="relative">
    <CoreImage
      :src="require('~/assets/images/HowYouCanHelp/section-background-1.jpg')"
      inner-class="h-screen w-full object-cover"
    />
    <div class="h-full w-full flex items-center absolute top-0 left-0">
      <div class="container mx-auto">
        <div class="w-2/5 mr-auto">
          <h3 class="font-tt-norms-pro-bold text-size-8 text-white">
            Use your creativity to fundraise
          </h3>
        </div>
        <div class="w-2/3 mr-auto py-size-7">
          <div class="grid grid-cols-2">
            <div>
              <p class="font-tt-norms-pro-regular text-size-4 text-white">
                Fundraising isn’t just about marathons and coffee mornings,
                although if that’s what you want to do, that’s just fine by us.
                But there’s a world of other ways you can raise funds to help
                people held in UK immigration detention centres – and they can
                be creative and fun.
              </p>
              <p
                class="font-tt-norms-pro-regular text-size-4 text-white mt-size-5"
              >
                So, right now, it could be a COVID-friendly ticketed event, a
                virtual jam or choir evening, a music pub quiz or livestream
                kitchen discos.
              </p>
            </div>
            <div class="ml-size-7">
              <p class="font-tt-norms-pro-regular text-size-4 text-white">
                And it’s easy to do. Either set up a JustGiving fundraising page
                and spread the word about what you’re doing to help people held
                in UK immigration detention centres (social media is great for
                this). Or you can return the money directly to us here
              </p>
              <p
                class="font-tt-norms-pro-regular text-size-4 text-white mt-size-5"
              >
                We’d love to hear about your fundraising ideas. So please drop
                John, our director, an email and let him know what you’re
                planning.
              </p>
            </div>
          </div>
        </div>
        <CoreButton colour="blue" label="CTA" class="mx-size-1" />
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
