<template>
  <section class="relative">
    <CoreImage
      :src="require('~/assets/images/HowYouCanHelp/section-background-2.jpg')"
      inner-class="h-screen w-full object-cover"
    />
    <div class="h-full w-full flex items-center absolute top-0 left-0">
      <div class="container mx-auto">
        <div class="w-3/5 mr-auto pl-size-7">
          <h3 class="font-tt-norms-pro-bold text-size-8 text-white">
            Leave music for the world with a gift in your Will
          </h3>
        </div>
        <div class="w-2/3 ml-auto py-size-7">
          <div class="grid grid-cols-2">
            <div>
              <p class="font-tt-norms-pro-regular text-size-4 text-white">
                From the moment we’re first soothed by lullabies, music means so
                much to us throughout our lives. Now you can share your love of
                music with people held in immigration detention centres for many
                years after you’re gone, by leaving a gift in your Will to Hear
                Me Out. The music you share will live on in their hearts
                forever, because music never leaves us.
              </p>
              <p
                class="font-tt-norms-pro-regular text-size-4 text-white mt-size-5"
              >
                As a small charity, every gift of any size can transform lives.
                And we’re proof of the power of leaving a legacy in your Will as
                that was how our work was first founded.
              </p>
            </div>
            <div class="ml-size-7">
              <p class="font-tt-norms-pro-regular text-size-4 text-white">
                If this is something you’d like to do, just let your wishes be
                known to your solicitor when you make or update your Will and
                give them these details:
              </p>
              <ul
                class="font-tt-norms-pro-regular text-size-4 text-white mt-size-5 list-disc"
              >
                <li class="ml-size-5">
                  Hear Me Out registered charity number: 1119049
                </li>
                <li class="ml-size-5">
                  Our address: Kings Place Music Base, 90 York Way, London N1
                  9AG
                </li>
              </ul>
              <p
                class="font-tt-norms-pro-regular text-size-4 text-white mt-size-5"
              >
                For more information or advice, please contact John who is
                always happy to help.
              </p>
            </div>
          </div>
        </div>
        <div class="w-2/3 ml-auto">
          <CoreButton colour="yellow" label="Donate" class="mx-size-1" />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
