<template>
  <section class="relative">
    <CoreImage
      :src="require('~/assets/images/HowYouCanHelp/section-background.jpg')"
      inner-class="h-screen w-full object-cover"
    />
    <div class="h-full w-full flex items-center absolute top-0 left-0">
      <div class="container mx-auto">
        <div class="w-2/5 ml-auto">
          <h3 class="font-tt-norms-pro-bold text-size-8 text-white">
            Make a donation
          </h3>
          <p class="font-tt-norms-pro-regular text-size-4 text-white py-size-7">
            Our team is small and effective. But we need you to join us too.
            When you make a donation to Hear Me Out, you will help us to bring
            release through music to even more people who are held in UK
            immigration detention. Also, if you’re a UK taxpayer, you can
            increase your donation by 25%. Just let us know and we’ll claim the
            tax on your donation back from the government.
          </p>
          <CoreButton colour="yellow" label="Donate" class="mx-size-1" />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
