@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
}

.container-large,
.container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

.container-large {
    padding: 0 70px;
}

h1 {
    margin-top: 0;
    color: #FFFFFF;
    font-size: 58px;
    letter-spacing: -1.16px;
    font-weight: normal;
    max-width: 63%;
}

h1.dark {
    color: #242A33;
}

.page-desc {
    width: 65%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    line-height: 35px;
    margin-top: 38px;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.home-container {
    margin-top: -430px;
}

@media screen and (max-width: 992px) {
    .home-container {
        margin-top: 20px;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-container > div {
        width: 100% !important;
        text-align: center;
    }

    .hidden-xs {
        display: none !important;
    }

    h1 {
        font-size: 34px;
        color: #242A33;
        max-width: 100%;
        text-align: center;
    }

    .page-desc {
        width: 100%;
        font-size: 18px;
        color: #242A33;
        text-align: center;
    }
}