<template>
  <div>
    <BlockHeader :title="title" class="mb-xs lg:mb-xl">
      <template v-slot:filter>
        <BlockFilter
          :filters="filters"
          :active-id="activeFilterId"
          @click="handleClick"
        />
      </template>
    </BlockHeader>

    <main class="px-gutter-1/2">
      <CoreMasonry
        class="w-full"
        :position-trigger="activeFilterId"
        @layout="resetAnimationTrigger += 1"
      >
        <template v-slot:default="slotProps">
          <OurThoughtsThumbnail
            v-for="(
              { title: articleTite, slug, date, tags: articleTags, media, id },
              i
            ) in filteredEntries"
            :id="id"
            :key="i"
            class="px-gutter-1/2 w-full lg:w-1/3 pb-s lg:pb-l"
            :title="articleTite"
            :slug="slug"
            :date="date"
            :tags="articleTags"
            :image="media[0].image"
            :bootstrap="bootstrap"
            :reset-animation-trigger="resetAnimationTrigger"
            :active-filter-id="activeFilterId"
            :delay="i % 3"
            @load="slotProps.throttledPosition()"
          />
        </template>
      </CoreMasonry>
    </main>

    <BlockFooter class="mt-s lg:mt-xl bg-putty" />
  </div>
</template>

<script>
import { OurThoughtsIndexQuery as query } from '@gql/queries'
import { isEmptyObject } from '@utils/types'
import NavLevel3Transition from '@mixins/NavLevel3Transition'
import SeoMatic from '@mixins/SeoMatic'
import RouteForwading from '@mixins/RouteForwading'
import { OUR_THOUGHTS } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'

const allId = '0'

export const all = {
  id: allId,
  title: 'All',
}

export default {
  // scrollToTop: false,

  mixins: [NavLevel3Transition, RouteForwading, SeoMatic],

  async fetch() {
    const result = await this.$craft({ query })

    // console.log(result)
    const { bootstrap, entries, categories, page } = result.data

    this.bootstrap = bootstrap

    // sort by date and add index
    this.entries = entries.reverse()

    this.tags = categories.filter((category) => !isEmptyObject(category))

    this.generateTags(page.seomatic)
  },

  data: () => ({
    entries: [],
    tags: null,
    bootstrap: null,
    activeFilterId: allId,
    resetAnimationTrigger: 0,
  }),

  computed: {
    filters() {
      if (this.$fetchState.pending) return [all]

      return [all, ...this.tags]
    },
    title() {
      const filter = this.filters.find(
        (filter) => filter.id === this.activeFilterId
      )

      if (filter) return filter.title

      return ''
    },
    filteredEntries() {
      if (this.activeFilterId === allId) return this.entries

      return this.entries.filter((entry) =>
        entry.tags.some((tag) => tag.id === this.activeFilterId)
      )
    },
  },

  created() {
    // Get the query id's from router params and query
    const paramsActiveFilterId = this.$route.params.activeFilterId
    const queryActiveFilterId = this.$route.query.filter

    // Params takes precidence
    const activeFilterId = paramsActiveFilterId || queryActiveFilterId
    const setQuery = !!paramsActiveFilterId

    if (activeFilterId) {
      this.setFilterId(activeFilterId, setQuery)
    }
  },

  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_THOUGHTS)
    this.$store.commit(MUTATIONS.SET_MENU_PUTTY)
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR, 'putty')
  },

  beforeDestroy() {
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR, 'white')
  },

  methods: {
    handleClick(filterId) {
      this.setFilterId(filterId)
    },
    setFilterId(id, setQuery = true) {
      this.activeFilterId = id

      if (setQuery) {
        this.$router.replace({
          name: 'our-thoughts',
          query: { filter: id },
        })
      }
    },
  },
}
</script>
