<template>
  <article class="pt-24 bg-light-cream">
    <BlockHero />
    <div class="container mx-auto py-size-10">
      <div class="flex">
        <div class="w-3/4 pr-size-10">
          <BlockTitleParagraph
            title="My time in detention"
            body1="I was one of hundreds of people in the detention centre. Many had fled torture, war and poverty. Others had been trafficked. Some had lived in the UK since they were kids - even born here."
            body2="We were never called by our names, just our room numbers. We were trapped in this place and in our heads – for how long, we never knew. It was mental torture. Being in there, you lose the feeling of being human."
          />
          <BlockSlider />
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae
            sollicitudin nisi, vitae elementum lacus. Sed interdum euismod
            venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus
            id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula
            arcu. Nulla in dapibus massa. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae
            elementum lacus. Sed interdum euismod venenatis. Curabitur turpis
            mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue,
            faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus
            massa.
          </p>
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae
            sollicitudin nisi, vitae elementum lacus. Sed interdum euismod
            venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus
            id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula
            arcu. Nulla in dapibus massa.
          </p>
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae
            sollicitudin nisi, vitae elementum lacus. Sed interdum euismod
            venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus
            id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula
            arcu. Nulla in dapibus massa.
          </p>
        </div>
        <div class="w-1/4">
          <aside class="sticky top-160">
            <BlockCardPerson
              :src-image="
                require('~/assets/images/WhyDetaineesAndMusic/card-person-placeholder.png')
              "
              name="PILO"
              position="Held in detention for 5 months"
              bio="I lived in the UK for eight years before being detained for X months due to a bureaucratic error. Now I… Short bio of person."
              class=""
            />
          </aside>
        </div>
      </div>
    </div>
    <BlockHeroPlaylist
      :img-src="require('~/assets/images/Stories/hero-background.jpg')"
    />
    <div class="container mx-auto py-size-10">
      <div class="flex">
        <div class="w-3/4 pr-size-10">
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae
            sollicitudin nisi, vitae elementum lacus. Sed interdum euismod
            venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus
            id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula
            arcu. Nulla in dapibus massa. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae
            elementum lacus. Sed interdum euismod venenatis. Curabitur turpis
            mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue,
            faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus
            massa.
          </p>
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae
            sollicitudin nisi, vitae elementum lacus. Sed interdum euismod
            venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus
            id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula
            arcu. Nulla in dapibus massa.
          </p>
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae
            sollicitudin nisi, vitae elementum lacus. Sed interdum euismod
            venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus
            id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula
            arcu. Nulla in dapibus massa.
          </p>
        </div>
      </div>
    </div>
    <StoriesQuote />
    <div class="container mx-auto py-size-10">
      <div class="flex">
        <div class="w-3/4 pr-size-10">
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae
            sollicitudin nisi, vitae elementum lacus. Sed interdum euismod
            venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus
            id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula
            arcu. Nulla in dapibus massa. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae
            elementum lacus. Sed interdum euismod venenatis. Curabitur turpis
            mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue,
            faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus
            massa.
          </p>
          <h3 class="font-tt-norms-pro-bold text-size-6 mb-size-6 margin-left">
            Pilo’s Music
          </h3>
          <BlockSong :id="1" class="margin-left" />
        </div>
      </div>
    </div>
    <StoriesCarousel />
    <BlockNewsletter />
    <BlockFooter />
  </article>
</template>
<script>
export default {}
</script>
<style lang="postcss" scoped>
p {
  margin-left: calc(74px + 5rem);
}
.margin-left {
  margin-left: calc(74px + 5rem);
}
.top-160 {
  top: 160px;
}
</style>
