<template>
  <article class="pt-24">
    <ArticleHero />
    <div class="container container--small mx-auto py-size-10">
      <ArticleIntroParagraph />
      <ArticleSubHeader />
      <ArticleParagraph />
      <ArticleParagraph
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa. "
      />
      <BlockSlider />
      <ArticleParagraph
        text="“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa."
      />
      <ArticleParagraph
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa."
      />
      <ArticleParagraph
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa."
      />
    </div>
    <BlockHeroPlaylist
      :img-src="require('~/assets/images/Article/section-background.jpg')"
    />
    <div class="container container--small mx-auto py-size-10">
      <ArticleParagraph
        text="“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa."
      />
      <ArticleParagraph
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa."
      />
      <ArticleParagraph
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa. “"
      />
      <ArticleQuote />
      <ArticleParagraph
        text="“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa."
      />
      <ArticleParagraph
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa."
      />
      <ArticleParagraph
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa. “"
      />
      <BlockSong :id="3" class="mt-size-9" />
    </div>
    <BlockLatestNews />
    <BlockNewsletter />
    <BlockFooter />
  </article>
</template>
<script>
export default {}
</script>
<style lang="postcss" scoped>
.margin-left {
  margin-left: calc(74px + 5rem);
}
.container--small {
  max-width: 960px;
}
</style>
