<template>
  <article class="pt-24 bg-light-cream">
    <div class="container mx-auto">
      <StoriesNavigation />
      <div class="blocks-container pb-20">
        <BlockCardArticle
          v-for="(item, index) in data"
          :key="index"
          :size="item.isBig ? 2 : 1"
          :category="item.category"
          :colour="item.colour"
          :title="item.title"
          :body="item.body"
          :src-image="item.img"
        />
        <div class="clearfix"></div>
      </div>
      <StoriesPagination />
    </div>
    <BlockNewsletter />
    <BlockFooter />
  </article>
</template>

<script>
export default {
  data() {
    return {
      data: [
        {
          category: 'Real stories',
          colour: 'text-mid-green',
          title: 'Main story title',
          body:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare.',
          img: require('~/assets/images/Stories/carousel-placeholder-2.jpg'),
          isBig: true,
        },
        {
          category: 'Real stories',
          colour: 'text-mid-orange',
          title: 'This story is about everything',
          body:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare.',
          img: require('~/assets/images/Stories/carousel-placeholder-4.jpg'),
          isBig: false,
        },
        {
          category: 'Music History',
          colour: 'text-mid-purple',
          title: 'Some title example',
          body:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare.',
          img: require('~/assets/images/Stories/carousel-placeholder-2.jpg'),
          isBig: false,
        },
        {
          category: 'Real stories',
          colour: 'text-mid-blue',
          title: 'Article title',
          body:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare.',
          img: require('~/assets/images/Stories/carousel-placeholder-1.jpg'),
          isBig: false,
        },
        {
          category: 'Real stories',
          colour: 'text-mid-yellow',
          title: 'Article title',
          body:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare.',
          img: require('~/assets/images/Stories/carousel-placeholder-2.jpg'),
          isBig: false,
        },
        {
          category: 'Real stories',
          colour: 'text-mid-purple',
          title: 'Article title',
          body:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare.',
          img: require('~/assets/images/Stories/carousel-placeholder-1.jpg'),
          isBig: false,
        },
        {
          category: 'Real stories',
          colour: 'red',
          title: 'Article title',
          body:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare.',
          img: require('~/assets/images/Stories/carousel-placeholder-3.jpg'),
          isBig: true,
        },
        {
          category: 'Real stories',
          colour: 'text-mid-green',
          title: 'Article title',
          body:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare.',
          img: require('~/assets/images/Stories/carousel-placeholder-1.jpg'),
          isBig: false,
        },
        {
          category: 'Real stories',
          colour: 'text-mid-red',
          title: 'Article title',
          body:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare.',
          img: require('~/assets/images/Stories/carousel-placeholder-2.jpg'),
          isBig: false,
        },
        {
          category: 'Real stories',
          colour: 'text-mid-purple',
          title: 'Article title',
          body:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare.',
          img: require('~/assets/images/Stories/carousel-placeholder-2.jpg'),
          isBig: false,
        },
      ],
    }
  },
}
</script>

<style lang="postcss" scoped>
.blocks-container {
  margin: 0 -20px;
}
.clearfix {
  clear: both;
  display: table;
}
</style>
