<template>
  <section
    class="spine w-full h-screen bg-white overflow-hidden"
    :style="{ height: `${deviceHeight}px` }"
  >
    <CoreGrid
      class="h-full grid grid-cols-6 lg:grid-cols-18 lg:grid-flow-col grid-rows-9"
    >
      <div
        v-if="entries"
        class="col-span-6 lg:col-span-18 row-start-2 lg:row-start-2 pl-gutter-mob lg:pl-gutter-desk pr-5"
      >
        <div class="grid grid-cols-12">
          <div
            v-for="item in entries"
            :key="item.title"
            class="col-span-12 lg:col-span-3"
          >
            <CoreImage class="" v-bind="item.media[0].image" />
          </div>
        </div>
      </div>
    </CoreGrid>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import { ClientsEntries as query } from '@gql/queries'
export default {
  props: {
    content: {
      type: Array,
      default: () => [],
    },
  },

  async fetch() {
    const result = await this.$craft({
      query,
    })
    this.entries = result.data.entries
  },

  data: () => ({
    entries: null,
  }),

  computed: {
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },
}
</script>
