<template>
  <section
    class="spine w-full h-screen bg-white overflow-hidden"
    :style="{ height: `${deviceHeight}px` }"
  >
    <CoreGrid
      class="h-full grid grid-cols-6 lg:grid-cols-18 lg:grid-flow-col grid-rows-9"
    >
      <div
        v-if="content"
        class="col-span-6 lg:col-span-18 row-start-2 lg:row-start-2 pl-gutter-mob lg:pl-gutter-desk lg:row-span-2 pr-5"
      >
        <client-only>
          <BlockChineseSequence
            :items="content"
            :title-first="true"
            title-class="font-euclid-semibold text-fluid-size-intro text-black"
            body-class="text-fluid-size-8"
          />
        </client-only>
      </div>
    </CoreGrid>
  </section>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    content: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },
}
</script>
