<template>
  <section
    id="our-work"
    class="w-full h-screen overflow-hidden relative"
    :style="{ height: `${deviceHeight}px` }"
  >
    <OurWorkWelcome v-if="entries" :entries="entries" />
  </section>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    entries: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },
}
</script>
