<template>
  <section
    id="intro"
    class="spine w-full h-screen bg-black overflow-hidden content-center justify-items-center flex"
    :style="{ height: `${deviceHeight}px` }"
  >
    <BlockChineseMawdLogo />
  </section>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    content: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },
}
</script>
