<template>
  <section
    class="spine w-full h-screen bg-black overflow-hidden"
    :style="{ height: `${deviceHeight}px` }"
  >
    <CoreBgImage v-bind="content.media[0].image">
      <CoreGrid
        class="grid-cols-6 h-full grid"
        :style="{ height: `${deviceHeight}px` }"
      >
        <div
          class="col-span-12 row-start-2 pl-gutter-mob lg:pl-gutter-desk lg:mb-s lg:pt-0 lg:h-auto"
        >
          <h2
            class="text-white font-euclid-semibold text-fluid-size-intro"
            v-text="content.text"
          ></h2>
          <div
            class="text-white font-euclid-semibold text-size-3"
            v-html="content.body"
          ></div>
        </div>
        <div
          class="col-span-12 row-start-10 pl-gutter-mob lg:pl-gutter-desk lg:mb-s lg:pt-0 lg:h-auto"
        >
          <h2 v-for="item in content.excdEntries" :key="item.id">
            <nuxt-link
              :to="{ name: 'zh-excd-slug', params: { slug: item.slug } }"
              class="block font-euclid-semibold text-fluid-size-intro text-white"
              v-text="item.title"
            ></nuxt-link>
          </h2>
        </div>
      </CoreGrid>
    </CoreBgImage>
    <NuxtChild :key="$route.params.slug" />
  </section>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    content: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },
}
</script>
