<template>
  <section
    class="spine w-full h-screen bg-white overflow-hidden"
    :style="{ height: `${deviceHeight}px` }"
  >
    <CoreGrid
      class="relative h-full grid grid-cols-6 lg:grid-cols-18 lg:grid-flow-col grid-rows-9"
    >
      <div
        v-if="entries"
        class="col-span-6 lg:col-span-18 row-start-2 lg:row-start-2 pl-gutter-mob lg:pl-gutter-desk pr-5"
      >
        <client-only>
          <BlockChineseSequence
            :items="entries"
            :title-first="false"
            title-class="text-size-2 mt-10"
            body-class="text-fluid-size-8"
          />
        </client-only>
      </div>
    </CoreGrid>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import { ClientsTestimonials as query } from '@gql/queries'
export default {
  props: {
    content: {
      type: Array,
      default: () => [],
    },
  },

  async fetch() {
    const result = await this.$craft({
      query,
    })
    this.entries = result.data.entries
  },

  data: () => ({
    entries: null,
  }),

  computed: {
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },
}
</script>
