<template>
  <div class="flex justify-between w-2/3 mx-auto pb-size-10">
    <CorePaginationBullet :previous="true" />
    <CorePaginationBullet number="1" />
    <CorePaginationBullet number="2" />
    <CorePaginationBullet number="3" />
    <CorePaginationBullet number="4" />
    <CorePaginationBullet number="5" />
    <CorePaginationBullet :dot="true" />
    <CorePaginationBullet number="17" />
    <CorePaginationBullet :next="true" />
  </div>
</template>
<script>
export default {}
</script>
