<template>
  <section class="py-size-11 bg-light-blue">
    <div class="container mx-auto">
      <div class="flex content-center mb-size-7">
        <div class="w-4/5">
          <h3 class="text-size-8 font-tusker uppercase">More stories</h3>
        </div>
        <div class="w-1/5 flex justify-end content-center">
          <div class="btn-wrapper transition duration-500 ease-in-out">
            <button
              class="swiper-prev-button rounded-full border border-black relative mr-10 transform rotate-180 hover:bg-black hover:bg-opacity-50 transition duration-500 ease-in-out outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="12"
                viewBox="0 0 8 12"
                class="absolute"
              >
                <path
                  id="Polygon_10"
                  data-name="Polygon 10"
                  d="M6,0l6,8H0Z"
                  transform="translate(8) rotate(90)"
                />
              </svg>
            </button>
          </div>
          <div class="btn-wrapper transition duration-500 ease-in-out">
            <button
              class="swiper-next-button rounded-full border border-black relative hover:bg-black hover:bg-opacity-50 transition duration-500 ease-in-out ml-size-1 outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="12"
                viewBox="0 0 8 12"
                class="absolute"
              >
                <path
                  id="Polygon_10"
                  data-name="Polygon 10"
                  d="M6,0l6,8H0Z"
                  transform="translate(8) rotate(90)"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto flex mb-size-3">
      <client-only>
        <swiper :options="options">
          <swiper-slide>
            <BlockCardArticle
              category="Real stories"
              colour="red"
              :src-image="
                require('~/assets/images/Stories/carousel-placeholder-1.jpg')
              "
            />
          </swiper-slide>
          <swiper-slide>
            <BlockCardArticle
              category="Real stories"
              colour="red"
              :src-image="
                require('~/assets/images/Stories/carousel-placeholder-2.jpg')
              "
            />
          </swiper-slide>
          <swiper-slide>
            <BlockCardArticle />
          </swiper-slide>
          <swiper-slide>
            <BlockCardArticle />
          </swiper-slide>
          <swiper-slide>
            <BlockCardArticle />
          </swiper-slide>
        </swiper>
      </client-only>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      options: {
        autoplay: { delay: 8000 },
        keyboard: { enabled: true },
        loop: {
          loopedSlides: 1,
        },
        preloadImages: true,
        lazy: {
          loadPrevNext: true,
          loadOnTransitionStart: true,
        },
        navigation: {
          nextEl: '.swiper-next-button',
          prevEl: '.swiper-prev-button',
        },
        spaceBetween: 40,
        slidesPerView: 4,
        watchSlidesVisibility: true,
      },
    }
  },
}
</script>
<style lang="postcss" scoped>
button {
  width: 51px;
  height: 51px;
  &:focus {
    @apply outline-none;
  }
  svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.btn-wrapper {
  &:hover {
    transform: scale(1.1);
  }
}
</style>
