<template>
  <section class="relative mt-size-9 mb-size-8">
    <div class="flex justify-between">
      <h3 class="font-tusker uppercase text-size-8">Stories</h3>
      <nav>
        <ul class="flex">
          <li>
            <CoreButton
              colour="active"
              class="btn--categories mx-size-1"
              label="All"
            />
          </li>
          <li>
            <CoreButton
              colour="white"
              class="btn--categories mx-size-1"
              label="Stories"
            />
          </li>
          <li>
            <CoreButton
              colour="white"
              class="btn--categories mx-size-1"
              label="News"
            />
          </li>
          <li>
            <CoreButton
              colour="white"
              class="btn--categories mx-size-1"
              label="Events"
            />
          </li>
          <li>
            <CoreButton
              colour="white"
              class="btn--categories mx-size-1"
              label="Projects"
            />
          </li>
          <li>
            <CoreButton
              colour="white"
              class="btn--categories mx-size-1"
              label="Playists"
            />
          </li>
        </ul>
      </nav>
    </div>
  </section>
</template>
<script>
export default {}
</script>
<style lang="postcss" scoped>
.btn--categories {
  @apply py-size-3;
  @apply px-size-5;
  @apply font-tt-norms-pro-regular;
  min-width: auto;
}
</style>
