<template>
  <section>
    <section class="relative">
      <CoreImage
        class="pointer-events-none"
        :src="require('~/assets/images/Stories/quote-background.png')"
        :srcset="require('~/assets/images/Stories/quote-background.png')"
        inner-class="object-cover"
      />
      <div class="flex items-center absolute top-0 left-0">
        <div class="container mx-auto">
          <div class="flex flex-col w-3/4">
            <h3 class="font-tusker text-size-8 text-white uppercase my-size-10">
              “It was mental torture. <br />Being in there, you lose the feeling
              of being human”
            </h3>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>
<script>
export default {}
</script>
