<template>
  <article class="pt-24">
    <DonateHero />
    <DonateWordToYou />
    <DonateFounding />
    <CoreImage
      :src="require('~/assets/images/Donate/section-background.jpg')"
    />
    <DonateOtherWays />
    <BlockDonation />
    <BlockFooter />
  </article>
</template>
<script>
export default {}
</script>
