<template>
  <div>
    <HomeHero />
    <HomeLeadText />
    <HomeImageContent />
    <HomeStory />
    <HomeContentImage />
    <HomeStats />
    <HomeDetention />
    <BlockLatestNews />
    <BlockNewsletter />
    <BlockDonation />
    <BlockFooter />
  </div>
</template>
<script>
export default {
  computed: {
    styles() {
      return [this.backgroundImage]
    },
    backgroundImage() {
      return {
        'background-image': `url(${this.image})`,
      }
    },
  },
}
</script>

<style lang="postcss" scoped>
/* .overlay-black-text {
  background-image: linear-gradient(
    to right,
    black 0%,
    rgba(255, 255, 255, 0) 60%
  );
} */
</style>
