<template>
  <main class="flex items-center justify-center h-screen">
    <CoreButton colour="green" class="mx-size-1" />
    <CoreButton colour="blue" class="mx-size-1" />
    <CoreButton label="Donate" colour="yellow" class="mx-size-1" />
  </main>
</template>
