<template>
  <article class="pt-24">
    <WhatWeDoHero />
    <div class="bg-light-green">
      <div
        class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto pt-size-6 sm:pt-size-7 md:pt-size-8 lg:pt-size-10 pb-size-7 sm:pb-size-7 md:pb-size-8 lg:pb-size-11 relative"
      >
        <div class="flex flex-col xl:flex-row">
          <div class="w-full xl:w-3/4 lg:pr-size-8 xl:pr-size-10">
            <BlockTitleParagraph
              title="The music of people who need to be heard"
              body1="We help people inside immigration detention centres to express their humanity through music – to air their losses and fears, their hopes and their dreams. And we help everyone outside to hear the music and understand the lives of people trapped inside. We’re working for the day when all migrants are treated with dignity. "
              body2=""
            />
            <WhatWeDoStats />
          </div>
          <div class="w-full xl:w-1/4">
            <aside class="xl:sticky top-160">
              <BlockCardPerson
                :src-image="
                  require('~/assets/images/WhyDetaineesAndMusic/card-person-placeholder.png')
                "
                name="JOHN"
                position="Director • Hear Me Out"
                bio="We’re interested in your thoughts about our work. So feel free to ping me an email and I will get back to you."
                class=""
              />
            </aside>
          </div>
        </div>
        <WhatWeDoDetainees />
      </div>
    </div>
    <div class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto">
      <WhatWeDoHowWeWork />
      <div class="flex items-center justify-center mb-size-8 md:mb-size-9">
        <CoreButton colour="black" label="Play the music" class="mx-size-1" />
        <CoreButton colour="yellow" label="Donate" class="mx-size-1" />
      </div>
      <BlockTitleParagraph
        title="Where we work"
        body1="We work with people all
    over the UK, especially inside the seven immigration detention centres and
    the wider communities around them."
        body2=""
        class="w-full sm:w-3/4 xl:w-1/2 mb-size-7 md:mb-size-8"
      />
    </div>
    <WhatWeDoMap />
    <BlockDonation />
    <BlockFooter />
  </article>
</template>

<script>
export default {}
</script>
<style lang="postcss" scoped>
.top-160 {
  top: 160px;
}
</style>
