<template>
  <article class="pt-24">
    <WhoWeAreHero />
    <WhoWeAreHelen />
    <CoreImage :src="require('~/assets/images/WhoWeAre/man-with-guitar.jpg')" />
    <WhoWeAreToday />
    <WhoWeAreTeam />
    <WhoWeAreSpendMoney />
    <section class="bg-light-orange">
      <div class="container mx-auto py-size-8">
        <div class="text-center">
          <p class="font-tt-norms-pro-regular text-size-5 mx-auto mb-size-7">
            If you’d like to chat more about how we use your money, <br />please
            just ask John.
          </p>
          <CoreButton label="Email Link?" colour="black" class="mx-auto" />
        </div>
      </div>
    </section>
    <CoreImage
      :src="require('~/assets/images/WhoWeAre/section-placeholder.jpg')"
    />
    <WhoWeAreStandFor />
    <WhoWeAreDownloads />
    <BlockDonation />
    <BlockFooter />
  </article>
</template>

<script>
export default {}
</script>
