<template>
  <article class="pt-24 bg-light-cream">
    <DetaineesHero />
    <div
      class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto mt-size-6 sm:mt-size-7 md:mt-size-8 lg:mt-size-10 relative"
    >
      <div class="flex flex-col xl:flex-row">
        <div class="w-full xl:w-3/4 lg:pr-size-8 xl:pr-size-10">
          <BlockTitleParagraph
            body2="We were never called by our names, just our room numbers. We were trapped in this place and in our heads – for how long, we never knew. It was mental torture. Being in there, you lose the feeling of being human."
          />
          <BlockSlider />
          <BlockTitleParagraph
            title="Music changes everything"
            body1="Music is part of being human. It unites us all, across every culture. It’s proven to be really important for mental health. When your body is trapped, music can set the mind free. It’s like the music plays and those walls come down. You feel free, even if only for a while. It gives you a voice, a way to express who you really are."
          />
          <DetaineesSmallSlider />
          <h3 class="font-tt-norms-pro-bold text-size-3 decorator uppercase">
            Play the music
          </h3>
          <div
            class="ml-section mt-size-3 sm:mt-size-3 md:mt-size-5 lg:mt-size-7 mb-size-8 md:mb-size-8 lg:mb-size-10"
          >
            <BlockPlaylist />
          </div>
        </div>
        <div class="w-full xl:w-1/4">
          <aside class="xl:sticky top-160">
            <BlockCardPerson />
          </aside>
        </div>
      </div>
    </div>
    <DetainessHowWeDoIt />
    <DetainessHighlightedText />
    <BlockDonation />
    <BlockFooter />
  </article>
</template>
<script>
import DetaineesSmallSlider from '~/components/Detainees/DetaineesSmallSlider.vue'
export default {
  components: { DetaineesSmallSlider },
}
</script>
<style lang="postcss" scoped>
@media screen and (min-width: 768px) {
  .ml-section {
    margin-left: calc(74px + 5rem);
  }
  h3.decorator {
    margin-left: calc(74px + 5rem);
    &:before {
      content: '';
      @apply absolute;
      @apply bg-black;
      width: 74px;
      height: 1px;
      left: 2rem;
      margin-top: 1.1rem;
    }
  }
}
.top-160 {
  top: 160px;
}
</style>
