<template>
  <main>
    <div v-if="$fetchState.pending"></div>
    <div v-else-if="$fetchState.error">
      Error while fetching projects: {{ $fetchState.error.message }}
    </div>
    <div v-else>
      <BlockHeader title="Index">
        <template v-slot:filter>
          <BlockFilter
            :filters="filters"
            :active-id="9999"
            @click="handleClick"
          />
          <OurWorkServicesLink class="hidden lg:block" />
        </template>
        <template v-slot:paragraph>
          <CoreGrid class="px-gutter">
            <p
              class="col-span-6 lg:col-start-10 lg:col-span-9 text-size-2 lg:text-size-5 font-lyon-regular lg:min-h-paragraph"
            >
              &nbsp;
            </p>
          </CoreGrid>
        </template>
      </BlockHeader>
      <OurWorkIndex class="px-gutter-mob lg:px-gutter-desk" />
      <BlockFooter class="mt-s lg:mt-xl" />
    </div>
  </main>
</template>

<script>
import gql from 'fake-tag'
import { OUR_WORK } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'

const query = gql`
  query getOurWork {
    entries(section: "ourWork") {
      title
      slug
      ... on ourWork_ourWork_Entry {
        location {
          title
        }
      }
    }
    categories(group: "ourWork") {
      id
      slug
      title
    }
  }
`

export default {
  name: 'OurWorkIndexPage',
  async fetch() {
    const result = await this.$craft({ query })
    const { entries, categories } = result.data
    this.entries = entries
    this.categories = categories
  },
  data() {
    return {
      categories: null,
      entries: null,
    }
  },
  computed: {
    filters() {
      return [
        ...this.categories,
        {
          id: 9999,
          title: 'Index',
        },
      ]
    },
  },
  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_WORK)
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR_ONLY, 'white')
  },
  beforeDestroy() {
    this.$store.commit(MUTATIONS.UNSET_BREADCRUMB)
  },
  methods: {
    handleClick(filterId) {
      const { slug } = this.categories.find(({ id }) => id === filterId)
      this.$router.push({
        name: 'our-work-category',
        params: {
          category: slug,
        },
      })
    },
  },
}
</script>
