<template>
  <div v-if="$fetchState.pending"></div>
  <div v-else-if="$fetchState.error">
    Error while fetching projects: {{ $fetchState.error.message }}
  </div>
  <div v-else>
    <main class="overflow-hidden">
      <OurWorkWelcome :entries="categories" />
    </main>
  </div>
</template>

<script>
import { OurWorkCategoriesQuery as query } from '@gql/queries'
import NavLevel3Transition from '@mixins/NavLevel3Transition'
import SeoMatic from '@mixins/SeoMatic'
import { OUR_WORK } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'

export default {
  name: 'OurWork',
  mixins: [NavLevel3Transition, SeoMatic],
  async fetch() {
    const result = await this.$craft({ query })
    // console.log(result)
    const { categories, page } = result.data
    this.categories = categories
    this.generateTags(page.seomatic)
  },
  data() {
    return {
      categories: [],
    }
  },
  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_WORK)
    this.$store.commit(MUTATIONS.SET_MENU_TRANSPARENT)
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR_ONLY, 'white')
  },
}
</script>
