<template>
  <div v-if="$fetchState.pending"></div>
  <div v-else-if="$fetchState.error">
    Error while fetching {{ $fetchState.error.message }}
  </div>
  <div v-else>
    <main class="text-white cursor-white">
      <BlockHeader title="Services" class="text-white mb-xl">
        <template v-slot:filter>
          <BlockFilter
            :filters="filters"
            :active-id="-1"
            class="bg-black text-white"
            @click="handleClick"
          />
          <span
            class="font-euclid-semibold text-size-2 lg:text-size-3 filter-separator inline-block"
          >
            <span>
              <NuxtLink
                to="/our-work/index"
                class="cursor-hover hover:underline"
                >Index</NuxtLink
              >
            </span>
          </span>
          <OurWorkServicesLink />
        </template>
      </BlockHeader>
      <OurWorkServices class="px-gutter-mob lg:px-gutter-desk mx-auto" />
      <BlockFooter class="mt-s lg:mt-xl" background="black" />
    </main>
  </div>
</template>

<script>
import gql from 'fake-tag'
import NavLevel3Transition from '@mixins/NavLevel3Transition'
import { OUR_WORK } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'

const query = gql`
  {
    categories(group: "ourWork") {
      id
      slug
      title
    }
  }
`

export default {
  name: 'OurServices',
  mixins: [NavLevel3Transition],
  async fetch() {
    const result = await this.$craft({ query })
    const { categories } = result.data
    this.categories = categories
  },
  data() {
    return {
      categories: null,
    }
  },
  computed: {
    filters() {
      return [...this.categories]
    },
  },
  mounted() {
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR, 'black')
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_WORK)
    this.$store.commit(MUTATIONS.SET_MENU_BLACK)
    this.$store.commit(MUTATIONS.SET_CURSOR_SIGNPOST_WHITE)
  },
  beforeDestroy() {
    this.$store.commit(MUTATIONS.UNSET_BREADCRUMB)
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR, 'white')
  },
  methods: {
    handleClick(filterId) {
      const { slug } = this.categories.find(({ id }) => id === filterId)
      this.$router.push({
        name: 'our-work-category',
        params: {
          category: slug,
        },
      })
    },
  },
}
</script>

<style scoped>
.filter-separator:before {
  content: '|';
  @apply px-xxs;
  @apply font-euclid-regular;
}
</style>
