<template>
  <CoreContentLoad>
    <section class="mx-auto px-gutter">
      <CoreGrid
        class="grid grid-cols-6 lg:auto-rows-max lg:gap-gutter-desk lg:gap-y-0"
      >
        <div class="col-span-18">
          <CoreScrollPerspective>
            <CoreImage
              class="w-full h-full"
              :src="entry.image[0].imageRatio3By2.src"
              :srcset="entry.image[0].imageRatio3By2.srcset"
              :srcset-webp="entry.image[0].imageRatio3By2.webp"
              :placeholder-box="entry.image[0].imageRatio3By2.placeholderBox"
              :title="entry.image[0].title"
            />
          </CoreScrollPerspective>
        </div>
        <OurWorkImageCaption
          :caption="entry.caption"
          class="col-span-18 mt-xs"
          direction="up"
        />
      </CoreGrid>
    </section>
  </CoreContentLoad>
</template>

<script>
export default {
  name: 'OurWorkStyleB',
  props: {
    entry: {
      type: [Array, Object],
      default: null,
    },
  },
}
</script>
