<template>
  <CoreContentLoad :enabled="loadEnabled" :delay="delay">
    <div
      class="our-work-cover relative h-full w-full block"
      @mouseover="handleMouseover"
      @mouseleave="handleMouseleave"
    >
      <div class="bg-gradient">
        <NuxtLink
          :to="{
            name: routeName,
            params: { category: category, slug: entry.slug },
          }"
        >
          <div class="our-work-cover__hover">
            <CoreScrollPerspective>
              <div class="tween">
                <CoreImage
                  :src="src"
                  :srcset="srcset"
                  :placeholder-box="placeholderBox"
                  :srcset-webp="srcsetwebp"
                  :title="imageTitle"
                />
              </div>
            </CoreScrollPerspective>
          </div>
          <div class="absolute bottom-0 w-full title z-30">
            <h3 class="font-euclid-semibold text-size-6 text-white p-xs">
              <span>{{ entry.title }}</span
              >&nbsp;<sup class="text-size-1 uppercase">{{
                title.replace(/\s/g, String.fromCharCode(160))
              }}</sup>
            </h3>
          </div>
        </NuxtLink>
      </div>
    </div>
  </CoreContentLoad>
</template>

<script>
import { VIEW_PROJECT } from '@c/Core/CoreCursorSignpost'
import { MUTATIONS } from '@store/ui'
import { mapState } from 'vuex'

export default {
  props: {
    entry: {
      type: [Array, Object],
      default: null,
    },
    category: {
      type: String,
      default: '',
    },
    delay: {
      type: Number,
      default: 0,
    },
    loadEnabled: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      placeholder: require('~/assets/media/placeholders/placeholder-image-3-by-2.jpg'),
    }
  },
  computed: {
    ...mapState({
      language: (state) => state.ui.language,
    }),
    routeName() {
      return this.language === 'en'
        ? 'our-work-category-slug'
        : 'zh-our-work-category-slug'
    },
    title() {
      return this.entry.location.length ? this.entry.location[0].title : ''
    },
    src() {
      if (this.entry.media.length) return this.entry.media[0].image3x2.src
      return this.placeholder
    },
    srcset() {
      if (this.entry.media.length) return this.entry.media[0].image3x2.srcset
      return this.placeholder
    },
    srcsetwebp() {
      if (this.entry.media.length)
        return this.entry.media[0].image3x2.srcsetwebp
      return this.placeholder
    },
    placeholderBox() {
      if (this.entry.media.length)
        return this.entry.media[0].image3x2.placeholderBox
      return this.placeholder
    },
    imageTitle() {
      if (this.entry.media.length)
        return this.entry.media[0].image3x2.imageTitle
      return this.entry.title
    },
  },
  methods: {
    handleMouseover() {
      this.$store.commit(MUTATIONS.SET_CURSOR_SIGNPOST, VIEW_PROJECT)
    },
    handleMouseleave() {
      this.$store.commit(MUTATIONS.UNSET_CURSOR_SIGNPOST)
    },
  },
}
</script>

<style lang="postcss" scoped>
.our-work-cover {
  &__hover {
    transition-property: transform;
    transition-duration: var(--hover-long);
    transition-timing-function: var(--hover-ease-out);
  }
  .tween {
    transition-property: transform;
    transition-duration: var(--hover-long);
    transition-timing-function: var(--hover-ease-out);
  }
  &:hover {
    .tween {
      transform: scale3d(1.03, 1.03, 1.03);
    }
  }
}

sup {
  vertical-align: super;
}

.title {
  /* z-index: 9999; */
}

.bg-gradient {
  &:before {
    @apply pointer-events-none;
    content: '';
    @apply absolute top-0 left-0;
    @apply w-full h-full;
    background: linear-gradient(
      0deg,
      rgba(22, 22, 21, 0.2) 0%,
      rgba(22, 22, 21, 0) 45%
    );
    @apply z-20;
  }
}
</style>
