<template>
  <section v-if="press.length > 0" class="mx-auto px-gutter mb-l lg:mb-xl">
    <CoreGrid class="grid-cols-6 gap-y-s lg:gap-y-0">
      <h3
        class="font-euclid-semibold text-size-2 lg:text-size-4 col-span-6 lg:col-span-18 border-b border-dark-grey lg:mb-m pb-xs"
      >
        Project Press
      </h3>
      <div v-for="(item, index) in press" :key="index" class="col-span-6">
        <CoreContentLoad :delay="index % 3">
          <div>
            <h5
              class="font-euclid-regular text-mob-size-1 lg:text-size-2 mb-xxs"
            >
              {{ item.pressAndMediaOutlet }}
            </h5>
            <h4
              v-if="item.externalLink"
              class="font-euclid-semibold text-size-4 lg:text-size-5"
            >
              <CoreLink :link="item.externalLink">
                {{ item.title }}
              </CoreLink>
            </h4>
            <h4 v-else class="font-euclid-semibold text-size-4 lg:text-size-5">
              {{ item.title }}
            </h4>
          </div>
        </CoreContentLoad>
      </div>
    </CoreGrid>
  </section>
</template>

<script>
export default {
  name: 'OurWorkRelatedPress',
  props: {
    press: {
      type: [Array, Object],
      default: () => [],
    },
  },
}
</script>
