<template>
  <section class="mx-auto px-gutter lg:mb-s">
    <CoreGrid class="grid grid-cols-6 lg:gap-gutter-desk lg:gap-y-0">
      <CoreContentLoad>
        <OurWorkText
          :text="entry.text"
          class="order-2 lg:order-none col-span-6 lg:col-span-6 mb-s"
        />
      </CoreContentLoad>

      <div class="order-1 lg:order-none col-span-6 lg:col-span-18 mb-s">
        <CoreContentLoad>
          <CoreScrollPerspective>
            <CoreImage
              :src="entry.image[0].imageRatio3By2.src"
              :srcset="entry.image[0].imageRatio3By2.srcset"
              :srcset-webp="entry.image[0].imageRatio3By2.srcsetWebp"
              :placeholder-box="entry.image[0].imageRatio3By2.placeholderBox"
              :title="entry.image[0].title"
            />
          </CoreScrollPerspective>
        </CoreContentLoad>
      </div>

      <CoreContentLoad>
        <OurWorkQuote
          v-if="entry.quote"
          class="order-3 lg:order-none col-span-6 lg:col-span-8 lg:col-start-10 lg:mt-xl mb-l lg:mb-0"
          :quote="entry.quote[0]"
        />
      </CoreContentLoad>
    </CoreGrid>
  </section>
</template>

<script>
export default {
  name: 'OurWorkStyleSoloFull',
  props: {
    entry: {
      type: [Array, Object],
      default: null,
    },
  },
}
</script>
