<template>
  <blockquote>
    <a :href="quote.externalLink" target="_blank">
      <p class="text-fluid-size-6 font-lyon-regular relative">
        {{ quote.quote }}
      </p>
      <footer class="text-fluid-size-cite font-lyon-semibold mt-m lg:mt-l">
        — {{ quote.cite }}
      </footer>
    </a>
  </blockquote>
</template>

<style lang="postcss" scoped>
blockquote {
  p {
    margin-left: 2vw;
  }
  p::before {
    content: '“';
    @apply absolute top-0;
    left: -2vw;
  }
  p::after {
    content: '”';
    @apply absolute bottom-0;
  }
}
</style>

<script>
export default {
  name: 'OurWorkQuote',
  props: {
    quote: {
      type: [Array, Object],
      default: null,
    },
  },
}
</script>
