<template>
  <NuxtLink
    :to="entryUrl"
    class="block grid-cols-6 border-black border-b py-xs items-center item"
  >
    <CoreGrid>
      <div
        class="col-span-5 lg:col-span-6 text-size-2 lg:text-size-5 font-euclid-semibold title"
      >
        {{ title }}
      </div>
      <div
        class="hidden lg:block col-span-3 text-size-2 font-euclid-medium self-center"
      >
        {{ projectScale }} sqft
      </div>
      <div
        class="hidden lg:block col-span-3 text-size-2 font-euclid-medium self-center"
      >
        {{ type }}
      </div>
      <div
        class="hidden lg:block col-span-4 text-size-2 font-euclid-medium self-center"
      >
        <div v-for="(item, index) in subType" :key="index" class="inline-block">
          <span>{{ item.title }}</span
          ><span v-if="index !== subType.length - 1">&nbsp;|&nbsp;</span>
        </div>
      </div>
      <div
        class="col-span-1 lg:col-span-2 text-size-2 font-euclid-semibold lg:font-euclid-medium self-center"
      >
        {{ year }}
      </div>
    </CoreGrid>
  </NuxtLink>
</template>

<script>
export default {
  props: {
    entry: {
      type: [Array, Object],
      default: null,
    },
  },
  computed: {
    title() {
      return this.entry.title
    },
    projectScale() {
      return this.entry.projectScale
    },
    type() {
      return this.entry.type.length ? this.entry.type[0].title : ''
    },
    subType() {
      return this.entry.subType.length ? this.entry.subType : []
    },
    year() {
      return this.entry.year
    },
    entryUrl() {
      return `/our-work/${this.entry.ourWorkCategory[0].slug}/${this.entry.slug}`
    },
  },
}
</script>

<style lang="postcss">
.item {
  transition-property: all;
  transition-duration: var(--hover-short);
  transition-timing-function: var(--hover-ease-out);
  .title {
    transition-property: all;
    transition-duration: var(--hover-short);
    transition-timing-function: var(--hover-ease-out);
  }
  &:hover {
    .title {
      @apply pl-4;
    }
  }
}
</style>
