<template>
  <div class="ml-auto font-euclid-semibold text-size-2 lg:text-size-3">
    <NuxtLink
      class="relative"
      :class="[
        $route.name === 'our-work-services' ? 'underline' : 'hover:underline',
      ]"
      :to="{
        name: 'our-work-services',
      }"
      >Services</NuxtLink
    >
  </div>
</template>
