<template>
  <section class="mx-auto px-gutter lg:mb-xxl">
    <CoreGrid class="grid grid-cols-6 lg:gap-gutter-desk lg:gap-y-0">
      <div
        class="order-2 lg:order-none lg:flex lg:flex-col col-span-6 lg:justify-between"
      >
        <CoreContentLoad>
          <OurWorkText class="mb-s" :text="entry.text" />
        </CoreContentLoad>
        <CoreContentLoad>
          <OurWorkQuote
            v-if="entry.quote"
            class="mb-l lg:mb-0"
            :quote="entry.quote[0]"
          />
        </CoreContentLoad>
      </div>
      <div
        class="order-1 lg:order-none lg:flex lg:flex-col col-span-6 lg:col-span-9 lg:col-start-10"
      >
        <CoreContentLoad :delay="4">
          <div class="mb-s lg:mb-0">
            <CoreScrollPerspective>
              <CoreImage
                class="w-full h-full"
                :src="entry.imageRight[0].imageRatio4By5.src"
                :srcset="entry.imageRight[0].imageRatio4By5.srcset"
                :srcset-webp="entry.imageRight[0].imageRatio4By5.srcsetWebp"
                :placeholder-box="
                  entry.imageRight[0].imageRatio4By5.placeholderBox
                "
                :title="entry.imageRight[0].title"
              />
            </CoreScrollPerspective>
          </div>
        </CoreContentLoad>
      </div>
    </CoreGrid>
  </section>
</template>

<script>
export default {
  name: 'OurWorkStyleSoloSplit',
  props: {
    entry: {
      type: [Array, Object],
      default: null,
    },
  },
}
</script>
