<template>
  <CoreTextAnimateIn>
    <h1 class="font-euclid-semibold text-fluid-size-10">
      {{ title.title
      }}<sup
        v-if="title.location"
        class="text-fluid-size-super relative"
        style="top: 0.5vw"
        >{{ title.location.replace(/\s/g, String.fromCharCode(160)) }}</sup
      >
    </h1>
  </CoreTextAnimateIn>
</template>

<script>
export default {
  props: {
    title: {
      type: [Array, Object],
      default: null,
    },
  },
}
</script>

<style lang="postcss" scoped>
sup {
  vertical-align: text-top;
}
</style>
