<template>
  <section>
    <div v-if="$fetchState.pending"></div>
    <div v-else-if="$fetchState.error">
      Error while fetching {{ $fetchState.error.message }}
    </div>
    <div v-else>
      <CoreGrid class="gap-gutter-mob lg:gap-gutter-desk lg:gap-y-xl">
        <div
          v-for="(service, index) in entry.tableContent"
          :key="`service-${index}`"
          class="col-span-6"
        >
          <h3 class="text-size-5 mb-xxs font-euclid-semibold">
            {{ service.heading }}
          </h3>
          <p class="text-size-2 font-euclid-regular">
            {{ service.body }}
          </p>
        </div>
      </CoreGrid>
    </div>
  </section>
</template>

<script>
import gql from 'fake-tag'

const query = gql`
  {
    entry(slug: "services") {
      title
      ... on services_services_Entry {
        tableContent {
          heading: col1
          body: col2
        }
      }
    }
  }
`

export default {
  name: 'OurWorkServices',
  async fetch() {
    const result = await this.$craft({ query })
    this.entry = result.data.entry
  },
  data() {
    return {
      entry: {},
      title: {
        title: 'Services',
      },
    }
  },
}
</script>
