<template>
  <div class="col-span-6 border-b border-black lg:border-0">
    <div
      class="uppercase font-euclid-medium text-mob-size-1 text-light-grey py-xs lg:py-0 flex justify-between items-center"
      @click="toggleFilter()"
    >
      <h4 class="lg:hidden">
        {{ title }}
        <span v-if="title === 'Scale'" class="lg:hidden">(Sqft)</span>
      </h4>
      <CoreIcon
        :width="10"
        :class="{ flip: status }"
        class="block lg:hidden transition-flip"
      >
        <IconArrowFilter :status="status" />
      </CoreIcon>
    </div>
    <ul
      ref="section"
      class="font-euclid-semibold text-size-2 lg:text-size-4 flex flex-col lg:mb-xs"
    >
      <li
        v-for="(item, index) in options"
        :key="index"
        class="mb-xxs filter-item"
        :class="{
          'lg:mb-0': index === options.length - 1,
          'opacity-25': selected,
          'opacity-100': isActive(index),
        }"
      >
        <a @click.prevent="handleClick(index, item)">{{ item.title }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { MUTATIONS } from '@store/filter'
import gsap from 'gsap'
import customEase from '@utils/customEase'

export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    options: {
      type: [Array, Object],
      default: null,
    },
    subType: {
      type: Boolean,
      default: false,
    },
    clearFilter: {
      type: Boolean,
      default: false,
    },
  },
  data: () => {
    return {
      beforeStatus: false,
      status: false,
      tl: null,
      height: 0,
      current: null,
    }
  },
  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
      activeRangeIndex: (state) => state.filter.activeRangeIndex,
    }),
    selected() {
      return this.activeRangeIndex != null
    },
  },
  watch: {
    clearFilter(value) {
      // console.log('clearFilter()')
      this.selected = false
      this.current = null
    },
    status(value) {
      value && this.isMobile ? this.tl.play() : this.tl.reverse()
    },
    isMobile(newVal, oldVal) {
      // from mobile to desktop
      if (oldVal === true && newVal === false) {
        gsap.set(this.$refs.section, { clearProps: 'all' })
        this.tl.kill()
        this.tl = null
      }
      // from desktop to mobile
      if (oldVal === false && newVal === true) {
        this.status = false
        gsap.set(this.$refs.section, { clearProps: 'all' })
        this.init()
        this.timeline()
      }
    },
  },
  mounted() {
    if (this.isMobile) {
      this.init()
      this.timeline()
    }
  },
  methods: {
    // Initialise with set height and timeline
    set() {
      gsap.set(this.$refs.section, {
        height: 0,
      })
    },
    init() {
      this.tl = gsap.timeline({ paused: true })
    },
    timeline() {
      this.tl.fromTo(
        this.$refs.section,
        {
          height: 0,
          autoAlpha: 0,
        },
        {
          height: 'auto',
          autoAlpha: 1,
          duration: 0.8,
          ease: customEase('--content-ease'),
        }
      )
    },
    toggleFilter() {
      this.status = !this.status
    },
    isActive(payload) {
      return this.activeRangeIndex === payload
    },
    handleClick(index, item) {
      if (this.activeRangeIndex === null || this.activeRangeIndex !== index) {
        this.$store.commit(MUTATIONS.SET_ACTIVE_RANGE_INDEX, index)
      } else {
        this.$store.commit(MUTATIONS.UNSET_ACTIVE_RANGE_INDEX)
      }
    },
  },
}
</script>

<style lang="postcss" scoped>
.filter-item {
  transition-property: opacity;
  transition-duration: var(--title-time);
  transition-timing-function: var(--ease-in-out);
}

.transition-flip {
  transition-property: transform;
  transition-duration: var(--transition-short);
  transition-timing-function: var(--ease-in-out);
}

.flip {
  transform: rotate(180deg);
}
</style>
