<template>
  <div v-if="!$fetchState.pending">
    <BlockHeader v-if="categories" :title="title">
      <template v-slot:filter>
        <BlockFilter
          :filters="categories"
          :active-id="currentCategory"
          @click="handleClick"
        />

        <span
          v-if="language === 'en'"
          class="font-euclid-semibold text-size-2 lg:text-size-3 filter-separator inline-block"
        >
          <NuxtLink to="/our-work/index" class="cursor-hover hover:underline"
            >Index</NuxtLink
          >
        </span>

        <OurWorkServicesLink v-if="language === 'en'" class="hidden lg:block" />
      </template>
      <template v-slot:paragraph>
        <CoreGrid class="px-gutter">
          <CoreContentLoad>
            <p
              class="col-span-6 lg:col-start-10 lg:col-span-9 text-fluid-size-5 font-lyon-regular lg:min-h-paragraph"
              v-text="paragraph"
            />
          </CoreContentLoad>
        </CoreGrid>
      </template>
    </BlockHeader>

    <main v-if="categories">
      <div class="px-gutter-mob lg:px-gutter-desk mx-auto mt-10 lg:mt-0">
        <CoreGrid class="gap-gutter-mob lg:gap-gutter-desk">
          <OurWorkCover
            v-for="(entry, index) in filteredEntries"
            :key="index"
            :entry="entry"
            :category="$route.params.category"
            :src="entry.media.length ? entry.media[0].image3x2.src : ''"
            :srcset="entry.media.length ? entry.media[0].image3x2.srcset : ''"
            :srcset-webp="
              entry.media.length ? entry.media[0].image3x2.srcsetwebp : ''
            "
            :delay="index % 3"
            class="col-span-6"
          />
        </CoreGrid>
      </div>
    </main>
    <BlockFooter class="mt-s lg:mt-xl" />
  </div>
</template>

<script>
import { OUR_WORK } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'
import { OurWorkEntries as query } from '@gql/queries'
import { mapState } from 'vuex'

export default {
  name: 'OurWorkCategory',
  props: {
    slug: {
      type: String,
      default: '',
    },
  },
  async fetch() {
    const result = await this.$craft({
      query,
      variables: {
        site: this.language === 'en' ? 'default' : 'mawdChinese',
      },
    })
    const { entries, categories } = result.data
    this.entries = entries
    this.categories = categories
  },
  data() {
    return {
      entries: null,
      categories: null,
      activeFilterId: '',
    }
  },
  computed: {
    ...mapState({
      language: (state) => state.ui.language,
    }),
    currentCategory() {
      return this.categories.find(
        ({ slug }) => slug === this.$route.params.category
      ).id
    },
    title() {
      return this.categories.find(
        ({ slug }) => slug === this.$route.params.category
      ).title
    },
    paragraph() {
      return this.categories.find(
        ({ slug }) => slug === this.$route.params.category
      ).paragraph
    },
    filteredEntries() {
      return this.entries.filter((entry) =>
        entry.categories.some(
          (category) => category.slug === this.$route.params.category
        )
      )
    },
  },
  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_WORK)
    this.$store.commit(MUTATIONS.SET_MENU_WHITE)
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR_ONLY, 'white')
  },
  methods: {
    handleClick(filterId) {
      const { slug } = this.categories.find(({ id }) => id === filterId)
      const routeName =
        this.language === 'en' ? 'our-work-category' : 'zh-our-work-category'
      this.$router.push({
        name: routeName,
        params: {
          category: slug,
        },
      })
    },
  },
}
</script>

<style lang="postcss" scoped>
.filter-separator:before {
  content: '|';
  @apply px-xxs;
  @apply font-euclid-regular;
}
</style>
