<template>
  <section class="mx-auto px-gutter">
    <CoreGrid class="grid grid-cols-6 lg:gap-gutter-desk lg:gap-y-0">
      <div
        class="order-2 lg:order-none lg:flex lg:flex-col lg:justify-between col-span-6"
      >
        <CoreContentLoad>
          <OurWorkText
            :heading="entry.heading"
            :text="entry.text"
            class="mb-s lg:mb-0"
          />
        </CoreContentLoad>
        <CoreContentLoad>
          <div class="lg:flex lg:flex-col">
            <div class="hidden lg:block w-1/2 lg:pt-l lg:mb-xs">
              <OurWorkImageCaption
                direction="down"
                :caption="entry.imageRightCaption"
              />
              <OurWorkImageCaption
                direction="right"
                :caption="entry.imageLeftCaption"
              />
            </div>
            <div>
              <CoreScrollPerspective>
                <CoreImage
                  class="w-full h-full"
                  :src="entry.imageLeft[0].imageRatio3By2.src"
                  :srcset="entry.imageLeft[0].imageRatio3By2.srcset"
                  :srcset-webp="entry.imageLeft[0].imageRatio3By2.srcsetWebp"
                  :placeholder-box="
                    entry.imageLeft[0].imageRatio3By2.placeholderBox
                  "
                  :title="entry.imageLeft[0].title"
                />
              </CoreScrollPerspective>
            </div>
          </div>
        </CoreContentLoad>
      </div>
      <div
        class="order-1 lg:order-none lg:flex lg:flex-col col-span-6 lg:col-start-10 lg:col-span-9 lg:justify-end"
      >
        <CoreContentLoad :delay="4">
          <CoreImage
            inner-class="mb-s lg:mb-0"
            :src="entry.imageRight[0].imageRatio4By5.src"
            :srcset="entry.imageRight[0].imageRatio4By5.srcset"
            :srcset-webp="entry.imageRight[0].imageRatio4By5.srcsetWebp"
            :placeholder-box="entry.imageRight[0].imageRatio4By5.placeholderBox"
            :title="entry.imageRight[0].title"
          />
        </CoreContentLoad>
      </div>
    </CoreGrid>
  </section>
</template>

<script>
export default {
  name: 'OurWorkStyleD',
  props: {
    entry: {
      type: [Array, Object],
      default: null,
    },
  },
}
</script>
