<template>
  <section class="mx-auto px-gutter">
    <CoreGrid
      class="grid grid-cols-6 lg:grid-flow-col lg:grid-rows-7 lg:gap-gutter-desk lg:gap-y-0"
    >
      <div
        class="order-2 lg:order-none lg:flex lg:flex-col col-span-6 lg:col-span-10 lg:justify-between"
      >
        <CoreContentLoad>
          <OurWorkText
            class="mb-s lg:mb-0 lg:w-8/12"
            :heading="entry.headingTop"
            :text="entry.textTop"
          />
        </CoreContentLoad>
        <CoreContentLoad>
          <div class="mb-s lg:mb-0">
            <CoreScrollPerspective>
              <CoreImage
                ratio="ratio_3_2"
                class="w-full h-full"
                :src="entry.imageLeft[0].imageRatio3By2.src"
                :srcset="entry.imageLeft[0].imageRatio3By2.srcset"
                :srcset-webp="entry.imageLeft[0].imageRatio3By2.srcsetWebp"
                :placeholder-box="
                  entry.imageLeft[0].imageRatio3By2.placeholderBox
                "
                :title="entry.imageLeft[0].title"
              />
            </CoreScrollPerspective>
          </div>
        </CoreContentLoad>
        <!-- show on mobile -->
        <CoreContentLoad>
          <OurWorkText
            class="lg:hidden"
            :heading="entry.headingBottom"
            :text="entry.textBottom"
          />
        </CoreContentLoad>
      </div>
      <div
        class="order-1 lg:order-none lg:flex lg:flex-col col-span-6 lg:col-start-13 lg:col-span-6 lg:justify-between"
      >
        <CoreContentLoad :delay="4">
          <div class="lg:flex lg:flex-col mb-s lg:mb-0">
            <CoreScrollPerspective>
              <CoreImage
                class="w-full h-full"
                :src="entry.imageRight[0].imageRatio4By5.src"
                :srcset="entry.imageRight[0].imageRatio4By5.srcset"
                :srcset-webp="entry.imageRight[0].imageRatio4By5.srcsetWebp"
                :placeholder-box="
                  entry.imageRight[0].imageRatio4By5.placeholderBox
                "
                :title="entry.imageRight[0].title"
              />
            </CoreScrollPerspective>
            <div class="hidden lg:block mt-xs lg:w-7/12">
              <OurWorkImageCaption
                :caption="entry.imageRightCaption"
                direction="up"
              />
              <OurWorkImageCaption
                :caption="entry.imageLeftCaption"
                direction="left"
              />
            </div>
          </div>
        </CoreContentLoad>
        <!-- hidden on mobile -->
        <CoreContentLoad>
          <div class="lg:flex lg:justify-end lg:mt-xl">
            <OurWorkText
              class="hidden lg:block"
              :heading="entry.headingBottom"
              :text="entry.textBottom"
            />
          </div>
        </CoreContentLoad>
      </div>
    </CoreGrid>
  </section>
</template>

<script>
export default {
  name: 'OurWorkStyleC',
  props: {
    entry: {
      type: [Array, Object],
      default: null,
    },
  },
}
</script>
