<template>
  <section
    v-if="info !== null && info.length > 0"
    class="mx-auto px-gutter mb-l lg:mb-xl"
  >
    <CoreGrid class="grid-cols-6 gap-y-xs lg:gap-y-s">
      <h3
        class="font-euclid-semibold text-size-2 lg:text-size-4 col-span-6 lg:col-span-18 border-b border-dark-grey lg:mb-m pb-xs"
      >
        Additional Information
      </h3>
      <div
        v-for="(item, index) in info"
        :key="index"
        class="col-span-3 lg:col-span-6 font-euclid-regular text-mob-size-1 lg:text-size-2"
      >
        <CoreContentLoad :delay="index % 3">
          <div>
            <h4 class="font-euclid-semibold">{{ item.title }}</h4>
            <h5 v-if="item.link">
              <CoreLink :link="item.link">
                {{ item.label }}
              </CoreLink>
            </h5>
            <h5 v-else>{{ item.label }}</h5>
          </div>
        </CoreContentLoad>
      </div>
    </CoreGrid>
  </section>
</template>

<script>
export default {
  name: 'OurWorkAddInfo',
  props: {
    info: {
      type: [Array, Object],
      default: () => [],
    },
  },
}
</script>
