<template>
  <section class="h-full overflow-hidden">
    <CoreGrid
      class="grid-cols-6 h-full"
      :style="{ height: `${deviceHeight}px` }"
    >
      <div
        class="h-full col-span-6 lg:col-span-7 flex flex-col justify-center lg:self-end pl-gutter-mob lg:pl-gutter-desk lg:mb-s lg:pt-0 lg:h-auto"
      >
        <h2
          v-for="(category, index) in entries"
          :key="index"
          :class="{
            'opacity-100': hover === category.slug && !initialLoad,
            'opacity-25': hover !== category.slug && initialLoad && !isMobile,
          }"
          class="font-euclid-semibold text-fluid-size-work-title z-10 text-white lg:text-black category-title"
          @mouseover="hoverImage(category.slug, index)"
        >
          <NuxtLink
            :to="{ name: routeName, params: { category: category.slug } }"
            class="inline-block hover:underline-thin"
            :class="{
              'underline-thin': hover === category.slug && !isMobile,
            }"
          >
            {{ category.title }}
          </NuxtLink>
        </h2>
      </div>

      <div
        class="col-span-6 absolute top-0 left-0 lg:col-span-11 w-screen lg:w-full h-screen lg:relative overflow-hidden"
      >
        <div ref="images" class="lg:absolute h-full images-container">
          <CoreImage
            v-for="(slide, i) in carousel"
            ref="image"
            :key="i"
            :cover="true"
            :src="slide.src"
            :srcset="slide.srcset"
            :srcset-webp="slide.srcsetWebp"
            :placeholder-box="slide.placeholderBox"
            :title="carouselTitles[i].title"
            :inner-class="`h-full w-full object-cover`"
            class="h-full w-full image-overlay"
          />
        </div>
        <!-- caption -->
        <div class="absolute bottom-0 w-full p-xs lg:p-s">
          <div
            class="flex justify-between font-euclid-semibold text-mob-size-1 lg:text-size-2 text-white"
          >
            <div class="text-left">
              {{ carouselTitles[carouselCurrentIndex].title }}
            </div>
            <div>{{ carouselTitles[carouselCurrentIndex].location }}</div>
          </div>
        </div>
      </div>
    </CoreGrid>
  </section>
</template>

<script>
import debounce from 'lodash.debounce'
import gsap from 'gsap'
import customEase from '@utils/customEase'
import { mapState } from 'vuex'

export default {
  name: 'OurWorkWelcome',
  props: {
    entries: {
      type: [Array, Object],
      default: null,
    },
  },
  data() {
    return {
      hover: 'live',
      initialLoad: true,
      carouselCurrentIndex: 0,
      tl: null,
    }
  },
  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
      deviceHeight: (state) => state.ui.deviceHeight,
      language: (state) => state.ui.language,
    }),
    routeName() {
      return this.language === 'en'
        ? 'our-work-category'
        : 'zh-our-work-category'
    },
    carousel() {
      return [
        ...this.entries.map((entry) =>
          entry.featuredProject.length
            ? entry.featuredProject[0].media[0].imageOptimise
            : []
        ),
        this.entries[0].featuredProject.length
          ? this.entries[0].featuredProject[0].media[0].imageOptimise
          : [],
      ]
    },
    carouselTitles() {
      return [
        ...this.entries.map((entry) => {
          return {
            title: entry.featuredProject.length
              ? entry.featuredProject[0].title
              : '',
            location: entry.featuredProject.length
              ? entry.featuredProject[0].location[0].title
              : '',
          }
        }),
        {
          title: this.entries[0].featuredProject.length
            ? this.entries[0].featuredProject[0].title
            : '',
          location: this.entries[0].featuredProject.length
            ? this.entries[0].featuredProject[0].location.title
            : '',
        },
      ]
    },
  },
  watch: {
    isMobile(mobile) {
      // reset all
      this.carouselCurrentIndex = 0

      if (!mobile) {
        this.hover = 'live'
        this.initialLoad = true
        // reset
        // 1. clear css props
        // 2. kill timeline
        // 3. set timeline to null
        gsap.set(this.$refs.images, { clearProps: 'all' })
        this.tl.kill()
        this.tl = null
      } else {
        this.hover = ''
        this.initialLoad = false
        // reset
        // 1. clear css props
        gsap.set(this.$refs.images, { clearProps: 'all' })
        this.mobileCarousel()
      }
    },
  },
  mounted() {
    if (this.isMobile) {
      this.mobileCarousel()
    }
  },
  methods: {
    // timeline
    mobileCarousel() {
      this.tl = gsap.timeline({
        repeat: -1,
        onRepeat: () => {
          this.carouselCurrentIndex = 0
        },
      })

      for (let index = 1; index < this.carousel.length; index++) {
        this.tl.to(this.$refs.images, {
          duration: 1,
          y: `-${index * 100}vh`,
          ease: customEase('--content-ease'),
          delay: 3,
          onStart: () => {
            this.carouselCurrentIndex = index
          },
        })
      }
    },
    // Changes the image on the right hand side
    hoverImage: debounce(function (slug, index) {
      if (this.isMobile) return

      // sets index of carousel
      this.carouselCurrentIndex = index
      this.hover = slug
      this.initialLoad = true

      gsap.to(this.$refs.images, {
        duration: 1,
        // if it's the first slide, set to "0", otherwise if it is "-0vh" animation is instant - jumpy
        y: index !== 0 ? `-${index * 100}vh` : '0',
        ease: customEase('--content-ease'),
      })
    }, 750),
    imageAttribute(attribute) {
      return this.image[attribute]
    },
  },
}
</script>

<style lang="postcss" scoped>
.category-title {
  transition-property: opacity;
  transition-duration: var(--hover-long);
  transition-timing-function: var(--hover-ease-out);
}

.image-overlay {
  &:before {
    content: '';
    @apply absolute top-0;
    @apply w-full h-full;
    @apply pointer-events-none;
    @apply z-10;
    background: rgba(0, 0, 0, 0.15);
    @screen lg {
      @apply hidden;
    }
  }
}
</style>
