<template>
  <div>
    <h3
      v-if="heading"
      class="text-fluid-size-4 font-euclid-semibold mb-xs"
      v-text="heading"
    />
    <div
      class="text-fluid-size-4 font-euclid-regular our-work-text__content"
      v-html="text"
    />
  </div>
</template>

<script>
export default {
  name: 'OurWorkText',
  props: {
    heading: {
      type: String,
      default: null,
    },
    text: {
      type: String,
      default: null,
    },
  },
}
</script>

<style lang="postcss">
.our-work-text__content {
  p {
    a {
      text-decoration: underline;
      transition-property: all;
      transition-duration: var(--time-general);
      transition-timing-function: var(--ease-general);
      &:hover {
        text-decoration-color: transparent;
      }
    }
    @apply mb-xs;
  }
  &:last-of-type {
    @apply mb-0;
  }
}
</style>
