<template>
  <section
    v-if="projects.length > 0"
    class="mx-auto px-gutter bg-black pt-s pb-xl text-white"
  >
    <CoreGrid class="grid-cols-6 lg:grid-cols-18 gap-y-xs lg:gap-y-0">
      <h3 class="font-euclid-semibold text-size-4 col-span-6 lg:col-span-18">
        Similar Projects
      </h3>
      <div v-for="(item, index) in projects" :key="index" class="col-span-6">
        <OurWorkCover
          :delay="index % 3"
          :entry="item"
          :category="item.category[0].slug"
        />
      </div>
    </CoreGrid>
  </section>
</template>

<script>
export default {
  name: 'OurWorkSimilarProjects',
  props: {
    projects: {
      type: [Array, Object],
      default: () => [],
    },
  },
}
</script>
