<template>
  <div
    class="hidden lg:flex font-euclid-regular text-fluid-size-2 items-baseline"
  >
    <CoreIcon :width="13" class="flex-shrink-0" :class="directionClass">
      <IconArrowCaption />
    </CoreIcon>
    <div class="ml-xxs">
      {{ caption }}
    </div>
  </div>
</template>

<script>
const directionClassMap = {
  up: 'up',
  down: '',
  right: 'right',
  left: 'left',
}

export default {
  props: {
    direction: {
      type: String,
      default: 'down',
    },
    caption: {
      type: String,
      default: null,
    },
  },
  computed: {
    directionClass() {
      return directionClassMap[this.direction]
    },
  },
}
</script>

<style scoped>
.up {
  transform: rotate(-180deg);
}

.right {
  transform: rotate(-90deg);
}

.left {
  transform: rotate(90deg);
}
</style>
