<template>
  <article v-if="entries">
    <OurWorkIndexFilter />
    <OurWorkIndexItem
      v-for="item in entries"
      :key="item.id"
      :entry="item"
      :class="[checkItem(item.id)]"
    />
  </article>
</template>

<script>
import { mapState } from 'vuex'
import { MUTATIONS } from '@store/filter'
import { isEmptyObject } from '@utils/types'
const uniq = require('lodash.uniq')
const inRange = require('lodash.inrange')

const query = `
  query getOurWorkIndex {
    entries(section: "ourWork") {
      title
      slug
      id
      ... on ourWork_ourWork_Entry {
        projectScale
        ourWorkCategory {
          slug
        }
        category: projectType {
          id
        }
        type: projectType(level: 1) {
          title
          id
        }
        subType: projectType(level: 2) {
          title
          id
        }
        year @formatDateTime(format: "Y")
      }
    }
  }
`

export default {
  name: 'OurWorkIndex',
  async fetch() {
    const res = await this.$craft({ query })
    this.entries = res.data.entries
  },
  data() {
    return {
      title: {
        title: 'Index',
      },
      entries: {},
      filters: {
        categories: [],
      },
      range: [
        {
          scale: '500k - 1000k',
          entries: [],
        },
        {
          scale: '100k - 500k',
          entries: [],
        },
        {
          scale: '50k - 100k',
          entries: [],
        },
        {
          scale: '10k - 50k',
          entries: [],
        },
        {
          scale: '2k - 10k',
          entries: [],
        },
      ],
    }
  },
  computed: {
    ...mapState({
      activeSubCategories: (state) => state.filter.subCategories,
      activeCategories: (state) => state.filter.categories,
      activeRangeIndex: (state) => state.filter.activeRangeIndex,
    }),
    filteredResults() {
      if (!isEmptyObject(this.entries)) {
        if (this.activeRangeIndex === null) {
          return this.multiFilter(this.entries, this.filters.categories)
        } else {
          return this.multiFilter(
            this.groupedResults[this.activeRangeIndex].entries,
            this.filters.categories
          )
        }
      } else {
        return []
      }
    },
    groupedResults() {
      const grouped = this.range
      if (!isEmptyObject(this.entries)) {
        grouped.forEach((range, index, array) => {
          this.entries.forEach((entry) => {
            // 500000 to 1000000
            if (inRange(entry.projectScale, 500000, 1000000)) {
              array[0].entries.push(entry)
            }
            // 100000 to 500000
            if (inRange(entry.projectScale, 100000, 500000)) {
              array[1].entries.push(entry)
            }
            // 50000 to 100000
            if (inRange(entry.projectScale, 50000, 100000)) {
              array[2].entries.push(entry)
            }
            // 10000 to 50000
            if (inRange(entry.projectScale, 10000, 50000)) {
              array[3].entries.push(entry)
            }
            // 2000 to 10000
            if (inRange(entry.projectScale, 2000, 10000)) {
              array[4].entries.push(entry)
            }
          })
        })
        grouped.forEach((range, index) => {
          grouped[index].entries = uniq(grouped[index].entries)
        })
        return grouped
      } else {
        return []
      }
    },
  },
  watch: {
    activeCategories(categories) {
      this.filters.categories = categories.length ? categories : []
    },
    activeSubCategories(categories) {
      if (categories.length) {
        this.filters.categories = categories
      } else {
        // default to the standard parent filters if no sub categories exist
        this.filters.categories = this.activeCategories
      }
    },
  },
  mounted() {
    this.$store.commit(MUTATIONS.CLEAR_CATEGORY)
    this.$store.commit(MUTATIONS.CLEAR_SUB_CATEGORY)
    this.$store.commit(MUTATIONS.UNSET_ACTIVE_RANGE_INDEX)
  },
  methods: {
    multiFilter(array, categories) {
      let results = []
      if (!categories.length) {
        results = array
      } else {
        array.filter((entry) => {
          entry.category.some((cat) => {
            categories.forEach((element) => {
              if (cat.id === element) results.push(entry)
            })
          })
        })
      }
      return results
    },
    checkItem(id) {
      const result =
        this.filteredResults.findIndex((entry) => entry.id === id) !== -1
      return result ? 'opacity-100' : 'opacity-25'
    },
  },
}
</script>
