<template>
  <aside>
    <div ref="header">
      <CoreGrid
        class="grid-cols-6 uppercase font-euclid-regular text-mob-size-1 lg:text-size-2 text-light-grey border-black border-b"
        :style="{ marginTop: !isMobile ? -headerOffset + 'px' : '' }"
      >
        <div class="col-span-6 flex items-center py-xxs" @click="toggleFilter">
          Filter By
          <CoreIcon
            class="ml-xxs transition-flip"
            :width="10"
            :class="{ flip: status }"
          >
            <IconArrowFilter :status="status" />
          </CoreIcon>
        </div>
        <div class="hidden lg:block col-span-6 lg:col-span-3 self-center">
          Scale
        </div>
        <div class="hidden lg:block col-span-6 lg:col-span-3 self-center">
          Type
        </div>
        <div class="hidden lg:block col-span-6 lg:col-span-4 self-center">
          Subtype
        </div>
        <div class="hidden lg:block col-span-6 lg:col-span-1 self-center">
          Year
        </div>
        <!-- <div
          v-if="status"
          class="hidden lg:block col-span-6 lg:col-span-1 self-center text-black text-size-1 text-right"
          @click="clearFilter()"
        >
          Clear all
        </div> -->
      </CoreGrid>
    </div>

    <CoreGrid class="filter-options lg:border-b">
      <OurWorkIndexFilterItemRange
        title="Scale"
        :options="[
          {
            title: '500k – 1000k',
          },
          {
            title: '100k – 500k',
          },
          {
            title: '50k – 100k',
          },
          {
            title: '10k – 50k',
          },
          {
            title: '2k – 10k',
          },
        ]"
        :range="true"
        class="filter-options__item lg:col-start-7 lg:col-span-3 lg:pt-xs"
        @range="getFilterRangeEntries($event)"
        @reset="resetFilterRangeEntries($event)"
      />
      <OurWorkIndexFilterItemCategory
        title="Type"
        :clear-filter="clearType"
        :options="filtersProjectType"
        class="filter-options__item lg:col-span-3 lg:pt-xs"
        @click="clearSubType = true"
      />
      <OurWorkIndexFilterItemCategory
        title="Subtype"
        :clear-filter="clearSubType"
        :options="subType"
        :sub-type="true"
        class="filter-options__item lg:col-span-4 lg:pt-xs"
      />
    </CoreGrid>
  </aside>
</template>

<script>
import { mapState } from 'vuex'
import { gsap } from 'gsap'

const query = `
  {
  projectType: categories(group: "projectType", level:1) {
    id
    slug
    title
  }
  subType: categories(group: "projectType", level:2) {
    id
    parent {
      id
    }
    slug
    title
  }
}
`

export default {
  async fetch() {
    const result = await this.$craft({ query })
    this.filters = result.data
  },
  data() {
    return {
      clearType: false,
      clearSubType: false,
      status: false,
      tl: null,
      height: 0,
      heightItem: 0,
      filters: [],
      subType: [],
      statusSubType: false,
      hover: false,
      headerOffset: 0,
    }
  },
  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
      activeCategories: (state) => state.filter.categories,
    }),
    filtersProjectType() {
      return this.filters.projectType
    },
    filtersSubType() {
      return this.filters.subType
    },
  },
  watch: {
    status(newVal, oldVal) {
      newVal ? this.tl.play() : this.tl.reverse()
    },
    isMobile(newVal, oldVal) {
      this.height = document.querySelector('.filter-options').offsetHeight
      this.heightItem = document.querySelector(
        '.filter-options__item'
      ).offsetHeight
    },
    activeCategories(val) {
      if (val.length) {
        const result = this.filtersSubType.filter((sub) => {
          return sub.parent.id === val[0]
        })
        this.subType = result
      } else {
        this.subType = []
      }
    },
  },
  mounted() {
    // Get and set height of a filter option
    this.height = document.querySelector('.filter-options').offsetHeight
    this.heightItem = document.querySelector(
      '.filter-options__item'
    ).offsetHeight

    this.init()
    this.setMobile()
    this.timelineMobile()

    // margin offset the height of the filter so that it is in line with the work covers on the category pages
    this.headerOffset = this.$refs.header.offsetHeight
  },
  methods: {
    toggleFilter() {
      this.status = !this.status
    },
    init() {
      this.tl = gsap.timeline({ paused: true })
    },
    setMobile() {
      gsap.set('.filter-options', {
        height: 0,
        autoAlpha: 0,
      })
      gsap.set('.filter-options__item', {
        height: 0,
      })
      gsap.set('.filter-options__item h4', {
        autoAlpha: 0,
        x: -10,
      })
      gsap.set('.filter-options__item svg', {
        autoAlpha: 0,
      })
    },
    setDesktop() {
      gsap.set('.filter-options', {
        height: 0,
        autoAlpha: 0,
      })
    },
    timelineMobile() {
      this.tl
        .fromTo(
          '.filter-options',
          {
            height: 0,
            autoAlpha: 0,
          },
          {
            height: this.height,
            autoAlpha: 1,
            duration: 0.5,
            onComplete: () => {
              gsap.set('.filter-options', {
                height: 'auto',
              })
            },
          },
          0
        )
        .fromTo(
          '.filter-options__item',
          {
            height: 0,
          },
          {
            height: 'auto',
          },
          0
        )
        .to(
          '.filter-options__item h4',
          {
            autoAlpha: 1,
            x: 0,
            stagger: 0.2,
          },
          0
        )
        .to(
          '.filter-options__item svg',
          {
            autoAlpha: 1,
            stagger: 0.2,
          },
          0
        )
    },
    timelineDesktop() {
      this.tl
        .fromTo(
          '.filter-options',
          {
            height: 0,
            autoAlpha: 0,
          },
          {
            height: 'auto',
            autoAlpha: 1,
            duration: 0.5,
          },
          0
        )
        .fromTo(
          '.filter-options__item',
          {
            height: 0,
            autoAlpha: 0,
          },
          {
            height: 'auto',
            autoAlpha: 1,
            duration: 0.5,
          },
          0
        )
    },
  },
}
</script>

<style scoped>
.transition-flip {
  transition-property: transform;
  transition-duration: var(--transition-short);
  transition-timing-function: var(--ease-in-out);
}

.flip {
  transform: rotate(180deg);
}
</style>
