<template>
  <section class="h-screen bg-black cursor-white mx-auto px-gutter">
    <client-only>
      <CoreVideo
        ref="video"
        :mobile="entry.video"
        :desktop="entry.video"
        :autoplay="false"
      />
    </client-only>
  </section>
</template>

<script>
export default {
  name: 'OurWorkStyleVideo',
  props: {
    entry: {
      type: [Array, Object],
      default: null,
    },
  },
}
</script>
