<template>
  <CoreContentLoad :delay="delay">
    <div class="col-span-3">
      <h3 class="font-euclid-semibold text-mob-size-1 lg:text-size-2">
        {{ meta.title }}
      </h3>
      <div class="font-euclid-regular text-mob-size-1 lg:text-size-2">
        {{ meta.label }}
      </div>
    </div>
  </CoreContentLoad>
</template>

<script>
export default {
  name: 'OurWorkMeta',
  props: {
    meta: {
      type: [Array, Object],
      default: null,
    },
    delay: {
      type: Number,
      default: 0,
    },
  },
}
</script>
