<template>
  <section class="mx-auto px-gutter">
    <CoreGrid class="grid grid-cols-6 lg:gap-gutter-desk lg:gap-y-0">
      <div
        class="lg:flex lg:flex-col lg:justify-between col-span-6 lg:col-span-7 order-2 lg:order-none"
      >
        <!-- Text  -->
        <CoreContentLoad>
          <OurWorkText
            class="mb-s lg:mb-0 lg:w-3/4"
            :heading="entry.heading"
            :text="entry.text"
          />
        </CoreContentLoad>
        <!-- Captions and Image -->
        <CoreContentLoad>
          <div class="lg:w-full">
            <div class="hidden lg:block lg:pb-xs lg:w-2/4 lg:pt-l">
              <OurWorkImageCaption
                direction="right"
                :caption="entry.imageRightCaption"
              />
              <OurWorkImageCaption
                direction="down"
                :caption="entry.imageLeftCaption"
              />
            </div>
            <CoreScrollPerspective>
              <CoreImage
                class="w-full h-full"
                :src="entry.imageLeft[0].imageRatio4By5.src"
                :srcset="entry.imageLeft[0].imageRatio4By5.srcset"
                :srcset-webp="entry.imageLeft[0].imageRatio4By5.srcsetWebp"
                :placeholder-box="
                  entry.imageLeft[0].imageRatio4By5.placeholderBox
                "
                :title="entry.imageLeft[0].title"
              />
            </CoreScrollPerspective>
            <!-- show quote on mobile -->
            <OurWorkQuote
              v-if="entry.quote"
              class="mt-s lg:hidden"
              :quote="entry.quote[0]"
            />
          </div>
        </CoreContentLoad>
      </div>
      <div
        class="lg:flex lg:flex-col col-span-6 lg:col-start-10 lg:col-span-9 lg:justify-between order-1 lg:order-none"
      >
        <CoreContentLoad :delay="4">
          <div class="mb-s lg:mb-xl">
            <div>
              <CoreScrollPerspective>
                <CoreImage
                  class="w-full h-full"
                  :src="entry.imageRight[0].imageRatio4By5.src"
                  :srcset="entry.imageRight[0].imageRatio4By5.srcset"
                  :placeholder-box="
                    entry.imageRight[0].imageRatio4By5.placeholderBox
                  "
                  :srcset-webp="entry.imageRight[0].imageRatio4By5.srcsetWebp"
                  :title="entry.imageRight[0].title"
                />
              </CoreScrollPerspective>
            </div>
          </div>
        </CoreContentLoad>
        <!-- show quote on desktop -->
        <CoreContentLoad>
          <OurWorkQuote
            v-if="entry.quote"
            class="lg:w-10/12 hidden lg:block"
            :quote="entry.quote[0]"
          />
        </CoreContentLoad>
      </div>
    </CoreGrid>
  </section>
</template>

<script>
export default {
  name: 'OurWorkStyleA',
  props: {
    entry: {
      type: [Array, Object],
      default: null,
    },
  },
}
</script>
