<template>
  <div>
    <div v-for="(year, index) in sorted" :id="`year-${year.year}`" :key="index">
      <CoreGrid>
        <div class="col-span-6 lg:col-span-3 lg:sticky top-l lg:top-xxxl">
          <h2 class="text-fluid-size-10">
            {{ isMobile ? year.year : year.year.slice(-2) }}
          </h2>
        </div>
        <CoreContentLoad
          v-for="(item, i) in year.entries"
          :id="`${item.slug}`"
          ref="press-media-entry"
          :key="i"
          :class="{ 'lg:pb-xxxl': i === year.entries.length - 1 }"
          class="col-start-2 col-span-5 lg:col-start-4 lg:col-span-15 border-t border-grey pt-xxs lg:py-s"
        >
          <a v-if="item.externalLink" :href="item.externalLink" target="_blank">
            <CoreGrid :lg-columns="15">
              <span
                class="lg:hidden font-euclid-semibold text-mob-size-1 col-span-2"
                >{{ item.date }}</span
              >
              <div class="lg:order-2 col-span-6 lg:col-span-12">
                <h3 class="font-euclid-semibold text-size-4 lg:text-size-7">
                  {{ item.title
                  }}<sup
                    class="hidden lg:inline-block text-mob-size-1 pl-xxs"
                    >{{ item.date }}</sup
                  >
                </h3>
              </div>
              <div
                class="lg:order-1 text-mob-size-1 font-euclid-regular mb-xs col-span-6 lg:col-span-3"
              >
                <span class="border-b leading-none"
                  >↘ {{ getDomainName(item.externalLink) }}
                </span>
                <img
                  v-if="item.media.length"
                  :src="item.media[0].logo"
                  :alt="item.media[0].title"
                  class="hidden lg:block mt-xxs"
                />
              </div>
            </CoreGrid>
          </a>
        </CoreContentLoad>
      </CoreGrid>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
const sortBy = require('lodash.sortby')

export default {
  props: {
    entries: {
      type: [Array, Object],
      default: null,
    },
  },
  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
    }),
    entriesByYear() {
      // only get unique years
      const uniqueYears = [...new Set(this.entries.map((item) => item.year))]
      // create sorted array with unqiue year and empty entries array
      const sortByYear = uniqueYears.map((year) => {
        return {
          year,
          entries: [],
        }
      })

      sortByYear.forEach((year, index, array) => {
        this.entries.forEach((entry) => {
          if (entry.year === year.year) array[index].entries.push(entry)
        })
      })

      return sortByYear
    },
    sorted() {
      return sortBy(this.entriesByYear, ['year']).reverse()
    },
  },
  methods: {
    getDomainName(url) {
      // get domain and remove www
      // eslint-disable-next-line
      const matches = url.match(/^https?\:\/\/([^\/?#]+)(?:[\/?#]|$)/i)
      return (matches && matches[1]).replace(/^www\./, '')
    },
  },
}
</script>

<style lang="postcss" scoped>
h2 {
  @screen lg {
    @apply leading-year-digits;
  }
}

sup {
  vertical-align: super;
  @apply relative;
  top: -1.5rem;
}
</style>
