<template>
  <div
    class="w-full h-screen overflow-hidden"
    :style="{ height: `${deviceHeight}px` }"
  >
    <div class="flex flex-col h-full">
      <!-- Desktop: Inquiries -->
      <PressMediaInquires
        class="px-gutter-mob lg:px-gutter-desk mt-xxl hidden lg:block"
      />
      <!-- Mobile: View all -->
      <NuxtLink
        :to="{ name: 'press-media-all' }"
        class="px-gutter-mob lg:px-gutter-desk font-euclid-regular text-size-2 mt-view-all inline-block lg:hidden"
        >View All</NuxtLink
      >
      <div class="lg:mt-auto">
        <!-- Mobile: Inquiries -->
        <PressMediaInquires
          class="block lg:hidden px-gutter-mob lg:px-gutter-desk mt-xxl"
        />
      </div>
      <div class="mt-auto" @mouseout="deselect">
        <!-- Desktop: View all -->
        <NuxtLink
          :to="{ name: 'press-media-all' }"
          class="hidden px-gutter-mob lg:px-gutter-desk font-euclid-semibold lg:text-size-3 lg:inline-block"
          >View All</NuxtLink
        >
        <CoreMarquee v-for="(entry, index) in page.featured" :key="index">
          <h2
            :class="{
              'opacity-25': entry.id !== hover,
              'opacity-100': !hover,
            }"
            class="text-fluid-size-press-title font-euclid-semibold pb-4 ml-16 whitespace-no-wrap"
            @mouseenter="knockBack(entry.id)"
          >
            <NuxtLink :to="{ name: 'press-media-all', hash: `#${entry.slug}` }">
              {{ entry.title
              }}<span class="text-fluid-size-press-sup self-end pl-xs">{{
                entry.date
              }}</span>
            </NuxtLink>
          </h2>
        </CoreMarquee>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
const query = `
{
  page: entries(section: "pagePressAndMedia") {
    title
    ... on pagePressAndMedia_pagePressAndMedia_Entry {
      featured: pressAndMedia {
        title
        slug
        id
        ... on pressAndMedia_pressAndMedia_Entry {
          date @formatDateTime(format: "d.m.yy")
        }
      }
    }
  }
}
`

export default {
  async fetch() {
    const result = await this.$craft({ query })
    const { page } = result.data
    this.page = page[0]
  },
  data() {
    return {
      page: [],
      hover: '',
    }
  },
  computed: {
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },
  methods: {
    knockBack(id) {
      this.hover = id
    },
    deselect() {
      this.hover = ''
    },
  },
}
</script>
