<template>
  <div class="col-span-5 font-euclid-regular text-fluid-size-press-text">
    For media inquires please <br />
    contact
    <a
      href="mailto:mawd@berlinrosen.com"
      class="border-b border-black lg:border-0"
      >mawd@berlinrosen.com</a
    >
  </div>
</template>
