<template>
  <section class="bg-mid-yellow bg-lead-text bg-cover bg-center">
    <CoreLeadText
      class="py-size-8 px-size-5 sm:py-size-8 sm:px-size-5 md:py-size-10 lg:py-size-11"
      content="Young or old, resident or refugee, 28,000 people every year are locked in UK immigration detention centres with no end date. Their lives are stopped while authorities decide their fate. We take music-making into these centres to release the words, music and life stories of the people held inside."
    />
  </section>
</template>
<script>
export default {}
</script>
