<template>
  <section
    class="md:bg-story-section md:bg-cover md:bg-right xl:bg-center w-full md:text-white"
  >
    <div
      class="py-size-5 sm:py-size-6 md:py-size-8 lg:py-size-11 w-full md:overlay-black-to-white-60"
    >
      <CoreImage
        class="md:hidden"
        :src="require('~/assets/images/Home/mobile/story-placeholder.jpg')"
        :srcset="require('~/assets/images/Home/mobile/story-placeholder.jpg')"
        inner-class="w-full object-cover"
      />
      <div
        class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto"
      >
        <div class="grid grid-cols-1 md:grid-cols-2">
          <div class="flex items-center">
            <div class="">
              <h3
                class="font-tt-norms-pro-bold text-size-5 mt-size-5 sm:text-size-6 md:font-tusker md:text-size-7 md:mt-0 lg:text-size-8 md:uppercase"
              >
                How music changed everything for Pilo
              </h3>
              <p
                class="font-tt-norms-pro-regular text-size-3 sm:text-size-4 py-size-5 sm:py-size-6 xl:py-size-7"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                consequat convallis pretium. Sed vel ligula vulputate, varius
                velit eget, aliquet elit. Integer ornare et ex eu ullamcorper
                curabitur vel nibh dolor,
              </p>
              <CoreButton
                colour="blue"
                label="Read Pilo’s Story"
                class="mx-size-1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
<style lang="postcss" scoped>
.overlay-black-to-white-60 {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  /* backdrop-filter: blur(15px); */
}
</style>
