<template>
  <section class="lg:py-size-11 green-overlay">
    <div class="lg:container lg:mx-auto">
      <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-4 text-black">
        <div
          class="flex items-center text-center bg-mid-green py-size-7 sm:py-size-7 md:py-size-8"
        >
          <div class="mx-auto lg:px-32">
            <CoreImage
              class=""
              :src="srcImage1"
              :srcset="srcImage1"
              inner-class="mx-auto"
              :inner-style="{ height: '220px;' }"
            />
            <h3
              class="text-tt-norms-pro-regular text-size-5 sm:text-size-6 md:text-size-7 lg:text-size-8 pt-size-5 sm:pt-size-6 md:pt-size-7 lg:pt-8 font-bold"
            >
              Are you in detention?
            </h3>
            <p
              class="text-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5 pt-size-4 pb-size-5 sm:pt-size-4 sm:pb-size-5 md:pt-size-5 md:pb-size-6 lg:py-size-7 font-light text-center px-size-5 sm:px-size-5 md:px-size-6 lg:px-8"
            >
              We’d love you to join us for a session. We have something for
              every skill level.
            </p>
            <CoreButton colour="blue" label="Find out more" class="mx-size-1" />
          </div>
        </div>
        <div
          class="flex items-center text-center py-size-7 sm:py-size-7 md:py-size-8"
        >
          <div class="mx-auto lg:px-32">
            <CoreImage
              class=""
              :src="srcImage2"
              :srcset="srcImage2"
              inner-class="mx-auto"
              :inner-style="{ height: '220px;' }"
            />
            <h3
              class="text-tt-norms-pro-regular text-size-5 sm:text-size-6 md:text-size-7 lg:text-size-8 pt-size-5 sm:pt-size-6 md:pt-size-7 lg:pt-8 font-bold"
            >
              Have you been in detention?
            </h3>
            <p
              class="text-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5 pt-size-4 pb-size-5 sm:pt-size-4 sm:pb-size-5 md:pt-size-5 md:pb-size-6 lg:py-size-7 font-light text-center px-size-5 sm:px-size-5 md:px-size-6 lg:px-8"
            >
              We know things are still hard even though you’re out. We can help.
            </p>
            <CoreButton colour="blue" label="Find out more" class="mx-size-1" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    srcImage1: {
      type: String,
      default: require('~/assets/images/Home/detention-guitar.png'),
    },
    srcImage2: {
      type: String,
      default: require('~/assets/images/Home/detention-man.png'),
    },
  },
}
</script>
<style lang="postcss" scoped>
section.green-overlay {
  @media screen and (min-width: 1024px) {
    background: linear-gradient(to right, #009d42 50%, white 0%);
  }
}
</style>
