<template>
  <section
    class="py-size-7 sm:py-size-8 md:py-size-9 lg:py-size-11 bg-black text-white relative overflow-hidden with-your-help-container"
    :class="scrollPosition ? 'active' : ''"
  >
    <div
      class="container relative px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto"
    >
      <h3
        class="font-tt-norms-pro-bold lg:text-center text-size-5 sm:text-size-5 md:text-size-6 lg:text-size-7 xl:text-size-8 font-bold pb-size-5 lg:pb-size-11 relative z-10 border-b border-white lg:border-0"
      >
        With your help:
      </h3>
      <img
        class="absolute active hidden lg:block img-1"
        src="~/assets/images/Home/stats_01_man-with-saxophone.jpg"
        alt=""
      />
    </div>

    <div class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-0">
        <div
          class="lg:text-center relative z-10 border-b border-white lg:border-0"
        >
          <h4
            class="text-size-7 sm:text-size-8 md:text-size-9 lg:text-size-10 xl:text-size-11 font-tusker mt-size-5 mb-size-3 lg:my-0 lg:pb-16 relative z-10"
          >
            642
          </h4>
          <p
            class="text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5 font-tt-norms-pro-regular w-3/5 lg:mx-auto relative mb-size-5 lg:mb-0"
          >
            songs recorded with people in detention
          </p>
          <img
            class="absolute active hidden lg:block img-3"
            src="~/assets/images/Home/stats_03_fender-amp.jpg"
            alt=""
          />
        </div>
        <div
          class="lg:text-center margin-top-big relative z-10 border-b border-white lg:border-0"
        >
          <h4
            class="text-size-7 sm:text-size-7 md:text-size-7 lg:text-size-8 font-tusker mt-size-5 mb-size-3 lg:my-0 lg:pb-16 relative"
          >
            26,436
          </h4>
          <p
            class="text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5 font-tt-norms-pro-regular w-4/5 lg:mx-auto relative mb-size-5 lg:mb-0"
          >
            people we’ve jammed, drummed and sung with
          </p>
          <img
            class="absolute active hidden lg:block img-7"
            src="~/assets/images/Home/stats_07_man-with-guitar.jpg"
            alt=""
          />
        </div>
        <div
          class="lg:text-center lg:pt-size-10 relative z-10 border-b border-white lg:border-0"
        >
          <h4
            class="text-size-7 sm:text-size-8 md:text-size-9 lg:text-size-10 font-tusker mt-size-5 mb-size-3 lg:my-0 lg:pb-16 relative"
          >
            95%
          </h4>
          <p
            class="text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5 font-tt-norms-pro-regular w-2/5 lg:mx-auto relative mb-size-5 lg:mb-0"
          >
            of participants feel better
          </p>
          <img
            class="absolute active hidden lg:block img-4"
            src="~/assets/images/Home/stats_04_man-playing-on-congos.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="flex items-center justify-center mt-size-7 lg:pt-32">
        <div class="relative">
          <CoreButton
            colour="blue"
            label="See what we do"
            class="px-7 mx-auto relative z-10 btn--blurry"
          />
          <img
            class="absolute active hidden lg:block img-5"
            src="~/assets/images/Home/stats_05_man-with-saxophone-sunset.jpg"
            alt=""
          />
        </div>
      </div>
    </div>

    <img
      class="absolute active hidden lg:block img-2"
      src="~/assets/images/Home/stats_02_man-with-a-violin.jpg"
      alt=""
    />
    <img
      class="absolute active hidden lg:block img-6"
      src="~/assets/images/Home/stats_06_microphone.jpg"
      alt=""
    />
    <img
      class="absolute active hidden lg:block img-8"
      src="~/assets/images/Home/stats_08_woman.jpg"
      alt=""
    />
  </section>
</template>
<script>
export default {
  data() {
    return {
      scrollPosition: false,
    }
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll)
  },
  methods: {
    updateScroll() {
      const element = document.querySelector('.with-your-help-container')
      const elementExists =
        document.querySelector('.with-your-help-container') !== null
      if (elementExists) {
        const position = element.getBoundingClientRect()
        if (position.top <= 0 && position.bottom > 300) {
          this.scrollPosition = true
        } else {
          this.scrollPosition = false
        }
      }
    },
  },
}
</script>
<style lang="postcss" scoped>
.margin-top-big {
  @media screen and (min-width: 1024px) {
    margin-top: 45rem;
  }
}
.btn--blurry {
  backdrop-filter: blur(7px) brightness(115%);
  background: rgba(255, 255, 255, 0.3);
}
.img-1 {
  top: -11rem;
  right: 16rem;
}
.img-2 {
  left: 0;
  top: 45rem;
}
.img-3 {
  left: 40rem;
  top: -3rem;
}
.img-4 {
  right: -16rem;
  top: 7rem;
}
.img-5 {
  left: -20rem;
  top: -3rem;
}
.img-6 {
  left: 20rem;
  bottom: 5rem;
}
.img-7 {
  right: -40rem;
  bottom: -8rem;
}
.img-8 {
  right: 0;
  bottom: 0;
}
@keyframes move-to-left {
  0% {
    margin-right: 0px;
  }
  100% {
    margin-right: 2000px;
  }
}
@keyframes move-to-right {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 2000px;
  }
}
@keyframes move-to-top {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 2000px;
  }
}
@keyframes move-to-bottom {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 2000px;
  }
}
.active {
  .img-1 {
    animation: move-to-left 200s linear infinite;
  }
  .img-2 {
    animation: move-to-bottom 200s linear infinite;
  }
  .img-3 {
    animation: move-to-right 200s linear infinite;
  }
  .img-4 {
    animation: move-to-bottom 200s linear infinite;
  }
  .img-5 {
    animation: move-to-right 200s linear infinite;
  }
  .img-6 {
    animation: move-to-top 200s linear infinite;
  }
  .img-7 {
    animation: move-to-left 200s linear infinite;
  }
  .img-8 {
    animation: move-to-left 200s linear infinite;
  }
}
</style>
