<template>
  <section
    class="py-size-5 sm:py-size-6 md:py-size-8 lg:py-size-11 pb-size-7 sm:pb-size-7 md:pb-size-7 lg:pb-size-9 xl:pb-size-11"
  >
    <div class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto">
      <div class="flex flex-col lg:flex-row">
        <div class="flex items-center lg:w-1/2 order-2 lg:order-1">
          <div class="lg:pr-size-5 xl:pr-size-7 xxl:pr-size-9">
            <h3
              class="font-tt-norms-pro-bold text-black text-size-5 sm:text-size-6 md:text-size-7 xl:text-size-8 font-bold pt-size-5 lg:pt-0"
            >
              Together, we make music and joy
            </h3>
            <p
              class="font-tt-norms-pro-regular text-black text-size-3 sm:text-size-4 py-size-5 sm:py-size-6 xl:py-size-7"
            >
              Nullam sapien ante, posuere at bibendum et, lacinia nec nulla.
              Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.
              Vivamus egestas lectus dui, blandit tempus metus tincidunt ut.
              Praesent ultricies urna vel scelerisque suscipit. Maecenas
            </p>
            <CoreButton
              colour="blue"
              label="Find out why"
              class="mr-size-1 sm:mx-size-1 sm:mr-0"
            />
            <CoreButton
              colour="yellow"
              label="Donate"
              class="mt-size-1 sm:mt-0 sm:mx-size-1"
            />
          </div>
        </div>
        <div class="lg:w-1/2 order-1 lg:order-2">
          <CoreImage
            class=""
            :src="srcImage"
            :srcset="srcImage"
            inner-class=""
          />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    srcImage: {
      type: String,
      default: require('~/assets/images/Home/man-guitar.jpg'),
    },
  },
}
</script>
