<template>
  <section class="py-size-5 sm:py-size-6 md:py-size-8 lg:py-size-11">
    <div class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto">
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div>
          <CoreImage
            class=""
            :src="srcImage"
            :srcset="srcImage"
            inner-class=""
          />
        </div>
        <div class="flex items-center">
          <div class="lg:pl-size-5 xl:pl-size-7 xxl:pl-size-9">
            <h3
              class="font-tt-norms-pro-bold text-black text-size-5 sm:text-size-6 md:text-size-7 xl:text-size-8 font-bold pt-size-5 lg:pt-0"
            >
              We help people held in immigration detention, like Pilo
            </h3>
            <p
              class="font-tt-norms-pro-regular text-black text-size-3 sm:text-size-4 py-size-5 sm:py-size-6 xl:py-size-7"
            >
              Nullam sapien ante, posuere at bibendum et, lacinia nec nulla.
              Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.
              Vivamus egestas lectus dui, blandit tempus metus tincidunt ut.
              Praesent ultricies urna vel scelerisque suscipit. Maecenas
            </p>
            <CoreButton
              colour="blue"
              label="Find out why"
              class="mr-size-1 sm:mx-size-1 sm:mr-0"
            />
            <CoreButton
              colour="yellow"
              label="Donate"
              class="mt-size-1 sm:mt-0 sm:mx-size-1"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    srcImage: {
      type: String,
      default: require('~/assets/images/Home/woman-guitar.jpg'),
    },
  },
}
</script>
