<template>
  <section class="h-screen w-full text-white">
    <CoreImage
      class="pointer-events-none"
      :src="image"
      :srcset="image"
      inner-class="h-screen w-full object-cover"
    />
    <div
      class="h-screen w-full flex items-end absolute top-0 left-0 bg-cover bg-center bg-white bg-opacity-75 blurry-overlay overflow-hidden"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
        <g
          id="Group_2211"
          data-name="Group 2211"
          transform="translate(2.488 -1)"
        >
          <defs>
            <!-- <clipPath id="hero-overlay-shape" clipPathUnits="objectBoundingBox"> -->
            <clipPath id="hero-overlay-shape">
              <path
                id="Path_1165"
                data-name="Path 1165"
                d="M498.991,594.548a6.551,6.551,0,0,0-2.121-.542h-2.979v24.915h3.34a5.158,5.158,0,0,0,1.941-.541,7.443,7.443,0,0,0,2.663-2.573,8.751,8.751,0,0,0,1.444-5.191v-8.124a9.09,9.09,0,0,0-1.444-5.372A6.863,6.863,0,0,0,498.991,594.548Z"
                transform="translate(40.739 -65.096)"
                fill="#fff"
              />
              <path
                id="Path_1166"
                data-name="Path 1166"
                d="M-93.779,1V1081h1920.31V1ZM1142.464,204.667q0-38.791,24.287-59.781T1238.31,123.9q41.4,0,66.872,18.865t25.47,52.187v8.738h-88.185V190.131q0-6.371-4.32-6.37-4.809,0-4.808,6.206V223.7q0,6.044,4.808,6.043,4.319,0,4.32-6.534V209.812h88.185v8.739q0,33.485-25.388,52.186t-66.954,18.7q-47.6,0-71.722-21.478T1142.464,207.2Zm-64.877,99.686,86.964.164,6.194,40.262v12.414h3.667V344.78l5.3-40.262,88.185-.164-51.428,125.77v32.259h-87.125V431.757ZM1049.1,127.409h86.638V285.438H1049.1Zm-55.421,250.2-11,84.772H920.413L909.9,377.611h-2.69l4.158,61.5v23.276H826.44V304.354H944.293L950,370.424,950.161,391H953.5l-.245-20.418,5.378-66.233h118.016V462.383H992.216l-.163-23.439,4.158-61.333Zm-141.2-197.2q0-29.237,23.555-42.877T946.779,123.9q44.746,0,68.951,12.781t24.207,36.219v1.96H952.485v-.653q0-4.819-5.135-4.818a6.575,6.575,0,0,0-3.87,1.061,3.4,3.4,0,0,0-1.508,2.94v.163a3.262,3.262,0,0,0,2.077,3.267q2.08.9,7.784,1.062l31.377.817q30.727.817,45.48,11.229t14.751,35.975v1.634q0,28.91-24.451,45.326T947.35,289.277q-44.255,0-69.4-13.966t-25.142-39.528V232.6H942.3v.816a5.716,5.716,0,0,0,1.426,3.961,4.656,4.656,0,0,0,3.627,1.593,4.342,4.342,0,0,0,3.5-1.347A4.832,4.832,0,0,0,952,234.4v-.164q0-4.655-5.869-4.656l-25.51-.489q-38.062-.653-53.1-12.128T852.482,180.9Zm-187.412-53h86.31V222.88a13.609,13.609,0,0,0,.734,5.268q.733,1.592,3.423,1.592a3.5,3.5,0,0,0,2.771-1.02,4.131,4.131,0,0,0,1.06-2.083,28.923,28.923,0,0,0,.163-3.757V127.409h86.963v89.428q0,37.323-23.8,54.964t-67.158,17.64q-47.109,0-68.788-17.15t-21.679-55.453Zm66.262,186.215q24.206,12.782,24.206,36.219v1.96H668.085v-.653q0-4.819-5.134-4.818a6.578,6.578,0,0,0-3.871,1.061,3.4,3.4,0,0,0-1.508,2.94v.163a3.263,3.263,0,0,0,2.078,3.267q2.077.9,7.783,1.062l31.378.817q30.726.817,45.478,11.229t14.753,35.975v1.634q0,28.91-24.451,45.326T662.95,466.222q-44.256,0-69.4-13.966t-25.143-39.528v-3.185H657.9v.816a5.713,5.713,0,0,0,1.426,3.961,4.652,4.652,0,0,0,3.627,1.593,4.344,4.344,0,0,0,3.5-1.347,4.831,4.831,0,0,0,1.14-3.226v-.164q0-4.655-5.868-4.656l-25.51-.489q-38.063-.653-53.1-12.127t-15.038-36.057v-.489q0-29.237,23.554-42.877t70.744-13.638Q707.125,300.842,731.331,313.624ZM406.587,127.409H524.439l5.705,66.07.163,20.581h3.341l-.245-20.418,5.379-66.233H656.8V285.438H572.362L572.2,262l4.157-61.333h-2.527l-11,84.772H500.558l-10.514-84.772h-2.69l4.157,61.5v23.276H406.587ZM561.848,304.354V462.383H475.211V304.354ZM457.505,639.328l-8.8-37.322h-3.015v37.322H359.051V481.3H473.724q63.084,0,63.083,54.964v.9q0,30.136-14.182,43.612l20.7,58.556Zm231.505,0H544.589V481.3H688.6v56.843H631.226v5.145h55.91v33.648h-55.91v5.552h57.785ZM840.319,538.141H788.238v6.7h48.25v33.647h-48.25l-1.14,60.843H697.282V481.3H840.319Zm188.064,32.585q0,37.324-23.8,54.964T937.427,643.33q-47.111,0-68.788-17.151t-21.68-55.453V481.3H933.27v95.471a13.6,13.6,0,0,0,.734,5.267q.733,1.593,3.423,1.593a3.5,3.5,0,0,0,2.771-1.021,4.129,4.129,0,0,0,1.06-2.083,28.919,28.919,0,0,0,.163-3.756V481.3h86.963Zm195.645-27.276h-89.978v-1.8q0-4-3.831-4-4.809,0-4.891,6.207v30.054q0,6.371,5.054,6.371,5.379,0,5.3-4.982v-1.552h-3.668V549l92.016-.163v90.489h-82.48l-1.793-33.321h-3.015q-1.467,17.886-12.837,27.6t-32.886,9.719q-25.349,0-40.752-19.234t-15.4-54.678v-2.53q0-44.347,24.206-66.724t71.151-22.378q47.108,0,70.459,17.109t23.35,45.285Zm152.693,95.878H1232.3V481.3h144.014v56.843h-57.377v5.145h55.91v33.648h-55.91v5.552h57.784Z"
                transform="translate(91.291 0)"
                fill="#fff"
              />
            </clipPath>
          </defs>
        </g>
      </svg>
      <div class="container mx-auto mt-size-9">
        <CoreLeadText class="py-16 w-1/2" />
        <div class="flex items-center justify-center pb-32">
          <CoreButton
            colour="blue"
            label="Join the movement"
            class="mx-size-1"
          />
          <CoreButton colour="yellow" label="Donate" class="mx-size-1" />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    image: {
      type: String,
      default: require('~/assets/images/Home/hero-background.jpg'),
      cover: true,
    },
    content: {
      type: String,
      default:
        'For people held in UK immigration detention, music can be freedom.',
    },
  },
}
</script>
<style lang="postcss" scoped>
.blurry-overlay {
  backdrop-filter: blur(15px);
  clip-path: url(#hero-overlay-shape);
}
</style>
