<template>
  <div
    class="hover-area cursor-hover"
    :class="{ 'text-white': background === 'black' }"
  >
    <CoreContentLoad :enabled="loadEnabled" :delay="delay">
      <div
        class="border-l pl-xxs lg:pl-xs relative"
        @mouseover="handleMouseover"
        @mouseleave="handleMouseleave"
        @click="handleClick"
      >
        <div class="overflow-hidden">
          <div class="hover-image">
            <CoreScrollPerspective
              :reset-animation-trigger="resetAnimationTrigger"
              :enabled="paralaxEnabled"
            >
              <template v-slot:default="slotProps">
                <CoreImage v-bind="image" @load="handleLoad(slotProps)" />
              </template>
            </CoreScrollPerspective>
          </div>
        </div>

        <OurThoughtsNumber :id="id" :bootstrap="bootstrap" />

        <div class="my-xxxs lg:my-xs text-mob-size-1 lg:text-size-2">
          <span
            v-for="(tag, i) in tags"
            :key="i"
            class="pr-xxxs filter-separator"
            >{{ tag.title }}</span
          >
          <span>—</span>
          <span class="pl-xxxs" v-text="formatedDate" />
        </div>
        <h3
          class="font-lyon-regular text-size-4 lg:text-size-5 hover-underline-thin"
          v-text="title"
        />
      </div>
    </CoreContentLoad>
  </div>
</template>

<script>
import { READ_MORE } from '@c/Core/CoreCursorSignpost'
import { MUTATIONS } from '@store/ui'

export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    date: {
      type: String,
      default: '',
    },
    tags: {
      type: Array,
      default: () => [],
    },
    image: {
      type: Object,
      default: () => ({}),
    },
    id: {
      type: String,
      default: '',
    },
    bootstrap: {
      type: Array,
      default: () => [],
    },
    resetAnimationTrigger: {
      type: Number,
      default: 0,
    },
    routeForwading: {
      type: Boolean,
      default: false,
    },
    slug: {
      type: String,
      default: '',
    },
    background: {
      type: String,
      default: 'white',
    },
    paralaxEnabled: {
      type: Boolean,
      default: true,
    },
    activeFilterId: {
      type: String,
      default: null,
    },
    delay: {
      type: Number,
      default: 0,
    },
    loadEnabled: {
      type: Boolean,
      default: true,
    },
  },

  computed: {
    formatedDate() {
      return new Date(this.date).toLocaleDateString().replace(/\//g, '.')
    },
  },

  beforeDestroy() {
    this.$store.commit(MUTATIONS.UNSET_CURSOR_SIGNPOST)
  },

  methods: {
    handleMouseover() {
      this.$store.commit(MUTATIONS.SET_CURSOR_SIGNPOST, READ_MORE)
    },

    handleMouseleave() {
      this.$store.commit(MUTATIONS.UNSET_CURSOR_SIGNPOST)
    },

    handleLoad(slotProps) {
      slotProps.resetAnimation()
      // Forwad event
      this.$emit('load')
    },

    handleClick(slotProps) {
      if (!this.routeForwading) {
        this.$router.push({
          name: 'our-thoughts-slug',
          params: {
            slug: this.slug,
            ...(this.activeFilterId && { activeFilterId: this.activeFilterId }),
          },
        })
      } else {
        this.$router.push({
          name: 'our-thoughts',
          params: {
            routeForwading: true,
            routeForwadingSlug: this.slug,
          },
        })
      }
    },
  },
}
</script>

<style scoped>
.hover-image {
  transition-property: filter transform;
  transition-duration: var(--hover-long);
  transition-timing-function: var(--hover-ease-out);
  filter: grayscale(1);
}

.hover-area:hover .hover-image {
  transition-timing-function: var(--hover-ease-in);
  transition-duration: var(--hover-short);
  filter: grayscale(0);
  transform: scale3d(1.03, 1.03, 1.03);
}

.filter-separator:before {
  content: '|';
  @apply pr-xxxs;
  @apply font-euclid-regular;
}

.filter-separator:first-of-type:before {
  content: unset;
}
</style>
