<template>
  <CoreGrid elm-type="article" :lg-columns="10">
    <CoreContentLoad>
      <p
        class="col-span-6 lg:col-span-8 lg:col-start-2 font-lyon-regular text-thoughts-3 lg:text-thoughts-4 m-block-text"
        v-text="entry.text"
      />
    </CoreContentLoad>
    <template v-for="(block, i) in entry.ourThoughtsContent">
      <!-- TEXT -->
      <CoreContentLoad
        v-if="block.__typename === 'ourThoughtsContent_text_BlockType'"
        :key="i"
      >
        <figure
          class="col-span-6 lg:col-start-2 lg:col-span-8 m-block m-block-text"
        >
          <h2
            v-if="block.subHeading"
            class="text-size-2 lg:text-thoughts-3 whitespace-pre-wrap"
            v-text="`${block.subHeading}\r\n\r\n`"
          />
          <!-- eslint-disable vue/no-v-html -->
          <div
            v-if="block.text"
            class="text-size-2 lg:text-thoughts-2 font-euclid-regular whitespace-pre-wrap rich-text-area"
            v-html="block.text"
          />
          <!-- eslint-enable vue/no-v-html -->
        </figure>
      </CoreContentLoad>

      <!-- BLOCKQUOTE -->
      <CoreContentLoad
        v-if="block.__typename === 'ourThoughtsContent_quote_BlockType'"
        :key="i"
      >
        <figure
          class="col-span-6 lg:col-start-2 lg:col-span-8 m-block m-block-text"
        >
          <blockquote
            class="font-lyon-regular text-thoughts-3 lg:text-thoughts-5 flex"
          >
            <span>“</span><span>{{ block.text }}”</span>
          </blockquote>
        </figure>
      </CoreContentLoad>

      <!-- DOUBLE PORTRAIT IMAGE -->
      <CoreContentLoad
        v-if="
          block.__typename ===
          'ourThoughtsContent_doublePortraitImage_BlockType'
        "
        :key="i"
      >
        <figure
          class="col-span-6 lg:col-span-10 m-block m-block-image flex flex-col lg:flex-row flex-wrap lg:relative"
        >
          <div class="lg:order-1 w-full lg:w-1/2 lg:pr-gutter-desk-1/2">
            <CoreScrollPerspective class="h-full w-full">
              <template v-slot:default="slotProps">
                <CoreImage
                  class="lg:flex h-full w-full"
                  inner-class="lg:object-cover"
                  v-bind="block.image0[0].image"
                  @load="slotProps.resetAnimation()"
                />
              </template>
            </CoreScrollPerspective>
          </div>

          <p
            class="mt-xxs lg:order-3 w-full lg:w-1/2 lg:pr-gutter-desk-1/2 text-size-1 lg:text-thoughts-1 font-euclid-regular lg:absolute lg:top-full"
            v-text="block.caption0"
          />

          <div
            class="lg:order-2 w-full lg:w-1/2 lg:pl-gutter-desk-1/2 mt-s lg:mt-0"
          >
            <CoreScrollPerspective class="h-full w-full">
              <template v-slot:default="slotProps">
                <CoreImage
                  class="lg:flex h-full w-full"
                  inner-class="lg:object-cover"
                  v-bind="block.image1[0].image"
                  @load="slotProps.resetAnimation()"
                />
              </template>
            </CoreScrollPerspective>
          </div>

          <p
            class="mt-xxs lg:order-4 w-full lg:w-1/2 lg:pl-gutter-desk-1/2 text-size-1 lg:text-thoughts-1 font-euclid-regular lg:absolute lg:top-full lg:right-0"
            v-text="block.caption1"
          />
        </figure>
      </CoreContentLoad>

      <!-- PORTRAIT IMAGE | LANDSCAPE IMAGE -->
      <CoreContentLoad
        v-if="
          [
            'ourThoughtsContent_portraitImage_BlockType',
            'ourThoughtsContent_landscapeImage_BlockType',
          ].includes(block.__typename)
        "
        :key="i"
      >
        <figure
          class="col-span-6 m-block m-block-image"
          :class="[
            block.__typename === 'ourThoughtsContent_landscapeImage_BlockType'
              ? 'lg:col-span-10'
              : 'lg:col-span-8 lg:col-start-2',
          ]"
        >
          <CoreScrollPerspective>
            <template v-slot:default="slotProps">
              <CoreImage
                v-bind="block.image[0].image"
                @load="slotProps.resetAnimation()"
              />
            </template>
          </CoreScrollPerspective>
          <figcaption
            v-if="block.caption"
            class="lg:absolute mt-xxs text-size-1 lg:text-thoughts-1 font-euclid-regular"
            v-text="block.caption"
          />
        </figure>
      </CoreContentLoad>

      <!-- VIDEO -->
      <CoreContentLoad
        v-if="block.__typename === 'ourThoughtsContent_video_BlockType'"
        :key="i"
      >
        <figure class="col-span-6 m-block m-block-image lg:col-span-10">
          <BlockVimeo :url="block.videoUrl" />
        </figure>
      </CoreContentLoad>
    </template>
  </CoreGrid>
</template>

<script>
export default {
  props: {
    entry: {
      type: Object,
      default: () => ({}),
    },
  },
}
</script>

<style lang="postcss" scoped>
/** ALL BECUSE COLAPSING MARGINS ARE NOT SUPPORTED IN GRID :( */

.m-block-text {
  margin-top: 1.1875rem;
  /* margin-bottom: 1.1875rem; */
}

.m-block-text:first-of-type {
  margin-top: 2.375rem;
}

.m-block-image {
  margin-top: 1.1875rem;
  /* margin-bottom: 1.1875rem; */
}

.m-block:last-of-type {
  margin-bottom: 3.563rem;
}

@screen lg {
  .m-block-text {
    margin-bottom: 0rem;
  }

  .m-block-text:first-of-type {
    margin-top: 7.125rem;
  }

  .m-block-image {
    margin-bottom: 0rem;
  }

  .m-block-text + .m-block-text {
    margin-top: 4.75rem;
  }

  .m-block-text + .m-block-image {
    margin-top: 7.125rem;
  }

  .m-block-image + .m-block-text {
    margin-top: 7.125rem;
  }

  .m-block-image + .m-block-image {
    margin-top: 7.125rem;
  }

  .m-block:last-of-type {
    margin-bottom: 9.5rem;
  }

  .lg\:top-full {
    top: 100%;
  }
}
</style>
