<template>
  <div class="absolute right-0 overlay-transform flex" :class="p">
    <span class="text-size-5 text-white overlay-t-offset">t</span>
    <span class="text-size-7 text-white" v-text="n" />
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: '',
    },
    bootstrap: {
      type: Array,
      default: () => [],
    },
    p: {
      type: String,
      default: 'p-num',
    },
  },

  computed: {
    n() {
      const n = this.bootstrap.findIndex(({ id }) => this.id === id) + 1
      return String(n).padStart(2, '0')
    },
  },
}
</script>

<style scoped>
.overlay-transform {
  transform: translateY(-100%);
}

.overlay-t-offset {
  margin-top: 10px;
  margin-right: 2px;
}

.p-num {
  padding-right: 24px;
  padding-bottom: 4px;
}
</style>
