<template>
  <BlockSimilar type="Articles">
    <OurThoughtsThumbnail
      v-for="({ title, slug, date, tags, media, id }, i) in entries"
      :id="id"
      :key="i"
      background="black"
      :title="title"
      :slug="slug"
      :date="date"
      :tags="tags"
      :image="media[0].image3x2"
      :bootstrap="bootstrap"
      :active-filter-id="activeFilterId"
      :delay="i % 3"
      class="col-span-6 w-full mb-s lg:mb-xl"
    />
  </BlockSimilar>
</template>

<script>
export default {
  props: {
    entries: {
      type: Array,
      default: () => [],
    },
    bootstrap: {
      type: Array,
      default: () => [],
    },
    activeFilterId: {
      type: String,
      default: null,
    },
  },
}
</script>
