<template>
  <OurWorkCategory :slug="$route.params.category" />
</template>

<script>
import { mapState } from 'vuex'
import { MUTATIONS } from '@store/ui'
import { OurWorkCategoryQuery as query } from '@gql/queries'
import SeoMatic from '@mixins/SeoMatic'
import { OUR_WORK } from '@c/Core/CoreChineseBreadcrumb'
export default {
  name: 'ChineseOurWorkCategoryPage',
  layout: 'chinese',
  mixins: [SeoMatic],
  async fetch() {
    const result = await this.$craft({
      query,
      variables: {
        slug: this.$route.params.category,
        site: this.language === 'en' ? 'default' : 'mawdChinese',
      },
    })
    const { category } = result.data
    this.generateTags(category.seomatic)
  },
  computed: {
    ...mapState({
      language: (state) => state.ui.language,
    }),
  },
  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_WORK)
    this.$store.commit(MUTATIONS.SET_MENU_TRANSPARENT)
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR_ONLY, 'white')
  },
}
</script>
