<template>
  <div></div>
</template>

<script>
import { MUTATIONS } from '@store/ui'
import { OUR_WORK } from '@c/Core/CoreBreadcrumb'
export default {
  layout: 'chinese',
  name: 'OurWorkChinese',
  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_WORK)
    this.$store.commit(MUTATIONS.SET_MENU_TRANSPARENT)
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR_ONLY, 'white')
  },
}
</script>

<style></style>
