<template>
  <div class="lg:min-h-screen">
    <CoreGrid class="px-gutter cursor-white">
      <div class="col-span-18">
        <CoreTextAnimateIn>
          <h2
            class="mt-l lg:mt-0 font-euclid-semibold text-fluid-size-10 text-white leading-none legal-title"
          >
            Page not found
          </h2>
        </CoreTextAnimateIn>
      </div>
      <div class="col-span-18">
        <hr class="text-white mt-m mb-s" />
      </div>
      <div class="col-span-9">
        <p class="text-white lg:text-size-5 font-euclid-regular">
          Sorry, we can’t seem to find the page you are looking for. You might
          find what you are looking for on our
          <NuxtLink class="underline" to="{ name: 'index'}">homepage</NuxtLink>
        </p>
      </div>
    </CoreGrid>
  </div>
</template>

<script>
import { ERROR } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'

export default {
  mounted() {
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR, 'black')
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, ERROR)
    this.$store.commit(MUTATIONS.SET_MENU_BLACK)
    this.$store.commit(MUTATIONS.SET_CURSOR_SIGNPOST_WHITE)
  },
  beforeDestroy() {
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR, 'white')
  },
}
</script>

<style lang="postcss" scoped>
sup {
  vertical-align: text-top;
}
</style>
