<template>
  <main v-if="!$fetchState.pending">
    <CoreSnapScroll :items="items">
      <SpineIntro
        :video="{
          desktop: data.homepage.videoDesktop,
          mobile: data.homepage.videoMobile,
        }"
        :items="items"
      />
      <SpineOverview :entry="data.overview" />
      <SpineOurProcess
        :video="{
          desktop: data.homepage.videoOurProcessDesktop,
          mobile: data.homepage.videoOurProcessMobile,
        }"
        :index="2"
      />
      <SpineOurWork :entries="data.ourWorkSelected" class="overflow-hidden" />
      <SpineOurThoughts
        :bootstrap="data.bootstrap"
        :our-thoughts="data.homepage.ourThoughts"
        :latest="data.latest"
      />
      <SpineOurStudio class="relative" :items="items" />
      <SpinePressMedia />
      <SpineContact />
    </CoreSnapScroll>
  </main>
</template>

<script>
import { SpineQuery as query } from '@gql/queries'
import { MUTATIONS } from '@store/ui'
import { mapState } from 'vuex'
import SeoMatic from '@mixins/SeoMatic'
import { SECTIONS } from '@constants'

export default {
  mixins: [SeoMatic],

  async fetch() {
    const result = await this.$craft({
      query,
      variables: {
        limit: 3,
      },
    })

    // sort by date and add index
    this.data = result.data
    this.generateTags(this.data.seomatic)
  },

  data: () => ({
    data: null,
    items: SECTIONS,
  }),

  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
      scrollData: (state) => state.ui.scrollData,
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },

  transition(to, from) {
    if (!from) return
    if (from.path === '/')
      return {
        name: 'route-transition-slide-in',
        mode: '',
      }
    else if (to.path === '/')
      return {
        name: 'route-transition-slide-out',
        mode: '',
      }
  },

  mounted() {
    if (this.scrollData) {
      const ref = this.items.find((x) => x.step === this.scrollData.step)
      const target = ref || this.items[0]
      this.setColor(target)
      this.setScroll(target)
    }
  },

  methods: {
    setColor(params) {
      const bgCol = this.isMobile
        ? params.background.mobile
        : params.background.desktop
      this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR_ONLY, bgCol)
      bgCol === 'black'
        ? this.$store.commit(MUTATIONS.SET_MENU_TRANSPARENT_REVERSE)
        : this.$store.commit(MUTATIONS.SET_MENU_TRANSPARENT)
    },
    setScroll(params) {
      const amt = -params.step * this.deviceHeight
      this.$store.commit(MUTATIONS.SET_SCROLL_DATA, {
        anchor: params.anchor,
        step: params.step,
        amt,
        subScrollStep: 0,
        reversed: false,
      })
    },
  },

  head: {
    bodyAttrs: {
      class: 'snap-scroll',
    },
  },
}
</script>
