<template>
  <div v-if="!$fetchState.pending">
    <CoreGrid elm-type="main" class="px-gutter cursor-white">
      <div class="col-span-6 lg:col-span-9">
        <div class="sticky top-0 flex flex-col lg:h-screen lg:justify-between">
          <div class="mb-s lg:mb-0">
            <CoreTextAnimateIn>
              <h2
                class="mt-l lg:mt-0 font-euclid-semibold text-fluid-size-10 text-white leading-none legal-title"
                v-html="title"
              />
            </CoreTextAnimateIn>
          </div>
          <div class="mob-size-1 text-white font-euclid-regular lg:pb-s">
            © March & White Design {{ year }}
          </div>
        </div>
      </div>
      <div
        class="col-span-6 lg:col-span-8 lg:col-start-11 text-white font-euclid-regular text-fluid-size-4 legal-body"
        v-html="body"
      />
    </CoreGrid>
    <BlockFooter background="black" />
  </div>
</template>

<script>
import { LEGAL } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'
import { LegalQuery } from '@gql/queries'

export default {
  async fetch() {
    const result = await this.$craft({
      query: LegalQuery,
    })
    const { entry } = result.data
    this.entry = entry
    this.title = entry.title
    this.body = entry.body
  },
  data: () => ({
    entry: null,
    title: null,
    body: null,
  }),
  computed: {
    year() {
      const date = new Date()
      return date.getFullYear()
    },
  },
  mounted() {
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR, 'black')
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, LEGAL)
    this.$store.commit(MUTATIONS.SET_MENU_BLACK)
    this.$store.commit(MUTATIONS.SET_CURSOR_SIGNPOST_WHITE)
  },
  beforeDestroy() {
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR, 'white')
  },
}
</script>

<style lang="postcss">
.legal-title {
  padding-top: 12vw;
}

.legal-body {
  padding-top: 14vw;
  p {
    @apply mb-s;
  }
  strong {
    @apply font-euclid-semibold;
  }
  ul {
    @apply list-disc;
    padding-left: 1.4rem;
    @screen lg {
      padding-left: 1.5rem;
    }
    li {
      @apply mb-xs;
      @screen lg {
        @apply mb-s;
      }
    }
  }
}
</style>
