<template>
  <section class="w-full h-screen flex">
    <div class="bg-mid-blue w-3/5">
      <div class="h-full w-full flex items-center absolute top-0 left-0">
        <div class="container mx-auto">
          <div class="flex flex-col w-6/12">
            <h3
              class="font-tt-norms-pro-regular text-size-4 mb-size-4"
              v-text="category"
            />
            <h2 class="font-tusker text-size-9 uppercase" v-text="title" />
            <h3
              class="font-tt-norms-pro-regular text-size-4 mt-size-7"
              v-text="date"
            />
            <h3 class="font-tt-norms-pro-regular text-size-4" v-text="author" />
          </div>
        </div>
      </div>
    </div>
    <div class="w-2/5">
      <CoreImage
        class="pointer-events-none"
        :src="require('~/assets/images/Article/hero-background.jpg')"
        :srcset="require('~/assets/images/Article/hero-background.jpg')"
        inner-class="h-screen w-full object-cover"
      />
    </div>
  </section>
</template>
<script>
export default {
  props: {
    category: {
      type: String,
      default: 'News',
    },
    title: {
      type: String,
      default: 'Article Title',
    },
    date: {
      type: String,
      default: '20 December 2020',
    },
    author: {
      type: String,
      default: 'By Sue Lukes',
    },
  },
  computed: {
    styles() {
      return [this.backgroundImage]
    },
    backgroundImage() {
      return {
        'background-image': `url(${this.image})`,
      }
    },
  },
}
</script>
