<template>
  <h3 class="font-tt-norms-pro-bold text-size-8 mb-size-8">
    Article sub header
  </h3>
</template>
<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Article sub header',
    },
  },
}
</script>
