<template>
  <div class="relative mb-size-8">
    <p
      class="font-tt-norms-pro-regular text-size-5 intro-paragraph"
      v-text="text"
    />
  </div>
</template>
<script>
export default {
  props: {
    text: {
      type: String,
      default:
        'Intro paragraph Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. Vivamus egestas lectus dui, blandit tempus metus tincidunt ut. Praesent ultricies urna vel scelerisque suscipit. Maecenas vitae molestie nisl, id molestie mi. Praesent vel dolor et felis commodo sodales.',
    },
  },
}
</script>
<style lang="postcss" scoped>
.intro-paragraph {
  margin-left: calc(74px + 5rem);
  &:before {
    content: '';
    @apply absolute;
    @apply bg-black;
    width: 74px;
    height: 1px;
    left: 0;
    margin-top: 2rem;
  }
}
</style>
