<template>
  <figure class="my-size-9">
    <blockquote>
      <p class="font-tusker text-size-6 uppercase w-4/5" v-text="quote" />
    </blockquote>
    <figcaption class="font-tt-norms-pro-regular text-size-4 mt-size-6">
      <strong class="font-tt-norms-pro-bold" v-text="name" />
      <span v-text="position" />
    </figcaption>
  </figure>
</template>
<script>
export default {
  props: {
    quote: {
      type: String,
      default:
        '“Pull quote ipsum dolor sit amet, consectetur adipiscing elit.”',
    },
    name: {
      type: String,
      default: 'Sue Lukes',
    },
    position: {
      type: String,
      default: 'Chair',
    },
  },
}
</script>
