<template>
  <div class="mb-size-5">
    <p class="font-tt-norms-pro-regular text-size-4" v-text="text" />
  </div>
</template>
<script>
export default {
  props: {
    text: {
      type: String,
      default:
        '“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae sollicitudin nisi, vitae elementum lacus. Sed interdum euismod venenatis. Curabitur turpis mauris, fringilla at mattis ac, finibus id magna. Sed lorem augue, faucibus ut nibh id, fermentum vehicula arcu. Nulla in dapibus massa. ',
    },
  },
}
</script>
<style lang="postcss" scoped>
p {
  margin-left: calc(74px + 5rem);
}
</style>
