:root {
  --ease-general: cubic-bezier(0.65, 0, 0.35, 1);
  --time-general: 0.8s;

  --hover-ease-in: cubic-bezier(0.2, 0, 0.3, 1);
  --hover-ease-out: cubic-bezier(0.2, 0, 0.3, 1);
  --hover-long: 0.75s;
  --hover-short: 0.75s;

  --title-ease: cubic-bezier(0.17, 0.37, 0.1, 1);
  --title-time: 0.5s;

  --page-ease-slide: cubic-bezier(0.6, 0, 0.4, 1);
  --page-ease-fade: cubic-bezier(0.25, 0, 0.75, 1);
  --page-slide-time: 1s;
  --page-fade-time: 1s;

  --content-ease: cubic-bezier(0.65, 0, 0.35, 1);
  --content-time: 0.8s;

  --cursor-default: url('~@/assets/cursors/default.svg') 9.5 9.5, default;
  --cursor-hover: url('~@/assets/cursors/hover.svg') 6.5 6.5, pointer;

  --image-load: 0.3s;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  cursor: var(--cursor-default);
  @apply font-euclid-semibold;
  overflow-wrap: break-word;
}

.snap-scroll {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.snap-scroll-upper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 10%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 99;
}
.snap-scroll-lower {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 10%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 99;
}

a {
  cursor: var(--cursor-hover);
}

hr {
  color: #575757;
}

/* WHITE CURSOR MODIFIERS */

.cursor-white .cursor-default,
.cursor-white.cursor-default,
.cursor-white {
  cursor: url('~@/assets/cursors/default-white.svg') 9.5 9.5, default;
}

.cursor-white .cursor-hover,
.cursor-white.cursor-hover,
.cursor-white a {
  cursor: url('~@/assets/cursors/hover-white.svg') 6.5 6.5, pointer;
}

/* ROUTE TRANSITIONS */

.route-transition-fade-enter-active,
.route-transition-fade-leave-active {
  transition-property: opacity;
  transition-duration: var(--page-fade-time);
  transition-timing-function: var(--page-ease-fade);
}

.route-transition-fade-enter,
.route-transition-fade-leave-to {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.route-transition-fade-enter-to {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.route-transition-slide-out-enter-active,
.route-transition-slide-out-leave-active,
.route-transition-slide-in-enter-active,
.route-transition-slide-in-leave-active {
  transition-property: all;
  transition-duration: var(--page-slide-time);
  transition-timing-function: var(--page-ease-slide);
}

.route-transition-slide-out-enter {
  transform: translateX(-100vw);
}

.route-transition-slide-out-leave-active {
  transform: translateX(100vw);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.route-transition-slide-in-enter {
  transform: translateX(100vw);
}

.route-transition-slide-in-leave-active {
  transform: translateX(-100vw);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.route-transition-slide-in-enter-to {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.spine {
  overflow: hidden;
}

$sm: 640px;
$md: 768px;
$lg: 1025px;
$xl: 1280px;

.logo {
  width: 85%;
  height: auto;
  svg {
    width: 100%;
    height: auto;
  }
  /* @media (min-width: $md) {
    width: 70%;
    height: auto;
    svg {
      width: 100%;
      height: auto;
    }
  }
  @media (min-width: $lg) {
    width: 60%;
    height: auto;
    svg {
      width: 100%;
      height: auto;
    }
  }
  @media (min-width: $xl) {
    width: 50%;
    height: auto;
    svg {
      width: 100%;
      height: auto;
    }
  } */
}

.progress {
  font-size: 4rem;
  text-align: right;
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  width: 60%;
  z-index: 1;
  &__percentage {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    z-index: 100;
    background: #ccc;
    &__bar {
      width: 0%;
      height: 100%;
      background: black;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
