@font-face {
  font-family: 'Euclid-Medium';
  src: url('../fonts/EuclidSquare-Medium-WebS.woff2') format('woff2'),
    url('../fonts/EuclidSquare-Medium-WebS.woff') format('woff');
}

@font-face {
  font-family: 'Euclid-Regular';
  src: url('../fonts/EuclidSquare-Regular-WebS.woff2') format('woff2'),
    url('../fonts/EuclidSquare-Regular-WebS.woff') format('woff');
}

@font-face {
  font-family: 'Euclid-Semibold';
  src: url('../fonts/EuclidSquare-Semibold-WebS.woff2') format('woff2'),
    url('../fonts/EuclidSquare-Semibold-WebS.woff') format('woff');
}

@font-face {
  font-family: 'Lyon-Regular';
  src: url('../fonts/LyonText-Regular-Web.woff2') format('woff2'),
    url('../fonts/LyonText-Regular-Web.woff') format('woff');
}

@font-face {
  font-family: 'Lyon-Semibold';
  src: url('../fonts/LyonText-Semibold-Web.woff2') format('woff2'),
    url('../fonts/LyonText-Semibold-Web.woff') format('woff');
}
