/* Combined Gutter Utils */

.gap-gutter {
  @apply gap-gutter-mob;
}
.m-gutter {
  @apply m-gutter-mob;
}
.p-gutter {
  @apply p-gutter-mob;
}
.mx-gutter {
  @apply mx-gutter-mob;
}
.px-gutter {
  @apply px-gutter-mob;
}
.px-gutter-1\/2 {
  @apply px-gutter-mob-1/2;
}
.my-gutter {
  @apply my-gutter-mob;
}
.py-gutter {
  @apply py-gutter-mob;
}
.pb-gutter {
  @apply pb-gutter-mob;
}

@screen lg {
  .gap-gutter {
    @apply gap-gutter-desk;
  }
  .m-gutter {
    @apply m-gutter-desk;
  }
  .p-gutter {
    @apply p-gutter-desk;
  }
  .mx-gutter {
    @apply mx-gutter-desk;
  }
  .px-gutter {
    @apply px-gutter-desk;
  }
  .px-gutter-1\/2 {
    @apply px-gutter-desk-1/2;
  }
  .my-gutter {
    @apply my-gutter-desk;
  }
  .py-gutter {
    @apply py-gutter-desk;
  }
  .pb-gutter {
    @apply pb-gutter-desk;
  }
}

.w-max-content {
  width: max-content;
}

/* cursor */

.cursor-default {
  cursor: var(--cursor-default);
}

.cursor-hover {
  cursor: var(--cursor-hover);
}

.cursor-exit {
  cursor: url('~@/assets/cursors/exit.svg') 15.685 15.685, pointer;
}

.cursor-page-down {
  cursor: url('~@/assets/cursors/page-down.svg') 15.685 8.55, pointer;
}

.cursor-page-down-white {
  cursor: url('~@/assets/cursors/page-down-white.svg') 15.685 8.55, pointer;
}

.cursor-page-up {
  cursor: url('~@/assets/cursors/page-up.svg') 15.685 8.55, pointer;
}

.cursor-page-up-white {
  cursor: url('~@/assets/cursors/page-up-white.svg') 15.685 8.55, pointer;
}

/* hover:underline */
/* use this to activate the state on the hovering of a parent element  */
/* .hover-area .hover-underline  */

.hover\:underline,
.hover-area .hover-underline,
.hover\:underline-thin,
.hover-area .hover-underline-thin,
.rich-text-area a {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% calc(100% - 0.095em);
  background-repeat: no-repeat;
  background-size: 0% 0.094em;
  transition-property: background-size;
  transition-duration: var(--hover-long);
  transition-timing-function: var(--hover-ease-out);
}

.hover\:underline-thin,
.hover-area .hover-underline-thin,
.rich-text-area a {
  background-size: 0% 0.031em;
  background-position: 0% calc(100% - 0.125em);
}

.hover\:underline:not(:hover),
.hover-area:not(:hover) .hover-underline {
  background-position: 100% calc(100% - 0.095em);
}

.hover\:underline-thin:not(:hover),
.hover-area:not(:hover) .hover-underline-thin,
.rich-text-area a:not(:hover) {
  background-position: 100% calc(100% - 0.125em);
}

.hover\:underline:hover,
.hover\:underline:focus,
.hover-area:hover .hover-underline,
.hover-area:focus .hover-underline,
.hover\:underline-thin:hover,
.hover\:underline-thin:focus,
.hover-area:hover .hover-underline-thin,
.hover-area:focus .hover-underline-thin,
.rich-text-area a:hover,
.rich-text-area a:focus {
  background-size: 100% 0.094em;
  transition-property: background-size;
  transition-duration: var(--hover-short);
  transition-timing-function: var(--hover-ease-in);
}

.hover\:underline-thin:hover,
.hover\:underline-thin:focus,
.hover-area:hover .hover-underline-thin,
.hover-area:focus .hover-underline-thin,
.rich-text-area a:hover,
.rich-text-area a:focus {
  background-size: 100% 0.031em;
}

.underline,
.underline-thin {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% calc(100% - 0.095em);
  background-repeat: no-repeat;
  background-size: 100% 0.094em;
}

.underline-thin {
  background-size: 100% 0.031em;
  background-position: 0% calc(100% - 0.125em);
}

/* Fluid Heading */

/* 1024px -> 64rem */
/* 1920px -> 120rem */
/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */

.text-fluid-size-super {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: -0.01em;
}

.text-fluid-size-press-title {
  font-size: 6rem;
  line-height: 6.75rem;
  letter-spacing: -0.03em;
}

.text-fluid-size-press-sup {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: -0.01em;
}

.text-fluid-size-press-text {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
}

.text-fluid-size-work-title {
  font-size: 7.5rem;
  line-height: 7.875rem;
  letter-spacing: -0.03em;
}

.text-fluid-size-10 {
  font-size: 3.375rem;
  line-height: 3.563rem;
  letter-spacing: -0.03em;
}

.text-fluid-size-8 {
  font-size: 3rem;
  line-height: 3.375rem;
  letter-spacing: -0.03em;
}

.text-fluid-size-intro {
  font-size: 2.6rem;
  line-height: 3rem;
  letter-spacing: -0.03em;
}

.text-fluid-size-7 {
  font-size: 3rem;
  line-height: 3.375rem;
  letter-spacing: -0.03em;
}

.text-fluid-size-6 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
}

.text-fluid-size-5 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: -0.02em;
}

.text-fluid-size-4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.01em;
}

.text-fluid-size-2 {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: -0.01em;
}

.text-fluid-size-cite {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 64rem) {
  .text-fluid-size-super {
    line-height: calc(1.5rem + (3.375 - 1.5) * ((100vw - 64rem) / (120 - 64)));
    font-size: calc(1.125rem + (3 - 1.125) * ((100vw - 64rem) / (120 - 64)));
  }

  .text-fluid-size-press-title {
    line-height: calc(
      6.75rem + (10.125 - 6.75) * ((100vw - 64rem) / (120 - 64))
    );
    font-size: calc(6rem + (9.75 - 6) * ((100vw - 64rem) / (120 - 64)));
  }

  .text-fluid-size-press-sup {
    line-height: calc(
      1.125rem + (1.5 - 1.125) * ((100vw - 64rem) / (120 - 64))
    );
    font-size: calc(0.75rem + (1.125 - 0.75) * ((100vw - 64rem) / (120 - 64)));
  }

  .text-fluid-size-press-text {
    line-height: calc(
      2.625rem + (3.375 - 2.625) * ((100vw - 64rem) / (120 - 64))
    );
    font-size: calc(2.25rem + (3 - 2.25) * ((100vw - 64rem) / (120 - 64)));
  }

  .text-fluid-size-work-title {
    line-height: calc(
      7.875rem + (13.125 - 7.875) * ((100vw - 64rem) / (120 - 64))
    );
    font-size: calc(7.5rem + (13.125 - 7.5) * ((100vw - 64rem) / (120 - 64)));
  }

  .text-fluid-size-10 {
    line-height: calc(6.75rem + (14.3 - 6.75) * ((100vw - 64rem) / (120 - 64)));
    font-size: calc(6rem + (12.75 - 6) * ((100vw - 64rem) / (120 - 64)));
  }

  .text-fluid-size-8 {
    font-size: calc(3rem + (7.5 - 3) * ((100vw - 64rem) / (120 - 64)));
    line-height: calc(
      3.375rem + (7.875 - 3.375) * ((100vw - 64rem) / (120 - 64))
    );
  }

  .text-fluid-size-intro {
    font-size: calc(3rem + (7.5 - 3) * ((100vw - 64rem) / (120 - 64)));
    line-height: calc(
      3.375rem + (7.875 - 3.375) * ((100vw - 64rem) / (120 - 64))
    );
  }

  .text-fluid-size-7 {
    font-size: calc(3rem + (6 - 3) * ((100vw - 64rem) / (120 - 64)));
    line-height: calc(
      3.375rem + (6.75 - 3.375) * ((100vw - 64rem) / (120 - 64))
    );
    letter-spacing: -0.03em;
  }

  .text-fluid-size-6 {
    line-height: calc(
      1.875rem + (3.375 - 1.875) * ((100vw - 64rem) / (120 - 64))
    );
    font-size: calc(1.5rem + (3 - 1.5) * ((100vw - 64rem) / (120 - 64)));
  }

  .text-fluid-size-5 {
    line-height: calc(
      1.875rem + (2.625 - 1.875) * ((100vw - 64rem) / (120 - 64))
    );
    font-size: calc(1.5rem + (2.25 - 1.5) * ((100vw - 64rem) / (120 - 64)));
  }

  .text-fluid-size-4 {
    line-height: calc(1.5rem + (1.875 - 1.5) * ((100vw - 64rem) / (120 - 64)));
    font-size: calc(1.125rem + (1.5 - 1.125) * ((100vw - 64rem) / (120 - 64)));
  }

  .text-fluid-size-2 {
    line-height: calc(
      1.125rem + (1.5 - 1.125) * ((100vw - 64rem) / (120 - 64))
    );
    font-size: calc(0.75rem + (1.125 - 0.75) * ((100vw - 64rem) / (120 - 64)));
  }

  .text-fluid-size-cite {
    line-height: calc(
      1.25rem + (1.875 - 1.25) * ((100vw - 64rem) / (120 - 64))
    );
    font-size: calc(0.875rem + (1.5 - 0.875) * ((100vw - 64rem) / (120 - 64)));
  }
}

@media screen and (min-width: 120rem) {
  .text-fluid-size-super {
    font-size: 3rem;
    line-height: 3.375rem;
    letter-spacing: -0.03em;
  }

  .text-fluid-size-press-title {
    font-size: 9.75rem;
    line-height: 10.125rem;
    letter-spacing: -0.03em;
  }

  .text-fluid-size-press-sup {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: -0.01em;
  }

  .text-fluid-size-press-text {
    font-size: 3rem;
    line-height: 3.375rem;
    letter-spacing: -0.03em;
  }

  .text-fluid-size-work-title {
    font-size: 12.75rem;
    line-height: 13.125rem;
    letter-spacing: -0.03em;
  }

  .text-fluid-size-10 {
    font-size: 12.75rem;
    line-height: 14.3rem;
  }

  .text-fluid-size-8 {
    font-size: 7.5rem;
    line-height: 7.875rem;
  }

  .text-fluid-size-intro {
    font-size: 7.5rem;
    line-height: 7.875rem;
  }

  .text-fluid-size-7 {
    font-size: 6rem;
    line-height: 6.75rem;
  }

  .text-fluid-size-6 {
    font-size: 3rem;
    line-height: 3.375rem;
  }

  .text-fluid-size-4 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .text-fluid-size-2 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .text-fluid-size-cite {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

/* OTHER */

.hidden-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
