<template>
  <div class="overflow-hidden">
    <NuxtLink class="cursor-hover" :to="goBack">
      <div
        class="flex items-center transition-arrow-out"
        :class="{ 'transform-arrow-out': !arrowVisisble }"
      >
        <CoreIcon
          :color="color"
          :width="isMobile ? 13 : 15"
          class="mr-xxs lg:mr-xs pointer-events-auto"
        >
          <IconBackArrow />
        </CoreIcon>
        <div class="relative w-mask">
          <transition name="transition-breadcrumb">
            <h1
              :key="text"
              class="font-euclid-semibold text-size-2 lg:text-size-3 w-max-content baseline"
              v-text="text"
            />
          </transition>
        </div>
      </div>
    </NuxtLink>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { MUTATIONS } from '@store/ui'
// import { BLACK } from '@c/Block/BlockMenuBar'
import { SECTIONS } from '@constants'

export const OVERVIEW = Symbol('section breadcrumb')
export const OUR_PROCESS = Symbol('section breadcrumb')
export const OUR_WORK = Symbol('section breadcrumb')
export const OUR_THOUGHTS = Symbol('section breadcrumb')
export const OUR_STUDIO = Symbol('section breadcrumb')
export const PRESS_MEDIA = Symbol('section breadcrumb')
export const CONTACT = Symbol('section breadcrumb')
export const LEGAL = Symbol('section breadcrumb')
export const ERROR = Symbol('section breadcrumb')
export const ELLIOT_JAMES = Symbol('section breadcrumb')
export const CLIENTS = Symbol('section breadcrumb')
export const TESTIOMONIALS = Symbol('section breadcrumb')

const STRING_LITERALS = {
  [OVERVIEW]: 'Overview',
  [OUR_PROCESS]: 'Our Process',
  [OUR_WORK]: 'Our Work',
  [OUR_THOUGHTS]: 'Our Thoughts',
  [OUR_STUDIO]: 'Our Studio',
  [PRESS_MEDIA]: 'Press & Media',
  [CONTACT]: 'Contact',
  [LEGAL]: 'Legal',
  [ERROR]: 'Error',
  [ELLIOT_JAMES]: 'Elliot & James',
  [CLIENTS]: 'Clients',
  [TESTIOMONIALS]: 'Testimonials',
}

export default {
  data: () => ({
    arrowVisisble: false,
  }),

  computed: {
    ...mapState({
      breadcrumb: (state) => state.ui.breadcrumb,
      breadcrumbColor: (state) => state.ui.breadcrumbColor,
      isMobile: (state) => state.ui.isMobile,
      deviceHeight: (state) => state.ui.deviceHeight,
      backgroundColor: (state) => state.ui.backgroundColor,
      prevRouteEntry: (state) => state.ui.prevRouteEntry,
    }),
    text() {
      return STRING_LITERALS?.[this.breadcrumb]
        ? STRING_LITERALS[this.breadcrumb]
        : ''
    },
    color() {
      // console.log('color change', this.backgroundColor)
      return this.backgroundColor === 'black' ? 'white' : 'black'
    },
    goBack() {
      switch (this.$route.name) {
        case 'our-work-category-slug':
          if (
            this.prevRouteEntry !== null &&
            this.prevRouteEntry.name === 'OurWorkPageIndexDirectory'
          ) {
            return 'OurWorkPageIndexDirectory'
          } else {
            return { name: 'our-work-category' }
          }
        case 'our-studio-founders-elliot-march':
          return '/our-studio/founders'
        case 'our-studio-founders-james-white':
          return '/our-studio/founders'
        default:
          return { name: 'index' }
      }
    },
  },

  watch: {
    text: {
      immediate: true,
      handler(val) {
        const item = SECTIONS.find((x) => x.title === val)
        if (item && this.$route.name !== 'index') {
          this.$store.commit(MUTATIONS.SET_SCROLL_DATA, {
            anchor: item.anchor,
            step: item.step,
            color: this.isMobile ? item.color.mobile : item.color.desktop,
            amt: -item.step * this.deviceHeight,
            subScrollStep: 0,
            reversed: false,
          })
        }
      },
    },
    '$route.name': {
      immediate: true,
      handler(val) {
        this.arrowVisisble = val !== 'index'
      },
    },
  },
}
</script>

<style lang="postcss" scoped>
.w-mask {
  width: 16rem;
}

.transition-breadcrumb-enter-active,
.transition-breadcrumb-leave-active {
  transition-property: transform;
  transition-duration: var(--title-time);
  transition-timing-function: var(--title-ease);
}

.transition-breadcrumb-leave-active {
  transform: translateY(-2rem);
  position: absolute;
}
.transition-breadcrumb-enter {
  transform: translateY(2rem);
}

.transition-arrow-out {
  transition-property: transform;
  transition-duration: var(--title-time);
  transition-timing-function: var(--title-ease);
}

.transform-arrow-out {
  transform: translateX(calc(-13px - 0.594rem));
}

@screen lg {
  .transform-arrow-out {
    transform: translateX(calc(-15px - 1.188rem));
  }
}
.baseline {
  line-height: 1.95;
}
</style>
