<script>
import { mapState } from 'vuex'
import gsap from 'gsap'
import { SplitText } from 'gsap/SplitText'
import customEase from '@utils/customEase'

gsap.registerPlugin(SplitText)

const observerOptions = {
  subtree: true,
  childList: true,
  attributes: false,
}

export default {
  data: () => ({
    split: null,
  }),
  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
    }),
  },
  watch: {
    isMobile(mobile) {
      this.split.revert()
    },
  },
  mounted() {
    this.slot = this.$slots.default[0].elm
    this.easing = customEase('--title-ease')

    this.observer = new MutationObserver(this.animate)
    this.animate()
  },

  methods: {
    observe() {
      this.observer.observe(this.slot, observerOptions)
    },

    disconect() {
      this.observer.disconnect()
    },

    animate() {
      // Disconect mutation observer
      this.disconect()

      // Animate
      this.split = new SplitText(this.slot, { type: 'chars, lines' })
      gsap.set(this.split.chars, { visibility: 'visible' })
      gsap.from(this.split.chars, {
        duration: 0.75,
        ease: this.easing,
        y: '100%',
        stagger: 0.01,
      })

      // Set mutation observer
      this.observe()
    },
  },

  render(createElement) {
    return createElement(
      'div',
      {
        class: 'overflow-hidden invisible-childeren hidden-childeren',
      },
      this.$slots.default
    )
  },
}
</script>

<style scoped>
.invisible-childeren * {
  visibility: hidden;
}

.hidden-childeren > * {
  overflow: hidden;
  padding-bottom: 0.1rem;
}
</style>
