<template>
  <div class="carousel-core">
    <!-- Slider main container -->
    <div ref="carousel" class="swiper-container">
      <div class="swiper-wrapper">
        <div
          v-for="(placeholder, num) in initialSlides"
          :key="num"
          class="swiper-slide"
        >
          <video loop playsinline muted>
            <source :src="placeholder" type="video/mp4" />
            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>
      </div>

      <div class="carousel-core__title-bar">
        <div class="carousel-core__title-bar__item">
          <h4>Title</h4>
        </div>
        <div class="carousel-core__title-bar__item">
          <h5>New York</h5>
        </div>
        <div class="carousel-core__title-bar__item">
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>-->

      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</template>

<script>
import Swiper, { Navigation, Pagination } from 'swiper'
import 'swiper/swiper-bundle.css'

Swiper.use([Navigation, Pagination])

export default {
  props: {
    activeIndex: {
      type: Number,
      default: 0,
    },
    index: {
      type: Number,
      default: 0,
    },
    options: {
      type: [Array, Object],
      default: () => {
        return {
          init: false,
          grabCursor: true,
          centeredSlides: true,
          pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
          },
        }
      },
    },
  },
  data() {
    return {
      carousel: null,
      isCarouselActive: null,
      placeholders: [
        require('~/assets/media/placeholders/placeholder-2.mp4'),
        require('~/assets/media/placeholders/placeholder-1.mp4'),
        require('~/assets/media/placeholders/placeholder-4.mp4'),
      ],
      entries: [
        [
          require('~/assets/media/placeholders/placeholder-2.mp4'),
          require('~/assets/media/placeholders/placeholder-1.mp4'),
          require('~/assets/media/placeholders/placeholder-4.mp4'),
        ],
        [
          require('~/assets/media/placeholders/placeholder-4.mp4'),
          require('~/assets/media/placeholders/placeholder-2.mp4'),
          require('~/assets/media/placeholders/placeholder-1.mp4'),
        ],
      ],
    }
  },
  computed: {
    initialSlides() {
      return this.entries[0]
    },
    live() {
      return this.entries[0]
    },
    move() {
      return this.entries[1]
    },
  },
  watch: {
    activeIndex: {
      immediate: true,
      handler(activeIndex) {
        console.warn('Try playing carousel:', this.index)
        if (this.carousel) {
          if (activeIndex === this.index) {
            console.error('Current playing:', this.index)
            this.initialise()
            this.isCarouselActive = true
          } else {
            console.error('Deactive:', this.index)
            this.isCarouselActive = false
          }
        }
      },
    },
  },
  mounted() {
    this.carousel = new Swiper(this.$refs.carousel, this.options)
  },
  methods: {
    initialise() {
      this.carousel.on('init', function () {
        const firstSlide = this.slides[0]
        // if first slide is video; play it automatically
        if (firstSlide.querySelector('video')) {
          const video = firstSlide.querySelector('video')
          video.play()
        }
      })
      this.carousel.init()
      this.videoPlayPause()
    },
    videoPlayPause() {
      this.carousel.on('slideChange', function () {
        const prevSlide = this.slides[this.previousIndex]
        const activeSlide = this.slides[this.activeIndex]
        // if slide has video
        // play active slide video; pause previous slide video
        if (activeSlide.querySelector('video')) {
          const prevVideo = prevSlide.querySelector('video')
          const activeVideo = activeSlide.querySelector('video')

          prevVideo.pause()
          activeVideo.play()
        }
      })
    },
  },
}
</script>

<style scoped lang="postcss">
.swiper-container {
  transition-duration: 500ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  @apply h-full w-full;
  .swiper-slide {
    @apply text-white;
    video {
      @apply w-full h-full;
      @apply object-cover;
    }
  }
  .carousel-core__title-bar {
    @apply absolute bottom-0;
    @apply w-full;
    @apply z-10;
    @apply flex justify-between;
    @apply p-xl;
    @apply text-white;
    &__item {
      @apply w-1/3;
      &:nth-child(2) {
        @apply text-center;
      }
    }
  }
  .swiper-pagination {
    &.swiper-pagination-fraction {
      @apply static;
      @apply w-auto;
      @apply text-right;
    }
  }
}
</style>
