<template>
  <svg
    :width="width"
    class="h-full"
    viewBox="0 0 50 50"
    preserveAspectRatio="xMidYMid meet"
    @click="$emit('click', $event)"
  >
    <g class="transition-fill" :fill="fill">
      <slot />
    </g>
  </svg>
</template>

<script>
import { colors } from '@utils/tailwind'

export default {
  props: {
    color: {
      // Pass the color string as used in tailwind config
      type: String,
      default: 'black',
    },
    width: {
      // Pass the px width the icon should appear
      type: Number,
      default: 20,
    },
  },

  computed: {
    fill() {
      return colors[this.color]
    },
  },
}
</script>

<style scoped>
.transition-fill {
  transition-property: fill;
  transition-duration: var(--time-general);
  transition-timing-function: var(--ease-general);
}
</style>
