<script>
import throttle from 'lodash.throttle'
import { mapState } from 'vuex'

// All items MUST be the same width

export default {
  props: {
    positionTrigger: {
      type: [Number, String],
      default: 0,
    },
  },

  data: () => ({
    containerHeight: 0,
    initLayout: false,
  }),

  computed: {
    ...mapState({
      deviceWidth: (state) => state.ui.deviceWidth,
    }),
    containerStyle() {
      return {
        height: `${this.containerHeight}px`,
        ...(!this.initLayout && { opacity: 0 }),
      }
    },
  },

  watch: {
    /**
     * Repositon elements on resize
     * Already globally debounced
     */
    deviceWidth() {
      this.position()
    },

    /**
     * Repositon elements on trigger
     * Already globally debounced
     */
    async positionTrigger() {
      await this.$nextTick()
      this.position()
    },
  },

  mounted() {
    // Items not set on data to save reactive overhead
    this.container = this.$el

    this.observer = new MutationObserver(this.throttledPosition)

    // Setup the observer
    this.observer.observe(this.container, {
      attributes: true,
      childList: true,
      characterData: true,
      subtree: true,
    })
  },

  beforeDestroy() {
    this.observer.disconnect()
  },

  methods: {
    /**
     * Throttled load event handler
     */
    throttledPosition: throttle(
      function () {
        this.position()
      },
      150,
      {
        leading: false,
        trailing: true,
      }
    ),

    /**
     * Position elements
     */
    position() {
      const items = this.$children.map((vNode) => vNode.$el)

      // stop here if the container is empty
      if (items.length === 0) return

      // Calculate cols
      const width = this.container.getBoundingClientRect().width
      const colWidth = items[0].getBoundingClientRect().width
      const numCols = Math.floor(width / colWidth) || 1
      const cols = new Array(numCols)
        .fill(() => ({
          height: 0,
        }))
        .map((obj) => obj())

      // reser container
      this.containerHeight = 0

      for (let i = 0, k = items.length; i < k; i++) {
        const colIndex = i % cols.length
        const col = cols[colIndex]
        const item = items[i]

        // Calculate offset
        const x = `${colIndex * colWidth}px`
        const y = `${col.height}px`

        // Plonk this is a weak map or array or something and let vue handle the update
        item.style.transform = `translate(${x}, ${y})`

        // Set the height of the container
        col.height += item.getBoundingClientRect().height

        if (col.height > this.containerHeight) {
          this.containerHeight = col.height
        }
      }

      this.initLayout = true

      this.$emit('layout')
    },
  },

  render(createElement) {
    return createElement(
      'div',
      {
        class: 'relative absolute-childeren',
        style: this.containerStyle,
      },
      [
        this.$scopedSlots.default({
          throttledPosition: this.throttledPosition,
        }),
      ]
    )
  },
}
</script>

<style scoped>
.absolute-childeren * {
  position: absolute;
}
</style>
