<template>
  <CoreIcon
    class="cursor-hover"
    :width="isMobile ? 31 : 41"
    :color="color"
    @click="$emit('click')"
  >
    <path :d="SVG.path" />
    <rect
      v-for="(rect, i) in SVG.rect"
      ref="rect"
      :key="i"
      :x="rect.x"
      :y="rect.y"
      :width="rect.width"
      :height="rect.height"
    />
  </CoreIcon>
</template>

<script>
import { mapState } from 'vuex'
import gsap from 'gsap'

const SVGDesktop = {
  path:
    'M25,50A25,25,0,1,1,50,25,25,25,0,0,1,25,50ZM25,2.44A22.56,22.56,0,1,0,47.56,25,22.59,22.59,0,0,0,25,2.44Z',
  rect: [
    {
      x: '15.01',
      y: '16.75',
      width: '20.21',
      height: '1.22',
    },
    {
      x: '15.01',
      y: '24.39',
      width: '20.21',
      height: '1.22',
    },
    {
      x: '15.01',
      y: '32.03',
      width: '20.21',
      height: '1.22',
    },
  ],
}

const SVGMobile = {
  path:
    'M25,50A25,25,0,1,1,50,25,25,25,0,0,1,25,50ZM25,3.23A21.77,21.77,0,1,0,46.77,25,21.79,21.79,0,0,0,25,3.23Z',
  rect: [
    {
      x: '15.18',
      y: '16.68',
      width: '19.87',
      height: '1.61',
    },
    {
      x: '15.18',
      y: '24.2',
      width: '19.87',
      height: '1.61',
    },
    {
      x: '15.18',
      y: '31.71',
      width: '19.87',
      height: '1.61',
    },
  ],
}

export default {
  props: {
    color: {
      type: String,
      default: 'black',
    },
    open: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    tl: null,
  }),

  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
    }),
    SVG() {
      return this.isMobile ? SVGMobile : SVGDesktop
    },
  },

  watch: {
    open(open) {
      this.tl[open ? 'play' : 'reverse']()
    },
  },

  mounted() {
    this.setupTimeline()
  },

  methods: {
    setupTimeline() {
      const { SVG } = this
      const { rect } = this.$refs
      const duration = 0.25
      const position = 0.25
      const ease = 'power3.out'

      // Set timeline
      this.tl = gsap.timeline({ paused: true })
      // Move lines together
      this.tl.to(rect[0], { attr: { y: SVG.rect[1].y }, duration, ease }, 0)
      this.tl.to(rect[2], { attr: { y: SVG.rect[1].y }, duration, ease }, 0)

      // Remove the middle line
      this.tl.to(rect[1], { opacity: 0, duration: 0, ease }, position)

      // Rotate them
      this.tl.to(
        rect[0],
        { rotation: 45, transformOrigin: 'center center', duration, ease },
        position
      )
      this.tl.to(
        rect[2],
        { rotation: -45, transformOrigin: 'center center', duration, ease },
        position
      )
    },
  },
}
</script>
