<template>
  <div
    ref="container"
    class="snap-scroll"
    :class="cursor"
    :style="{ height: `${deviceHeight}px` }"
    @click.prevent="scrollClick"
  >
    <div ref="inner" class="snap-scroll-inner" :style="computedHeight">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import gsap from 'gsap'
import { MUTATIONS } from '@store/ui'
import { mapState } from 'vuex'
import SnapScrollUtilsChinese from '@mixins/SnapScrollUtilsChinese'

export default {
  mixins: [SnapScrollUtilsChinese],

  props: {
    enabled: {
      type: Boolean,
      default: true,
    },
    items: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    scrollDelta: 0,
    scrollStep: 0,
    subScrollStep: 0,
    subScrollLimit: 0,
    isScrolling: false,
    intervalId: null,
    scrolling: false,
    scrollLimit: 0,
    start: 0,
    scrollReverse: false,
    cursor: '',
    clickMode: null,
  }),

  computed: {
    ...mapState({
      touchEnabled: (state) => state.ui.touchEnabled,
      wheelEnabled: (state) => state.ui.wheelEnabled,
      scrollData: (state) => state.ui.scrollData,
      scrollEnabled: (state) => state.ui.scrollEnabled,
      menuOpen: (state) => state.ui.menuOpen,
      deviceHeight: (state) => state.ui.deviceHeight,
      deviceWidth: (state) => state.ui.deviceWidth,
      backgroundColor: (state) => state.ui.backgroundColor,
      cursorInteracting: (state) => state.ui.cursorInteracting,
      isMobile: (state) => state.ui.isMobile,
    }),
    computedHeight() {
      return { height: `${this.deviceHeight * this.scrollLimit}px` }
    },
  },

  watch: {
    scrollData: {
      deep: true,
      handler(val) {
        if (val) {
          this.scrollStep = val.step
          this.subScrollStep = val.subScrollStep
          this.doScroll(0.6)
        }
      },
    },
    deviceHeight(val) {
      if (val) {
        const ref = this.items.find((x) => x.step === this.scrollStep)
        this.setColor(ref)
        gsap.set(this.$refs.inner, {
          y: -this.getScrollAmt(this.scrollStep),
        })
      }
    },
  },

  mounted() {
    this.init()
  },

  destroyed() {
    this.removeListeners()
  },

  methods: {
    async init() {
      await this.$nextTick()
      this.scrollLimit = this.items.length
      window.addEventListener('wheel', this.checkWheel)
      window.addEventListener('touchstart', this.checkTouch)
      window.addEventListener('keyup', this.handleKey)
      window.addEventListener('mousemove', this.handleMousemove)
      this.getCurrentPos()
    },

    handleMousemove(e) {
      const perc = Math.floor((100 / this.deviceHeight) * e.clientY)
      const hPerc = Math.floor((100 / this.deviceWidth) * e.clientX)
      if (perc < 10) {
        if (hPerc > 20 && hPerc < 80) {
          if (this.scrollStep > 0) {
            this.cursor =
              this.backgroundColor === 'white'
                ? 'cursor-page-up'
                : 'cursor-page-up-white'
            this.clickMode = 'up'
            return
          }
          if (this.scrollStep === 0 && this.subScrollStep > 0) {
            this.cursor =
              this.backgroundColor === 'white'
                ? 'cursor-page-up'
                : 'cursor-page-up-white'
            this.clickMode = 'up'
            return
          }
        }
      }
      if (perc > 90) {
        if (hPerc > 20 && hPerc < 80) {
          if (this.scrollStep < this.items.length - 1) {
            this.cursor =
              this.backgroundColor === 'white'
                ? 'cursor-page-down'
                : 'cursor-page-down-white'
            this.clickMode = 'down'
            return
          }
        }
      }
      this.cursor = this.backgroundColor === 'white' ? 'cursor' : 'cursor-white'
      this.clickMode = null
    },

    scrollClick() {
      if (
        this.clickMode &&
        !this.isScrolling &&
        this.$route.name === 'index' &&
        this.scrollEnabled &&
        !this.menuOpen &&
        !this.cursorInteracting
      ) {
        this.clickMode === 'down' ? this.handleMove(50) : this.handleMove(-50)
      }
    },
    getScrollAmt(step) {
      // return `${step * 100}vh`
      return step * this.deviceHeight
    },
    getCurrentPos() {
      if (location.hash) {
        // hash is present in the url
        const ref = this.items.find((x) => x.anchor === location.hash)
        this.setStore({
          anchor: ref.anchor,
          step: ref.step,
          amt: -this.getScrollAmt(ref.step),
          breadcrumb: this.breadcrumbs[ref.step],
          color: ref.color,
          background: ref.background,
          subScrollStep: this.subScrollStep,
        })
        this.doScroll(0)
      } else if (
        this.scrollData != null &&
        this.scrollData.anchor !== '#overview'
      ) {
        // scroll data is in the store
        this.scrollStep = this.scrollData.step
        this.subScrollStep = 0
        this.doScroll(0)
      } else {
        this.setColor(this.items[0])
        this.$store.commit(MUTATIONS.SET_BREADCRUMB, this.breadcrumbs[0])
      }
    },

    checkWheel() {
      this.$store.commit(MUTATIONS.SET_WHEEL_ENABLED)
      window.removeEventListener('wheel', this.checkWheel)
      this.addListeners()
    },

    checkTouch() {
      this.$store.commit(MUTATIONS.SET_TOUCH_ENABLED)
      window.removeEventListener('touchstart', this.checkTouch)
      this.addListeners()
    },

    addListeners() {
      if (this.wheelEnabled) {
        window.addEventListener('wheel', this.handleWheel)
      }
      if (this.touchEnabled) {
        window.addEventListener('touchmove', this.handleTouchMove)
        window.addEventListener('touchstart', this.handleTouchStart, {
          passive: true,
        })
      }
    },

    removeListeners() {
      if (this.wheelEnabled) {
        window.removeEventListener('wheel', this.handleWheel)
      }
      if (this.touchEnabled) {
        window.removeEventListener('touchmove', this.handleTouchMove)
        window.removeEventListener('touchstart', this.handleTouchStart)
      }
      window.removeEventListener('mousemove', this.handleMousemove)
    },

    handleTouchStart(event) {
      this.start = event.touches[0].pageY
    },

    handleTouchMove(event) {
      this.handleMove(this.start - event.touches[0].pageY)
    },

    handleWheel(event) {
      this.handleMove(event.deltaY)
    },

    handleKey(e) {
      switch (e.keyCode) {
        case 38:
          this.handleMove(-50)
          break
        case 40:
          this.handleMove(50)
          break
      }
    },

    handleMove(delta) {
      // check to see if permitted to scroll
      // not already scrolling not in modal mode items have loaded
      if (
        !this.isScrolling &&
        (this.$route.name === 'index' || this.$route.name === 'zh') &&
        this.scrollEnabled &&
        !this.menuOpen
      ) {
        this.scrolling = true
        // get the absolute value of distance scrolled
        const deltaCheck = Math.abs(delta)
        // check minimum threshold
        const threshold = this.wheelEnabled ? 15 : 15
        if (deltaCheck > threshold) {
          // prevent scroll until complete
          this.isScrolling = true
          this.getDirection(delta)
          const ref = this.items.find((x) => x.step === this.scrollStep)
          if (ref.children.length >= 1) {
            // perform sub scroll
            if (this.checkInnerScroll(ref)) {
              this.updateSubStep(ref)
              // this.enableScroll(900)
            } else {
              this.doOuterScroll()
            }
          } else {
            this.doOuterScroll()
          }
        }
      }
      this.scrolling = false
    },
    checkInnerScroll(ref) {
      return (
        (this.scrollReverse && this.subScrollStep < ref.children.length + 1) ||
        this.subScrollStep < ref.children.length
      )
    },
    doOuterScroll() {
      this.updateStep()
      const newRef = this.items.find((x) => x.step === this.scrollStep)
      // console.log('doOuterScroll', newRef, this.scrollStep)
      this.subScrollStep = this.resetSubStep(newRef)
      const amt =
        this.scrollStep === 0
          ? this.getScrollAmt(this.scrollStep)
          : -this.getScrollAmt(this.scrollStep)
      this.setStore({
        anchor: newRef.anchor,
        step: this.scrollStep,
        amt,
        breadcrumb: this.breadcrumbs[newRef.step],
        color: newRef.color,
        background: newRef.background,
        subScrollStep: this.subScrollStep,
      })
    },
    getDirection(delta) {
      this.scrollReverse = delta < 0
    },
    updateStep() {
      this.scrollStep = this.scrollReverse
        ? this.decStep(this.scrollStep, 0)
        : this.incStep(this.scrollStep, this.scrollLimit - 1)
    },
    resetSubStep(ref) {
      return this.scrollReverse ? ref.children.length : 0
    },
    updateSubStep(ref) {
      this.subScrollStep = this.scrollReverse
        ? this.decStep(this.subScrollStep, 0)
        : this.incStep(this.subScrollStep, ref.children.length)
      const amt = this.getScrollAmt(this.scrollStep)
      this.setStore({
        anchor: ref.anchor,
        step: this.scrollStep,
        amt,
        breadcrumb: this.breadcrumbs[ref.step],
        color: ref.color,
        background: ref.background,
        subScrollStep: this.subScrollStep,
      })
    },
    incStep(input, limit) {
      return input < limit ? (input += 1) : input
    },
    decStep(input, limit) {
      return input > 0 ? (input -= 1) : input
    },
    setStore(params) {
      this.setData(params)
      this.setColor(params)
      this.$store.commit(MUTATIONS.SET_BREADCRUMB, params.breadcrumb)
      this.$router.push({ name: this.$route.name, hash: params.anchor })
      console.log('Breadcrumb =', params)
    },
    setData(params) {
      this.$store.commit(MUTATIONS.SET_SCROLL_DATA, {
        anchor: params.anchor,
        step: params.step,
        amt: params.amt,
        subScrollStep: params.subScrollStep,
        reversed: this.scrollReverse,
      })
    },
    setColor(params) {
      const bgCol = this.isMobile
        ? params.background.mobile
        : params.background.desktop
      const fgCol = this.isMobile ? params.color.mobile : params.color.desktop
      this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR_ONLY, bgCol)
      fgCol === 'white'
        ? this.$store.commit(MUTATIONS.SET_MENU_TRANSPARENT_REVERSE)
        : this.$store.commit(MUTATIONS.SET_MENU_TRANSPARENT)
    },
    doScroll(speed) {
      const onCompleteFn = () => {
        this.enableScroll()
      }
      gsap.to(this.$refs.inner, {
        y: this.scrollData.amt,
        duration: speed,
        onComplete: onCompleteFn,
        ease: 'expo.inOut',
        force3D: true,
      })
    },
    enableScroll(time = 600) {
      this.intervalId = setTimeout(() => (this.isScrolling = false), time)
    },
  },
}
</script>

<style lang="postcss" scoped>
.snap-scroll {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  position: relative;
}
.snap-scroll-inner {
  position: absolute;
  overscroll-behavior: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
</style>
