<template>
  <div
    v-if="!consentGiven"
    class="fixed bottom-0 left-0 w-full text-mob-size-1 lg:text-size-2 bg-black text-white font-euclid-regular p-4 lg:py-4 lg:px-8 cursor-white z-50"
  >
    <div class="flex justify-between">
      <div class="w-3/4">
        <p>
          By navigating this website you agree to the storing of cookies as
          described in our
          <NuxtLink :to="{ name: 'Legal' }" class="underline-thin"
            >Privacy & Cookie Policy</NuxtLink
          >.
        </p>
      </div>
      <div class="w-1/4 text-right mt-auto">
        <span class="underline-thin" @click="acceptCookies">Close</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Cookies',

  data: () => ({
    consentGiven: false,
  }),

  created() {
    this.checkConsent()
  },

  methods: {
    acceptCookies() {
      const consent = 'cookieConsent=true'

      const date = new Date()
      date.setTime(date.getTime() + 90 * 24 * 60 * 60 * 1000) // 90 day expiarey
      const expires = 'expires=' + date.toUTCString()

      document.cookie = [consent, expires].join(';')
      this.checkConsent()
    },
    checkConsent() {
      this.consentGiven = !!decodeURIComponent(document.cookie)
        .split(';')
        .filter((item) => item.trim().startsWith('cookieConsent=')).length
    },
  },
}
</script>
