<template>
  <div ref="container" class="container-transition overflow-hidden">
    <div
      ref="inner"
      :class="{
        'inner-transition': applyFade,
        'opacity-0': !open && applyFade,
      }"
    >
      <slot />
    </div>
  </div>
</template>

<script>
import gsap from 'gsap'
import { bind, unbind } from '@utils/eventListener'
import customEase from '@utils/customEase'

export default {
  props: {
    open: {
      type: Boolean,
      default: false,
    },
    applyFade: {
      type: Boolean,
      default: true,
    },
    animationOptions: {
      type: Object,
      default: () => ({}),
    },
  },

  data() {
    return {
      height: 0,
    }
  },

  watch: {
    open(open) {
      const ease = customEase('--ease-general')

      gsap.to(this.$refs.container, {
        height: open ? this.height : 0,
        duration: 0.8,
        ease,
        onComplete: this.$emit.bind(this, 'complete', open ? 'open' : 'close'),
        ...this.animationOptions,
      })
    },
  },

  mounted() {
    this.setHeight()
    bind(window, 'resize', this.setHeight)

    gsap.set(this.$refs.container, {
      height: 0,
    })
  },

  beforeDestroy() {
    unbind(window, 'resize', this.setHeight)
    gsap.killTweensOf(this.$refs.container)
  },

  methods: {
    setHeight() {
      this.height = this.$refs.inner.offsetHeight
    },
  },
}
</script>

<style scoped>
.inner-transition {
  transition-property: opacity;
  transition-duration: var(--time-general);
  transition-timing-function: var(--ease-general);
}
</style>
