<template>
  <div ref="container" class="overflow-hidden">
    <div ref="inner" class="h-full w-full">
      <slot :resetAnimation="resetAnimation" />
    </div>
  </div>
</template>

<script>
import gsap from 'gsap'
import { ScrollTrigger } from 'gsap/ScrollTrigger'

gsap.registerPlugin(ScrollTrigger)

export default {
  props: {
    resetAnimationTrigger: {
      type: Number,
      default: 0,
    },
    enabled: {
      type: Boolean,
      default: true,
    },
  },

  watch: {
    resetAnimationTrigger() {
      this.resetAnimation()
    },
  },

  mounted() {
    this.setAnimation()
  },

  beforeDestroy() {
    gsap.killTweensOf(this.$refs.inner)
  },

  methods: {
    async resetAnimation() {
      await this.$nextTick()

      gsap.killTweensOf(this.$refs.inner)

      if (!this.enabled) return

      this.setAnimation()
    },

    setAnimation() {
      const { container, inner } = this.$refs

      const paralaxAmount = 1.2

      const offset = ((paralaxAmount - 1) / 2) * 100

      gsap.set(inner, {
        scale: paralaxAmount,
        y: `-${offset}%`,
      })

      if (!this.enabled) return

      gsap.to(inner, {
        scrollTrigger: {
          trigger: container,
          scrub: true,
        },
        y: `${offset}%`,
      })
    },
  },
}
</script>
