<template>
  <div class="image relative z-0">
    <img
      v-if="placeholderBox && !cover"
      :src="placeholderBox"
      :alt="title"
      :class="innerClass"
      :style="innerStyle"
    />
    <picture
      class="top-0"
      :class="{ 'image-loaded': ready, 'absolute z-1 image-loading': !cover }"
    >
      <source :srcset="srcset" type="image/jpeg" />
      <source :srcset="srcsetWebp" type="image/webp" />
      <img
        ref="img"
        :src="src"
        :alt="title"
        :class="innerClass"
        :style="innerStyle"
      />
    </picture>
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      default: '',
    },
    srcset: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    placeholderBox: {
      type: String,
      default: '',
    },
    srcsetWebp: {
      type: String,
      default: '',
    },
    innerClass: {
      type: String,
      default: '',
    },
    innerStyle: {
      type: Object,
      default: () => ({}),
    },
    cover: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    ready: false,
  }),

  watch: {
    image: {
      immediate: true,
      async handler() {
        if (process.server) return

        await this.$nextTick()

        this.setLoad()
      },
    },
  },

  methods: {
    setLoad() {
      const { img } = this.$refs

      if (img.complete) this.loaded()
      else img.addEventListener('load', this.loaded)
    },
    loaded() {
      if (typeof this.$refs.img !== 'undefined') {
        this.$refs.img.removeEventListener('load', this.loaded)
        this.ready = true
      }
      this.$emit('load')
    },
  },
}
</script>

<style scoped>
.image-loading {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--image-load);
  transition-timing-function: var(--ease-general);
}
.image-loaded {
  opacity: 1;
}
</style>
