<template>
  <div
    class="image-bg relative z-0"
    :style="{ backgroundImage: `url(${src})` }"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      default: '',
    },
    srcset: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    placeholderBox: {
      type: String,
      default: '',
    },
    srcsetWebp: {
      type: String,
      default: '',
    },
    innerClass: {
      type: String,
      default: '',
    },
    innerStyle: {
      type: Object,
      default: () => ({}),
    },
    cover: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    ready: false,
  }),

  watch: {
    image: {
      immediate: true,
      async handler() {
        if (process.server) return

        await this.$nextTick()

        this.setLoad()
      },
    },
  },

  methods: {
    setLoad() {
      const { img } = this.$refs

      if (img.complete) this.loaded()
      else img.addEventListener('load', this.loaded)
    },
    loaded() {
      if (typeof this.$refs.img !== 'undefined') {
        this.$refs.img.removeEventListener('load', this.loaded)
        this.ready = true
      }
      this.$emit('load')
    },
  },
}
</script>

<style scoped>
.image-loading {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--image-load);
  transition-timing-function: var(--ease-general);
}
.image-loaded {
  opacity: 1;
}
.image-bg {
  background-position: center;
  background-size: cover;
  background-repeat: none;
}
</style>
