<template>
  <div>
    <Nuxt />
    <BlockMenuBar />
    <CoreCursorSignpost />
    <BlockMenuDrawer />
    <client-only>
      <CoreCookies />
    </client-only>
  </div>
</template>

<script>
import debounce from 'lodash.debounce'
import { bind } from '@utils/eventListener'
import { ACTIONS, MUTATIONS } from '@store/ui'

export default {
  beforeMount() {
    this.$store.dispatch(ACTIONS.SET_SCREEN_HANDLERS)
    this.$store.commit(MUTATIONS.SET_LANGUAGE, 'en')
    bind(
      window,
      'resize',
      debounce(() => this.$store.dispatch(ACTIONS.SET_SCREEN_HANDLERS), 150)
    )
  },
  mounted() {
    this.$store.commit(MUTATIONS.SET_LANGUAGE, 'en')
  },
}
</script>
