<template>
  <div v-if="!$fetchState.pending">
    <h1>{{ entry.title }}</h1>
    <div v-html="entry.multiText"></div>
    <CoreImage v-bind="entry.media[0].image" />
  </div>
</template>

<script>
import { EXCDPageEntry as query } from '@gql/queries'
export default {
  name: 'ZhExcdEntry',
  layout: 'chinese',
  async fetch() {
    const result = await this.$craft({
      query,
      variables: {
        slug: this.$route.params.slug,
      },
    })
    // console.log(result)
    const { entry } = result.data
    this.entry = entry
  },

  data: () => ({
    entry: null,
  }),
}
</script>

<style></style>
