<template>
  <svg
    :key="safariKey"
    x="0px"
    y="0px"
    viewBox="0 0 360 360"
    style="enable-background: new 0 0 360 360"
    xml:space="preserve"
  >
    <g id="Clock_x5F_Face_1_">
      <g id="Clock_x5F_Face">
        <line class="st0" x1="180" y1="0" x2="180" y2="18" />
        <line class="st0" x1="90" y1="24.1" x2="99" y2="39.7" />
        <line class="st0" x1="24.1" y1="90" x2="39.7" y2="99" />
        <line class="st0" x1="0" y1="180" x2="18" y2="180" />
        <line class="st1" x1="162.8" y1="15.9" x2="161.5" y2="4" />
        <line class="st1" x1="145.7" y1="18.6" x2="143.2" y2="6.9" />
        <line class="st1" x1="129" y1="23.1" x2="125.3" y2="11.7" />
        <line class="st1" x1="112.9" y1="29.3" x2="108" y2="18.3" />
        <line class="st1" x1="83" y1="46.5" x2="76" y2="36.8" />
        <line class="st1" x1="69.6" y1="57.4" x2="61.6" y2="48.5" />
        <line class="st1" x1="57.4" y1="69.6" x2="48.5" y2="61.6" />
        <line class="st1" x1="46.5" y1="83" x2="36.8" y2="76" />
        <line class="st1" x1="29.3" y1="112.9" x2="18.3" y2="108" />
        <line class="st1" x1="23.1" y1="129" x2="11.7" y2="125.3" />
        <line class="st1" x1="18.6" y1="145.7" x2="6.9" y2="143.2" />
        <line class="st1" x1="15.9" y1="162.8" x2="4" y2="161.5" />
        <line class="st0" x1="360" y1="180" x2="342" y2="180" />
        <line class="st0" x1="335.9" y1="90" x2="320.3" y2="99" />
        <line class="st0" x1="270" y1="24.1" x2="261" y2="39.7" />
        <line class="st1" x1="344.1" y1="162.8" x2="356" y2="161.5" />
        <line class="st1" x1="341.4" y1="145.7" x2="353.1" y2="143.2" />
        <line class="st1" x1="336.9" y1="129" x2="348.3" y2="125.3" />
        <line class="st1" x1="330.7" y1="112.9" x2="341.7" y2="108" />
        <line class="st1" x1="313.5" y1="83" x2="323.2" y2="76" />
        <line class="st1" x1="302.6" y1="69.6" x2="311.5" y2="61.6" />
        <line class="st1" x1="290.4" y1="57.4" x2="298.4" y2="48.5" />
        <line class="st1" x1="277" y1="46.5" x2="284" y2="36.8" />
        <line class="st1" x1="247.1" y1="29.3" x2="252" y2="18.3" />
        <line class="st1" x1="231" y1="23.1" x2="234.7" y2="11.7" />
        <line class="st1" x1="214.3" y1="18.6" x2="216.8" y2="6.9" />
        <line class="st1" x1="197.2" y1="15.9" x2="198.5" y2="4" />
        <line class="st0" x1="180" y1="360" x2="180" y2="342" />
        <line class="st0" x1="270" y1="335.9" x2="261" y2="320.3" />
        <line class="st0" x1="335.9" y1="270" x2="320.3" y2="261" />
        <line class="st1" x1="197.2" y1="344.1" x2="198.5" y2="356" />
        <line class="st1" x1="214.3" y1="341.4" x2="216.8" y2="353.1" />
        <line class="st1" x1="231" y1="336.9" x2="234.7" y2="348.3" />
        <line class="st1" x1="247.1" y1="330.7" x2="252" y2="341.7" />
        <line class="st1" x1="277" y1="313.5" x2="284" y2="323.2" />
        <line class="st1" x1="290.4" y1="302.6" x2="298.4" y2="311.5" />
        <line class="st1" x1="302.6" y1="290.4" x2="311.5" y2="298.4" />
        <line class="st1" x1="313.5" y1="277" x2="323.2" y2="284" />
        <line class="st1" x1="330.7" y1="247.1" x2="341.7" y2="252" />
        <line class="st1" x1="336.9" y1="231" x2="348.3" y2="234.7" />
        <line class="st1" x1="341.4" y1="214.3" x2="353.1" y2="216.8" />
        <line class="st1" x1="344.1" y1="197.2" x2="356" y2="198.5" />
        <line class="st0" x1="24.1" y1="270" x2="39.7" y2="261" />
        <line class="st0" x1="90" y1="335.9" x2="99" y2="320.3" />
        <line class="st1" x1="15.9" y1="197.2" x2="4" y2="198.5" />
        <line class="st1" x1="18.6" y1="214.3" x2="6.9" y2="216.8" />
        <line class="st1" x1="23.1" y1="231" x2="11.7" y2="234.7" />
        <line class="st1" x1="29.3" y1="247.1" x2="18.3" y2="252" />
        <line class="st1" x1="46.5" y1="277" x2="36.8" y2="284" />
        <line class="st1" x1="57.4" y1="290.4" x2="48.5" y2="298.4" />
        <line class="st1" x1="69.6" y1="302.6" x2="61.6" y2="311.5" />
        <line class="st1" x1="83" y1="313.5" x2="76" y2="323.2" />
        <line class="st1" x1="112.9" y1="330.7" x2="108" y2="341.7" />
        <line class="st1" x1="129" y1="336.9" x2="125.3" y2="348.3" />
        <line class="st1" x1="145.7" y1="341.4" x2="143.2" y2="353.1" />
        <line class="st1" x1="162.8" y1="344.1" x2="161.5" y2="356" />
      </g>
    </g>
    <g id="Clock_x5F_Centre" class="center">
      <g id="Cap_x5F_Point_1_">
        <circle cx="180" cy="180" r="7" />
      </g>
    </g>
    <g id="Second_x5F_Hand">
      <line
        class="st1 origin-center hand-transition"
        :style="secondHand"
        x1="180"
        y1="203"
        x2="180"
        y2="35.5"
      />
    </g>
    <g id="Hour_x5F_Hand_1_">
      <line
        class="st2 origin-center hand-transition"
        :class="{ 'timezone-transition': timeZoneTransitioning }"
        :style="hourHand"
        x1="180"
        y1="203"
        x2="180"
        y2="79"
      />
    </g>
    <g id="Minute_x5F_Hand">
      <line
        class="st2 origin-center hand-transition"
        :style="minuteHand"
        x1="180"
        y1="203"
        x2="180"
        y2="35.5"
      />
    </g>
    <g
      v-if="timeZone === 'America/New_York'"
      id="NYC"
      class="invisible lg:visible timezone"
    >
      <g id="Location_x5F_NYC">
        <g class="st3">
          <path
            d="M165,103.5l-10.9-13.9v13.9h-4.3V82.2h3.7l10.9,13.9V82.2h4.3v21.3H165z"
          />
          <path
            d="M178.4,94.5l-7.9-12.3h5l5,8.1l5-8.1h5.1l-7.9,12.4v8.9h-4.4L178.4,94.5L178.4,94.5z"
          />
          <path
            d="M200.6,81.8c4.8,0,9.1,3.1,10.3,7.6h-4.7c-0.9-2.1-3.2-3.4-5.6-3.4c-4.1,0-6.8,3-6.8,6.8s2.7,6.8,6.8,6.8
				c2.4,0,4.7-1.3,5.6-3.4h4.7c-1.2,4.5-5.5,7.6-10.3,7.6c-6.5,0-11.2-4.8-11.2-11S194.2,81.8,200.6,81.8z"
          />
        </g>
      </g>
    </g>
    <g
      v-if="timeZone === 'Europe/London'"
      id="LDN"
      class="invisible lg:visible timezone"
    >
      <g id="Location_x5F_LDN">
        <g class="st3">
          <path d="M152.2,82.2h4.3v17.2h9.1v4.1h-13.5L152.2,82.2L152.2,82.2z" />
          <path
            d="M167.9,82.2h7c6.1,0,11,4.7,11,10.6s-4.8,10.6-11,10.6h-7V82.2z M174.9,99.5c3.9,0,6.6-3,6.6-6.7s-2.6-6.7-6.6-6.7h-2.7
				v13.3L174.9,99.5L174.9,99.5z"
          />
          <path
            d="M203.1,103.5l-10.9-13.9v13.9h-4.3V82.2h3.8l10.9,13.9V82.2h4.4v21.3H203.1z"
          />
        </g>
      </g>
    </g>
    <g
      v-if="timeZone === 'America/Los_Angeles'"
      id="LA"
      class="invisible lg:visible timezone"
    >
      <g id="Location_x5F_LA">
        <g class="st3">
          <path d="M162.7,82.2h4.3v17.2h9.1v4.1h-13.5L162.7,82.2L162.7,82.2z" />
          <path
            d="M185.7,82.2h3.9l9.2,21.3h-4.6l-2.1-4.9H183l-2.1,4.9h-4.5L185.7,82.2z M190.6,94.8l-2.9-6.9l-2.9,6.9H190.6z"
          />
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
import { ACTIONS } from '@store/animation'

export default {
  props: {
    timeZone: {
      type: String,
      default: 'Europe/London',
    },
  },

  data: () => ({
    animationUuid: null,
    hours: 0,
    minutes: 0,
    seconds: 0,
    hourRotationOffset: 0,
    timeZoneTransitioning: true,
    timeoutID: null,
  }),

  computed: {
    hourHand() {
      const delta = 360 / 12
      const rotation = this.hours * delta + this.hourRotationOffset

      // add 30 degree inter hour rotation for minutes
      return {
        transform: `rotate(${rotation}deg)`,
        ...([0, 360].includes(rotation) && { transitionDuration: '0s' }),
      }
    },
    minuteHand() {
      const delta = 360 / 60
      const rotation = this.minutes * delta
      return {
        transform: `rotate(${rotation}deg)`,
        ...(rotation === 0 && { transitionDuration: '0s' }),
      }
    },
    secondHand() {
      const delta = 360 / 60
      const rotation = this.seconds * delta

      return {
        transform: `rotate(${rotation}deg)`,
        ...(rotation === 0 && { transitionDuration: '0s' }),
      }
    },
    safariKey() {
      const isSafari = /^((?!chrome|android).)*safari/i.test(
        navigator.userAgent
      )

      if (isSafari) {
        return `safari-${this.seconds}`
      }

      return 'svg'
    },
  },

  watch: {
    minutes() {
      if (this.minutes % 12 === 0) {
        const delta = 360 / 60
        this.hourRotationOffset = (this.minutes * delta) / 12
      }
    },
    timeZone: {
      immediate: true,
      handler(val) {
        this.timeZoneTransitioning = true

        this.timeoutID = setTimeout(
          () => (this.timeZoneTransitioning = false),
          1000
        )
      },
    },
  },

  async created() {
    this.setTime()
    this.animationUuid = await this.$store.dispatch(
      ACTIONS.SUBSCRIBE,
      this.setTime
    )
  },

  beforeDestroy() {
    this.$store.dispatch(ACTIONS.UNSUBSCRIBE, this.animationUuid)
    if (this.timeoutID) clearTimeout(this.timeoutID)
  },

  methods: {
    setTime() {
      const { timeZone } = this

      const time = new Date().toLocaleString('en-US', {
        timeZone,
      })

      this.hours = new Date(time).getHours()
      this.minutes = new Date(time).getMinutes()
      this.seconds = new Date(time).getSeconds()
    },
  },
}
</script>

<style scoped>
/* Custom css transitoins for hand motions */

.st0 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.st3 {
  enable-background: new;
}

.timezone,
.center {
  fill: #ffffff;
}

.hand-transition {
  transition-property: transform;
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0, 2, 1, 0.63);
  will-change: transform;
}

.timezone-transition {
  transition-duration: var(--time-general);
  transition-timing-function: var(--ease-general);
}
</style>
