<template>
  <section
    id="our-studio"
    class="relative overflow-hidden flex flex-col lg:block w-full h-screen bg-black"
    :style="{ height: `${deviceHeight}px` }"
  >
    <div
      class="lg:absolute flex justify-center flex-col lg:flex-row w-full h-full lg:p-gutter-desk-1/2 lg:pointer-events-none pt-navbar pb-xs lg:pb-0"
    >
      <ClientOnly>
        <SpineOurStudioClock
          :time-zone="activeZone"
          class="lg:p-gutter-desk-1/2 h-full lg:h-auto lg:w-full lg:opacity-40"
        />
        <SpineOurStudioClock
          v-if="!isMobile"
          time-zone="America/New_York"
          class="lg:p-gutter-desk-1/2 w-full lg:opacity-40"
        />
        <SpineOurStudioClock
          v-if="!isMobile"
          time-zone="America/Los_Angeles"
          class="lg:p-gutter-desk-1/2 w-full lg:opacity-40"
        />
      </ClientOnly>
      <div
        class="lg:hidden px-gutter p-xs lg:pt-s flex justify-between text-mob-size-1"
      >
        <span
          :class="[
            activeZone === 'Europe/London' ? 'text-white' : 'text-dark-grey',
          ]"
          @click="handleClick(0)"
          >LDN</span
        >
        <span
          :class="[
            activeZone === 'America/New_York' ? 'text-white' : 'text-dark-grey',
          ]"
          @click="handleClick(1)"
          >NYC</span
        >
        <span
          :class="[
            activeZone === 'America/Los_Angeles'
              ? 'text-white'
              : 'text-dark-grey',
          ]"
          @click="handleClick(2)"
          >LA</span
        >
      </div>
    </div>
    <div
      class="flex flex-col h-full justify-end px-gutter pb-gutter-mob lg:pb-s lg:absolute"
      @mouseenter="setInteracting(true)"
      @mouseleave="setInteracting(false)"
    >
      <ul>
        <li>
          <NuxtLink
            :to="{
              name: 'our-studio-slug',
              params: {
                slug: 'values',
              },
            }"
            class="text-fluid-size-8 hover:underline-thin"
            >Our Values</NuxtLink
          >
        </li>
        <li>
          <NuxtLink
            :to="{
              name: 'our-studio-slug',
              params: {
                slug: 'leadership',
              },
            }"
            class="text-fluid-size-8 hover:underline-thin"
            >Leadership</NuxtLink
          >
        </li>
        <li>
          <NuxtLink
            :to="{
              name: 'our-studio-slug',
              params: {
                slug: 'careers',
              },
            }"
            class="text-fluid-size-8 hover:underline-thin"
            >Careers</NuxtLink
          >
        </li>
        <li>
          <NuxtLink
            :to="{
              name: 'our-studio-slug',
              params: {
                slug: 'clients',
              },
            }"
            class="text-fluid-size-8 hover:underline-thin"
            >Clients</NuxtLink
          >
        </li>
        <li>
          <NuxtLink
            :to="{
              name: 'our-studio-slug',
              params: {
                slug: 'elliot-james',
              },
            }"
            class="text-fluid-size-8 hover:underline-thin"
            >Elliot & James</NuxtLink
          >
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import { MUTATIONS } from '@store/ui'

export default {
  data: () => ({
    timeZones: ['Europe/London', 'America/New_York', 'America/Los_Angeles'],
    activeIncrement: 0,
    timeoutID: null,
  }),

  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
    activeZone() {
      if (!this.isMobile) return this.timeZones[0]

      return this.timeZones[this.activeIncrement % 3]
    },
  },

  mounted() {
    this.increment()
  },

  beforeDestroy() {
    clearTimeout(this.timeoutID)
  },

  methods: {
    increment() {
      this.timeoutID = setTimeout(() => {
        this.activeIncrement += 1
        this.increment()
      }, 2500)
    },
    handleClick(index) {
      clearTimeout(this.timeoutID)
      this.activeIncrement = index
      this.increment()
    },
    setInteracting(state) {
      this.$store.commit(MUTATIONS.SET_CURSOR_INTERACTING, state)
    },
  },
}
</script>

<style scoped>
.pt-navbar {
  /* 15 + 31 + 19 */
  padding-top: 65px;
}

@screen lg {
  .pt-navbar {
    padding-top: 0;
  }
}

li {
  width: fit-content;
  @apply text-white;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: var(--ease-general);
}

ul:hover > *:not(:hover) {
  @apply text-dark-grey;
}
</style>
