<template>
  <section
    id="overview"
    class="overflow-hidden w-full h-screen relative"
    :style="{ height: `${deviceHeight}px` }"
  >
    <pre>
      {{ content }}
    </pre>
  </section>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    content: {
      type: Object,
      default: () => {},
    },
  },

  data: () => ({}),

  computed: {
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },

  watch: {},

  mounted() {
    this.$nextTick(() => {
      this.init()
    })
  },

  methods: {
    init() {
      console.log('init')
    },
  },
}
</script>
