<template>
  <section
    id="overview"
    class="overflow-hidden w-full h-screen relative"
    :style="{ height: `${deviceHeight}px` }"
  >
    <div
      ref="blur"
      class="pointer-events-none w-full h-full absolute blur z-10"
    ></div>
    <client-only>
      <CoreVideo
        ref="video"
        :mobile="video.mobile"
        :desktop="video.desktop"
        :paused="paused"
      />
    </client-only>
    <div
      id="overlay-menu"
      ref="overlay"
      class="justify-end p-gutter absolute inset-0 z-10 flex flex-col overlay w-full h-full translate-x-full"
      :style="{ height: `${deviceHeight}px` }"
    >
      <h2
        v-for="item in navItems"
        :key="item.anchor"
        class="text-white text-fluid-size-8 hover:underline-thin block pb-3 w-max-content"
        @click="scrollSpine(item)"
        @mouseenter="setInteracting(true)"
        @mouseleave="setInteracting(false)"
      >
        {{ item.title }}
      </h2>
    </div>
  </section>
</template>

<script>
import gsap from 'gsap'
import { mapState } from 'vuex'
import SnapScrollUtils from '@mixins/SnapScrollUtils'
import { MUTATIONS } from '@store/ui'

export default {
  mixins: [SnapScrollUtils],

  props: {
    video: {
      type: Object,
      default: () => ({}),
    },
    items: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    tl: null,
    paused: false,
  }),

  computed: {
    navItems() {
      const l = this.items.length
      return this.items.slice(2, l)
    },
    ...mapState({
      scrollData: (state) => state.ui.scrollData,
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },

  watch: {
    scrollData(val) {
      if (val.step === 0) {
        if (val.reversed && val.subScrollStep === 0) {
          this.tl.reverse()
        } else if (val.reversed && val.subScrollStep === 1) {
          this.tl.seek(0.5)
        } else if (val.subScrollStep === 1) {
          this.tl.restart()
        } else if (val.subScrollStep === 0) {
          this.tl.seek(0).pause()
        }
        this.paused = val.subScrollStep === 1
      } else {
        this.paused = true
      }
    },
  },

  mounted() {
    this.$nextTick(() => {
      this.init()
    })
  },

  methods: {
    setInteracting(state) {
      this.$store.commit(MUTATIONS.SET_CURSOR_INTERACTING, state)
    },

    init() {
      this.tl = gsap.timeline({ paused: true })
      this.tl
        .fromTo(
          '#overlay-menu',
          {
            opacity: 0,
            y: '100%',
          },
          {
            duration: 0.5,
            ease: 'inOut',
            opacity: 1,
            y: '0%',
          },
          0
        )
        .fromTo(
          this.$refs.blur,
          {
            opacity: 0,
          },
          {
            duration: 0.5,
            ease: 'inOut',
            opacity: 1,
          },
          0
        )
    },
  },
}
</script>

<style scoped>
.blur {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
</style>
