<template>
  <section
    id="contact"
    class="spine w-full h-screen bg-black"
    :style="{ height: `${deviceHeight}px` }"
  >
    <CoreGrid
      class="h-full grid grid-cols-6 lg:grid-cols-18 lg:grid-flow-col grid-rows-9"
      :style="{ height: `${deviceHeight}px` }"
    >
      <div
        class="col-span-6 lg:col-span-18 row-start-2 lg:row-start-2 pl-gutter-mob lg:pl-gutter-desk lg:row-span-2"
      >
        <client-only>
          <ContactTitle
            :items="[
              'Cheers',
              '再见',
              'Ciao',
              'وداعا',
              'Au Revoir',
              'さようなら',
              'Tschüss',
              'अलविदा',
            ]"
          />
        </client-only>
      </div>

      <div
        class="col-span-6 lg:col-span-18 row-start-3 lg:row-start-5 lg:row-span-2"
      >
        <div class="grid grid-cols-6 lg:grid-cols-18 lg:grid-flow-col">
          <div
            v-for="(item, index) in offices"
            :key="`office-${index}`"
            class="mb-xs col-span-3 lg:col-span-4 pl-gutter-mob lg:pl-gutter-desk"
          >
            <h3
              class="font-euclid-semibold text-size-2 lg:text-size-5 mb-2 text-white"
            >
              {{ item.title }}
            </h3>
            <p
              class="font-euclid-medium text-mob-size-1 lg:text-size-2 text-white"
            >
              {{ item.phone }}
            </p>
            <p
              class="font-euclid-medium text-mob-size-1 lg:text-size-2 text-white"
              v-html="item.address"
            ></p>
          </div>
        </div>

        <div
          class="grid grid-cols-6 lg:grid-cols-18 lg:grid-flow-col mt-2 lg:mt-5 pointer-events-auto"
        >
          <div
            v-for="(item, index) in contacts"
            :key="`contact-${index}`"
            class="mb-xs col-span-3 lg:col-span-4 pl-gutter-mob lg:pl-gutter-desk"
            :class="{ 'lg:col-start-1': index === 0 }"
          >
            <p
              class="font-euclid-semibold text-mob-size-1 lg:text-size-2 text-white"
            >
              {{ item.title }}
            </p>
            <div
              v-for="(link, num) in item.links"
              :key="`link-${index}'${num}`"
              @click="clicked(link.link)"
              @mouseenter="setInteracting(true)"
              @mouseleave="setInteracting(false)"
            >
              <a
                :href="link.link"
                class="block font-euclid-regular text-mob-size-1 lg:text-size-2 text-white pointer-events-auto"
              >
                {{ link.title }}
              </a>
            </div>
          </div>
          <div
            class="mb-xs col-span-3 lg:col-span-4 pl-gutter-mob lg:pl-gutter-desk"
          >
            <p
              class="font-euclid-semibold text-mob-size-1 lg:text-size-2 text-white"
            >
              Social
            </p>
            <div class="pt-xxxs">
              <a
                rel="noreferrer"
                target="_blank"
                href="https://www.instagram.com/marchandwhitedesign"
                class="mr-xs inline-block"
                @click="
                  clicked('https://www.instagram.com/marchandwhitedesign')
                "
              >
                <CoreIcon color="white">
                  <IconInstagram />
                </CoreIcon>
              </a>
              <a
                rel="noreferrer"
                target="_blank"
                href="https://twitter.com/marchandwhite"
                class="inline-block"
                @click="clicked('https://twitter.com/marchandwhite')"
              >
                <CoreIcon color="white">
                  <IconTwitter />
                </CoreIcon>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-span-6 lg:col-span-18 row-start-9 pl-gutter-mob lg:pl-gutter-desk self-end hidden lg:block"
      >
        <img
          src="/elliot-and-james.png"
          class="w-3/4 lg:w-1/3 mb-10"
          alt="Elliot and James"
        />
      </div>
    </CoreGrid>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import { MUTATIONS } from '@store/ui'
export default {
  data: () => ({
    offices: [
      {
        title: 'LDN',
        phone: '+44 (0)207 240 3464',
        address:
          '1st Floor West, Magdalen House,<br/>136–148, Tooley Street,<br/>London, SE1 2TU',
      },
      {
        title: 'NYC',
        phone: '+1 (212) 706 3860',
        address: '95 Grand Street, 2nd Floor,<br/>New York, NY  10013',
      },
      {
        title: 'LA',
        phone: '+1 (310) 734 2642',
        address:
          'Suite 401, 6363 Wilshire Boulevard,<br/>Los Angeles, CA  90048',
      },
    ],
    contacts: [
      {
        title: 'New Business',
        links: [
          { title: 'newbusiness@mawd.co', link: 'mailto:newbusiness@mawd.co' },
        ],
      },
      {
        title: 'Recruitment',
        links: [
          { title: 'recruitment@mawd.co', link: 'mailto:recruitment@mawd.co' },
        ],
      },
      {
        title: 'Press',
        links: [{ title: 'press@mawd.co', link: 'mailto:press@mawd.co' }],
      },
      // {
      //   title: 'Social',
      //   links: [
      //     { title: 'Twitter', link: 'https://twitter.com/marchandwhite' },
      //     {
      //       title: 'Instagram',
      //       link: 'https://www.instagram.com/marchandwhitedesign',
      //     },
      //   ],
      // },
    ],
  }),
  computed: {
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },
  methods: {
    setInteracting(state) {
      this.$store.commit(MUTATIONS.SET_CURSOR_INTERACTING, state)
    },
    clicked(link) {
      window.open(link, '_blank')
    },
  },
}
</script>
