<template>
  <!-- LHS / MOBILE -->
  <CoreGrid
    id="our-thoughts"
    elm-type="section"
    class="overflow-hidden w-full h-screen px-gutter relative bg-putty"
    :style="{ height: `${deviceHeight}px` }"
  >
    <div
      class="col-span-6 lg:col-span-12 w-full h-full m-neg-gutters cursor-hover relative hover-area overflow-hidden"
      :style="{ height: `${deviceHeight}px` }"
      @click="to(selected.slug)"
      @mouseover="handleMouseover"
      @mouseleave="handleMouseleave"
    >
      <div class="bg-gradient w-full h-full">
        <CoreImage
          class="w-full h-full"
          v-bind="selected.media[0].image"
          inner-class="w-full h-full object-cover"
          :cover="true"
        />
      </div>

      <CoreGrid
        :lg-only="true"
        :lg-columns="12"
        class="flex flex-col h-full lg:h-auto justify-center absolute left-0 overlay-transform px-gutter-mob lg:pl-gutter-desk lg:pr-0 text-white lg:pb-gutter-desk"
      >
        <div
          class="col-span-6 lg:col-span-5 text-mob-size-1 lg:text-size-2 mb-xxs lg:mb-xs"
        >
          <span
            v-for="(tag, i) in selected.tags"
            :key="i"
            class="pr-xxxs filter-separator"
            v-text="tag.title"
          />
          <span>—</span>
          <span v-text="formatDate(selected.date)" />
        </div>
        <div
          class="col-span-6 lg:col-span-5 row-start-2 font-lyon-regular text-size-5"
        >
          <h4 class="hover-underline-thin" v-text="selected.title" />
        </div>
      </CoreGrid>
      <OurThoughtsNumber
        :id="selected.id"
        class="lg:pb-xxs"
        :bootstrap="bootstrap"
        p="pr-gutter-desk"
      />
    </div>
    <!-- RHS -->
    <div
      class="col-span-6 hidden lg:block h-full overflow-y-scroll hidden-scrollbar"
      :style="{ height: `${deviceHeight}px` }"
      @mouseover="handleEnableScroll(false)"
      @mouseleave="handleEnableScroll(true)"
    >
      <div class="mt-xl mb-l">
        <OurThoughtsThumbnail
          v-for="({ title, slug, date, tags, media, id }, i) in latest"
          :id="id"
          :key="i"
          :title="title"
          :slug="slug"
          :date="date"
          :tags="tags"
          :image="media[0].image"
          :bootstrap="bootstrap"
          :route-forwading="true"
          :paralax-enabled="false"
          :load-enabled="false"
          class="mb-l"
        />
      </div>
    </div>
    <div
      class="absolute p-gutter mt-breadcrumb-offset text-white lg:text-black lg:bg-putty z-20 w-full col-start-13"
    >
      <NuxtLink
        :to="{ name: 'our-thoughts' }"
        class="mt-gutter-desk font-euclid-regular text-size-2 lg:text-size-3 h-icon"
      >
        View All
      </NuxtLink>
    </div>
  </CoreGrid>
</template>

<script>
import { READ_MORE } from '@c/Core/CoreCursorSignpost'
import { MUTATIONS } from '@store/ui'
import { mapState } from 'vuex'

export default {
  props: {
    bootstrap: {
      type: Array,
      default: () => [],
    },
    ourThoughts: {
      type: Array,
      default: () => [],
    },
    latest: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    selected() {
      return this.ourThoughts[0]
    },
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },

  methods: {
    to(slug) {
      this.$router.push({
        name: 'our-thoughts',
        params: {
          routeForwading: true,
          routeForwadingSlug: slug,
        },
      })
    },

    formatDate(date) {
      return new Date(date).toLocaleDateString().replace(/\//g, '.')
    },

    handleMouseover() {
      this.$store.commit(MUTATIONS.SET_CURSOR_SIGNPOST, READ_MORE)
    },

    handleMouseleave() {
      this.$store.commit(MUTATIONS.UNSET_CURSOR_SIGNPOST)
    },

    handleEnableScroll(val) {
      this.$store.commit(MUTATIONS.SET_SCROLL_ENABLED, val)
    },
  },
}
</script>

<style lang="postcss" scoped>
.m-neg-gutters {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
  width: calc(100% + 1.875rem);
}

.mt-breadcrumb-offset {
  margin-top: 24px;
}

@screen lg {
  .m-neg-gutters {
    margin-right: 0;
    margin-left: -1.813rem;
    width: calc(100% + 1.813rem);
  }

  .mt-breadcrumb-offset {
    margin-top: 0px;
  }
}

.filter-separator:before {
  content: '|';
  @apply pr-xxxs;
  @apply font-euclid-regular;
}

.filter-separator:first-of-type:before {
  content: unset;
}

.overlay-transform {
  transform: translateY(-100%);
}

.overlay-t-offset {
  margin-top: 10px;
  margin-right: 2px;
}

.bg-gradient::after {
  content: '';
  @apply absolute top-0 left-0;
  @apply w-full h-full;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 33%,
    rgba(0, 0, 0, 0) 100%
  );
}

.h-icon {
  height: 41px;
}

.hover-area ::v-deep img {
  transition-property: transform;
  transition-duration: var(--hover-long);
  transition-timing-function: var(--hover-ease-out);
}

.hover-area:hover ::v-deep img {
  transition-timing-function: var(--hover-ease-in);
  transition-duration: var(--hover-short);
  transform: scale3d(1.03, 1.03, 1.03);
}
</style>
