<template>
  <section
    id="our-process"
    class="overflow-hidden w-full h-screen"
    :style="{ height: `${deviceHeight}px` }"
  >
    <client-only>
      <CoreVideo
        :mobile="video.mobile"
        :desktop="video.desktop"
        :paused="paused"
      />
    </client-only>
  </section>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    video: {
      type: Object,
      default: () => ({}),
    },
    index: {
      type: Number,
      default: null,
    },
  },

  data: () => ({
    paused: true,
  }),

  computed: {
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
      scrollData: (state) => state.ui.scrollData,
    }),
  },
  watch: {
    scrollData(val) {
      if (val.step !== this.index) {
        this.paused = true
      } else {
        this.paused = false
      }
    },
  },
}
</script>
