<template>
  <section
    id="press-media"
    class="overflow-hidden"
    :style="{ height: `${deviceHeight}px` }"
  >
    <PressMediaWelcome />
  </section>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },
}
</script>
