<template>
  <section
    class="py-size-7 sm:py-size-7 md:py-size-8 lg:py-size-10 bg-mid-blue lg:bg-newsletter-section bg-no-repeat bg-center-left"
  >
    <div class="container mx-auto text-center">
      <h3
        class="text-tt-norms-pro-regular text-size-5 sm:text-size-5 md:text-size-6 lg:text-size-7 font-bold px-size-3 sm:px-size-7 md:px-size-10 lg:px-0"
      >
        Subscribe to The Drum and never miss a beat
      </h3>
      <p
        class="text-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 font-light pt-size-5 pb-size-6 sm:pt-size-5 sm:pb-size-6 md:pt-size-6 md:pb-size-7 lg:py-12 px-size-3 sm:px-size-7 md:px-size-10 lg:px-0"
      >
        Hear the very latest songs, sounds and stories from the inspiring people
        we work with, all sent to your inbox every month.
      </p>
      <form action="" class="mx-auto relative">
        <input
          type="email"
          value=""
          name="EMAIL"
          class="input-email text-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-5 font-light rounded-full border border-black outline-none placeholder-black lg:bg-mid-blue"
          placeholder="Subscribe to newsletter"
          required=""
        />
        <div
          class="submit-wrapper absolute top-0 right-0 bottom-0 rounded-full border border-black hover:bg-white hover:bg-opacity-50 transition duration-500 ease-in-out"
        >
          <input
            type="submit"
            value=""
            name="subscribe"
            class="input-submit outline-none"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="20"
            viewBox="0 0 14 20"
            class="absolute play-arrow"
          >
            <g
              id="Group_2840"
              data-name="Group 2840"
              transform="translate(0.134 0.011)"
            >
              <path
                id="Polygon_10"
                data-name="Polygon 10"
                d="M10,0,20,14H0Z"
                transform="translate(13.866 -0.011) rotate(90)"
              />
            </g>
          </svg>
          <div
            class="circle-3 absolute rounded-full border border-white border-opacity-0 transition ease-in-out"
          ></div>
          <div
            class="circle-2 absolute rounded-full border border-white border-opacity-0 transition ease-in-out"
          ></div>
          <div
            class="circle-1 absolute rounded-full border border-white border-opacity-0 transition ease-in-out"
          ></div>
        </div>
      </form>
      <p
        class="text-tt-norms-pro-regular text-size-1 sm:text-size-1 md:text-size-2 lg:text-size-3 pt-6 font-light px-size-3 sm:px-size-7 md:px-size-10 lg:px-0"
      >
        By subscribing you agree to receive email updates from Hear me out
      </p>
    </div>
  </section>
</template>
<script>
export default {}
</script>
<style lang="postcss" scoped>
form {
  width: 100%;
  max-width: 940px;
  height: 100px;
}
.input-email {
  width: 100%;
  max-width: 940px;
  height: 100px;
  text-indent: 50px;
}
.input-submit {
  height: 100px;
  width: 100px;
  background: transparent;
  cursor: pointer;
}
.play-arrow {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.circle-1,
.circle-2,
.circle-3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.circle-1 {
  width: 125px;
  height: 125px;
  transition-duration: 0.7s;
}
.circle-2 {
  width: 151px;
  height: 151px;
  transition-duration: 0.5s;
}
.circle-3 {
  width: 177px;
  height: 177px;
  transition-duration: 0.3s;
}
.submit-wrapper:hover {
  .circle-1,
  .circle-2,
  .circle-3 {
    border: 1px solid white;
  }
  .circle-1 {
    transition-duration: 0.3s;
  }
  .circle-2 {
    transition-duration: 0.5s;
  }
  .circle-3 {
    transition-duration: 0.7s;
  }
}

@media screen and (max-width: 1024px) {
  form {
    height: 80px;
  }
  .input-email {
    height: 80px;
    text-indent: 30px;
  }
  .input-submit {
    height: 80px;
    width: 80px;
  }
  .circle-1 {
    width: calc(0.8 * 125px);
    height: calc(0.8 * 125px);
  }
  .circle-2 {
    width: calc(0.8 * 151px);
    height: calc(0.8 * 151px);
  }
  .circle-3 {
    width: calc(0.8 * 177px);
    height: calc(0.8 * 177px);
  }
  .play-arrow {
    width: 12px;
  }
}

@media screen and (max-width: 768px) {
  form {
    height: 60px;
  }
  .input-email {
    height: 60px;
    text-indent: 30px;
  }
  .input-submit {
    height: 60px;
    width: 60px;
  }
  .circle-1 {
    width: calc(0.6 * 125px);
    height: calc(0.6 * 125px);
  }
  .circle-2 {
    width: calc(0.6 * 151px);
    height: calc(0.6 * 151px);
  }
  .circle-3 {
    width: calc(0.6 * 177px);
    height: calc(0.6 * 177px);
  }
  .play-arrow {
    width: 8px;
  }
}

@media screen and (max-width: 640px) {
  form {
    height: 40px;
  }
  .input-email {
    height: 40px;
    text-indent: 20px;
  }
  .input-submit {
    height: 40px;
    width: 40px;
  }
  .circle-1 {
    width: calc(0.4 * 125px);
    height: calc(0.4 * 125px);
  }
  .circle-2 {
    width: calc(0.4 * 151px);
    height: calc(0.4 * 151px);
  }
  .circle-3 {
    width: calc(0.4 * 177px);
    height: calc(0.4 * 177px);
  }
  .play-arrow {
    width: 6px;
  }
}
</style>
