<template>
  <section class="playlist rounded-3xl md:rounded-2xl">
    <div class="playlist__music-player rounded-3xl md:rounded-2xl flex">
      <div class="playlist__music-player__cover rounded-3xl md:rounded-2xl">
        <div class="relative rounded-3xl md:rounded-2xl">
          <CoreImage
            class="pointer-events-none rounded-3xl md:rounded-2xl"
            :src="currentSong.cover_art_url"
            :srcset="currentSong.cover_art_url"
            inner-class="h-full w-full object-cover rounded-3xl md:rounded-2xl"
          />
          <div class="absolute button-wrapper rounded-3xl md:rounded-2xl">
            <button
              class="play relative rounded-full border border-white z-10 transition duration-500 ease-in-out opacity-0"
              @click="event(id)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="19"
                height="24"
                viewBox="0 0 19 24"
                class="absolute"
              >
                <g
                  id="Group_1623"
                  data-name="Group 1623"
                  transform="translate(-0.113 0.143)"
                >
                  <path
                    id="Polygon_10"
                    data-name="Polygon 10"
                    d="M12,0,24,19H0Z"
                    transform="translate(19.113 -0.143) rotate(90)"
                    fill="#fff"
                  />
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div
        class="playlist__music-player__controls text-white p-size-3 sm:p-size-4 md:p-size-5 flex flex-col flex-grow"
      >
        <div class="flex justify-between">
          <div>
            <h4 class="font-tt-norms-pro-bold text-size-3 sm:text-size-4">
              {{ currentSong.title }}
            </h4>
            <h5
              class="font-tt-norms-pro-regular text-size-3 sm:text-size-4 mb-auto"
            >
              {{ currentSong.artist }}
            </h5>
          </div>
          <div>
            <CoreTag class="hidden md:block" />
          </div>
        </div>
        <div class="mt-auto">
          <div class="flex">
            <div
              class="playlist__music-player__controls__progress bg-white bg-opacity-50 w-full flex-grow relative"
            >
              <div
                :style="{ width: progressPercentageValue }"
                class="playlist__music-player__controls__progress__song-length absolute bg-white"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    id: {
      type: Number,
      default: 1,
    },
  },
  computed: {
    currentSong() {
      return this.$store.state.player.playlist.songs.find(
        (song) => song.id === this.id
      )
    },
    progressPercentageValue() {
      return this.$store.state.player.currentSong &&
        this.$store.state.player.currentSong.id === this.id
        ? this.$store.state.player.progressPercentageValue
        : 0
    },
  },
  methods: {
    event(name) {
      this.$store.commit('player/setEventsChange', name)
      setTimeout(() => {
        this.$store.commit('player/setEventsChange', 'play')
      }, 100)
    },
  },
}
</script>
<style lang="postcss" scoped>
button.play {
  width: 100px;
  height: 100px;
  backdrop-filter: blur(11px) brightness(115%);
  background: rgba(255, 255, 255, 0.25);
  svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.button-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playlist {
  max-width: 550px;
  &__music-player {
    min-height: 180px;
    backdrop-filter: blur(11px) brightness(115%);
    background: rgba(0, 0, 0, 0.59);
    &__cover {
      max-width: 185px;
      max-height: 185px;
      &:hover {
        button {
          @apply opacity-100;
        }
      }
    }
    &__controls {
      &__progress {
        height: 3px;
        margin-top: 4px;
        &__song-length {
          height: 3px;
          width: 40%;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .playlist {
    max-width: 310px;
    &__music-player {
      min-height: 102px;
      &__cover {
        max-width: 102px;
        max-height: 102px;
      }
    }
  }
  button.play {
    width: 56px;
    height: 56px;
  }
}
</style>
