<template>
  <section>
    <div class="flex flex-col lg:flex-row">
      <div class="w-1/1 lg:w-1/2">
        <img
          :src="imgSrc"
          :srcset="imgSrc"
          alt=""
          class="w-full h-auto lg:pr-size-2 xl:pl-0 xl:mr-auto xl:w-auto"
        />
      </div>
      <div class="w-1/1 lg:w-1/2 flex items-center">
        <div class="lg:ml-size-2 xl:ml-0">
          <h4
            class="font-tt-norms-pro-bold font-bold text-size-5 sm:text-size-5 md:text-size-6 xl:w-4/5 mt-size-5 lg:mt-0"
            v-text="title"
          />
          <p
            class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 mt-size-5 lg:mt-size-6"
            v-text="body"
          />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    imgSrc: {
      type: String,
      default: require('~/assets/images/WhatWeDo/placeholder-1.jpg'),
    },
    title: {
      type: String,
      default: 'Music-making in immigration detention centres',
    },
    body: {
      type: String,
      default:
        'Our artists lead 120 workshops a year with a range of instruments from different cultures and recording equipment, with one aim: to empower people of all abilities and backgrounds in detention centres to create music. We also develop workshops around multiple new art forms including dance, theatre and multi-media.',
    },
  },
}
</script>
<style lang="postcss" scoped>
@media screen and (min-width: 1280px) {
  p {
    margin-left: calc(74px + 5rem);
  }
}
</style>
