<template>
  <section class="playlist rounded-3xl md:rounded-2xl">
    <div class="playlist__music-player rounded-3xl md:rounded-2xl flex">
      <div class="playlist__music-player__cover rounded-3xl md:rounded-2xl">
        <div class="relative rounded-3xl md:rounded-2xl">
          <img
            style="width: 180px"
            class="pointer-events-none rounded-3xl md:rounded-2xl"
            :src="currentSong.cover_art_url"
            :srcset="currentSong.cover_art_url"
            inner-class="h-full w-full object-cover rounded-3xl md:rounded-2xl"
          />
          <div class="absolute button-wrapper rounded-3xl md:rounded-2xl">
            <button
              v-if="!playing"
              class="play relative rounded-full border border-white z-10 focus:outline-none"
              @click="event('play')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="19"
                height="24"
                viewBox="0 0 19 24"
                class="absolute"
              >
                <g
                  id="Group_1623"
                  data-name="Group 1623"
                  transform="translate(-0.113 0.143)"
                >
                  <path
                    id="Polygon_10"
                    data-name="Polygon 10"
                    d="M12,0,24,19H0Z"
                    transform="translate(19.113 -0.143) rotate(90)"
                    fill="#fff"
                  />
                </g>
              </svg>
            </button>
            <button
              v-if="playing"
              class="play relative rounded-full border border-white z-10 focus:outline-none"
              @click="event('pause')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="19"
                height="24"
                viewBox="0 0 19 24"
                class="absolute"
              >
                <g
                  id="Group_3314"
                  data-name="Group 3314"
                  transform="translate(-187)"
                >
                  <rect
                    id="Rectangle_3247"
                    data-name="Rectangle 3247"
                    width="8"
                    height="24"
                    transform="translate(187)"
                    fill="#fff"
                  />
                  <rect
                    id="Rectangle_3248"
                    data-name="Rectangle 3248"
                    width="8"
                    height="24"
                    transform="translate(198)"
                    fill="#fff"
                  />
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div
        class="playlist__music-player__controls text-white p-size-3 sm:p-size-4 md:p-size-5 flex flex-col flex-grow"
      >
        <h4 class="font-tt-norms-pro-bold text-size-3 sm:text-size-4">
          {{ currentSong.title }}
        </h4>
        <h5
          class="font-tt-norms-pro-regular text-size-3 sm:text-size-4 mb-auto"
        >
          {{ currentSong.artist }}
        </h5>
        <div class="mt-auto">
          <div class="flex">
            <button class="focus:outline-none" @click="event('prev')">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="11"
                viewBox="0 0 10 11"
              >
                <g
                  id="Group_2786"
                  data-name="Group 2786"
                  transform="translate(-392 -7855)"
                >
                  <rect
                    id="Rectangle_136"
                    data-name="Rectangle 136"
                    width="2"
                    height="11"
                    transform="translate(392 7855)"
                    fill="#fff"
                  />
                  <path
                    id="Polygon_10"
                    data-name="Polygon 10"
                    d="M5.5,0,11,8H0Z"
                    transform="translate(394 7866) rotate(-90)"
                    fill="#fff"
                  />
                </g>
              </svg>
            </button>

            <div
              class="playlist__music-player__controls__progress bg-white bg-opacity-50 w-full flex-grow mx-size-1 relative"
            >
              <div
                :style="{ width: progressPercentageValue }"
                class="playlist__music-player__controls__progress__song-length absolute bg-white"
              ></div>
            </div>
            <button class="focus:outline-none" @click="event('next')">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="11"
                viewBox="0 0 10 11"
              >
                <g
                  id="Group_2785"
                  data-name="Group 2785"
                  transform="translate(-491 -7855)"
                >
                  <rect
                    id="Rectangle_135"
                    data-name="Rectangle 135"
                    width="2"
                    height="11"
                    transform="translate(499 7855)"
                    fill="#fff"
                  />
                  <path
                    id="Polygon_10"
                    data-name="Polygon 10"
                    d="M5.5,0,11,8H0Z"
                    transform="translate(499 7855) rotate(90)"
                    fill="#fff"
                  />
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="playlist__songs p-size-5 sm:p-size-5 md:p-size-6 pl-size-4 sm:pl-size-4 md:pl-size-5"
    >
      <table
        class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 text-white w-full"
      >
        <thead class="hidden">
          <tr>
            <th>ID</th>
            <th>title of the song</th>
            <th>Lenght of the song</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(item, index) in playlist"
            :key="index"
            :class="[
              'hover:text-mid-yellow cursor-pointer transition duration-300 ease-in-out',
              item.id === currentSong.id ? 'text-mid-yellow' : '',
            ]"
            @click="event(item.id)"
          >
            <td class="pb-size-5 text-right play">
              <img
                v-if="item.id === currentSong.id && playing"
                :src="
                  require('~/assets/images/WhyDetaineesAndMusic/speaker-icon.svg')
                "
                alt=""
              />
              <span v-else>{{ item.id }}</span>
            </td>
            <td class="pb-size-5 text-left pl-size-4">{{ item.title }}</td>
            <td class="pb-size-5 text-right">{{ item.duration }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    image: {
      type: String,
      default: require('~/assets/images/MusicPlayer/album-placeholder-bigger.png'),
      cover: true,
    },
  },
  computed: {
    playlist() {
      return this.$store.state.player.playlist.songs
    },
    currentSong() {
      return this.$store.state.player.currentSong
    },
    playing() {
      return this.$store.state.player.playing
    },
    progressPercentageValue() {
      return this.$store.state.player.progressPercentageValue
    },
  },
  methods: {
    event(name) {
      this.$store.commit('player/setEventsChange', name)
    },
  },
}
</script>
<style lang="postcss" scoped>
button.play {
  width: 100px;
  height: 100px;
  backdrop-filter: blur(11px) brightness(115%);
  background: rgba(255, 255, 255, 0.25);
  svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.play {
  width: 27px;
  img {
    position: relative;
    left: 12px;
  }
}
.button-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playlist {
  max-width: 550px;
  backdrop-filter: blur(11px) brightness(115%);
  background: rgba(0, 0, 0, 0.59);
  &__music-player {
    min-height: 180px;
    backdrop-filter: blur(11px) brightness(115%);
    background: rgba(0, 0, 0, 0.25);
    &__controls {
      &__progress {
        height: 3px;
        margin-top: 4px;
        &__song-length {
          height: 3px;
          width: 0%;
        }
      }
    }
  }
  &__songs tr:last-child td {
    @apply pb-0;
  }
}
</style>
