<template>
  <section class="relative">
    <h3
      class="font-tt-norms-pro-bold text-black text-size-5 sm:text-size-5 md:text-size-6 lg:text-size-8 font-bold w-full md:w-4/5 mb-size-5 sm:mb-size-5 md:mb-size-7 lg:mb-size-8"
      v-text="title"
    />
    <p
      class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5 decorator"
      v-text="body1"
    />
    <p
      class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5 mt-size-5 sm:mt-size-6 md:mt-size-7"
      v-text="body2"
    />
  </section>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'The trauma of immigration detention',
    },
    body1: {
      type: String,
      default:
        'I was one of hundreds of people in the detention centre. Many had fled torture, war and poverty. Others had been trafficked. Some had lived in the UK since they were kids – even babies.',
    },
    body2: {
      type: String,
      default: '',
    },
  },
}
</script>
<style lang="postcss" scoped>
@media screen and (min-width: 768px) {
  p {
    margin-left: calc(74px + 5rem);
  }
  p.decorator {
    &:before {
      content: '';
      @apply absolute;
      @apply bg-black;
      width: 74px;
      height: 1px;
      left: 0;
      margin-top: 2rem;
    }
  }
}
</style>
