<template>
  <div class="card-person">
    <div class="card-person__image">
      <!-- <img
        src="~/assets/images/WhyDetaineesAndMusic/hero-background.jpg"
        alt=""
      /> -->
      <CoreImage
        class="pointer-events-none clip-path-top"
        :src="image"
        :srcset="image"
        inner-class="object-cover"
      />

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="0"
        height="0"
        viewBox="0 0 330.59206 199.6889"
      >
        <clipPath id="card-person-shape-top" clipPathUnits="objectBoundingBox">
          <path
            d="M23.62679,10.81114A10.81114,10.81114,0,0,1,34.43793,0h285.343a10.81114,10.81114,0,0,1,10.81114,10.81114V199.6889H23.62679l-.00348-69.81634a6.60014,6.60014,0,0,0-1.958-4.68994l-19.709-19.5a6.59984,6.59984,0,0,1-.04639-9.3335C1.92556,96.3335,21.6653,76.80273,21.6653,76.80273a6.60012,6.60012,0,0,0,1.958-4.68994Z"
          />
        </clipPath>
      </svg>
    </div>

    <div
      class="card-person__body p-size-5 bg-white rounded-b-2xl clip-path-bottom"
    >
      <h4 class="text-size-5 font-tusker uppercase mb-size-3" v-text="name" />
      <h5
        class="font-tt-norms-pro-bold text-size-3 font-bold mb-size-2"
        v-text="position"
      />
      <p class="font-tt-norms-pro-regular text-size-3" v-text="bio" />
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="0"
      height="0"
      viewBox="0 0 306.96527 246.04454"
    >
      <clipPath id="card-person-shape-bottom" clipPathUnits="objectBoundingBox">
        <path
          d="M0,0H306.96527a0,0,0,0,1,0,0V235.2334a10.81114,10.81114,0,0,1-10.81114,10.81114H10.81114A10.81114,10.81114,0,0,1,0,235.2334V0A0,0,0,0,1,0,0Z"
        />
      </clipPath>
    </svg>
  </div>
</template>
<script>
export default {
  props: {
    image: {
      type: String,
      default: require('~/assets/images/WhyDetaineesAndMusic/hero-background.jpg'),
    },
    name: {
      type: String,
      default: 'Lamin',
    },
    position: {
      type: String,
      default: 'Held in detention for 5 months',
    },
    bio: {
      type: String,
      default:
        'I lived in the UK for eight years before being detained for X months due to a bureaucratic error. Now I… Short bio of person.',
    },
  },
}
</script>
<style lang="postcss" scoped>
.clip-path-top {
  clip-path: url(#card-person-shape-top);
}
.clip-path-bottom {
  clip-path: url(#card-person-shape-bottom);
}
.card-person__image {
  /* width: 100%;
  height: 200px;
  background-image: url('/assets/images/WhyDetaineesAndMusic/hero-background.jpg'); */
}
</style>
