<template>
  <section
    class="py-size-7 sm:py-size-7 lg:pt-size-7 lg:pb-size-8 bg-black text-white"
  >
    <div class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto">
      <div class="flex flex-wrap lg:mb-size-5">
        <div
          class="w-full order-3 lg:order-1 lg:w-1/2 xl:w-2/3 mt-size-7 lg:mt-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="184"
            height="76.713"
            viewBox="0 0 184 76.713"
            class="mx-auto lg:mx-0"
          >
            <g
              id="Group_2742"
              data-name="Group 2742"
              transform="translate(-26 -11008)"
            >
              <g
                id="Group_2741"
                data-name="Group 2741"
                transform="translate(26 11008)"
              >
                <g id="Group_2740" data-name="Group 2740">
                  <path
                    id="Path_1208"
                    data-name="Path 1208"
                    d="M733,577.332V580.1a54.61,54.61,0,0,0,5.686,6.68h2.28A52.94,52.94,0,0,1,733,577.332Z"
                    transform="translate(-733.001 -510.065)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1209"
                    data-name="Path 1209"
                    d="M810.171,586.777h2.281a54.592,54.592,0,0,0,5.685-6.68v-2.765A52.94,52.94,0,0,1,810.171,586.777Z"
                    transform="translate(-730.364 -510.065)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1210"
                    data-name="Path 1210"
                    d="M813.137,513.084h-2.215a52.954,52.954,0,0,1,7.19,8.7v-2.764A54.41,54.41,0,0,0,813.137,513.084Z"
                    transform="translate(-730.338 -513.084)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1211"
                    data-name="Path 1211"
                    d="M737.975,513.084a54.578,54.578,0,0,0-4.974,5.94v2.764a52.931,52.931,0,0,1,7.191-8.7Z"
                    transform="translate(-733.001 -513.084)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1212"
                    data-name="Path 1212"
                    d="M750.084,513.084h-3.048A48.268,48.268,0,0,0,733,531.2v5.1A46.365,46.365,0,0,1,750.084,513.084Z"
                    transform="translate(-733.001 -513.084)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1213"
                    data-name="Path 1213"
                    d="M804.4,513.084h-3.047a46.359,46.359,0,0,1,17.082,23.223v-5.1A48.261,48.261,0,0,0,804.4,513.084Z"
                    transform="translate(-730.665 -513.084)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1214"
                    data-name="Path 1214"
                    d="M800.326,587.257h3.154a48.3,48.3,0,0,0,14.993-18.875v-5.1A46.383,46.383,0,0,1,800.326,587.257Z"
                    transform="translate(-730.701 -510.545)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1215"
                    data-name="Path 1215"
                    d="M733,563.28v5.1a48.307,48.307,0,0,0,14.993,18.875h3.154A46.39,46.39,0,0,1,733,563.28Z"
                    transform="translate(-733.001 -510.545)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1216"
                    data-name="Path 1216"
                    d="M737.021,551.053a40.266,40.266,0,0,1,26.662-37.969h-5.4a42.53,42.53,0,0,0,1.64,76.712h6.2A40.231,40.231,0,0,1,737.021,551.053Z"
                    transform="translate(-732.935 -513.084)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1217"
                    data-name="Path 1217"
                    d="M816.985,551.053a42.442,42.442,0,0,0-23.36-37.969h-5.4a40.353,40.353,0,0,1-2.44,76.712h6.2A42.428,42.428,0,0,0,816.985,551.053Z"
                    transform="translate(-731.198 -513.084)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1218"
                    data-name="Path 1218"
                    d="M743.2,550.987a33.705,33.705,0,0,1,30.227-33.651v-2.4a36.23,36.23,0,0,0,0,72.093v-2.4A33.705,33.705,0,0,1,743.2,550.987Z"
                    transform="translate(-732.733 -513.021)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1219"
                    data-name="Path 1219"
                    d="M811.114,550.987A36.085,36.085,0,0,0,778.6,514.946v2.4a33.847,33.847,0,0,1,0,67.288v2.4A36.084,36.084,0,0,0,811.114,550.987Z"
                    transform="translate(-731.443 -513.02)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1220"
                    data-name="Path 1220"
                    d="M749.375,550.778a27.324,27.324,0,0,1,23.848-27.223v-2.683a30.128,30.128,0,0,0,0,59.812V578A27.323,27.323,0,0,1,749.375,550.778Z"
                    transform="translate(-732.531 -512.818)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1221"
                    data-name="Path 1221"
                    d="M802.373,550.777A27.326,27.326,0,0,1,778.6,577.991v2.682a30.128,30.128,0,0,0,0-59.792v2.684A27.324,27.324,0,0,1,802.373,550.777Z"
                    transform="translate(-731.443 -512.818)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1222"
                    data-name="Path 1222"
                    d="M795.995,550.568a20.937,20.937,0,0,1-17.392,20.74V574.3a24.026,24.026,0,0,0,0-47.465v2.992A20.937,20.937,0,0,1,795.995,550.568Z"
                    transform="translate(-731.443 -512.614)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1223"
                    data-name="Path 1223"
                    d="M755.551,550.568a20.934,20.934,0,0,1,17.47-20.752v-2.99a24.023,24.023,0,0,0,0,47.484v-2.99A20.934,20.934,0,0,1,755.551,550.568Z"
                    transform="translate(-732.329 -512.615)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1224"
                    data-name="Path 1224"
                    d="M761.727,549.945a14.3,14.3,0,0,1,11.091-13.914v-3.217a17.424,17.424,0,0,0,0,34.261v-3.216A14.3,14.3,0,0,1,761.727,549.945Z"
                    transform="translate(-732.127 -512.006)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1225"
                    data-name="Path 1225"
                    d="M789.616,549.945A14.3,14.3,0,0,1,778.6,563.838v3.226a17.427,17.427,0,0,0,0-34.237v3.225A14.3,14.3,0,0,1,789.616,549.945Z"
                    transform="translate(-731.443 -512.006)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1226"
                    data-name="Path 1226"
                    d="M787.134,549.746a11.322,11.322,0,1,0-11.321,11.322A11.334,11.334,0,0,0,787.134,549.746Zm-11.321,7.908a7.908,7.908,0,1,1,7.909-7.908A7.918,7.918,0,0,1,775.812,557.654Z"
                    transform="translate(-731.925 -511.813)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1227"
                    data-name="Path 1227"
                    d="M775.61,544.333a5.2,5.2,0,1,0,5.2,5.205A5.211,5.211,0,0,0,775.61,544.333Zm0,6.734a1.529,1.529,0,1,1,1.529-1.529A1.531,1.531,0,0,1,775.61,551.067Z"
                    transform="translate(-731.723 -511.609)"
                    fill="#fff"
                  />
                </g>
              </g>
              <g
                id="Group_2739"
                data-name="Group 2739"
                transform="translate(124.449 11008)"
              >
                <g
                  id="Group_2736"
                  data-name="Group 2736"
                  transform="translate(1.193 0)"
                >
                  <path
                    id="Path_1729"
                    data-name="Path 1729"
                    d="M808.059,146.342h-9.424V137.7h-4.714v21.991h4.714v-8.954h9.424v8.954h4.712V137.7h-4.712Z"
                    transform="translate(-793.922 -137.702)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1730"
                    data-name="Path 1730"
                    d="M821.021,150.582h9.111v-4.241h-9.111V142.1h11.625v-4.4H816.309v21.991H832.96v-4.4H821.021Z"
                    transform="translate(-793.058 -137.702)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1731"
                    data-name="Path 1731"
                    d="M842.943,137.7l-8.483,21.991h5.027l1.885-5.027h8.482l1.885,5.027h5.027L848.285,137.7Zm0,12.724,2.608-7.225h.126l2.608,7.225Z"
                    transform="translate(-792.358 -137.702)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1732"
                    data-name="Path 1732"
                    d="M871.268,151.525a5.663,5.663,0,0,0,1.885-1.32,6.98,6.98,0,0,0,1.885-5.12c0-4.4-2.984-7.382-7.7-7.382H857.6v21.991h4.713v-7.226h4.4l3.928,7.226h5.183Zm-4.084-3.454h-4.869V142.1h4.869a2.984,2.984,0,1,1,0,5.969Z"
                    transform="translate(-791.464 -137.702)"
                    fill="#fff"
                  />
                </g>
                <g
                  id="Group_2737"
                  data-name="Group 2737"
                  transform="translate(1.121 27.008)"
                >
                  <path
                    id="Path_1733"
                    data-name="Path 1733"
                    d="M805.391,174.342l-8.268-10.608-.022-.028h-3.248V185.84h3.6V169.8l7.884,10.047.057.071,7.941-10.119V185.84h3.6V163.706h-3.248Z"
                    transform="translate(-793.854 -163.706)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1734"
                    data-name="Path 1734"
                    d="M823.77,182.4v-6.3h9.582v-3.442H823.77v-5.512h12.1v-3.441H820.173V185.84h16.008V182.4Z"
                    transform="translate(-792.838 -163.706)"
                    fill="#fff"
                  />
                </g>
                <g
                  id="Group_2738"
                  data-name="Group 2738"
                  transform="translate(0 53.592)"
                >
                  <path
                    id="Path_1735"
                    data-name="Path 1735"
                    d="M804.335,189.3a11.561,11.561,0,1,0,11.56,11.561A11.574,11.574,0,0,0,804.335,189.3Zm0,20.421a8.862,8.862,0,1,1,8.7-8.86A8.591,8.591,0,0,1,804.335,209.723Z"
                    transform="translate(-792.774 -189.302)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1736"
                    data-name="Path 1736"
                    d="M834.191,203.207a6.349,6.349,0,1,1-12.694,0v-13.6h-2.856v13.6a9.2,9.2,0,1,0,18.407,0v-13.6h-2.857Z"
                    transform="translate(-791.776 -189.29)"
                    fill="#fff"
                  />
                  <path
                    id="Path_1737"
                    data-name="Path 1737"
                    d="M839.362,189.605v2.7h6.911V212.1h2.858V192.305h6.911v-2.7Z"
                    transform="translate(-790.976 -189.29)"
                    fill="#fff"
                  />
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="w-full order-2 lg:order-2 lg:w-1/2 xl:w-1/3">
          <ul
            class="flex flex-wrap justify-center lg:justify-between items-stretch mt-size-5 lg:mt-0"
          >
            <li>
              <a
                href=""
                class="text-size-3 font-tt-norms-pro-regular inline-block mr-size-1 lg:mr-0"
                >Contact us</a
              >
            </li>
            <li>
              <a
                href=""
                class="text-size-3 font-tt-norms-pro-regular ml-size-1 lg:ml-0"
                >Privacy Policy</a
              >
            </li>
            <li class="flex flex-basis mt-size-5 lg:mt-0">
              <span class="text-size-3 font-tt-norms-pro-regular"
                >Follow us:</span
              >
              <ul class="flex mx-auto">
                <li class="lg:ml-size-2">
                  <a href="">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="41.155"
                      height="41.155"
                      viewBox="0 0 41.155 41.155"
                    >
                      <g
                        id="Group_25"
                        data-name="Group 25"
                        transform="translate(-6)"
                      >
                        <path
                          id="Path_15"
                          data-name="Path 15"
                          d="M1191.653,1264.5a20.578,20.578,0,1,0,20.578,20.578A20.578,20.578,0,0,0,1191.653,1264.5Zm9.18,15.876v.615a13.459,13.459,0,0,1-20.718,11.325,9.625,9.625,0,0,0,1.128.068,9.492,9.492,0,0,0,5.868-2.014,4.725,4.725,0,0,1-4.415-3.283,4.822,4.822,0,0,0,2.135-.082,4.729,4.729,0,0,1-3.8-4.634v-.063a4.731,4.731,0,0,0,2.145.591,4.731,4.731,0,0,1-1.453-6.294,13.449,13.449,0,0,0,9.751,4.914,4.965,4.965,0,0,1-.121-1.08,4.731,4.731,0,0,1,8.178-3.234,9.436,9.436,0,0,0,3-1.147,4.726,4.726,0,0,1-2.077,2.619,9.606,9.606,0,0,0,2.716-.746A9.6,9.6,0,0,1,1200.833,1280.377Z"
                          transform="translate(-1165.075 -1264.5)"
                          fill="#fff"
                        />
                      </g>
                    </svg>
                  </a>
                </li>
                <li class="ml-size-1">
                  <a href="">
                    <svg
                      id="Group_27"
                      data-name="Group 27"
                      xmlns="http://www.w3.org/2000/svg"
                      width="41.155"
                      height="41.155"
                      viewBox="0 0 41.155 41.155"
                    >
                      <path
                        id="Path_19"
                        data-name="Path 19"
                        d="M1296.228,1264.5a20.578,20.578,0,1,0,20.578,20.578A20.577,20.577,0,0,0,1296.228,1264.5Zm11.248,30.59a1.24,1.24,0,0,1-1.24,1.24H1300.5v-8.715h2.905l.441-3.389h-3.365v-2.169c0-.983.271-1.656,1.685-1.656h1.8v-3.036a23.351,23.351,0,0,0-2.619-.136c-2.586,0-4.358,1.583-4.358,4.488v2.508h-2.934v3.389H1297v8.715h-10.783a1.24,1.24,0,0,1-1.24-1.24v-20.025a1.24,1.24,0,0,1,1.24-1.24h20.026a1.24,1.24,0,0,1,1.235,1.24Z"
                        transform="translate(-1275.65 -1264.5)"
                        fill="#fff"
                      />
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="w-full order-4 lg:order-3 lg:w-1/2 xl:w-2/3 lg:mt-size-5">
          <p
            class="text-light-gray text-size-3 font-tt-norms-pro-regular text-center lg:text-left mt-size-5 lg:mt-0"
          >
            Registered in England and Wales, Company no 5943893 Charity no.<br />
            1119049 © Hear Me Out 2012—20. All rights reserved.
          </p>
        </div>
        <div class="w-full order-1 lg:order-4 lg:w-1/2 xl:w-1/3 lg:mt-size-5">
          <form action="" class="mx-auto relative">
            <input
              type="email"
              value=""
              name="EMAIL"
              class="input-email text-tt-norms-pro-regular text-size-3 font-light rounded-full border border-black outline-none placeholder-black bg-white text-black"
              placeholder="Subscribe to newsletter"
              required=""
            />
            <div
              class="absolute top-0 right-0 bottom-0 rounded-full border border-black hover:bg-black hover:bg-opacity-50 transition duration-500 ease-in-out"
            >
              <div class="relative submit-wrapper">
                <input
                  type="submit"
                  value=""
                  name="subscribe"
                  class="input-submit outline-none"
                />
                <svg
                  id="Group_2840"
                  data-name="Group 2840"
                  xmlns="http://www.w3.org/2000/svg"
                  width="6.134"
                  height="8.763"
                  viewBox="0 0 6.134 8.763"
                  class="absolute play-arrow"
                >
                  <path
                    id="Polygon_10"
                    data-name="Polygon 10"
                    d="M4.381,0,8.763,6.134H0Z"
                    transform="translate(6.134 0) rotate(90)"
                  />
                </svg>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
<style lang="postcss" scoped>
ul li a,
ul li span {
  height: 42px;
  line-height: 42px;
  display: inline-block;
}
form {
  width: 100%;
  height: 42px;
}
.input-email {
  width: 100%;
  height: 42px;
  text-indent: 2rem;
}
.input-submit {
  height: 40px;
  width: 40px;
  background: transparent;
  cursor: pointer;
}
.play-arrow {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.submit-wrapper {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 1024px) {
  ul li span {
    display: none;
  }
  .flex-basis {
    flex-basis: 100%;
  }
}
</style>
