<template>
  <div class="card text-black">
    <ul class="card-tabs flex flex-row">
      <li class="card-tabs-item w-1/2">
        <a
          class="text-tt-norms-pro-regular text-size-4 sm:text-size-4 md:text-size-5 lg:text-size-6 xl:text-size-7 font-bold text-center cursor-pointer bg-white opacity-25 block py-size-3 sm:py-size-3 md:py-size-4 lg:py-size-5 rounded-tl"
          :class="{ active: isActive('monthly') }"
          @click.prevent="setActive('monthly')"
          >Monthly</a
        >
      </li>
      <li class="card-tabs-item w-1/2">
        <a
          class="text-tt-norms-pro-regular text-size-4 sm:text-size-4 md:text-size-5 lg:text-size-6 xl:text-size-7 font-bold text-center cursor-pointer bg-white opacity-25 block py-size-3 sm:py-size-3 md:py-size-4 lg:py-size-5 rounded-tr"
          :class="{ active: isActive('single') }"
          @click.prevent="setActive('single')"
          >Single</a
        >
      </li>
    </ul>
    <div class="card-content bg-white rounded-b">
      <!-- Monthly Payment -->
      <div class="card-panel" :class="{ active: isActive('monthly') }">
        <div
          class="pt-size-5 pb-size-4 sm:pt-size-5 sm:pb-size-4 md:pt-size-6 md:pb-size-5 px-size-5 lg:pt-size-7 lg:pb-size-6 flex justify-between flex-col lg:flex-row"
        >
          <CoreButton colour="white" label="£5" class="" />
          <CoreButton colour="white" label="£15" class="mt-size-1 lg:mt-0" />
          <CoreButton colour="white" label="£30" class="mt-size-1 lg:mt-0" />
        </div>
        <div
          class="px-size-5 mb-size-4 sm:mb-size-5 md:mb-size-6 lg:mb-size-7 flex flex-row"
        >
          <img
            src="~/assets/images/Home/hand-on-the-piano.jpg"
            alt=""
            class="hidden lg:block"
          />
          <p
            class="text-size-1 sm:text-size-2 md:text-size-3 lg:text-size-4 font-tt-norms-pro-regular lg:ml-size-5 text-center lg:text-left"
          >
            Could pay for essential musical equipment to help detainees perform
            and tell their story
          </p>
        </div>
        <form action="" class="px-size-5 sm:px-size-4 md:px-size-5">
          <input
            type="text"
            value=""
            name="TEXT"
            class="font-tt-norms-pro-medium text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5 text-center font-light rounded-full border border-black outline-none placeholder-light-gray py-size-4 px-size-6 w-full mb-size-4"
            placeholder="£ — Other amount"
            required=""
          />
          <CoreButton
            colour="yellow"
            label="Donate"
            class="block w-full text-size-5"
            type="submit"
          />
        </form>
        <div class="px-size-5 py-size-7 flex justify-evenly payments">
          <svg
            id="Group_1514"
            data-name="Group 1514"
            xmlns="http://www.w3.org/2000/svg"
            width="81.226"
            height="26.283"
            viewBox="0 0 81.226 26.283"
          >
            <g
              id="Group_1513"
              data-name="Group 1513"
              transform="translate(0 0)"
            >
              <g id="Group_1512" data-name="Group 1512">
                <path
                  id="Path_518"
                  data-name="Path 518"
                  d="M331.2,209.5l-6.435,17.36-.69-3.528a15.941,15.941,0,0,0-8.575-8.664l5.354,20.254,6.959-.005L338.167,209.5H331.2"
                  transform="translate(-308.101 -209.034)"
                  fill="#161615"
                />
                <path
                  id="Path_519"
                  data-name="Path 519"
                  d="M365.506,234.912l4.113-25.462h6.574l-4.113,25.462h-6.575"
                  transform="translate(-336.892 -209.007)"
                  fill="#161615"
                />
                <path
                  id="Path_520"
                  data-name="Path 520"
                  d="M410.445,209.473a16.285,16.285,0,0,0-5.892-1.069c-6.5,0-11.076,3.456-11.115,8.4-.04,3.659,3.267,5.7,5.759,6.917,2.563,1.247,3.423,2.045,3.412,3.159-.017,1.705-2.044,2.487-3.935,2.487a13.193,13.193,0,0,1-6.193-1.336l-.846-.405-.92,5.7a19.877,19.877,0,0,0,7.326,1.357c6.909,0,11.4-3.414,11.451-8.7.023-2.9-1.729-5.1-5.523-6.919-2.3-1.182-3.708-1.963-3.692-3.159,0-1.058,1.191-2.19,3.767-2.19a11.552,11.552,0,0,1,4.921.978l.591.291.889-5.52"
                  transform="translate(-351.406 -208.404)"
                  fill="#161615"
                />
                <path
                  id="Path_521"
                  data-name="Path 521"
                  d="M452.15,209.511h-5.081a3.249,3.249,0,0,0-3.446,2.111l-9.766,23.335h6.907s1.127-3.139,1.382-3.829c.754,0,7.463.015,8.421.015.2.887.8,3.814.8,3.814h6.1l-5.321-25.446m-8.112,16.409c.546-1.464,2.62-7.116,2.62-7.116-.038.067.541-1.476.873-2.43l.444,2.2s1.261,6.076,1.522,7.35Z"
                  transform="translate(-376.245 -209.041)"
                  fill="#161615"
                />
                <path
                  id="Path_522"
                  data-name="Path 522"
                  d="M308.749,209.458h-10.6l-.088.528c7.294,1.836,13.266,5.808,15.974,13.321l-2.3-11.7C311.333,209.993,310.179,209.514,308.749,209.458Z"
                  transform="translate(-298.06 -209.011)"
                  fill="#161615"
                />
              </g>
            </g>
          </svg>
          <svg
            id="Group_1511"
            data-name="Group 1511"
            xmlns="http://www.w3.org/2000/svg"
            width="55.001"
            height="42.781"
            viewBox="0 0 55.001 42.781"
          >
            <path
              id="Path_517"
              data-name="Path 517"
              d="M347.757,303.488v-2.832a1.68,1.68,0,0,0-1.775-1.794,1.747,1.747,0,0,0-1.586.8,1.658,1.658,0,0,0-1.492-.8,1.492,1.492,0,0,0-1.322.67v-.557H340.6v4.513h.991v-2.5a1.056,1.056,0,0,1,1.1-1.2c.652,0,.982.425.982,1.19v2.511h.991v-2.5a1.064,1.064,0,0,1,1.1-1.2c.67,0,.991.425.991,1.19v2.511Zm14.671-4.513h-1.6v-1.369h-.991v1.369h-.916v.9h.916v2.058c0,1.048.406,1.671,1.567,1.671a2.305,2.305,0,0,0,1.227-.349l-.283-.84a1.817,1.817,0,0,1-.868.254c-.491,0-.652-.3-.652-.755v-2.04h1.6Zm8.375-.113a1.332,1.332,0,0,0-1.19.661v-.547h-.972v4.513h.982v-2.53c0-.746.321-1.161.963-1.161a1.6,1.6,0,0,1,.614.113l.3-.925a2.1,2.1,0,0,0-.7-.123Zm-12.66.472a3.378,3.378,0,0,0-1.841-.472c-1.143,0-1.879.547-1.879,1.444,0,.736.548,1.19,1.558,1.331l.463.066c.538.076.793.217.793.472,0,.349-.359.548-1.029.548a2.406,2.406,0,0,1-1.5-.472l-.463.764a3.255,3.255,0,0,0,1.954.585c1.3,0,2.058-.614,2.058-1.473,0-.793-.594-1.209-1.576-1.35l-.463-.066c-.425-.057-.765-.142-.765-.444,0-.331.321-.529.859-.529a2.909,2.909,0,0,1,1.407.387Zm26.3-.472a1.332,1.332,0,0,0-1.19.661v-.547h-.972v4.513h.982v-2.53c0-.746.321-1.161.963-1.161a1.6,1.6,0,0,1,.614.113l.3-.925a2.1,2.1,0,0,0-.7-.123Zm-12.651,2.37a2.28,2.28,0,0,0,2.407,2.37,2.362,2.362,0,0,0,1.624-.538l-.472-.793a1.984,1.984,0,0,1-1.18.406,1.447,1.447,0,0,1,0-2.889,1.984,1.984,0,0,1,1.18.406l.472-.793a2.364,2.364,0,0,0-1.624-.538,2.28,2.28,0,0,0-2.407,2.37Zm9.2,0v-2.256h-.982v.547a1.711,1.711,0,0,0-1.425-.661,2.372,2.372,0,0,0,0,4.739,1.711,1.711,0,0,0,1.425-.661v.548h.982Zm-3.654,0a1.366,1.366,0,1,1,1.369,1.444,1.354,1.354,0,0,1-1.369-1.444Zm-11.848-2.37a2.372,2.372,0,0,0,.066,4.739,2.743,2.743,0,0,0,1.85-.633l-.482-.727a2.153,2.153,0,0,1-1.312.472,1.253,1.253,0,0,1-1.35-1.1h3.352c.009-.123.019-.245.019-.378a2.164,2.164,0,0,0-2.143-2.37Zm-.019.878a1.121,1.121,0,0,1,1.143,1.1h-2.341a1.162,1.162,0,0,1,1.2-1.1Zm24.632,1.492v-4.069h-.982v2.36a1.712,1.712,0,0,0-1.426-.661,2.372,2.372,0,0,0,0,4.739,1.712,1.712,0,0,0,1.426-.661v.548h.982Zm-3.654,0a1.366,1.366,0,1,1,1.369,1.444,1.354,1.354,0,0,1-1.369-1.444Zm-33.157,0v-2.256h-.982v.547a1.711,1.711,0,0,0-1.425-.661,2.372,2.372,0,0,0,0,4.739,1.711,1.711,0,0,0,1.425-.661v.548h.982Zm-3.654,0A1.366,1.366,0,1,1,351,302.676,1.354,1.354,0,0,1,349.635,301.232Zm42.1,1.6a.447.447,0,0,1,.177.035.45.45,0,0,1,.243.239.44.44,0,0,1,0,.348.453.453,0,0,1-.243.239.439.439,0,0,1-.177.036.455.455,0,0,1-.423-.275.439.439,0,0,1,0-.348.453.453,0,0,1,.1-.143.44.44,0,0,1,.145-.1A.464.464,0,0,1,391.737,302.834Zm0,.8a.332.332,0,0,0,.135-.028.347.347,0,0,0,.211-.322.348.348,0,0,0-.027-.136.349.349,0,0,0-.184-.185.341.341,0,0,0-.135-.027.354.354,0,0,0-.138.027.335.335,0,0,0-.111.074.345.345,0,0,0-.075.111.35.35,0,0,0,.075.384.336.336,0,0,0,.111.075A.345.345,0,0,0,391.737,303.633Zm.026-.56a.189.189,0,0,1,.124.036.12.12,0,0,1,.043.1.112.112,0,0,1-.034.085.166.166,0,0,1-.1.042l.136.157h-.107l-.127-.156h-.041v.156h-.089v-.417Zm-.1.078v.111h.1a.1.1,0,0,0,.056-.014.048.048,0,0,0,.021-.043.046.046,0,0,0-.021-.041.1.1,0,0,0-.056-.014Zm-.531-14.674v-.547h.221v-.111h-.562v.111h.221v.547Zm1.091,0v-.659h-.172l-.2.454-.2-.454h-.172v.659h.121v-.5l.186.429h.126l.185-.43v.5Zm-28.474,3.284c.133.116.273.227.411.34a17,17,0,1,1,0-28.312c-.137.113-.277.224-.41.34a18.3,18.3,0,0,0,0,27.631Zm12.01-30.812a16.916,16.916,0,0,0-9.408,2.84c.137.113.277.224.411.34a18.3,18.3,0,0,1,0,27.631c-.133.116-.273.227-.411.34a17,17,0,1,0,9.409-31.152Zm-10.5,3.64q-.329.258-.643.533a16.983,16.983,0,0,0,0,25.647q.315.274.643.533.329-.259.643-.533a16.983,16.983,0,0,0,0-25.647q-.314-.274-.643-.533"
              transform="translate(-337.751 -260.949)"
            />
          </svg>
          <svg
            id="Group_1521"
            data-name="Group 1521"
            xmlns="http://www.w3.org/2000/svg"
            width="82.198"
            height="30.363"
            viewBox="0 0 82.198 30.363"
          >
            <path
              id="Path_529"
              data-name="Path 529"
              d="M958.857,213.624a1.088,1.088,0,0,0-1.187-1.122h-2.541v2.231h2.541A1.078,1.078,0,0,0,958.857,213.624Z"
              transform="translate(-916.827 -208.476)"
            />
            <path
              id="Path_530"
              data-name="Path 530"
              d="M836.75,207.305l1.5,1.948H846.5v-.974a5.5,5.5,0,0,0,.66.364,6.079,6.079,0,0,0,.69.269,6.683,6.683,0,0,0,.874.218,7.891,7.891,0,0,0,1.4.123h4.941l.722-1.922h1.368l.735,1.922h8.283v-1.987l1.251,1.987h5.754V195.862h-6.141V198l-1.367-2.142h-5.354v2.708l-1.2-2.708h-8.85a8.07,8.07,0,0,0-1.242.094,6.953,6.953,0,0,0-1,.231,6.188,6.188,0,0,0-.734.28,5.758,5.758,0,0,0-.794.442v-1.047H817.619l-.786,2.335-.8-2.335h-6.721V198.6l-1.213-2.736h-5.483l-2.452,5.728-3.354,7.663h7.237l.723-1.922h1.367l.736,1.922H836.75Zm25.556-9.263h2.656l3.381,5.225.4.671-.026-.671v-5.225h2.116v9.031H868.3l-3.457-5.405-.451-.748.026.748v5.405h-2.115Zm-4.36,0,3.856,9.031h-2.438l-.774-1.935h-4.3l-.762,1.935h-2.309l3.869-9.031Zm-12.2,4.438c0-2.567,1.522-4.438,4.309-4.438h2.528v1.948h-2.348a2.247,2.247,0,0,0-2.335,2.5v.129a2.24,2.24,0,0,0,2.361,2.528h.658l-.89,1.922h-.116c-2.606-.012-4.167-1.754-4.167-4.438Zm-3.535.566v-5h2.167v9.031h-2.167Zm-33.864,4.026-.774-1.935h-4.3l-.762,1.935H800.2l3.871-9.031h2.851l3.857,9.031Zm14.01,0h-2.1v-6.179l.052-2.374-2.5,8.553h-1.961l-2.5-8.6.052,2.438v6.166h-2.1v-9.031h3.806l1.728,6.4,1.716-6.4h3.818Zm9.005-7.2H826.3v1.755h4.941v1.806H826.3v1.793h5.057v1.845h-7.224v-9.031h7.224Zm3.753,3.948v3.251h-2.167v-9.031h4.9a2.872,2.872,0,0,1,.671,5.7l3.006,3.328h-2.7l-2.7-3.251Z"
              transform="translate(-796.81 -195.862)"
            />
            <path
              id="Path_531"
              data-name="Path 531"
              d="M1039.4,213.5l-.657-1.69-.657,1.69-.787,2h2.9Z"
              transform="translate(-979.121 -207.95)"
            />
            <path
              id="Path_532"
              data-name="Path 532"
              d="M827.85,211.808l-.658,1.69-.787,2h2.9l-.8-2Z"
              transform="translate(-819.245 -207.95)"
            />
            <g
              id="Group_1520"
              data-name="Group 1520"
              transform="translate(16.37 16.97)"
            >
              <path
                id="Path_533"
                data-name="Path 533"
                d="M930.226,266.009H880.562l-1.213,1.716-1.2-1.716H864.476V279.4H878.1l1.187-1.742,1.225,1.742h8.527V276.51h-.09a8.228,8.228,0,0,0,2.877-.509v3.4h5.947v-1.947l1.5,1.947h25.8l.338,0a4.9,4.9,0,0,0,4.9-4.9ZM873.8,270.021h-5.056v1.754h4.941v1.806h-4.941V275.4H873.8v1.82h-7.224v-9.031H873.8Zm7.521,7.2-2.219-2.9-2.219,2.9h-2.632l3.6-4.516-3.612-4.515h2.709l2.206,2.864,2.22-2.864h2.631l-3.6,4.477,3.625,4.554Zm8.076-2.981h-2.722v2.981h-2.167v-9.031h4.966a2.886,2.886,0,0,1,3.122,3.018A2.958,2.958,0,0,1,889.4,274.238Zm10.256,2.981-2.7-3.251h-1.019v3.251h-2.167v-9.031h4.9a2.872,2.872,0,0,1,.671,5.7l3.005,3.329Zm10.927-7.2h-5.057v1.754h4.941v1.806h-4.941V275.4h5.057v1.82h-7.224v-9.031h7.224Zm5.882,7.2H911.9v-1.806h4.631a.86.86,0,0,0,.89-.915.836.836,0,0,0-.89-.878h-2.077A2.509,2.509,0,0,1,911.64,271a2.8,2.8,0,0,1,3.109-2.812h4.658l-.8,1.832h-3.922a.846.846,0,0,0-.877.9.823.823,0,0,0,.877.865h2.09c1.755,0,2.8.941,2.8,2.554A2.811,2.811,0,0,1,916.465,277.219Zm11.648-2.275a2.821,2.821,0,0,1-3.057,2.275H920.49v-1.806h4.631a.86.86,0,0,0,.89-.915.836.836,0,0,0-.89-.878h-2.077A2.509,2.509,0,0,1,920.232,271a2.8,2.8,0,0,1,3.109-2.812H928l-.8,1.832h-3.921a.846.846,0,0,0-.877.9.822.822,0,0,0,.877.865h2.09a2.47,2.47,0,0,1,2.746,1.962Z"
                transform="translate(-864.476 -266.009)"
              />
              <path
                id="Path_534"
                data-name="Path 534"
                d="M958.842,282.966h-2.593v2.218h2.593a1.11,1.11,0,1,0,0-2.218Z"
                transform="translate(-934.047 -278.864)"
              />
              <path
                id="Path_535"
                data-name="Path 535"
                d="M998.265,283.766a1.088,1.088,0,0,0-1.187-1.123h-2.541v2.232h2.541A1.078,1.078,0,0,0,998.265,283.766Z"
                transform="translate(-963.072 -278.619)"
              />
            </g>
          </svg>
          <svg
            id="Group_1519"
            data-name="Group 1519"
            xmlns="http://www.w3.org/2000/svg"
            width="84.849"
            height="22.609"
            viewBox="0 0 84.849 22.609"
          >
            <g id="Group_1518" data-name="Group 1518" transform="translate(0)">
              <g
                id="Group_1517"
                data-name="Group 1517"
                transform="translate(0 0)"
              >
                <g
                  id="Group_1516"
                  data-name="Group 1516"
                  transform="translate(0 0)"
                >
                  <g id="Group_1515" data-name="Group 1515">
                    <path
                      id="Path_523"
                      data-name="Path 523"
                      d="M169.407,221.412c-.361,2.368-2.171,2.368-3.92,2.368h-1l.7-4.423a.55.55,0,0,1,.543-.464h.457c1.192,0,2.316,0,2.9.679A2.2,2.2,0,0,1,169.407,221.412Zm-.761-6.181h-6.6a.917.917,0,0,0-.906.774l-2.669,16.923a.549.549,0,0,0,.544.635h3.151a.917.917,0,0,0,.906-.775l.72-4.565a.916.916,0,0,1,.905-.775h2.089c4.348,0,6.856-2.1,7.512-6.272a5.084,5.084,0,0,0-.841-4.26C172.518,215.814,170.854,215.231,168.645,215.231Z"
                      transform="translate(-158.463 -215.23)"
                      fill="#1d1d1b"
                    />
                    <path
                      id="Path_524"
                      data-name="Path 524"
                      d="M224.357,243.164a3.522,3.522,0,0,1-3.566,3.018,2.448,2.448,0,0,1-2.618-3.073,3.538,3.538,0,0,1,3.542-3.042,2.667,2.667,0,0,1,2.108.861A2.736,2.736,0,0,1,224.357,243.164Zm4.405-6.151H225.6a.551.551,0,0,0-.543.464l-.14.884-.221-.321c-.684-.993-2.21-1.325-3.733-1.325a7.268,7.268,0,0,0-7.056,6.356,5.966,5.966,0,0,0,1.177,4.855,4.945,4.945,0,0,0,3.98,1.608,6.047,6.047,0,0,0,4.375-1.809l-.141.878a.55.55,0,0,0,.542.637h2.847a.917.917,0,0,0,.906-.775l1.708-10.817A.548.548,0,0,0,228.762,237.013Z"
                      transform="translate(-198.853 -230.908)"
                      fill="#1d1d1b"
                    />
                    <path
                      id="Path_525"
                      data-name="Path 525"
                      d="M291.635,237.816h-3.176a.92.92,0,0,0-.76.4l-4.38,6.452-1.857-6.2a.92.92,0,0,0-.88-.654h-3.121a.551.551,0,0,0-.522.728l3.5,10.266-3.289,4.642a.55.55,0,0,0,.449.868h3.172a.916.916,0,0,0,.754-.394l10.563-15.247A.55.55,0,0,0,291.635,237.816Z"
                      transform="translate(-244.894 -231.71)"
                      fill="#1d1d1b"
                    />
                    <path
                      id="Path_526"
                      data-name="Path 526"
                      d="M343.559,221.412c-.36,2.368-2.169,2.368-3.92,2.368h-.995l.7-4.423a.548.548,0,0,1,.543-.464h.456c1.191,0,2.316,0,2.9.679A2.2,2.2,0,0,1,343.559,221.412Zm-.761-6.181h-6.6a.917.917,0,0,0-.905.774l-2.669,16.923a.549.549,0,0,0,.542.635h3.387a.641.641,0,0,0,.633-.542l.757-4.8a.916.916,0,0,1,.905-.775h2.088c4.348,0,6.856-2.1,7.512-6.272a5.079,5.079,0,0,0-.842-4.26C346.669,215.814,345.006,215.231,342.8,215.231Z"
                      transform="translate(-285.542 -215.23)"
                      fill="#1d1d1b"
                    />
                    <path
                      id="Path_527"
                      data-name="Path 527"
                      d="M398.518,243.164a3.521,3.521,0,0,1-3.566,3.018,2.448,2.448,0,0,1-2.618-3.073,3.539,3.539,0,0,1,3.541-3.042,2.667,2.667,0,0,1,2.108.861A2.721,2.721,0,0,1,398.518,243.164Zm4.405-6.151h-3.158a.547.547,0,0,0-.542.464l-.14.884-.222-.321c-.684-.993-2.209-1.325-3.732-1.325a7.266,7.266,0,0,0-7.055,6.356,5.967,5.967,0,0,0,1.176,4.855,4.948,4.948,0,0,0,3.98,1.608,6.047,6.047,0,0,0,4.375-1.809l-.141.878a.55.55,0,0,0,.544.637h2.846a.917.917,0,0,0,.905-.775l1.709-10.817A.551.551,0,0,0,402.923,237.013Z"
                      transform="translate(-325.941 -230.908)"
                      fill="#1d1d1b"
                    />
                    <path
                      id="Path_528"
                      data-name="Path 528"
                      d="M449.717,215.693l-2.709,17.233a.549.549,0,0,0,.543.635h2.723a.915.915,0,0,0,.906-.775l2.671-16.922a.55.55,0,0,0-.542-.636H450.26A.551.551,0,0,0,449.717,215.693Z"
                      transform="translate(-369.009 -215.228)"
                      fill="#1d1d1b"
                    />
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>

      <!-- Single Payment -->
      <div class="card-panel" :class="{ active: isActive('single') }">
        <div
          class="pt-size-5 pb-size-4 sm:pt-size-5 sm:pb-size-4 md:pt-size-6 md:pb-size-5 px-size-5 lg:pt-size-7 lg:pb-size-6 flex justify-between flex-col lg:flex-row"
        >
          <CoreButton colour="white" label="£50" class="" />
          <CoreButton colour="white" label="£150" class="mt-size-1 lg:mt-0" />
          <CoreButton colour="white" label="£300" class="mt-size-1 lg:mt-0" />
        </div>
        <div
          class="px-size-5 mb-size-4 sm:mb-size-5 md:mb-size-6 lg:mb-size-7 flex flex-row"
        >
          <img
            src="~/assets/images/Home/hand-on-the-piano.jpg"
            alt=""
            class="hidden lg:block"
          />
          <p
            class="text-size-1 sm:text-size-2 md:text-size-3 lg:text-size-4 font-tt-norms-pro-regular lg:ml-size-5 text-center lg:text-left"
          >
            Could pay for essential musical equipment to help detainees perform
            and tell their story
          </p>
        </div>
        <form action="" class="px-size-5 sm:px-size-4 md:px-size-5">
          <input
            type="text"
            value=""
            name="TEXT"
            class="font-tt-norms-pro-medium text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5 text-center font-light rounded-full border border-black outline-none placeholder-light-gray py-size-4 px-size-6 w-full mb-size-4"
            placeholder="£ — Other amount"
            required=""
          />
          <CoreButton
            colour="yellow"
            label="Donate"
            class="block w-full text-size-5"
            type="submit"
          />
        </form>
        <div class="px-size-5 py-size-7 flex justify-evenly payments">
          <svg
            id="Group_1514"
            data-name="Group 1514"
            xmlns="http://www.w3.org/2000/svg"
            width="81.226"
            height="26.283"
            viewBox="0 0 81.226 26.283"
          >
            <g
              id="Group_1513"
              data-name="Group 1513"
              transform="translate(0 0)"
            >
              <g id="Group_1512" data-name="Group 1512">
                <path
                  id="Path_518"
                  data-name="Path 518"
                  d="M331.2,209.5l-6.435,17.36-.69-3.528a15.941,15.941,0,0,0-8.575-8.664l5.354,20.254,6.959-.005L338.167,209.5H331.2"
                  transform="translate(-308.101 -209.034)"
                  fill="#161615"
                />
                <path
                  id="Path_519"
                  data-name="Path 519"
                  d="M365.506,234.912l4.113-25.462h6.574l-4.113,25.462h-6.575"
                  transform="translate(-336.892 -209.007)"
                  fill="#161615"
                />
                <path
                  id="Path_520"
                  data-name="Path 520"
                  d="M410.445,209.473a16.285,16.285,0,0,0-5.892-1.069c-6.5,0-11.076,3.456-11.115,8.4-.04,3.659,3.267,5.7,5.759,6.917,2.563,1.247,3.423,2.045,3.412,3.159-.017,1.705-2.044,2.487-3.935,2.487a13.193,13.193,0,0,1-6.193-1.336l-.846-.405-.92,5.7a19.877,19.877,0,0,0,7.326,1.357c6.909,0,11.4-3.414,11.451-8.7.023-2.9-1.729-5.1-5.523-6.919-2.3-1.182-3.708-1.963-3.692-3.159,0-1.058,1.191-2.19,3.767-2.19a11.552,11.552,0,0,1,4.921.978l.591.291.889-5.52"
                  transform="translate(-351.406 -208.404)"
                  fill="#161615"
                />
                <path
                  id="Path_521"
                  data-name="Path 521"
                  d="M452.15,209.511h-5.081a3.249,3.249,0,0,0-3.446,2.111l-9.766,23.335h6.907s1.127-3.139,1.382-3.829c.754,0,7.463.015,8.421.015.2.887.8,3.814.8,3.814h6.1l-5.321-25.446m-8.112,16.409c.546-1.464,2.62-7.116,2.62-7.116-.038.067.541-1.476.873-2.43l.444,2.2s1.261,6.076,1.522,7.35Z"
                  transform="translate(-376.245 -209.041)"
                  fill="#161615"
                />
                <path
                  id="Path_522"
                  data-name="Path 522"
                  d="M308.749,209.458h-10.6l-.088.528c7.294,1.836,13.266,5.808,15.974,13.321l-2.3-11.7C311.333,209.993,310.179,209.514,308.749,209.458Z"
                  transform="translate(-298.06 -209.011)"
                  fill="#161615"
                />
              </g>
            </g>
          </svg>
          <svg
            id="Group_1511"
            data-name="Group 1511"
            xmlns="http://www.w3.org/2000/svg"
            width="55.001"
            height="42.781"
            viewBox="0 0 55.001 42.781"
          >
            <path
              id="Path_517"
              data-name="Path 517"
              d="M347.757,303.488v-2.832a1.68,1.68,0,0,0-1.775-1.794,1.747,1.747,0,0,0-1.586.8,1.658,1.658,0,0,0-1.492-.8,1.492,1.492,0,0,0-1.322.67v-.557H340.6v4.513h.991v-2.5a1.056,1.056,0,0,1,1.1-1.2c.652,0,.982.425.982,1.19v2.511h.991v-2.5a1.064,1.064,0,0,1,1.1-1.2c.67,0,.991.425.991,1.19v2.511Zm14.671-4.513h-1.6v-1.369h-.991v1.369h-.916v.9h.916v2.058c0,1.048.406,1.671,1.567,1.671a2.305,2.305,0,0,0,1.227-.349l-.283-.84a1.817,1.817,0,0,1-.868.254c-.491,0-.652-.3-.652-.755v-2.04h1.6Zm8.375-.113a1.332,1.332,0,0,0-1.19.661v-.547h-.972v4.513h.982v-2.53c0-.746.321-1.161.963-1.161a1.6,1.6,0,0,1,.614.113l.3-.925a2.1,2.1,0,0,0-.7-.123Zm-12.66.472a3.378,3.378,0,0,0-1.841-.472c-1.143,0-1.879.547-1.879,1.444,0,.736.548,1.19,1.558,1.331l.463.066c.538.076.793.217.793.472,0,.349-.359.548-1.029.548a2.406,2.406,0,0,1-1.5-.472l-.463.764a3.255,3.255,0,0,0,1.954.585c1.3,0,2.058-.614,2.058-1.473,0-.793-.594-1.209-1.576-1.35l-.463-.066c-.425-.057-.765-.142-.765-.444,0-.331.321-.529.859-.529a2.909,2.909,0,0,1,1.407.387Zm26.3-.472a1.332,1.332,0,0,0-1.19.661v-.547h-.972v4.513h.982v-2.53c0-.746.321-1.161.963-1.161a1.6,1.6,0,0,1,.614.113l.3-.925a2.1,2.1,0,0,0-.7-.123Zm-12.651,2.37a2.28,2.28,0,0,0,2.407,2.37,2.362,2.362,0,0,0,1.624-.538l-.472-.793a1.984,1.984,0,0,1-1.18.406,1.447,1.447,0,0,1,0-2.889,1.984,1.984,0,0,1,1.18.406l.472-.793a2.364,2.364,0,0,0-1.624-.538,2.28,2.28,0,0,0-2.407,2.37Zm9.2,0v-2.256h-.982v.547a1.711,1.711,0,0,0-1.425-.661,2.372,2.372,0,0,0,0,4.739,1.711,1.711,0,0,0,1.425-.661v.548h.982Zm-3.654,0a1.366,1.366,0,1,1,1.369,1.444,1.354,1.354,0,0,1-1.369-1.444Zm-11.848-2.37a2.372,2.372,0,0,0,.066,4.739,2.743,2.743,0,0,0,1.85-.633l-.482-.727a2.153,2.153,0,0,1-1.312.472,1.253,1.253,0,0,1-1.35-1.1h3.352c.009-.123.019-.245.019-.378a2.164,2.164,0,0,0-2.143-2.37Zm-.019.878a1.121,1.121,0,0,1,1.143,1.1h-2.341a1.162,1.162,0,0,1,1.2-1.1Zm24.632,1.492v-4.069h-.982v2.36a1.712,1.712,0,0,0-1.426-.661,2.372,2.372,0,0,0,0,4.739,1.712,1.712,0,0,0,1.426-.661v.548h.982Zm-3.654,0a1.366,1.366,0,1,1,1.369,1.444,1.354,1.354,0,0,1-1.369-1.444Zm-33.157,0v-2.256h-.982v.547a1.711,1.711,0,0,0-1.425-.661,2.372,2.372,0,0,0,0,4.739,1.711,1.711,0,0,0,1.425-.661v.548h.982Zm-3.654,0A1.366,1.366,0,1,1,351,302.676,1.354,1.354,0,0,1,349.635,301.232Zm42.1,1.6a.447.447,0,0,1,.177.035.45.45,0,0,1,.243.239.44.44,0,0,1,0,.348.453.453,0,0,1-.243.239.439.439,0,0,1-.177.036.455.455,0,0,1-.423-.275.439.439,0,0,1,0-.348.453.453,0,0,1,.1-.143.44.44,0,0,1,.145-.1A.464.464,0,0,1,391.737,302.834Zm0,.8a.332.332,0,0,0,.135-.028.347.347,0,0,0,.211-.322.348.348,0,0,0-.027-.136.349.349,0,0,0-.184-.185.341.341,0,0,0-.135-.027.354.354,0,0,0-.138.027.335.335,0,0,0-.111.074.345.345,0,0,0-.075.111.35.35,0,0,0,.075.384.336.336,0,0,0,.111.075A.345.345,0,0,0,391.737,303.633Zm.026-.56a.189.189,0,0,1,.124.036.12.12,0,0,1,.043.1.112.112,0,0,1-.034.085.166.166,0,0,1-.1.042l.136.157h-.107l-.127-.156h-.041v.156h-.089v-.417Zm-.1.078v.111h.1a.1.1,0,0,0,.056-.014.048.048,0,0,0,.021-.043.046.046,0,0,0-.021-.041.1.1,0,0,0-.056-.014Zm-.531-14.674v-.547h.221v-.111h-.562v.111h.221v.547Zm1.091,0v-.659h-.172l-.2.454-.2-.454h-.172v.659h.121v-.5l.186.429h.126l.185-.43v.5Zm-28.474,3.284c.133.116.273.227.411.34a17,17,0,1,1,0-28.312c-.137.113-.277.224-.41.34a18.3,18.3,0,0,0,0,27.631Zm12.01-30.812a16.916,16.916,0,0,0-9.408,2.84c.137.113.277.224.411.34a18.3,18.3,0,0,1,0,27.631c-.133.116-.273.227-.411.34a17,17,0,1,0,9.409-31.152Zm-10.5,3.64q-.329.258-.643.533a16.983,16.983,0,0,0,0,25.647q.315.274.643.533.329-.259.643-.533a16.983,16.983,0,0,0,0-25.647q-.314-.274-.643-.533"
              transform="translate(-337.751 -260.949)"
            />
          </svg>
          <svg
            id="Group_1521"
            data-name="Group 1521"
            xmlns="http://www.w3.org/2000/svg"
            width="82.198"
            height="30.363"
            viewBox="0 0 82.198 30.363"
          >
            <path
              id="Path_529"
              data-name="Path 529"
              d="M958.857,213.624a1.088,1.088,0,0,0-1.187-1.122h-2.541v2.231h2.541A1.078,1.078,0,0,0,958.857,213.624Z"
              transform="translate(-916.827 -208.476)"
            />
            <path
              id="Path_530"
              data-name="Path 530"
              d="M836.75,207.305l1.5,1.948H846.5v-.974a5.5,5.5,0,0,0,.66.364,6.079,6.079,0,0,0,.69.269,6.683,6.683,0,0,0,.874.218,7.891,7.891,0,0,0,1.4.123h4.941l.722-1.922h1.368l.735,1.922h8.283v-1.987l1.251,1.987h5.754V195.862h-6.141V198l-1.367-2.142h-5.354v2.708l-1.2-2.708h-8.85a8.07,8.07,0,0,0-1.242.094,6.953,6.953,0,0,0-1,.231,6.188,6.188,0,0,0-.734.28,5.758,5.758,0,0,0-.794.442v-1.047H817.619l-.786,2.335-.8-2.335h-6.721V198.6l-1.213-2.736h-5.483l-2.452,5.728-3.354,7.663h7.237l.723-1.922h1.367l.736,1.922H836.75Zm25.556-9.263h2.656l3.381,5.225.4.671-.026-.671v-5.225h2.116v9.031H868.3l-3.457-5.405-.451-.748.026.748v5.405h-2.115Zm-4.36,0,3.856,9.031h-2.438l-.774-1.935h-4.3l-.762,1.935h-2.309l3.869-9.031Zm-12.2,4.438c0-2.567,1.522-4.438,4.309-4.438h2.528v1.948h-2.348a2.247,2.247,0,0,0-2.335,2.5v.129a2.24,2.24,0,0,0,2.361,2.528h.658l-.89,1.922h-.116c-2.606-.012-4.167-1.754-4.167-4.438Zm-3.535.566v-5h2.167v9.031h-2.167Zm-33.864,4.026-.774-1.935h-4.3l-.762,1.935H800.2l3.871-9.031h2.851l3.857,9.031Zm14.01,0h-2.1v-6.179l.052-2.374-2.5,8.553h-1.961l-2.5-8.6.052,2.438v6.166h-2.1v-9.031h3.806l1.728,6.4,1.716-6.4h3.818Zm9.005-7.2H826.3v1.755h4.941v1.806H826.3v1.793h5.057v1.845h-7.224v-9.031h7.224Zm3.753,3.948v3.251h-2.167v-9.031h4.9a2.872,2.872,0,0,1,.671,5.7l3.006,3.328h-2.7l-2.7-3.251Z"
              transform="translate(-796.81 -195.862)"
            />
            <path
              id="Path_531"
              data-name="Path 531"
              d="M1039.4,213.5l-.657-1.69-.657,1.69-.787,2h2.9Z"
              transform="translate(-979.121 -207.95)"
            />
            <path
              id="Path_532"
              data-name="Path 532"
              d="M827.85,211.808l-.658,1.69-.787,2h2.9l-.8-2Z"
              transform="translate(-819.245 -207.95)"
            />
            <g
              id="Group_1520"
              data-name="Group 1520"
              transform="translate(16.37 16.97)"
            >
              <path
                id="Path_533"
                data-name="Path 533"
                d="M930.226,266.009H880.562l-1.213,1.716-1.2-1.716H864.476V279.4H878.1l1.187-1.742,1.225,1.742h8.527V276.51h-.09a8.228,8.228,0,0,0,2.877-.509v3.4h5.947v-1.947l1.5,1.947h25.8l.338,0a4.9,4.9,0,0,0,4.9-4.9ZM873.8,270.021h-5.056v1.754h4.941v1.806h-4.941V275.4H873.8v1.82h-7.224v-9.031H873.8Zm7.521,7.2-2.219-2.9-2.219,2.9h-2.632l3.6-4.516-3.612-4.515h2.709l2.206,2.864,2.22-2.864h2.631l-3.6,4.477,3.625,4.554Zm8.076-2.981h-2.722v2.981h-2.167v-9.031h4.966a2.886,2.886,0,0,1,3.122,3.018A2.958,2.958,0,0,1,889.4,274.238Zm10.256,2.981-2.7-3.251h-1.019v3.251h-2.167v-9.031h4.9a2.872,2.872,0,0,1,.671,5.7l3.005,3.329Zm10.927-7.2h-5.057v1.754h4.941v1.806h-4.941V275.4h5.057v1.82h-7.224v-9.031h7.224Zm5.882,7.2H911.9v-1.806h4.631a.86.86,0,0,0,.89-.915.836.836,0,0,0-.89-.878h-2.077A2.509,2.509,0,0,1,911.64,271a2.8,2.8,0,0,1,3.109-2.812h4.658l-.8,1.832h-3.922a.846.846,0,0,0-.877.9.823.823,0,0,0,.877.865h2.09c1.755,0,2.8.941,2.8,2.554A2.811,2.811,0,0,1,916.465,277.219Zm11.648-2.275a2.821,2.821,0,0,1-3.057,2.275H920.49v-1.806h4.631a.86.86,0,0,0,.89-.915.836.836,0,0,0-.89-.878h-2.077A2.509,2.509,0,0,1,920.232,271a2.8,2.8,0,0,1,3.109-2.812H928l-.8,1.832h-3.921a.846.846,0,0,0-.877.9.822.822,0,0,0,.877.865h2.09a2.47,2.47,0,0,1,2.746,1.962Z"
                transform="translate(-864.476 -266.009)"
              />
              <path
                id="Path_534"
                data-name="Path 534"
                d="M958.842,282.966h-2.593v2.218h2.593a1.11,1.11,0,1,0,0-2.218Z"
                transform="translate(-934.047 -278.864)"
              />
              <path
                id="Path_535"
                data-name="Path 535"
                d="M998.265,283.766a1.088,1.088,0,0,0-1.187-1.123h-2.541v2.232h2.541A1.078,1.078,0,0,0,998.265,283.766Z"
                transform="translate(-963.072 -278.619)"
              />
            </g>
          </svg>
          <svg
            id="Group_1519"
            data-name="Group 1519"
            xmlns="http://www.w3.org/2000/svg"
            width="84.849"
            height="22.609"
            viewBox="0 0 84.849 22.609"
          >
            <g id="Group_1518" data-name="Group 1518" transform="translate(0)">
              <g
                id="Group_1517"
                data-name="Group 1517"
                transform="translate(0 0)"
              >
                <g
                  id="Group_1516"
                  data-name="Group 1516"
                  transform="translate(0 0)"
                >
                  <g id="Group_1515" data-name="Group 1515">
                    <path
                      id="Path_523"
                      data-name="Path 523"
                      d="M169.407,221.412c-.361,2.368-2.171,2.368-3.92,2.368h-1l.7-4.423a.55.55,0,0,1,.543-.464h.457c1.192,0,2.316,0,2.9.679A2.2,2.2,0,0,1,169.407,221.412Zm-.761-6.181h-6.6a.917.917,0,0,0-.906.774l-2.669,16.923a.549.549,0,0,0,.544.635h3.151a.917.917,0,0,0,.906-.775l.72-4.565a.916.916,0,0,1,.905-.775h2.089c4.348,0,6.856-2.1,7.512-6.272a5.084,5.084,0,0,0-.841-4.26C172.518,215.814,170.854,215.231,168.645,215.231Z"
                      transform="translate(-158.463 -215.23)"
                      fill="#1d1d1b"
                    />
                    <path
                      id="Path_524"
                      data-name="Path 524"
                      d="M224.357,243.164a3.522,3.522,0,0,1-3.566,3.018,2.448,2.448,0,0,1-2.618-3.073,3.538,3.538,0,0,1,3.542-3.042,2.667,2.667,0,0,1,2.108.861A2.736,2.736,0,0,1,224.357,243.164Zm4.405-6.151H225.6a.551.551,0,0,0-.543.464l-.14.884-.221-.321c-.684-.993-2.21-1.325-3.733-1.325a7.268,7.268,0,0,0-7.056,6.356,5.966,5.966,0,0,0,1.177,4.855,4.945,4.945,0,0,0,3.98,1.608,6.047,6.047,0,0,0,4.375-1.809l-.141.878a.55.55,0,0,0,.542.637h2.847a.917.917,0,0,0,.906-.775l1.708-10.817A.548.548,0,0,0,228.762,237.013Z"
                      transform="translate(-198.853 -230.908)"
                      fill="#1d1d1b"
                    />
                    <path
                      id="Path_525"
                      data-name="Path 525"
                      d="M291.635,237.816h-3.176a.92.92,0,0,0-.76.4l-4.38,6.452-1.857-6.2a.92.92,0,0,0-.88-.654h-3.121a.551.551,0,0,0-.522.728l3.5,10.266-3.289,4.642a.55.55,0,0,0,.449.868h3.172a.916.916,0,0,0,.754-.394l10.563-15.247A.55.55,0,0,0,291.635,237.816Z"
                      transform="translate(-244.894 -231.71)"
                      fill="#1d1d1b"
                    />
                    <path
                      id="Path_526"
                      data-name="Path 526"
                      d="M343.559,221.412c-.36,2.368-2.169,2.368-3.92,2.368h-.995l.7-4.423a.548.548,0,0,1,.543-.464h.456c1.191,0,2.316,0,2.9.679A2.2,2.2,0,0,1,343.559,221.412Zm-.761-6.181h-6.6a.917.917,0,0,0-.905.774l-2.669,16.923a.549.549,0,0,0,.542.635h3.387a.641.641,0,0,0,.633-.542l.757-4.8a.916.916,0,0,1,.905-.775h2.088c4.348,0,6.856-2.1,7.512-6.272a5.079,5.079,0,0,0-.842-4.26C346.669,215.814,345.006,215.231,342.8,215.231Z"
                      transform="translate(-285.542 -215.23)"
                      fill="#1d1d1b"
                    />
                    <path
                      id="Path_527"
                      data-name="Path 527"
                      d="M398.518,243.164a3.521,3.521,0,0,1-3.566,3.018,2.448,2.448,0,0,1-2.618-3.073,3.539,3.539,0,0,1,3.541-3.042,2.667,2.667,0,0,1,2.108.861A2.721,2.721,0,0,1,398.518,243.164Zm4.405-6.151h-3.158a.547.547,0,0,0-.542.464l-.14.884-.222-.321c-.684-.993-2.209-1.325-3.732-1.325a7.266,7.266,0,0,0-7.055,6.356,5.967,5.967,0,0,0,1.176,4.855,4.948,4.948,0,0,0,3.98,1.608,6.047,6.047,0,0,0,4.375-1.809l-.141.878a.55.55,0,0,0,.544.637h2.846a.917.917,0,0,0,.905-.775l1.709-10.817A.551.551,0,0,0,402.923,237.013Z"
                      transform="translate(-325.941 -230.908)"
                      fill="#1d1d1b"
                    />
                    <path
                      id="Path_528"
                      data-name="Path 528"
                      d="M449.717,215.693l-2.709,17.233a.549.549,0,0,0,.543.635h2.723a.915.915,0,0,0,.906-.775l2.671-16.922a.55.55,0,0,0-.542-.636H450.26A.551.551,0,0,0,449.717,215.693Z"
                      transform="translate(-369.009 -215.228)"
                      fill="#1d1d1b"
                    />
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      activeItem: 'monthly',
    }
  },

  methods: {
    isActive(menuItem) {
      return this.activeItem === menuItem
    },
    setActive(menuItem) {
      this.activeItem = menuItem
    },
  },
}
</script>
<style lang="postcss" scoped>
.card-tabs-item a {
  &.active {
    opacity: 1;
  }
}
.card-panel {
  display: none;
  &.active {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .payments svg {
    max-width: 45px;
  }
}
</style>
