<template>
  <div class="carousel-card h-full relative">
    <button class="bg-black absolute top-0 left-0 z-10">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="11"
        height="16"
        viewBox="0 0 11 16"
        class="mx-auto"
      >
        <g
          id="Group_2174"
          data-name="Group 2174"
          transform="translate(-0.455 -0.092)"
        >
          <path
            id="Polygon_10"
            data-name="Polygon 10"
            d="M8,0l8,11H0Z"
            transform="translate(11.455 0.092) rotate(90)"
            fill="#fff"
          />
        </g>
      </svg>
    </button>
    <CoreImage
      class="pointer-events-none"
      :src="srcImage"
      :srcset="srcImage"
      inner-class="h-full w-full object-cover"
    />
    <div
      class="carousel-card__body bg-white bg-opacity-50 p-size-5 flex flex-col absolute bottom-0"
    >
      <h5 class="font-tt-norms-pro-regular text-size-2 mb-size-3 text-white">
        Playlist<span></span> 20 December 2020
      </h5>
      <h4 class="font-tt-norms-pro-bold text-size-7 mb-auto text-white">
        Dover IRC Autumn Mix
      </h4>
      <p
        class="font-tt-norms-pro-regular text-size-2 content-end mt-auto text-white"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare
        orci id porttitor facilisis. Ut finibus in est placerat ornare. (20
        wood)
      </p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    srcImage: {
      type: String,
      default: require('~/assets/images/Home/article-placeholder-04.jpg'),
    },
  },
}
</script>
<style lang="postcss" scoped>
button {
  width: 60px;
  height: 60px;
}
.carousel-card {
  &__body {
    min-height: 300px;
    backdrop-filter: blur(28px) brightness(115%);
    background: rgba(0, 0, 0, 0.25);
    h5 span {
      width: 32px;
      height: 1px;
      @apply bg-white;
      @apply inline-block;
      @apply mx-size-1;
      @apply mb-2;
    }
  }
}
</style>
