<template>
  <header
    class="fixed top-0 left-0 right-0 text-white bg-black flex flex-row items-center justify-between z-50"
  >
    <div class="header-mobile-top-container">
      <h1 class="hidden">Hear Me Out</h1>
      <NuxtLink to="/" class="flex flex-row items-center">
        <svg
          id="Group_2364"
          data-name="Group 2364"
          xmlns="http://www.w3.org/2000/svg"
          width="68.651"
          height="60"
          viewBox="0 0 68.651 60"
        >
          <path
            id="Path_1208"
            data-name="Path 1208"
            d="M733,577.332v2.162a42.71,42.71,0,0,0,4.447,5.225h1.784A41.4,41.4,0,0,1,733,577.332Z"
            transform="translate(-733.001 -524.72)"
            fill="#fff"
          />
          <path
            id="Path_1209"
            data-name="Path 1209"
            d="M810.171,584.719h1.784a42.712,42.712,0,0,0,4.446-5.225v-2.162A41.406,41.406,0,0,1,810.171,584.719Z"
            transform="translate(-747.751 -524.72)"
            fill="#fff"
          />
          <path
            id="Path_1210"
            data-name="Path 1210"
            d="M812.655,513.084h-1.733a41.417,41.417,0,0,1,5.623,6.808V517.73A42.561,42.561,0,0,0,812.655,513.084Z"
            transform="translate(-747.894 -513.084)"
            fill="#fff"
          />
          <path
            id="Path_1211"
            data-name="Path 1211"
            d="M736.892,513.084A42.687,42.687,0,0,0,733,517.73v2.162a41.4,41.4,0,0,1,5.624-6.808Z"
            transform="translate(-733.001 -513.084)"
            fill="#fff"
          />
          <path
            id="Path_1212"
            data-name="Path 1212"
            d="M746.362,513.084h-2.384A37.75,37.75,0,0,0,733,527.257v3.991A36.264,36.264,0,0,1,746.362,513.084Z"
            transform="translate(-733.001 -513.084)"
            fill="#fff"
          />
          <path
            id="Path_1213"
            data-name="Path 1213"
            d="M803.74,513.084h-2.384a36.259,36.259,0,0,1,13.361,18.164v-3.991A37.747,37.747,0,0,0,803.74,513.084Z"
            transform="translate(-746.066 -513.084)"
            fill="#fff"
          />
          <path
            id="Path_1214"
            data-name="Path 1214"
            d="M800.326,582.034h2.467a37.779,37.779,0,0,0,11.727-14.763V563.28A36.278,36.278,0,0,1,800.326,582.034Z"
            transform="translate(-745.869 -522.034)"
            fill="#fff"
          />
          <path
            id="Path_1215"
            data-name="Path 1215"
            d="M733,563.28v3.991a37.782,37.782,0,0,0,11.727,14.763H747.2A36.284,36.284,0,0,1,733,563.28Z"
            transform="translate(-733.001 -522.034)"
            fill="#fff"
          />
          <path
            id="Path_1216"
            data-name="Path 1216"
            d="M736.564,542.781a31.493,31.493,0,0,1,20.853-29.7h-4.225a33.264,33.264,0,0,0,1.283,60h4.852A31.467,31.467,0,0,1,736.564,542.781Z"
            transform="translate(-733.368 -513.084)"
            fill="#fff"
          />
          <path
            id="Path_1217"
            data-name="Path 1217"
            d="M810.187,542.781a33.2,33.2,0,0,0-18.271-29.7h-4.225a31.562,31.562,0,0,1-1.908,60h4.851A33.184,33.184,0,0,0,810.187,542.781Z"
            transform="translate(-743.09 -513.084)"
            fill="#fff"
          />
          <path
            id="Path_1218"
            data-name="Path 1218"
            d="M742.683,543.134a26.362,26.362,0,0,1,23.642-26.319v-1.874a28.337,28.337,0,0,0,0,56.387v-1.875A26.362,26.362,0,0,1,742.683,543.134Z"
            transform="translate(-734.498 -513.439)"
            fill="#fff"
          />
          <path
            id="Path_1219"
            data-name="Path 1219"
            d="M804.031,543.135A28.223,28.223,0,0,0,778.6,514.946v1.875a26.473,26.473,0,0,1,0,52.629v1.874A28.223,28.223,0,0,0,804.031,543.135Z"
            transform="translate(-741.717 -513.44)"
            fill="#fff"
          />
          <path
            id="Path_1220"
            data-name="Path 1220"
            d="M748.8,544.262a21.371,21.371,0,0,1,18.653-21.292v-2.1a23.565,23.565,0,0,0,0,46.781v-2.1A21.371,21.371,0,0,1,748.8,544.262Z"
            transform="translate(-735.629 -514.573)"
            fill="#fff"
          />
          <path
            id="Path_1221"
            data-name="Path 1221"
            d="M797.194,544.264A21.373,21.373,0,0,1,778.6,565.549v2.1a23.565,23.565,0,0,0,0-46.766v2.1A21.371,21.371,0,0,1,797.194,544.264Z"
            transform="translate(-741.717 -514.574)"
            fill="#fff"
          />
          <path
            id="Path_1222"
            data-name="Path 1222"
            d="M792.206,545.4a16.376,16.376,0,0,1-13.6,16.222v2.34a18.792,18.792,0,0,0,0-37.124v2.34A16.376,16.376,0,0,1,792.206,545.4Z"
            transform="translate(-741.717 -515.712)"
            fill="#fff"
          />
          <path
            id="Path_1223"
            data-name="Path 1223"
            d="M754.922,545.4a16.373,16.373,0,0,1,13.664-16.231v-2.339a18.789,18.789,0,0,0,0,37.139v-2.339A16.373,16.373,0,0,1,754.922,545.4Z"
            transform="translate(-736.759 -515.711)"
            fill="#fff"
          />
          <path
            id="Path_1224"
            data-name="Path 1224"
            d="M761.041,546.213a11.187,11.187,0,0,1,8.675-10.882v-2.516a13.628,13.628,0,0,0,0,26.8V557.1A11.187,11.187,0,0,1,761.041,546.213Z"
            transform="translate(-737.889 -516.539)"
            fill="#fff"
          />
          <path
            id="Path_1225"
            data-name="Path 1225"
            d="M787.217,546.215a11.186,11.186,0,0,1-8.614,10.866V559.6a13.63,13.63,0,0,0,0-26.778v2.522A11.187,11.187,0,0,1,787.217,546.215Z"
            transform="translate(-741.717 -516.542)"
            fill="#fff"
          />
          <path
            id="Path_1226"
            data-name="Path 1226"
            d="M782.2,547.28a8.855,8.855,0,1,0-8.855,8.855A8.865,8.865,0,0,0,782.2,547.28Zm-8.855,6.185a6.185,6.185,0,1,1,6.186-6.185A6.193,6.193,0,0,1,773.346,553.465Z"
            transform="translate(-739.02 -517.61)"
            fill="#fff"
          />
          <path
            id="Path_1227"
            data-name="Path 1227"
            d="M774.476,544.333a4.071,4.071,0,1,0,4.071,4.071A4.076,4.076,0,0,0,774.476,544.333Zm0,5.267a1.2,1.2,0,1,1,1.2-1.2A1.2,1.2,0,0,1,774.476,549.6Z"
            transform="translate(-740.15 -518.739)"
            fill="#fff"
          />
        </svg>
        <svg
          id="Group_2363"
          data-name="Group 2363"
          xmlns="http://www.w3.org/2000/svg"
          width="145.777"
          height="16.148"
          viewBox="0 0 145.777 16.148"
          class="ml-8"
        >
          <g
            id="Group_2360"
            data-name="Group 2360"
            transform="translate(0 0.394)"
          >
            <path
              id="Path_1199"
              data-name="Path 1199"
              d="M447.524,387.915h-6.582v-6.034H437.65V397.24h3.292v-6.254h6.582v6.254h3.291V381.881h-3.291Z"
              transform="translate(-437.65 -381.881)"
              fill="#fff"
            />
            <path
              id="Path_1200"
              data-name="Path 1200"
              d="M457.18,390.877h6.363v-2.962H457.18v-2.962H465.3v-3.072h-11.41V397.24h11.63v-3.072H457.18Z"
              transform="translate(-437.65 -381.881)"
              fill="#fff"
            />
            <path
              id="Path_1201"
              data-name="Path 1201"
              d="M472.981,381.881l-5.925,15.359h3.511l1.316-3.51h5.925l1.316,3.51h3.511l-5.924-15.359Zm0,8.887,1.821-5.047h.088l1.821,5.047Z"
              transform="translate(-437.65 -381.881)"
              fill="#fff"
            />
            <path
              id="Path_1202"
              data-name="Path 1202"
              d="M493.388,391.535a3.941,3.941,0,0,0,1.316-.922,4.874,4.874,0,0,0,1.317-3.576c0-3.072-2.084-5.156-5.376-5.156h-6.8V397.24h3.292v-5.046h3.071l2.743,5.046h3.621Zm-2.853-2.413h-3.4v-4.169h3.4a2.085,2.085,0,1,1,0,4.169Z"
              transform="translate(-437.65 -381.881)"
              fill="#fff"
            />
          </g>
          <g
            id="Group_2361"
            data-name="Group 2361"
            transform="translate(65.126 0.344)"
          >
            <path
              id="Path_1203"
              data-name="Path 1203"
              d="M510.834,389.26l-5.775-7.409-.015-.02h-2.269V397.29h2.513V386.085l5.546,7.067,5.546-7.067V397.29h2.513V381.831h-2.269Z"
              transform="translate(-502.776 -381.831)"
              fill="#fff"
            />
            <path
              id="Path_1204"
              data-name="Path 1204"
              d="M524.38,394.887v-4.4h6.692v-2.4H524.38v-3.85h8.448v-2.4H521.867V397.29h11.181v-2.4Z"
              transform="translate(-502.776 -381.831)"
              fill="#fff"
            />
          </g>
          <g
            id="Group_2362"
            data-name="Group 2362"
            transform="translate(100.332)"
          >
            <path
              id="Path_1205"
              data-name="Path 1205"
              d="M546.056,381.487a8.074,8.074,0,1,0,8.074,8.074A8.083,8.083,0,0,0,546.056,381.487Zm0,14.262a6.189,6.189,0,1,1,6.078-6.188A6,6,0,0,1,546.056,395.749Z"
              transform="translate(-537.982 -381.487)"
              fill="#fff"
            />
            <path
              id="Path_1206"
              data-name="Path 1206"
              d="M567.606,391.206a4.434,4.434,0,1,1-8.866,0v-9.5h-2v9.5a6.428,6.428,0,1,0,12.857,0v-9.5h-1.995Z"
              transform="translate(-537.982 -381.487)"
              fill="#fff"
            />
            <path
              id="Path_1207"
              data-name="Path 1207"
              d="M571.777,381.706v1.886H576.6v13.823h2V383.592h4.827v-1.886Z"
              transform="translate(-537.982 -381.487)"
              fill="#fff"
            />
          </g>
        </svg>
      </NuxtLink>
      <div
        class="hamburger-menu"
        :class="active ? 'active' : ''"
        @click="openMenu()"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div>
      <nav :class="active ? 'active' : ''">
        <ul class="flex flex-row items-stretch">
          <li>
            <NuxtLink
              to="/why-detainees-and-music"
              class="font-tt-norms-pro-regular size-4 mx-size-3 hover:border-b hover:border-mid-yellow"
              >Why detainees and music?
            </NuxtLink>
          </li>
          <li>
            <NuxtLink
              to="/what-we-do"
              class="font-tt-norms-pro-regular size-4 mx-size-3"
              >What we do
            </NuxtLink>
          </li>
          <li>
            <NuxtLink
              to="/who-we-are"
              class="font-tt-norms-pro-regular size-4 mx-size-3"
              >Who we are
            </NuxtLink>
          </li>
          <li>
            <NuxtLink
              to="/stories"
              class="font-tt-norms-pro-regular size-4 mx-size-3"
              >Real stories
            </NuxtLink>
          </li>
          <li>
            <NuxtLink
              to="/how-you-can-help"
              class="font-tt-norms-pro-regular size-4 mx-size-3"
              >How you can help
            </NuxtLink>
          </li>
          <li>
            <NuxtLink
              to="/donate"
              class="font-tt-norms-pro-regular size-4 px-16 ml-size-3 h-auto block bg-mid-yellow text-black"
              >Donate
            </NuxtLink>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>
<script>
export default {
  data() {
    return {
      active: false,
    }
  },
  methods: {
    openMenu() {
      this.active = !this.active
    },
  },
}
</script>
<style lang="postcss" scoped>
h1 {
  text-indent: -10000px;
}
nav ul li a {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  &.nuxt-link-exact-active,
  &:hover {
    @apply border-b;
    @apply border-mid-yellow;
  }
}
.hamburger-menu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header-mobile-top-container {
    display: flex;
    width: 100%;
  }
  .hamburger-menu {
    margin: 20px 15px 0 auto;
    display: inline-block;
    width: 33px;

    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #cdcdcd;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }
    &.active {
      span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
      }
      span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      span:nth-last-child(1) {
        transform: rotate(-45deg) translate(-1px, -2px);
      }
    }
  }
  nav {
    position: fixed;
    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    top: 60px;
    z-index: 22;
    background-color: #5d5d5d;
    transition: all 0.3s ease;
    &.active {
      left: 0;
    }
  }
  nav .items-stretch {
    display: block;
    width: 100%;
    padding: 15px;
  }
  nav .items-stretch li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }
}
</style>
