<template>
  <section class="h-screen w-full text-white">
    <CoreImage
      class="pointer-events-none"
      :src="image"
      :srcset="image"
      inner-class="h-screen w-full object-cover"
    />
    <div class="h-full w-full flex items-center absolute top-0 left-0">
      <div class="container mx-auto">
        <div class="flex flex-col w-6/12">
          <h1 class="text-size-9 mb-size-7 font-tusker" v-text="title" />
          <h2 class="text-size-5 relative font-tt-norms-pro-regular">
            <span v-text="body" />
          </h2>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: require('~/assets/images/placeholder-hero.jpg'),
    },
    subHeading: {
      type: String,
      default: 'August 12, 2020',
    },
    title: {
      type: String,
      default: "Pilo's Story",
    },
    body: {
      type: String,
      default:
        'One sentence lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue sem, egestas sit amet urna a, scelerisque maximus augue sem ame.',
    },
  },
  computed: {
    styles() {
      return [this.backgroundImage]
    },
    backgroundImage() {
      return {
        'background-image': `url(${this.image})`,
      }
    },
  },
}
</script>

<style lang="postcss" scoped>
h2 {
  &:before {
    content: '';
    @apply absolute;
    @apply bg-white;
    width: 74px;
    height: 1px;
    top: 2vh;
  }
  span {
    margin-left: calc(74px + 5rem);
    @apply block;
  }
}
</style>
