<template>
  <section class="py-size-11">
    <div class="container mx-auto">
      <div class="grid grid-cols-2">
        <div class="flex items-center">
          <div class="pr-size-9">
            <h3
              class="font-tt-norms-pro-bold text-black text-size-8 font-bold"
              v-text="title"
            />
            <p
              class="font-tt-norms-pro-regular text-black text-size-4 py-size-7"
              v-text="body"
            />
            <CoreButton colour="blue" label="CTA" class="mx-size-1" />
          </div>
        </div>
        <div>
          <CoreImage
            class=""
            :src="srcImage"
            :srcset="srcImage"
            inner-class=""
          />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Have you been in detention?',
    },
    body: {
      type: String,
      default:
        'Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. Vivamus egestas lectus dui, blandit tempus metus tincidunt ut. Praesent ultricies urna vel scelerisque suscipit. Maecenas vitae molestie nisl, id molestie mi. Praesent vel dolor et felis commodo sodales.',
    },
    srcImage: {
      type: String,
      default: require('~/assets/images/HowYouCanHelp/img-placeholder-1.jpg'),
    },
  },
}
</script>
