<template>
  <section class="my-size-6 sm:my-size-6 md:my-size-8 lg:my-size-10">
    <div class="relative">
      <div class="swiper-prev-button absolute z-10 hidden md:block">
        <button
          class="rounded-full border border-white relative mr-10 hover:bg-whote hover:bg-opacity-50 transition duration-500 ease-in-out outline-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="11"
            viewBox="0 0 8 11"
            class="absolute"
          >
            <path
              id="Polygon_16"
              data-name="Polygon 16"
              d="M5.5,0,11,8H0Z"
              transform="translate(0 11) rotate(-90)"
              fill="#fff"
            />
          </svg>
        </button>
      </div>
      <div class="swiper-next-button absolute z-10 hidden md:block">
        <button
          class="rounded-full border border-white relative hover:bg-whote hover:bg-opacity-50 transition duration-500 ease-in-out ml-size-1 outline-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="11"
            viewBox="0 0 8 11"
            class="absolute"
          >
            <path
              id="Polygon_16"
              data-name="Polygon 16"
              d="M5.5,0,11,8H0Z"
              transform="translate(8) rotate(90)"
              fill="#fff"
            />
          </svg>
        </button>
      </div>

      <client-only>
        <swiper :options="options">
          <swiper-slide class="relative slide">
            <figure class="relative">
              <img src="~/assets/images/placeholder-slider.jpg" alt="" />
              <figcaption
                class="absolute bottom-0 left-0 p-size-3 hidden md:block"
              >
                <h4 class="font-tt-norms-pro-bold text-size-1">Image Title</h4>
                <p class="font-tt-norms-pro-regular text-size-1">
                  Being in detention significantly impacts mental health
                </p>
              </figcaption>
            </figure>
          </swiper-slide>
        </swiper>
      </client-only>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      options: {
        autoplay: { delay: 3000 },
        keyboard: { enabled: true },
        loop: {
          loopedSlides: 1,
        },
        preloadImages: true,
        lazy: {
          loadPrevNext: true,
          loadOnTransitionStart: true,
        },
        navigation: {
          nextEl: '.swiper-next-button',
          prevEl: '.swiper-prev-button',
        },
        spaceBetween: 0,
        slidesPerView: 1,
        watchSlidesVisibility: true,
      },
    }
  },
}
</script>
<style lang="postcss" scoped>
button {
  width: 40px;
  height: 40px;
  &:focus {
    @apply outline-none;
  }
  svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.swiper-prev-button {
  top: 50%;
  left: 0;
  transform: translate(2rem, -50%);
}
.swiper-next-button {
  top: 50%;
  right: 0;
  transform: translate(-2rem, -50%);
}
figcaption {
  backdrop-filter: blur(11px) brightness(143%);
  background: rgba(255, 255, 255, 0.09);
}
</style>
