<template>
  <section class="h-screen w-full relative">
    <CoreImage
      class="pointer-events-none"
      :src="(placeholderBox = imgSrc)"
      :srcset="(placeholderBox = imgSrc)"
      inner-class="h-screen w-full object-cover"
    />
    <div class="h-full w-full flex items-center absolute top-0 left-0">
      <div class="container mx-auto">
        <div class="flex flex-col w-6/12">
          <BlockPlaylist class="margin-left my-size-10" />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    imgSrc: {
      type: String,
      default: '',
    },
  },
}
</script>
<style lang="postcss" scoped>
.margin-left {
  margin-left: calc(74px + 5rem);
}
</style>
