<template>
  <section class="bg-donation-section bg-cover bg-center">
    <div
      class="pt-size-5 sm:pt-size-5 md:pt-size-7 lg:pt-size-9 xl:pt-size-11 pb-size-7 sm:pb-size-7 md:pb-size-7 lg:pb-size-9 xl:pb-size-11"
    >
      <div
        class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto"
      >
        <div class="grid grid-cols-1 xl:grid-cols-2">
          <div class="text-white">
            <h3
              class="text-size-5 sm:text-size-5 md:text-size-6 lg:text-size-7 mb-size-5 sm:mb-size-5 md:mb-size-6 lg:mb-size-7 tt-norms-pro-bold font-bold"
            >
              Join a chorus of music-lovers bringing refuge and release to
              immigration detainees
            </h3>
            <p class="text-size-3 sm:text-size-4 font-tt-norms-pro-regular">
              If you love music, you know the power it has. When you’re held in
              UK immigration detention with no end in sight, music can be the
              difference between keeping or losing your sanity. By giving the
              joy of playing and writing music, you help those taken away find
              refuge, strength and release. An escape from the daily mental
              torture of being locked up inside. That’s the power of music.
            </p>
          </div>
          <div class="xl:pl-size-8 xxl:pl-size-10 mt-size-6 xl:mt-0">
            <BlockCardTabs />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
