<template>
  <div
    :class="[
      'carousel-card',
      { 'block-card size-m': size === 1 },
      { 'block-card size-l': size === 2 },
    ]"
  >
    <div class="carousel-card__header">
      <CoreImage
        v-if="size"
        :src="srcImage"
        :srcset="srcImage"
        inner-class="w-full"
      />
      <img v-else :src="srcImage" :srcset="srcImage" inner-class="w-full" />
    </div>
    <div
      class="carousel-card__body bg-white p-size-4 lg:p-size-5 flex flex-col"
    >
      <h5
        class="font-tt-norms-pro-regular text-size-1 lg:text-size-2 mb-size-3"
        :class="colour ? colour : 'text-mid-blue'"
        v-text="category"
      />
      <h4
        class="font-tt-norms-pro-bold text-size-5 sm:text-size-5 md:text-size-6 lg:text-size-7 mb-auto"
        v-text="title"
      />
      <h4
        v-if="subTitle !== ''"
        class="font-tt-norms-pro-bold text-size-5 sm:text-size-5 md:text-size-6 lg:text-size-7 mb-auto"
        v-text="subTitle"
      />

      <p
        class="font-tt-norms-pro-regular text-size-1 lg:text-size-2 content-end mt-auto"
        v-text="body"
      />
    </div>
  </div>
</template>
<script>
export default {
  props: {
    srcImage: {
      type: String,
      default: require('~/assets/images/Home/article-placeholder-01.jpg'),
    },
    category: {
      type: String,
      default: 'Real stories',
    },
    colour: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: 'Article title',
    },
    subTitle: {
      type: String,
      default: '',
    },
    body: {
      type: String,
      default:
        ' Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare orci id porttitor facilisis. Ut finibus in est placerat ornare. (20wood)',
    },
    size: {
      type: Number,
      default: 0,
    },
  },
}
</script>
<style lang="postcss" scoped>
.carousel-card {
  &__body {
    min-height: 300px;
    h5 span {
      width: 32px;
      height: 1px;
      @apply bg-mid-blue;
      @apply inline-block;
      @apply mx-size-1;
      @apply mb-2;
    }
  }
  &.block-card {
    float: left;
    width: calc(33.333333333333% - 40px);
    margin: 0 20px 40px;
    height: 600px;
  }
  &.block-card.size-l {
    width: calc(66.66666666666% - 40px);
    position: relative;
    .carousel-card__body {
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: 50%;
    }
    .overflow-hidden {
      max-height: 600px;
    }
  }
}
@media screen and (max-width: 640px) {
  .carousel-card__header,
  .carousel-card__body {
    min-height: 220px;
  }
}
</style>
