/* @font-face {
  font-family: 'Euclid-Medium';
  src: url('../fonts/EuclidSquare-Medium-WebS.woff2') format('woff2'),
    url('../fonts/EuclidSquare-Medium-WebS.woff') format('woff');
}

/* Trial Fonts */
@font-face {
  font-family: 'Tusker-Grotesk-9800-Super';
  src: url('../fonts/trial/Tusker_Grotesk_9800_Super.ttf') format('truetype');
}

/* TT Norms  */
@font-face {
  font-family: 'TT-Norms-Pro-Regular';
  src: url('../fonts/trial/TT_Norms_Pro_Trial_Regular.otf') format('opentype');
}

@font-face {
  font-family: 'TT-Norms-Pro-Italic';
  src: url('../fonts/trial/TT_Norms_Pro_Trial_Italic.otf') format('opentype');
}

@font-face {
  font-family: 'TT-Norms-Pro-Medium';
  src: url('../fonts/trial/TT_Norms_Pro_Trial_Medium.otf') format('opentype');
}

@font-face {
  font-family: 'TT-Norms-Pro-Bold';
  src: url('../fonts/trial/TT_Norms_Pro_Trial_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'TT-Norms-Pro-Bold-Italic';
  src: url('../fonts/trial/TT_Norms_Pro_Trial_Bold_Italic.otf')
    format('opentype');
}

@font-face {
  font-family: 'TT-Norms-Pro-DemiBold';
  src: url('../fonts/trial/TT_Norms_Pro_Trial_DemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'TT-Norms-Pro-DemiBold-Italic';
  src: url('../fonts/trial/TT_Norms_Pro_Trial_DemiBold_Italic.otf')
    format('opentype');
}

/* Fluid Type Sizing */

/* 1024px -> 102rem */
/* 1920px -> 192rem */
/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */

.text-fluid-size-2 {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 102rem) {
  .text-fluid-size-2 {
    line-height: calc(
      1.125rem + (1.5 - 1.125) * ((100vw - 102rem) / (192 - 102))
    );
    font-size: calc(
      0.75rem + (1.125 - 0.75) * ((100vw - 102rem) / (192 - 102))
    );
  }
}

@media screen and (min-width: 192rem) {
  .text-fluid-size-2 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
