:root {
  /* Animations */

  /* Time */
  --duration-image-load: 1s;
  --duration-button: 0.5s;

  /* Ease Out */
  --ease-general: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);

  /* Scale */
  --scale-increase-small: scale3d(1.02, 1.02, 1.02);
}
