<template>
  <section
    class="fixed bottom-0 left-0 right-0 text-white bg-black z-50 blurry-bg"
  >
    <div class="flex">
      <MusicPlayerSong class="flex-grow" />
      <MusicPlayerShare />
      <button class="border-l border-white border-opacity-25">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="11"
          height="8"
          viewBox="0 0 11 8"
          class="mx-auto my-0"
        >
          <g
            id="Group_2838"
            data-name="Group 2838"
            transform="translate(-1049.247 122.019) rotate(-90)"
          >
            <path
              id="Polygon_10"
              data-name="Polygon 10"
              d="M5.5,0,11,8H0Z"
              transform="translate(122.019 1049.247) rotate(90)"
              fill="#fff"
            />
          </g>
        </svg>
      </button>
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style scoped>
button {
  width: 50px;
  height: 50px;
}
.blurry-bg {
  backdrop-filter: blur(5px) brightness(96%);
  background: rgba(0, 0, 0, 0.75);
}
</style>
