<template>
  <div class="player-controls">
    <button
      class="border-r border-white border-opacity-25 relative"
      @click="skip('backward')"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="11"
        viewBox="0 0 10 11"
        class="absolute"
      >
        <g
          id="Group_285"
          data-name="Group 285"
          transform="translate(-19 -1049)"
        >
          <rect
            id="Rectangle_136"
            data-name="Rectangle 136"
            width="2"
            height="11"
            transform="translate(19 1049)"
            fill="#fff"
          />
          <g
            id="Group_283"
            data-name="Group 283"
            transform="translate(21 1049)"
          >
            <path
              id="Polygon_10"
              data-name="Polygon 10"
              d="M5.5,0,11,8H0Z"
              transform="translate(0 11) rotate(-90)"
              fill="#fff"
            />
          </g>
        </g>
      </svg>
    </button>

    <button
      v-if="!playing"
      class="border-r border-white border-opacity-25 relative"
      @click="playCurrentSong"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="8"
        height="11"
        viewBox="0 0 8 11"
        class="absolute"
      >
        <g
          id="Group_281"
          data-name="Group 281"
          transform="translate(-114.019 -1049.247)"
        >
          <path
            id="Polygon_10"
            data-name="Polygon 10"
            d="M5.5,0,11,8H0Z"
            transform="translate(122.019 1049.247) rotate(90)"
            fill="#fff"
          />
        </g>
      </svg>
    </button>

    <button
      v-if="playing"
      class="border-r border-white border-opacity-25 relative"
      @click="pause"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="11"
        viewBox="0 0 10 11"
        class="absolute"
      >
        <g
          id="Group_3309"
          data-name="Group 3309"
          transform="translate(-113.02 -1049.247)"
        >
          <rect
            id="Rectangle_3227"
            data-name="Rectangle 3227"
            width="4"
            height="11"
            transform="translate(113.02 1049.247)"
            fill="#fff"
          />
          <rect
            id="Rectangle_3228"
            data-name="Rectangle 3228"
            width="4"
            height="11"
            transform="translate(119.02 1049.247)"
            fill="#fff"
          />
        </g>
      </svg>
    </button>

    <button
      class="border-r border-white border-opacity-25 relative"
      @click="skip('forward')"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="11"
        viewBox="0 0 10 11"
        class="absolute"
      >
        <g
          id="Group_284"
          data-name="Group 284"
          transform="translate(-113 -1049)"
        >
          <rect
            id="Rectangle_135"
            data-name="Rectangle 135"
            width="2"
            height="11"
            transform="translate(121 1049)"
            fill="#fff"
          />
          <g id="Group_282" data-name="Group 282" transform="translate(-1)">
            <path
              id="Polygon_10"
              data-name="Polygon 10"
              d="M5.5,0,11,8H0Z"
              transform="translate(122 1049) rotate(90)"
              fill="#fff"
            />
          </g>
        </g>
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  props: {
    playing: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    skip(prop) {
      this.$emit('skip', prop)
    },

    pause() {
      this.$emit('pause')
    },

    playCurrentSong() {
      this.$emit('playCurrentSong')
    },
  },
}
</script>

<style lang="postcss" scoped>
.player-controls {
  /* max-width: 153px; */

  button {
    width: 50px;
    height: 50px;
    outline: none;
    svg {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  img {
    display: inline-block;
    width: 32px;
  }
}
</style>
