<template>
  <div class="flex flex-row items-center justify-between relative">
    <MusicPlayerControls
      :playing="playing"
      @pause="pause"
      @playCurrentSong="playCurrentSong"
      @skip="skip"
    />
    <div class="flex flex-row items-center flex-1">
      <img
        v-if="currentSong.cover_art_url"
        class="pointer-events-none"
        :src="currentSong.cover_art_url"
        :srcset="currentSong.cover_art_url"
      />
      <h3
        class="pl-6 text-size-3 font-tt-norms-pro-regular"
        v-text="currentSong.title"
      ></h3>
      <span class="pl-3 pb-2">•</span>
      <h3
        class="pl-3 text-size-3 font-tt-norms-pro-regular"
        v-text="currentSong.artist"
      ></h3>
      <div class="pl-6 align-top">
        <CoreTag />
      </div>
    </div>
    <div class="flex flex-row items-center">
      <time
        class="pl-6 text-size-4 text-light-gray font-tt-norms-pro-regular"
        datetime="00:00:00"
        >{{ currentPlayedTime }}</time
      >
      <div class="mx-6 h-full flex flex-row flex-wrap volume">
        <div
          :class="volume >= 0.25 ? 'active' : ''"
          class="bg-white mt-auto volume__item volume__item--1-4"
          @click="setVolume(0.25)"
        ></div>
        <div
          :class="volume >= 0.5 ? 'active' : ''"
          class="bg-white mt-auto volume__item volume__item--1-2"
          @click="setVolume(0.5)"
        ></div>
        <div
          :class="volume >= 0.75 ? 'active' : ''"
          class="bg-white mt-auto volume__item volume__item--3-4"
          @click="setVolume(0.75)"
        ></div>
        <div
          :class="volume == 1 ? 'active' : ''"
          class="bg-white h-full volume__item"
          @click="setVolume(1)"
        ></div>
      </div>
    </div>
    <div class="song-length absolute bottom-0 right-0 left-0">
      <div class="song-length__wrapper relative">
        <div
          :style="{ width: progressPercentageValue }"
          class="song-length__progress absolute top-0 bottom-0 right-0 left-0 bg-white"
        ></div>
        <div
          class="absolute top-0 bottom-0 right-0 left-0 bg-white opacity-50"
        ></div>
      </div>
    </div>
    <audio
      ref="audiofile"
      :loop="innerLoop"
      :src="defaultSong"
      preload
      style="display: none"
      controls
    ></audio>
  </div>
</template>

<script>
export default {
  data() {
    return {
      defaultSong: '',
      playing: false,
      isLoaded: false,
      isCurrentlyPlaying: '',
      shuffle: false,
      loop: {
        state: false,
        value: 1,
      },
      durationSeconds: 0,
      currentSeconds: 0,
      audioPlayer: undefined,
      volume: 1,
      progressPercentageValue: '0%',
      previousPlaylistIndex: 0,
      hasNext: true,
      originalSongArray: [],

      currentSong: {
        id: '',
        title: '',
        artist: '',
        album: '',
        url: '',
        cover_art_url: '',
      },
    }
  },

  computed: {
    playlist() {
      return this.$store.state.player.playlist
    },
    eventsChange() {
      return this.$store.state.player.eventsChange
    },
    currentPlayedTime() {
      return this.formatTime(this.currentSeconds)
    },
    duration() {
      return this.formatTime(this.durationSeconds)
    },
    progressPercentage() {
      return parseInt((this.currentSeconds / this.durationSeconds) * 100)
    },
    muted() {
      return this.volume / 100 === 0
    },
  },

  watch: {
    eventsChange(event) {
      switch (event) {
        case 'play':
          this.playCurrentSong()
          break
        case 'pause':
          this.pause()
          break
        case 'next':
          this.skip('backward')
          break
        case 'prev':
          this.skip('forward')
          break
        default:
          if (Number.isInteger(event)) {
            this.pause()
            const currentSong = this.playlist.songs.find(
              (song) => song.id === event
            )
            this.audioPlayer.src = currentSong.url
            this.setCurrentSong(currentSong)
            this.playCurrentSong()
          }
          break
      }
    },
  },

  created() {
    this.innerLoop = this.loop.state
  },

  mounted() {
    this.audioPlayer = this.$el.querySelectorAll('audio')[0]
    this.initPlayer()
  },

  methods: {
    /** Music player methods */
    initPlayer() {
      this.audioPlayer.src = this.playlist.songs[0].url
      this.setCurrentSong(this.playlist.songs[0])

      this.audioPlayer.addEventListener('timeupdate', this.updateTimer)
      this.audioPlayer.addEventListener('loadeddata', this.load)
      this.audioPlayer.addEventListener('pause', () => {
        this.playing = false
      })
      this.audioPlayer.addEventListener('play', () => {
        this.playing = true
      })

      this.audioPlayer.addEventListener('ended', this.playNextSongInPlaylist)
    },

    setVolume(percent) {
      if (this.audioPlayer) {
        this.volume = percent
        this.audioPlayer.volume = percent
      }
    },

    play(song = {}) {
      if (typeof song === 'object') {
        if (this.isLoaded) {
          // check if song exists in playlist

          if (this.currentSong.id === song.id && this.playing) {
            this.pause()
          } else if (this.currentSong.id === song.id && !this.playing) {
            this.playCurrentSong()
          } else if (this.currentSong.id !== song.id) {
            if (!this.containsObjectWithSameId(song, this.playlist.songs)) {
              this.addToPlaylist(song)
            } else {
              console.log('playMethod', 'song already in playlist')
            }

            this.setAudio(song.url)
            this.setCurrentSong(song)
            this.playlist.currentIndex = this.getObjectIndexFromArray(
              song,
              this.playlist.songs
            )
            this.previousPlaylistIndex = this.playlist.currentIndex
            this.audioPlayer.play()
          }
        } else {
          this.setAudio(song.url)
          this.audioPlayer.play()
        }

        this.playing = true
      } else {
        throw new TypeError('Type Error : Song must be an object')
      }
    },

    playCurrentSong() {
      this.audioPlayer.play()
      this.playing = true
      this.$store.commit('player/setPlaing', true)
    },

    stop() {
      this.audioPlayer.currentTime = 0
    },

    pause() {
      this.audioPlayer.pause()
      this.playing = false
      this.$store.commit('player/setPlaing', false)
    },

    skip(direction) {
      if (direction === 'forward') {
        this.playlist.currentIndex += 1
      } else if (direction === 'backward') {
        this.playlist.currentIndex -= 1
      }
      if (this.playlist.currentIndex >= this.playlist.songs.length) {
        this.playlist.currentIndex = 0
      }

      if (this.playlist.currentIndex < 0) {
        this.playlist.currentIndex = this.playlist.songs.length - 1
      }

      this.audioPlayer.src = this.playlist.songs[this.playlist.currentIndex].url
      this.setCurrentSong(this.playlist.songs[this.playlist.currentIndex])

      // the code below checks if a song is playing so it can go ahead and auto play
      if (this.playing) {
        this.audioPlayer.play()
      }
    },

    mute() {
      // this.muted is a computed variable available down below
      this.audioPlayer.muted = !this.audioPlayer.muted
    },

    updateTimer() {
      this.currentSeconds = parseInt(this.audioPlayer.currentTime)
      this.progressPercentageValue =
        ((this.currentSeconds / parseInt(this.audioPlayer.duration)) * 100 ||
          0) + '%'
      this.$store.commit('player/setProgressBar', this.progressPercentageValue)
    },

    addToPlaylist(song) {
      this.playlist.songs.unshift(song)
    },

    playNextSongInPlaylist() {
      if (this.playlist.currentIndex === this.previousPlaylistIndex) {
        this.playlist.currentIndex += 1
      }

      if (this.playlist.currentIndex >= this.playlist.songs.length) {
        this.playlist.currentIndex = 0
      }

      this.audioPlayer.src = this.playlist.songs[this.playlist.currentIndex].url
      this.setCurrentSong(this.playlist.songs[this.playlist.currentIndex])
      this.audioPlayer.play()
      this.playlist.currentIndex++
    },

    /** Helper methods
     * these methods are usually used within other methods */
    formatTime(secs) {
      const minutes = Math.floor(secs / 60) || 0
      const seconds = Math.floor(secs - minutes * 60) || 0
      return minutes + ':' + (seconds < 10 ? '0' : '') + seconds
    },

    setAudio(song) {
      this.audioPlayer.src = song
    },

    load() {
      if (this.audioPlayer.readyState >= 2) {
        this.isLoaded = true
        this.durationSeconds = parseInt(this.audioPlayer.duration)
      } else {
        throw new Error('Failed to load sound file.')
      }
    },

    playlistHelper() {},

    containsObjectWithSameId(obj, list) {
      let i
      for (i = 0; i < list.length; i++) {
        if (list[i].id === obj.id) {
          return true
        }
      }
    },

    getObjectIndexFromArray(obj, list) {
      // this function just returns the index of the item with the id
      let i
      for (i = 0; i < list.length; i++) {
        if (list[i].id === obj.id) {
          return i
        }
      }
    },

    setCurrentSong(song) {
      this.currentSong.id = song.id
      this.currentSong.title = song.title
      this.currentSong.artist = song.artist
      this.currentSong.album = song.album
      this.currentSong.url = song.url
      this.currentSong.cover_art_url = song.cover_art_url

      this.previousPlaylistIndex = this.playlist.currentIndex

      this.$store.commit('player/setCurrentSong', this.currentSong)
    },
  },
}
</script>
<style lang="postcss" scoped>
img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.volume {
  width: 26px;
  height: 16px;
  position: relative;
  cursor: pointer;

  .muted {
    position: absolute;
    left: 0;
    top: 44%;
    background-color: red;
    width: 100%;
    height: 3px;
    transform: rotate(45deg);
    pointer-events: none;
  }
}
.volume__item {
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
}
.volume__item {
  width: 4px;
  margin-left: 2px;
}
.volume__item--1-4 {
  height: 25%;
}
.volume__item--1-2 {
  height: 50%;
}
.volume__item--3-4 {
  height: 75%;
}
.song-length__wrapper {
  height: 3px;
}
.song-length {
  left: 209px;
}
.song-length__progress {
  height: 3px;
  @apply bg-white;
}
</style>
