<template>
  <div
    class="flex flex-row items-center pr-6 border-l border-white border-opacity-25"
  >
    <h3 class="pl-6 text-size-3 font-tt-norms-pro-regular">
      Share this track:
    </h3>
    <a href="#">
      <svg
        id="Group_26"
        data-name="Group 26"
        xmlns="http://www.w3.org/2000/svg"
        width="23.476"
        height="23.476"
        viewBox="0 0 23.476 23.476"
        class="ml-12"
      >
        <path
          id="Path_16"
          data-name="Path 16"
          d="M1100.038,1289.011a2.184,2.184,0,0,0-1.246-1.246,3.576,3.576,0,0,0-1.221-.227c-.693-.039-.9-.039-2.657-.039v.011c-1.754,0-1.964.005-2.657.039a3.571,3.571,0,0,0-1.221.226,2.185,2.185,0,0,0-1.232,1.232,3.573,3.573,0,0,0-.227,1.221c-.039.693-.039.9-.039,2.657s.005,1.964.039,2.657a3.573,3.573,0,0,0,.227,1.221,2.186,2.186,0,0,0,1.232,1.248,3.574,3.574,0,0,0,1.221.226c.693.039.9.039,2.657.039s1.964-.006,2.657-.039a3.576,3.576,0,0,0,1.221-.226,2.184,2.184,0,0,0,1.246-1.246,3.571,3.571,0,0,0,.226-1.221c.039-.693.039-.9.039-2.657s-.005-1.964-.039-2.657A3.571,3.571,0,0,0,1100.038,1289.011Zm-5.123,7.25a3.375,3.375,0,1,1,3.375-3.375A3.375,3.375,0,0,1,1094.915,1296.261Zm3.508-6.093a.79.79,0,1,1,.79-.79A.79.79,0,0,1,1098.422,1290.168Z"
          transform="translate(-1083.177 -1281.148)"
          fill="#fff"
        />
        <path
          id="Path_17"
          data-name="Path 17"
          d="M1078.238,1264.5a11.738,11.738,0,1,0,11.738,11.738A11.738,11.738,0,0,0,1078.238,1264.5Zm6.571,14.448a4.832,4.832,0,0,1-.307,1.6,3.341,3.341,0,0,1-1.933,1.933,4.825,4.825,0,0,1-1.6.307c-.7.039-.925.039-2.71.039s-2.008-.008-2.709-.039a4.825,4.825,0,0,1-1.6-.307,3.341,3.341,0,0,1-1.933-1.933,4.831,4.831,0,0,1-.331-1.572c-.039-.7-.039-.925-.039-2.709s.008-2.008.039-2.709a4.826,4.826,0,0,1,.307-1.6,3.341,3.341,0,0,1,1.933-1.933,4.834,4.834,0,0,1,1.6-.307c.7-.039.925-.039,2.71-.039l.025-.025c1.784,0,2.008.008,2.71.039a4.828,4.828,0,0,1,1.6.307,3.342,3.342,0,0,1,1.933,1.933,4.832,4.832,0,0,1,.307,1.6c.039.7.039.925.039,2.709S1084.839,1278.246,1084.809,1278.948Z"
          transform="translate(-1066.5 -1264.5)"
          fill="#fff"
        />
        <path
          id="Path_18"
          data-name="Path 18"
          d="M1103.26,1299.07a2.19,2.19,0,0,0,0,4.381h0a2.19,2.19,0,1,0,0-4.381Z"
          transform="translate(-1091.522 -1289.522)"
          fill="#fff"
        />
      </svg>
    </a>
    <a href="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23.476"
        height="23.476"
        viewBox="0 0 23.476 23.476"
        class="ml-2"
      >
        <g id="Group_25" data-name="Group 25" transform="translate(0)">
          <path
            id="Path_15"
            data-name="Path 15"
            d="M1182.813,1264.5a11.738,11.738,0,1,0,11.738,11.738A11.738,11.738,0,0,0,1182.813,1264.5Zm5.237,9.057v.351a7.677,7.677,0,0,1-11.818,6.46,5.477,5.477,0,0,0,.644.039,5.415,5.415,0,0,0,3.347-1.149,2.7,2.7,0,0,1-2.519-1.873,2.752,2.752,0,0,0,1.218-.047,2.7,2.7,0,0,1-2.165-2.643v-.036a2.7,2.7,0,0,0,1.223.337,2.7,2.7,0,0,1-.829-3.591,7.672,7.672,0,0,0,5.563,2.8,2.833,2.833,0,0,1-.069-.616,2.7,2.7,0,0,1,4.665-1.845,5.381,5.381,0,0,0,1.712-.655,2.7,2.7,0,0,1-1.185,1.494,5.483,5.483,0,0,0,1.549-.425A5.476,5.476,0,0,1,1188.05,1273.557Z"
            transform="translate(-1171.075 -1264.5)"
            fill="#fff"
          />
        </g>
      </svg>
    </a>
    <a href="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23.476"
        height="23.476"
        viewBox="0 0 23.476 23.476"
        class="ml-2"
      >
        <g id="Group_27" data-name="Group 27" transform="translate(0)">
          <path
            id="Path_19"
            data-name="Path 19"
            d="M1287.388,1264.5a11.738,11.738,0,1,0,11.738,11.738A11.738,11.738,0,0,0,1287.388,1264.5Zm6.416,17.45a.707.707,0,0,1-.707.707h-3.273v-4.971h1.657l.251-1.933h-1.92v-1.237c0-.561.155-.945.961-.945h1.025v-1.732a13.311,13.311,0,0,0-1.494-.077,2.332,2.332,0,0,0-2.486,2.56v1.431h-1.674v1.933h1.682v4.971h-6.151a.707.707,0,0,1-.707-.707v-11.423a.707.707,0,0,1,.707-.707H1293.1a.707.707,0,0,1,.7.707Z"
            transform="translate(-1275.65 -1264.5)"
            fill="#fff"
          />
        </g>
      </svg>
    </a>
    <a href="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23.477"
        height="23.476"
        viewBox="0 0 23.477 23.476"
        class="ml-2"
      >
        <g id="Group_28" data-name="Group 28" transform="translate(0)">
          <path
            id="Path_20"
            data-name="Path 20"
            d="M1391.962,1264.5a11.738,11.738,0,1,0,11.738,11.738A11.738,11.738,0,0,0,1391.962,1264.5Zm6.573,14.362a1.884,1.884,0,0,1-1.878,1.878h-9.391a1.884,1.884,0,0,1-1.878-1.878v-5.248a1.884,1.884,0,0,1,1.878-1.878h9.391a1.884,1.884,0,0,1,1.878,1.878Z"
            transform="translate(-1380.224 -1264.5)"
            fill="#fff"
          />
          <path
            id="Path_21"
            data-name="Path 21"
            d="M1417.8,1303.179l3.555-1.839-3.555-1.839Z"
            transform="translate(-1407.425 -1289.833)"
            fill="#fff"
          />
        </g>
      </svg>
    </a>
  </div>
</template>
<script>
export default {}
</script>
