<template>
  <section class="bg-mid-orange py-size-10">
    <div class="container mx-auto">
      <h3 class="font-tt-norms-pro-bold text-size-7 mb-size-9">
        What we stand for
      </h3>
      <div class="grid grid-cols-3 gap-16">
        <div>
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="9"
              height="13"
              viewBox="0 0 9 13"
            >
              <g
                id="Group_3126"
                data-name="Group 3126"
                transform="translate(-0.776 -0.279)"
              >
                <path
                  id="Polygon_10"
                  data-name="Polygon 10"
                  d="M6.5,0,13,9H0Z"
                  transform="translate(9.776 0.279) rotate(90)"
                />
              </g>
            </svg>
            <h4 class="font-tt-norms-pro-bold text-size-6 ml-size-5">
              We believe
            </h4>
          </div>

          <p class="font-tt-norms-pro-regular text-size-4 mt-size-4">
            In the power of music to promote wellbeing and to help people in
            immigration detention, and the surrounding communities, make their
            voices heard
          </p>
        </div>
        <div>
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="9"
              height="13"
              viewBox="0 0 9 13"
            >
              <g
                id="Group_3126"
                data-name="Group 3126"
                transform="translate(-0.776 -0.279)"
              >
                <path
                  id="Polygon_10"
                  data-name="Polygon 10"
                  d="M6.5,0,13,9H0Z"
                  transform="translate(9.776 0.279) rotate(90)"
                />
              </g>
            </svg>
            <h4 class="font-tt-norms-pro-bold text-size-6 ml-size-5">
              We respect
            </h4>
          </div>

          <p class="font-tt-norms-pro-regular text-size-4 mt-size-4">
            People of all cultures, backgrounds and beliefs, both inside and
            outside of detention centres.
          </p>
        </div>
        <div>
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="9"
              height="13"
              viewBox="0 0 9 13"
            >
              <g
                id="Group_3126"
                data-name="Group 3126"
                transform="translate(-0.776 -0.279)"
              >
                <path
                  id="Polygon_10"
                  data-name="Polygon 10"
                  d="M6.5,0,13,9H0Z"
                  transform="translate(9.776 0.279) rotate(90)"
                />
              </g>
            </svg>
            <h4 class="font-tt-norms-pro-bold text-size-6 ml-size-5">
              We stand
            </h4>
          </div>

          <p class="font-tt-norms-pro-regular text-size-4 mt-size-4">
            People of all cultures, backgrounds and beliefs, both inside and
            outside of detention centres.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-16 mt-size-8">
        <div>
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="9"
              height="13"
              viewBox="0 0 9 13"
            >
              <g
                id="Group_3126"
                data-name="Group 3126"
                transform="translate(-0.776 -0.279)"
              >
                <path
                  id="Polygon_10"
                  data-name="Polygon 10"
                  d="M6.5,0,13,9H0Z"
                  transform="translate(9.776 0.279) rotate(90)"
                />
              </g>
            </svg>
            <h4 class="font-tt-norms-pro-bold text-size-6 ml-size-5">
              We care
            </h4>
          </div>

          <p class="font-tt-norms-pro-regular text-size-4 mt-size-4">
            For the mental health of every human being held in a UK detention
            centre and we’re alive to the realities they face every day.
          </p>
        </div>
        <div>
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="9"
              height="13"
              viewBox="0 0 9 13"
            >
              <g
                id="Group_3126"
                data-name="Group 3126"
                transform="translate(-0.776 -0.279)"
              >
                <path
                  id="Polygon_10"
                  data-name="Polygon 10"
                  d="M6.5,0,13,9H0Z"
                  transform="translate(9.776 0.279) rotate(90)"
                />
              </g>
            </svg>
            <h4 class="font-tt-norms-pro-bold text-size-6 ml-size-5">
              We create
            </h4>
          </div>

          <p class="font-tt-norms-pro-regular text-size-4 mt-size-4">
            And innovate as we’re artists ourselves and we know music improves
            mental wellbeing, finding new ways to help people who are denied a
            voice.
          </p>
        </div>
        <div>
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="9"
              height="13"
              viewBox="0 0 9 13"
            >
              <g
                id="Group_3126"
                data-name="Group 3126"
                transform="translate(-0.776 -0.279)"
              >
                <path
                  id="Polygon_10"
                  data-name="Polygon 10"
                  d="M6.5,0,13,9H0Z"
                  transform="translate(9.776 0.279) rotate(90)"
                />
              </g>
            </svg>
            <h4 class="font-tt-norms-pro-bold text-size-6 ml-size-5">
              We’re independent
            </h4>
          </div>

          <p class="font-tt-norms-pro-regular text-size-4 mt-size-4">
            in everything we do – and we’re always transparent about our beliefs
            and how we use funding.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
