<template>
  <section>
    <div class="bg-mid-orange">
      <div
        class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto py-size-6 sm:py-size-6 md:py-size-8 lg:py-size-10"
      >
        <div class="flex flex-col xl:flex-row">
          <div class="w-full xl:w-3/4 lg:pr-size-8 xl:pr-size-10">
            <BlockTitleParagraph
              title="Who we are today"
              body1="We’ve grown to a team of 5 staff and 34 artists. All devoted to supporting the mental wellbeing of the people locked in immigration detention and to changing attitudes to migrants in the communities around them. We’re really proud that in 2019, Lamin Joof joined the board as a trustee – an important point in our history as Lamin was held in the immigration detention system when he first got involved in our workshops. If you ever need proof of the power of music to bring strength and resilience to people held in detention, look to Lamin. "
              body2="As the UK has become increasingly hostile to migrants and with recurring episodes such as the Windrush scandal, we believe our work is more important than ever. We need to speak to people like you, who believe in humanity and dignity for people incarcerated in UK immigration detention centres – and we need your support. Alone we cannot free people from detention, but together we can give them some release. We can make sure their songs, their stories, their voices are heard."
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
