<template>
  <section class="container mx-auto py-size-10">
    <BlockTitleParagraph
      title="Downloads"
      body1="One sentence lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue sem, egestas sit amet urna  a, scelerisque  egestas maximus."
      class="mb-size-9 w-4/5"
    />
    <CoreDownload />
    <CoreDownload
      name="Financial report 2019"
      type="infographic"
      weight="512Kb"
      file="PNG"
    />
    <CoreDownload />
    <CoreDownload />
    <CoreDownload />
    <CoreDownload />
    <CoreDownload />
    <CoreDownload />
    <CoreDownload />
    <CoreDownload />
  </section>
</template>
<script>
export default {}
</script>
