<template>
  <section>
    <div class="bg-mid-orange">
      <div
        class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto py-size-6 sm:py-size-6 md:py-size-8 lg:py-size-10"
      >
        <div class="flex flex-col xl:flex-row">
          <div class="w-full xl:w-3/4 lg:pr-size-8 xl:pr-size-10">
            <BlockTitleParagraph
              title="Remembering Helen"
              body1="Helen Tetlow (1951-2002) was a teacher, musician and activist. Helen spent her life standing up for and empowering refugees. That’s how we met. She also loved music and once packed her sax and went busking round Europe. Helen died suddenly and young. Her partner Peter wanted to use the money she left behind to help the most disadvantaged migrants in the UK. So he gathered Helen’s friends and family, myself included, to start a project."
              body2="We were, and still are, so inspired by Katia Chornik’s research into the music made by Chilean political prisoners during the dictatorship of Pinochet. We were struck by how music was a way to process, remember, forget or transcend difficult experiences. Maybe my grandparents heard the music of Terezin before they were deported to Auschwitz and their deaths. To honour Helen’s life, we knew we wanted to get music into UK immigration detention centres. And that’s what we’ve been doing ever since 2006."
            />
          </div>
          <div class="w-full xl:w-1/4">
            <aside class="xl:sticky top-160">
              <BlockCardPerson
                :src-image="
                  require('~/assets/images/WhyDetaineesAndMusic/card-person-placeholder.png')
                "
                name="JOHN"
                position="Director • Hear Me Out"
                bio="We’re interested in your thoughts about our work. So feel free to ping me an email and I will get back to you."
                class=""
              />
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
<style lang="postcss" scoped>
.top-160 {
  top: 160px;
}
</style>
