<template>
  <section>
    <div
      class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto py-size-6 sm:py-size-6 md:py-size-8 lg:py-size-10"
    >
      <div class="flex">
        <div class="w-full xl:w-3/4 lg:pr-size-8 xl:pr-size-10">
          <BlockTitleParagraph
            title="Meet the Team"
            body1="Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. egestas lectus dui, blandit tempus metus"
          />
          <h3
            class="font-tt-norms-pro-bold text-size-4 sm:text-size-4 md:text-size-5 lg:text-size-6 mt-size-6 sm:mt-size-6 md:mt-size-8 lg:mt-size-10 mb-size-5 sm:mb-size-5 md:mb-size-6 lg:mb-size-8"
          >
            Staff
          </h3>
          <CorePersonList />
          <CorePersonList
            name="Gini Simpson"
            position="Arts Development Manager"
            :img-src="
              require('~/assets/images/WhoWeAre/person-placeholder-2.jpg')
            "
            description="Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.egestas lectus dui, blandit tempus metus Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. egestas lectus dui, blandit tempus metus"
          />
          <CorePersonList
            name="Zoe Burton"
            position="Programme Manager"
            :img-src="
              require('~/assets/images/WhoWeAre/person-placeholder-3.jpg')
            "
            description="Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.egestas lectus dui, blandit tempus metus Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. egestas lectus dui, blandit tempus metus"
          />
          <CorePersonList />
          <CorePersonList
            name="Gini Simpson"
            position="Arts Development Manager"
            :img-src="
              require('~/assets/images/WhoWeAre/person-placeholder-2.jpg')
            "
            description="Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.egestas lectus dui, blandit tempus metus Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. egestas lectus dui, blandit tempus metus"
          />
          <CorePersonList
            name="Zoe Burton"
            position="Programme Manager"
            :img-src="
              require('~/assets/images/WhoWeAre/person-placeholder-3.jpg')
            "
            description="Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.egestas lectus dui, blandit tempus metus Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. egestas lectus dui, blandit tempus metus"
          />
          <h3
            class="font-tt-norms-pro-bold text-size-4 sm:text-size-4 md:text-size-5 lg:text-size-6 mt-size-6 sm:mt-size-6 md:mt-size-8 lg:mt-size-10 mb-size-5 sm:mb-size-5 md:mb-size-6 lg:mb-size-8"
          >
            Lead Artists
          </h3>
          <CorePersonList />
          <CorePersonList
            name="Gini Simpson"
            position="Arts Development Manager"
            :img-src="
              require('~/assets/images/WhoWeAre/person-placeholder-2.jpg')
            "
            description="Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.egestas lectus dui, blandit tempus metus Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. egestas lectus dui, blandit tempus metus"
          />
          <CorePersonList
            name="Zoe Burton"
            position="Programme Manager"
            :img-src="
              require('~/assets/images/WhoWeAre/person-placeholder-3.jpg')
            "
            description="Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.egestas lectus dui, blandit tempus metus Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. egestas lectus dui, blandit tempus metus"
          />
          <CorePersonList />
          <h3
            class="font-tt-norms-pro-bold text-size-4 sm:text-size-4 md:text-size-5 lg:text-size-6 mt-size-6 sm:mt-size-6 md:mt-size-8 lg:mt-size-10 mb-size-5 sm:mb-size-5 md:mb-size-6 lg:mb-size-8"
          >
            Board
          </h3>
          <CorePersonList />
          <CorePersonList
            name="Gini Simpson"
            position="Arts Development Manager"
            :img-src="
              require('~/assets/images/WhoWeAre/person-placeholder-2.jpg')
            "
            description="Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.egestas lectus dui, blandit tempus metus Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. egestas lectus dui, blandit tempus metus"
          />
          <CorePersonList
            name="Zoe Burton"
            position="Programme Manager"
            :img-src="
              require('~/assets/images/WhoWeAre/person-placeholder-3.jpg')
            "
            description="Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.egestas lectus dui, blandit tempus metus Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. egestas lectus dui, blandit tempus metus"
          />
          <CorePersonList />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
