<template>
  <section class="h-screen w-full text-white">
    <CoreImage
      class="pointer-events-none"
      :src="image"
      :srcset="image"
      inner-class="h-screen w-full object-cover"
    />
    <div
      class="h-full w-full flex items-end md:items-center absolute top-0 left-0"
    >
      <div class="container mx-auto">
        <div class="w-full xl:w-2/3">
          <h2
            class="text-size-5 sm:text-size-6 md:text-size-8 lg:text-size-9 mb-size-6 md:mb-size-6 lg:mb-size-7 font-tusker uppercase text-center md:text-left"
          >
            Our story
          </h2>
        </div>
        <div class="w-full lg:w-2/3 xl:w-1/2">
          <h3
            class="text-size-3 sm:text-size-4 md:text-size-5 relative font-tt-norms-pro-regular text-center md:text-left pb-size-8 md:pb-0"
          >
            <span
              >People tell us that taking music into UK immigration detention
              centres is a brilliant idea and ask where it came from. The
              inspiration, like so many movements, started with one person.
            </span>
          </h3>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: require('~/assets/images/WhoWeAre/hero-background.jpg'),
    },
  },
  computed: {
    styles() {
      return [this.backgroundImage]
    },
    backgroundImage() {
      return {
        'background-image': `url(${this.image})`,
      }
    },
  },
}
</script>

<style lang="postcss" scoped>
@media screen and (min-width: 768px) {
  h3 {
    &:before {
      content: '';
      @apply absolute;
      @apply bg-white;
      width: 74px;
      height: 1px;
      top: 2vh;
    }
  }
  h3 span {
    margin-left: calc(74px + 5rem);
    @apply block;
  }
}
</style>
