<template>
  <OurWorkCategory :slug="$route.params.category" />
</template>

<script>
import { OurWorkCategoryQuery as query } from '@gql/queries'
import SeoMatic from '@mixins/SeoMatic'
export default {
  name: 'OurWorkCategoryPage',
  mixins: [SeoMatic],
  async fetch() {
    const result = await this.$craft({
      query,
      variables: {
        slug: this.$route.params.category,
      },
    })

    const { category } = result.data
    this.generateTags(category.seomatic)
    // console.log('result from', category.seomatic)
  },
}
</script>
