<template>
  <div>
    <div v-if="$fetchState.pending"></div>
    <div v-else-if="$fetchState.error"></div>
    <div v-else>
      <main>
        <OurStudioContentStyles
          :title="entry.title"
          :content-styles="entry.contentStyles"
        />
      </main>
    </div>
  </div>
</template>

<script>
import { MUTATIONS } from '@store/ui'
import { ELLIOT_JAMES } from '@c/Core/CoreBreadcrumb'
import { OurStudioJamesWhiteQuery as query } from '@gql/queries'

export default {
  name: 'OurStudioJamesWhite',
  async fetch() {
    const result = await this.$craft({
      query,
    })
    const { entry } = result.data
    this.entry = entry
  },
  data() {
    return {
      entry: null,
    }
  },
  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, ELLIOT_JAMES)
    this.$store.commit(MUTATIONS.SET_MENU_WHITE)
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR, 'white')
  },
}
</script>
