<template>
  <section class="h-screen w-full text-white">
    <CoreImage
      class="pointer-events-none"
      :src="image"
      :srcset="image"
      inner-class="h-screen w-full object-cover"
    />
    <div class="h-full w-full flex items-center absolute top-0 left-0">
      <div class="container mx-auto">
        <div class="grid grid-cols-2">
          <div>
            <h2 class="text-size-9 mb-size-7 font-tusker uppercase">
              Help me find refuge in music
            </h2>
            <h3 class="text-size-5 relative font-tt-norms-pro-regular">
              <span>
                Every donation you make can help people held in UK immigration
                detention centres find refuge in music – and bring their music
                to the world outside.
              </span>
            </h3>
          </div>
          <div class="pl-size-10">
            <BlockCardTabs />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: require('~/assets/images/Donate/hero-background.jpg'),
    },
  },
  computed: {
    styles() {
      return [this.backgroundImage]
    },
    backgroundImage() {
      return {
        'background-image': `url(${this.image})`,
      }
    },
  },
}
</script>

<style lang="postcss" scoped>
h3 {
  &:before {
    content: '';
    @apply absolute;
    @apply bg-white;
    width: 74px;
    height: 1px;
    top: 2vh;
  }
}
h3 span {
  margin-left: calc(74px + 5rem);
  @apply block;
}
</style>
