<template>
  <section>
    <div class="container mx-auto py-size-10">
      <BlockTitleParagraph
        title="Other ways to give"
        body1="One sentence lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue sem, egestas sit amet urna a, scelerisque maximus."
      />
      <div class="grid grid-cols-3 gap-16 mt-size-9">
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="75.577"
            height="65.433"
            viewBox="0 0 75.577 65.433"
          >
            <g
              id="Group_2630"
              data-name="Group 2630"
              transform="translate(-397.8 -102.996)"
            >
              <path
                id="Path_1719"
                data-name="Path 1719"
                d="M473.012,148.415a5.91,5.91,0,0,1-4.57,6.123,5.914,5.914,0,0,1,1.1,3.565,5.638,5.638,0,0,1-5.757,5.574,9.468,9.468,0,0,1-3.472-.731v.183c0,3.016-2.467,5.3-5.757,5.3s-6.855-2.285-9.779-3.472c-5.848-2.376-12.062-3.838-16.906-3.838s-11.15,6.579-22.3,6.579h-6.306a1.426,1.426,0,0,1-1.462-1.371,1.355,1.355,0,0,1,1.462-1.279h6.306c10.235,0,16.357-6.671,22.3-6.671,6.305,0,13.433,2.193,18,4.021,2.924,1.188,6.124,3.29,8.682,3.29,1.828,0,3.016-1.005,3.016-2.559a3.03,3.03,0,0,0-.822-2.193l-8.043-4.844c-2.1-1.279-9.229-2.74-14.9-3.381a1.484,1.484,0,0,1-1.371-1.462,1.392,1.392,0,0,1,1.371-1.279,7.105,7.105,0,0,1,1.188.091c5.574.822,12.519,2.1,15.17,3.655l10.509,6.307a6.438,6.438,0,0,0,3.107.914A2.949,2.949,0,0,0,466.8,158.1c0-2.194-1.371-2.924-3.473-4.113L450.8,146.77c-2.559-1.462-9.778-3.107-13.616-3.107l-13.069,7.585a1.544,1.544,0,0,1-.914.274c-1.005,0-1.279-1.1-1.279-1.371a1.59,1.59,0,0,1,.822-1.279l20.745-12.062c3.929-2.285,5.209-3.748,5.209-5.941a4.269,4.269,0,0,0-4.478-4.478,8.419,8.419,0,0,0-3.29,1.005l-13.89,7.86a32.744,32.744,0,0,1-7.129,2.467,6.218,6.218,0,0,1-1.371.183,1.3,1.3,0,0,1-1.279-1.463,1.373,1.373,0,0,1,1.279-1.278,19.789,19.789,0,0,0,7.22-2.285l12.245-6.946a10.751,10.751,0,0,1-.64-1.828l-5.94-2.376a10.85,10.85,0,0,0-4.112-.731,9.048,9.048,0,0,0-3.929,1.279L400.45,135.713a1.483,1.483,0,0,1-.822.274,1.387,1.387,0,0,1-1.371-1.372,1.593,1.593,0,0,1,.822-1.279l22.846-13.342a12.072,12.072,0,0,1,5.393-1.736,11.1,11.1,0,0,1,5.209,1.1L436.914,121a6.917,6.917,0,0,1-.091-1.371,16.586,16.586,0,1,1,33.173,0,16.815,16.815,0,0,1-5.209,12.246l2.285.821c4.295,1.645,6.307,2.924,6.307,6.946a4.961,4.961,0,0,1-2.467,4.478A5.323,5.323,0,0,1,473.012,148.415Zm-21.567-17.546a5.421,5.421,0,0,1-.457,2.467,22.114,22.114,0,0,0,2.466.183,13.891,13.891,0,1,0-13.89-13.89,18.084,18.084,0,0,0,.822,5.026,9.236,9.236,0,0,1,3.838-1.005A7.065,7.065,0,0,1,451.444,130.868Zm18.825,17.546c0-1.371-.822-2.285-2.65-3.016l-19.922-7.95c-.822.547-1.645,1.1-2.741,1.736l-3.564,2.1c3.929.548,8.591,1.828,10.693,3.107l12.428,7.219a12.766,12.766,0,0,0,2.559.274C469.081,151.887,470.269,150.517,470.269,148.415Zm-14.347-25.862c0-1.1-1.462-1.462-3.107-1.919-1.828-.548-3.839-1.462-3.839-4.112a3.959,3.959,0,0,1,3.839-4.3v-1.553h1.736v1.553a4.148,4.148,0,0,1,3.747,4.57h-2.467c0-1.646-.822-2.1-2.284-2.1-1.279,0-1.828.64-1.828,1.645,0,1.1,1.1,1.553,2.283,1.919,1.92.548,4.388,1.005,4.388,3.747,0,2.285-1.1,3.747-3.747,4.386v1.1H453v-1.1a4.511,4.511,0,0,1-3.931-4.843h2.743c0,2.01.731,2.559,2.192,2.559S455.922,123.467,455.922,122.553Zm6.305,11.24a16.421,16.421,0,0,1-8.774,2.469,8.249,8.249,0,0,1-1.461-.093l15.9,6.4a2.791,2.791,0,0,0,2.741-2.924c0-2.01-1.462-3.2-4.569-4.386Z"
                transform="translate(0 0)"
              />
            </g>
          </svg>
          <h4 class="font-tusker text-size-5 uppercase mt-size-5 mb-size-6">
            Donate
          </h4>
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            augue sem, egestas it amet urna a, scelerisque maximus.Lorem ipsum
            dolor sit amet, consectetur adipiscing.
          </p>
          <CoreButton label="Donate" colour="yellow" />
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="51.738"
            height="65.4"
            viewBox="0 0 51.738 65.4"
          >
            <path
              id="Path_1720"
              data-name="Path 1720"
              d="M952.818,117.029v46.362c0,7.167-2.911,12.543-9.856,12.543-3.583,0-7.615-1.792-7.615-7.391,0-4.929,4.257-7.168,8.287-7.168,4.479,0,5.824-.672,5.824-6.271V131.811l-30.908,6.271v31.8c0,7.168-2.913,12.543-9.856,12.543-3.583,0-7.615-1.792-7.615-7.391,0-4.927,4.255-7.167,8.286-7.167,4.481,0,5.823-.672,5.823-6.272V124.868Zm-3.359,11.086V121.4l-30.908,6.271v6.943Z"
              transform="translate(-901.08 -117.029)"
            />
          </svg>
          <h4 class="font-tusker text-size-5 uppercase mt-size-5 mb-size-6">
            Share
          </h4>
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            augue sem, egestas it amet urna a, scelerisque maximus.Lorem ipsum
            dolor sit amet, consectetur adipiscing.
          </p>
          <CoreButton label="Share the music" colour="yellow" />
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="81.177"
            height="53.386"
            viewBox="0 0 81.177 53.386"
          >
            <path
              id="Path_1721"
              data-name="Path 1721"
              d="M1491.969,113.029v53.386h-81.177V113.029Zm-78.435,49.181,18.923-22.671-18.923-21.757Zm1.828-46.53L1451.381,157,1487.4,115.68Zm71.578,48.084-18.558-22.031-17,19.563-17-19.472-18.557,21.94Zm-31.447-22.58a15.7,15.7,0,0,1-5.3,1.1c-6.308,0-10.056-4.388-10.056-10.7a13,13,0,0,1,13.164-13.164c6.4,0,10.695,4.022,10.695,10.056,0,4.936-2.377,8.684-5.759,8.684a3.7,3.7,0,0,1-3.565-2.744,5.233,5.233,0,0,1-4.571,2.378c-2.925,0-4.662-2.378-4.662-5.486,0-3.656,2.377-7.313,6.307-7.313a4.146,4.146,0,0,1,3.748,1.737l.274-1.463h3.016l-1.828,7.954c-.366,1.463.366,2.468,1.554,2.468,1.737,0,3.108-2.652,3.108-6.034,0-4.753-3.474-7.953-8.5-7.953a10.693,10.693,0,0,0-10.514,10.786c0,4.846,2.194,8.32,7.954,8.32a12.2,12.2,0,0,0,4.2-.823Zm-.823-11.976c0-1.92-.64-3.108-2.56-3.108-2.559,0-3.839,2.468-3.839,5.119,0,2.012.731,3.383,2.468,3.383C1453.118,134.6,1454.672,131.678,1454.672,129.209Zm34.554-11.426L1470.3,139.539l18.922,22.671Z"
              transform="translate(-1410.792 -113.029)"
            />
          </svg>
          <h4 class="font-tusker text-size-5 uppercase mt-size-5 mb-size-6">
            Subscribe
          </h4>
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            augue sem, egestas it amet urna a, scelerisque maximus.Lorem ipsum
            dolor sit amet, consectetur adipiscing.
          </p>
          <CoreButton label="Subscribe" colour="yellow" />
        </div>
      </div>
      <div class="grid grid-cols-3 gap-16 mt-size-10">
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="49.127"
            height="92.512"
            viewBox="0 0 49.127 92.512"
          >
            <path
              id="Path_1722"
              data-name="Path 1722"
              d="M438.49,808.948c0,9.012-2.032,16.081-6.273,19.7l-1.855,6.627a28.572,28.572,0,0,0-1.415,8.483c0,.618-.176,1.59-1.325,1.59-.971,0-1.324-.707-1.324-2.474,0-2.209.529-4.241,1.5-7.775l1.149-4.064a26.137,26.137,0,0,1-10.427,1.943h-4.24c-.8,0-1.768-.265-1.768-1.325,0-.882.8-1.237,1.768-1.237h4.771c11.84,0,16.789-6.8,16.789-22.09,0-3.534-.265-4.771-.708-10.249V776.7c-.177-3.888-.352-7.068-3.534-7.068-2.826,0-3,2.474-3,6.362v18.025a1.325,1.325,0,0,1-2.651,0V767.152c0-3.888,0-6.362-3.092-6.362-2.386,0-3,1.414-3.446,3.712v24.209a1.336,1.336,0,1,1-2.651,0V761.674c0-3.8-.617-6.273-3.623-6.273-3.534,0-3.8,3.269-3.8,7.157v26.154a1.351,1.351,0,0,1-1.325,1.5,1.4,1.4,0,0,1-1.324-1.5v-21.47c0-3.8-.088-6.274-3.092-6.274-3.535,0-3.447,3.181-3.447,6.98V783.5a16.285,16.285,0,0,1,1.592,7.688v12.458c5.036,1.767,12.635,6.98,15.02,10.6a2.99,2.99,0,0,1,.618,1.59,1.065,1.065,0,0,1-1.149,1.149c-.8,0-1.237-.53-1.768-1.237-3.8-4.949-8.924-7.511-15.374-10.427V791.539c0-6.185-1.414-9.012-4.5-9.012-2.122,0-2.563,1.325-2.563,2.209v27.746c0,4.771,1.679,8.04,5.036,12.635l3.357,4.594c2.387,3.269,3.8,5.391,3.8,10.427a22.462,22.462,0,0,1-.265,3.622c-.264,1.237-.53,1.59-1.324,1.59-.708,0-1.327-.265-1.327-1.679,0-.884.266-2.474.266-4.064,0-1.855-.355-4.506-3.182-8.218l-3.888-5.125c-3.357-4.418-5.125-9.012-5.125-13.783v-28.1c0-2.3,1.855-4.418,5.125-4.418a6.549,6.549,0,0,1,3,.707V767.948c0-3.8.265-9.542,6.186-9.542a5.387,5.387,0,0,1,3.181.884c.441-3.181,1.944-6.45,6.362-6.45,3.623,0,5.743,2.121,6.1,6.715a4.685,4.685,0,0,1,3.534-1.237c4.153,0,5.743,2.651,5.743,8.483v1.412a3.664,3.664,0,0,1,2.917-1.06c5.565,0,6.273,5.744,6.273,9.543v21.383C438.225,802.673,438.49,805.677,438.49,808.948Z"
              transform="translate(-389.363 -752.839)"
            />
          </svg>
          <h4 class="font-tusker text-size-5 uppercase mt-size-5 mb-size-6">
            Volunteer
          </h4>
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            augue sem, egestas it amet urna a, scelerisque maximus.Lorem ipsum
            dolor sit amet, consectetur adipiscing.
          </p>
          <CoreButton label="Volunteer" colour="yellow" />
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="96.267"
            height="53.346"
            viewBox="0 0 96.267 53.346"
          >
            <path
              id="Path_1723"
              data-name="Path 1723"
              d="M978.858,816.2h-48.48a9.787,9.787,0,0,1-4,4,4.148,4.148,0,0,1,1.911,3.129v1.216c0,5.56-8.34,9.557-16.681,9.557-4.345,0-8.168-1.737-9.21-4.344-3.475-.869-6.082-2.78-6.082-5.213v-1.216c0-2.78,2.606-5.388,6.082-7.125H890.236V798.646l10.253-17.9H986.5v22.242Zm-52.044-32.928H901.966l-9.122,15.292h25.2Zm-8.774,17.811h-25.2V803.6h25.2Zm0,6.082v-1.043h-25.2v2.519h19.635A29.068,29.068,0,0,1,918.041,807.161Zm-9.818,4H892.844v2.52H905.7A8.681,8.681,0,0,1,908.222,811.158ZM905.7,826.449c5.039,0,9.557-1.565,11.989-3.475a21.182,21.182,0,0,1-3.3.173c-4.865,0-9.208-2.259-9.383-5.386-3.649,1.39-6.254,3.476-6.254,5.561C898.752,824.712,902.053,826.449,905.7,826.449Zm22.936-13.641c0-1.738-3.474-3.388-7.124-3.388-7.125,0-14.075,3.649-14.075,6.95,0,1.39,3.3,3.128,6.95,3.128C922.037,819.5,928.639,816.457,928.639,812.808Zm-4.865,8.6-1.564.521c-1.215,4.171-7.124,7.3-13.9,7.994a10.119,10.119,0,0,0,3.3.521c7.645,0,14.248-3.475,14.248-7.124C925.859,822.8,924.991,822.1,923.773,821.409Zm5.821-38.141-8.948,15.725v7.994h.869c5.039,0,9.558,2.259,9.558,5.908v.869h16.507v-15.2l8.776-15.292ZM950.187,803.6h25.021V801.08H950.187Zm0,5.039h25.021v-2.519H950.187Zm0,5.039h25.021v-2.52H950.187Zm.174-15.117h24.847l8.948-15.292H959.135Z"
              transform="translate(-890.236 -780.749)"
            />
          </svg>

          <h4 class="font-tusker text-size-5 uppercase mt-size-5 mb-size-6">
            Fundraise
          </h4>
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            augue sem, egestas it amet urna a, scelerisque maximus.Lorem ipsum
            dolor sit amet, consectetur adipiscing.
          </p>
          <CoreButton label="Fundraise" colour="yellow" />
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="91.889"
            height="69.543"
            viewBox="0 0 91.889 69.543"
          >
            <path
              id="Path_1724"
              data-name="Path 1724"
              d="M1460.768,786.793c0,.38-.152.684-.76.988l-5.32,2.584a42.818,42.818,0,0,0-12.237,8.285c1.672,1.52,4.028,4.18,4.028,6.612a4.894,4.894,0,0,1-4.256,4.712,5.964,5.964,0,0,1,1.064,3.344,4.946,4.946,0,0,1-4.94,5.017,7.23,7.23,0,0,1-2.812-.608v.3a5.078,5.078,0,0,1-4.865,4.56,9.336,9.336,0,0,1-5.092-2.052,4.447,4.447,0,0,1-4.484,3.876c-2.28,0-4.408-1.672-6.08-3.04l-6.233-5.32-7.9,3.648a11.654,11.654,0,0,1-4.332,1.368,4.311,4.311,0,0,1-4.028-4.257v-.759a4.85,4.85,0,0,1-1.976.3,4.557,4.557,0,0,1-4.409-4.636,4.121,4.121,0,0,1,.456-1.9,4.866,4.866,0,0,1-3.8-4.636,3.846,3.846,0,0,1,1.216-2.812,4.276,4.276,0,0,1-2.432-3.952c0-1.977,1.444-3.953,3.724-5.169a68.027,68.027,0,0,0-4.484-7.448c-4.561-6.157-6.537-8.817-9.577-10.945l-1.52-1.064a1.577,1.577,0,0,1-.836-1.216,1.087,1.087,0,0,1,1.064-1.064c.533,0,1.216.456,2.737,1.52,2.812,1.976,6.612,6.689,9.728,11.173,5.928,8.588,5.624,11.325,11.324,16.189l22.8,19.3c1.672,1.368,3.192,2.432,4.56,2.432a2.312,2.312,0,0,0,2.432-2.2c0-.988-.76-1.824-2.128-2.964l-15.353-12.845a1.471,1.471,0,0,1-.456-.988,1.1,1.1,0,0,1,1.14-1.064c.229,0,.532.076,1.292.76l17.937,15.049c1.6,1.292,3.345,2.432,4.712,2.432a2.813,2.813,0,0,0,2.737-2.66c0-1.444-1.368-2.736-3.04-4.1L1413.8,799.79a1.618,1.618,0,0,1-.532-1.14.94.94,0,0,1,1.064-.988c.532,0,.76.228,1.292.608l18.393,15.353c1.824,1.52,3.268,2.432,4.484,2.432a2.633,2.633,0,0,0,2.508-2.737c0-1.672-1.292-3.192-3.116-4.712l-15.353-12.92a1.621,1.621,0,0,1-.532-1.141.958.958,0,0,1,.988-.987,2.341,2.341,0,0,1,1.368.683l13.757,11.629c1.292,1.14,2.356,1.9,3.572,1.9a2.543,2.543,0,0,0,2.508-2.584c0-1.6-1.52-3.344-3.5-5.092L1426.338,787.4c-1.824-1.6-5.7-5.548-9.2-5.548-3.725,0-6.309,4.408-11.249,4.408-3.648,0-6-2.432-6-5.472,0-1.976,1.064-3.192,2.964-4.332l8.816-5.4a10.473,10.473,0,0,1,3.041-1.368c-2.888-2.736-6.232-3.8-11.249-3.8h-1.52c-3.5,0-5.928-1.064-8.968-3.5a20.051,20.051,0,0,1-3.649-3.5l-1.292-1.595a2.17,2.17,0,0,1-.684-1.293,1.161,1.161,0,0,1,1.14-1.139c.684,0,1.217.683,1.445.987l.836,1.064a29.844,29.844,0,0,0,3.8,3.8c2.584,2.128,4.636,2.964,7.524,2.964h1.824c5.776,0,9.272,1.444,13.073,5.244a24.829,24.829,0,0,1,4.94-.456c5.7,0,7.753,1.52,11.781,1.52,4.56,0,7.22-1.9,10.792-3.952l2.889-1.672a2.807,2.807,0,0,1,1.064-.3.985.985,0,0,1,.912.988c0,.456-.381.836-1.064,1.292l-2.888,1.672c-3.117,1.824-6.385,4.1-11.781,4.1-4.18,0-6.613-1.368-11.7-1.368a16.878,16.878,0,0,0-9.2,2.28l-9.2,5.853a2.246,2.246,0,0,0-1.368,2.128c0,1.9,1.444,2.964,3.5,2.964,4.181,0,6.841-4.408,11.4-4.408,4.408,0,8.512,4.1,10.944,6.308l12.541,11.173a56.128,56.128,0,0,1,13.225-8.817l4.56-2.128a2.987,2.987,0,0,1,1.368-.456A1.052,1.052,0,0,1,1460.768,786.793Zm-75.092,13.6a7.818,7.818,0,0,0,3.345-1.216c-.913-1.216-1.749-2.584-2.661-3.953a4.01,4.01,0,0,0-2.508,3.269A1.761,1.761,0,0,0,1385.676,800.4Zm5.016,6.232,4.257-2.128a49.94,49.94,0,0,1-4.1-3.648l-2.28,1.064c-2.432,1.14-3.5,2.052-3.5,3.344a2.286,2.286,0,0,0,2.28,2.28A6.714,6.714,0,0,0,1390.692,806.63Zm3.5,6.537,7.6-3.041-5.016-4.1-5.32,2.584c-2.432,1.216-3.041,1.824-3.041,3.04a2.409,2.409,0,0,0,2.2,2.584A12.781,12.781,0,0,0,1394.188,813.167Zm9.425-1.521-6.688,2.889c-1.368.608-2.128,1.444-2.128,2.356a1.914,1.914,0,0,0,1.824,1.9,9.648,9.648,0,0,0,3.344-1.064l6.993-3.192Z"
              transform="translate(-1368.879 -754.872)"
            />
          </svg>
          <h4 class="font-tusker text-size-5 uppercase mt-size-5 mb-size-6">
            Legacy
          </h4>
          <p class="font-tt-norms-pro-regular text-size-4 mb-size-5">
            lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            augue sem, egestas it amet urna a, scelerisque maximus.Lorem ipsum
            dolor sit amet, consectetur adipiscing.
          </p>
          <CoreButton label="Wills and legacy" colour="yellow" />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
<style lang="postcss" scoped>
svg {
  height: 92px;
  width: 92px;
}
</style>
