<template>
  <section class="bg-light-cream">
    <div class="">
      <div class="container mx-auto py-size-10">
        <div class="flex">
          <div class="w-3/4 pr-size-10">
            <BlockTitleParagraph
              title="Give the power of music to people held in UK immigration detention centres"
              body1="Locked in an immigration detention centre, never knowing when you’ll be removed – or where to – is mental torture. "
              body2="But you can give release through music. Together, we can. Because music is universally loved and has the power to comfort people in the most desperate situations. And we have the expertise to go into UK immigration detention centres and help them make the music that frees their souls and their minds. "
            />
            <BlockTitleParagraph
              title="Our word to you"
              body1="The system calls people living in detention “detainees”. We don’t. We call them people. And we treat you, our supporters, as individual people too."
              body2="We will give you:"
              class="mt-size-10 mb-size-8"
            />
            <div class="list-item flex relative">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="56"
                height="56"
                viewBox="0 0 56 56"
              >
                <g id="icon" transform="translate(-268 -2548)">
                  <g
                    id="Group_1872"
                    data-name="Group 1872"
                    transform="translate(31 -760)"
                  >
                    <text
                      id="_1"
                      data-name="1"
                      transform="translate(261 3327)"
                      font-size="16"
                      font-family="TTNormsProTrl-Bold, TT Norms Pro Trl"
                      font-weight="700"
                      letter-spacing="-0.005em"
                    >
                      <tspan x="0" y="15">1</tspan>
                    </text>
                    <g
                      id="Ellipse_152"
                      data-name="Ellipse 152"
                      transform="translate(245 3316)"
                      fill="none"
                      stroke="#000"
                      stroke-width="1"
                    >
                      <circle cx="20" cy="20" r="20" stroke="none" />
                      <circle cx="20" cy="20" r="19.5" fill="none" />
                    </g>
                  </g>
                  <g
                    id="Ellipse_633"
                    data-name="Ellipse 633"
                    transform="translate(280 2560)"
                    fill="none"
                    stroke="#000"
                    stroke-width="1"
                  >
                    <circle cx="16" cy="16" r="16" stroke="none" />
                    <circle cx="16" cy="16" r="15.5" fill="none" />
                  </g>
                  <g
                    id="Group_1877"
                    data-name="Group 1877"
                    transform="translate(31 -760)"
                  >
                    <g
                      id="Ellipse_152-2"
                      data-name="Ellipse 152"
                      transform="translate(241 3312)"
                      fill="none"
                      stroke="#000"
                      stroke-width="1"
                    >
                      <circle cx="24" cy="24" r="24" stroke="none" />
                      <circle cx="24" cy="24" r="23.5" fill="none" />
                    </g>
                  </g>
                  <g
                    id="Group_1878"
                    data-name="Group 1878"
                    transform="translate(26.739 -764.261)"
                  >
                    <g
                      id="Ellipse_152-3"
                      data-name="Ellipse 152"
                      transform="translate(241.261 3312.261)"
                      fill="none"
                      stroke="#000"
                      stroke-width="1"
                    >
                      <circle cx="28" cy="28" r="28" stroke="none" />
                      <circle cx="28" cy="28" r="27.5" fill="none" />
                    </g>
                  </g>
                </g>
              </svg>
              <p class="font-tt-norms-pro-regular text-size-5">
                The truth. You will always hear directly from people you’re
                helping and we will be honest about the highs and lows of our
                work.
              </p>
            </div>
            <div class="list-item flex relative mt-size-8">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="56"
                height="56"
                viewBox="0 0 56 56"
              >
                <g
                  id="Group_3312"
                  data-name="Group 3312"
                  transform="translate(-268 -2712)"
                >
                  <g
                    id="Group_1881"
                    data-name="Group 1881"
                    transform="translate(31 -596)"
                  >
                    <text
                      id="_2"
                      data-name="2"
                      transform="translate(260 3327)"
                      font-size="16"
                      font-family="TTNormsProTrl-Bold, TT Norms Pro Trl"
                      font-weight="700"
                      letter-spacing="-0.005em"
                    >
                      <tspan x="0" y="15">2</tspan>
                    </text>
                    <g
                      id="Ellipse_152"
                      data-name="Ellipse 152"
                      transform="translate(245 3316)"
                      fill="none"
                      stroke="#000"
                      stroke-width="1"
                    >
                      <circle cx="20" cy="20" r="20" stroke="none" />
                      <circle cx="20" cy="20" r="19.5" fill="none" />
                    </g>
                    <g
                      id="Ellipse_634"
                      data-name="Ellipse 634"
                      transform="translate(249 3320)"
                      fill="none"
                      stroke="#000"
                      stroke-width="1"
                    >
                      <circle cx="16" cy="16" r="16" stroke="none" />
                      <circle cx="16" cy="16" r="15.5" fill="none" />
                    </g>
                    <g
                      id="Group_1880"
                      data-name="Group 1880"
                      transform="translate(-4.261 -4.261)"
                    >
                      <g
                        id="Ellipse_152-2"
                        data-name="Ellipse 152"
                        transform="translate(241.261 3312.261)"
                        fill="none"
                        stroke="#000"
                        stroke-width="1"
                      >
                        <circle cx="28" cy="28" r="28" stroke="none" />
                        <circle cx="28" cy="28" r="27.5" fill="none" />
                      </g>
                      <g
                        id="Group_1879"
                        data-name="Group 1879"
                        transform="translate(4.261 4.261)"
                      >
                        <g
                          id="Ellipse_152-3"
                          data-name="Ellipse 152"
                          transform="translate(241 3312)"
                          fill="none"
                          stroke="#000"
                          stroke-width="1"
                        >
                          <circle cx="24" cy="24" r="24" stroke="none" />
                          <circle cx="24" cy="24" r="23.5" fill="none" />
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
              <p class="font-tt-norms-pro-regular text-size-5">
                Our respect. When you make a gift, you place your trust in us,
                so it’s always your choice if, when and how you give to Hear Me
                Out, now and in the future.
              </p>
            </div>
            <div class="list-item flex relative mt-size-8">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="56"
                height="56"
                viewBox="0 0 56 56"
              >
                <g
                  id="Group_1884"
                  data-name="Group 1884"
                  transform="translate(-237 -3308)"
                >
                  <text
                    id="_3"
                    data-name="3"
                    transform="translate(260 3327)"
                    font-size="16"
                    font-family="TTNormsProTrl-Bold, TT Norms Pro Trl"
                    font-weight="700"
                    letter-spacing="-0.005em"
                  >
                    <tspan x="0" y="15">3</tspan>
                  </text>
                  <g
                    id="Ellipse_152"
                    data-name="Ellipse 152"
                    transform="translate(245 3316)"
                    fill="none"
                    stroke="#000"
                    stroke-width="1"
                  >
                    <circle cx="20" cy="20" r="20" stroke="none" />
                    <circle cx="20" cy="20" r="19.5" fill="none" />
                  </g>
                  <g
                    id="Ellipse_635"
                    data-name="Ellipse 635"
                    transform="translate(249 3320)"
                    fill="none"
                    stroke="#000"
                    stroke-width="1"
                  >
                    <circle cx="16" cy="16" r="16" stroke="none" />
                    <circle cx="16" cy="16" r="15.5" fill="none" />
                  </g>
                  <g id="Group_1882" data-name="Group 1882">
                    <g
                      id="Ellipse_152-2"
                      data-name="Ellipse 152"
                      transform="translate(241 3312)"
                      fill="none"
                      stroke="#000"
                      stroke-width="1"
                    >
                      <circle cx="24" cy="24" r="24" stroke="none" />
                      <circle cx="24" cy="24" r="23.5" fill="none" />
                    </g>
                  </g>
                  <g
                    id="Group_1883"
                    data-name="Group 1883"
                    transform="translate(-4.261 -4.261)"
                  >
                    <g
                      id="Ellipse_152-3"
                      data-name="Ellipse 152"
                      transform="translate(241.261 3312.261)"
                      fill="none"
                      stroke="#000"
                      stroke-width="1"
                    >
                      <circle cx="28" cy="28" r="28" stroke="none" />
                      <circle cx="28" cy="28" r="27.5" fill="none" />
                    </g>
                  </g>
                </g>
              </svg>
              <p class="font-tt-norms-pro-regular text-size-5">
                A community. With your consent, you will always be the first to
                hear of new album releases and the stories of the people behind
                the music.
              </p>
            </div>
            <div class="list-item flex relative mt-size-8 mb-size-10">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="56"
                height="56"
                viewBox="0 0 56 56"
              >
                <g
                  id="Group_1887"
                  data-name="Group 1887"
                  transform="translate(-237 -3308)"
                >
                  <text
                    id="_4"
                    data-name="4"
                    transform="translate(260 3327)"
                    font-size="16"
                    font-family="TTNormsProTrl-Bold, TT Norms Pro Trl"
                    font-weight="700"
                    letter-spacing="-0.005em"
                  >
                    <tspan x="0" y="15">4</tspan>
                  </text>
                  <g
                    id="Ellipse_152"
                    data-name="Ellipse 152"
                    transform="translate(245 3316)"
                    fill="none"
                    stroke="#000"
                    stroke-width="1"
                  >
                    <circle cx="20" cy="20" r="20" stroke="none" />
                    <circle cx="20" cy="20" r="19.5" fill="none" />
                  </g>
                  <g
                    id="Ellipse_636"
                    data-name="Ellipse 636"
                    transform="translate(249 3320)"
                    fill="none"
                    stroke="#000"
                    stroke-width="1"
                  >
                    <circle cx="16" cy="16" r="16" stroke="none" />
                    <circle cx="16" cy="16" r="15.5" fill="none" />
                  </g>
                  <g id="Group_1886" data-name="Group 1886">
                    <g
                      id="Ellipse_152-2"
                      data-name="Ellipse 152"
                      transform="translate(241 3312)"
                      fill="none"
                      stroke="#000"
                      stroke-width="1"
                    >
                      <circle cx="24" cy="24" r="24" stroke="none" />
                      <circle cx="24" cy="24" r="23.5" fill="none" />
                    </g>
                  </g>
                  <g
                    id="Group_1885"
                    data-name="Group 1885"
                    transform="translate(-4.261 -4.261)"
                  >
                    <g
                      id="Ellipse_152-3"
                      data-name="Ellipse 152"
                      transform="translate(241.261 3312.261)"
                      fill="none"
                      stroke="#000"
                      stroke-width="1"
                    >
                      <circle cx="28" cy="28" r="28" stroke="none" />
                      <circle cx="28" cy="28" r="27.5" fill="none" />
                    </g>
                  </g>
                </g>
              </svg>

              <p class="font-tt-norms-pro-regular text-size-5">
                An open mind. We’re interested in your thoughts about your
                experience of supporting us. So feel free to ping John an email
                and he will get back to you
              </p>
            </div>
            <CoreButton label="Donate" colour="yellow" />
          </div>
          <div class="w-1/4">
            <aside class="sticky top-160">
              <BlockCardPerson
                :src-image="
                  require('~/assets/images/WhyDetaineesAndMusic/card-person-placeholder.png')
                "
                name="JOHN"
                position="Director • Hear Me Out"
                bio="We’re interested in your thoughts about our work. So feel free to ping me an email and I will get back to you."
                class=""
              />
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
<style lang="postcss" scoped>
.list-item {
  margin-left: calc(74px + 5rem);
  svg {
    @apply absolute;
    left: -10rem;
  }
}
.top-160 {
  top: 160px;
}
</style>
