<template>
  <section class="bg-mid-yellow">
    <div class="">
      <div class="container mx-auto py-size-10">
        <div class="flex">
          <div class="w-3/4 pr-size-10">
            <BlockTitleParagraph
              title="Will you be one of the Founding 100?"
              body1="Making and seeing the real change you can make to people’s lives. It’s what we all want from a charity, isn’t it? That’s why we’d like you to join our Founding 100 – 100 people freeing the music of 1,000s of people held behind the walls of UK immigration detention centres each month. And to thank you, we’ll give you a Hear Me Out organic cotton tote bag. It’s a perfect fit for vinyl."
            />
            <CoreButton label="Donate" colour="blue mt-size-8 mb-size-10" />
            <div class="progress flex">
              <div
                class="progress-black border-r border-black"
                :style="{ width: donations + '%' }"
              >
                <div class="progress-bar bg-black"></div>
                <div
                  class="progress-black-label mt-size-5 mr-size-4 text-right"
                >
                  <h4
                    class="font-tusker text-size-9 text-black"
                    v-text="donations"
                  />
                  <h5 class="font-tt-norms-pro-regular text-size-5 text-black">
                    Donations
                  </h5>
                </div>
              </div>
              <div class="progress-white border-r border-white flex-grow">
                <div class="progress-bar bg-white"></div>
                <div
                  class="progress-white-label mt-size-5 mr-size-4 text-right"
                >
                  <h4 class="font-tusker text-size-9 text-white">66</h4>
                  <h5 class="font-tt-norms-pro-regular text-size-5 text-white">
                    Places left
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      donations: '34',
    }
  },
}
</script>
<style lang="postcss" scoped>
button {
  margin-left: calc(74px + 5rem);
}
.progress-bar {
  @apply w-full;
  height: 27px;
}
</style>
