<template>
  <div>
    <main>
      <BlockHeader :title="title" class="mb-xs lg:mb-m">
        <template v-slot:filter>
          <BlockFilter
            :filters="filters"
            :active-id="slug"
            @click="handleClick"
          />
        </template>
      </BlockHeader>
      <component :is="is" />
    </main>
    <BlockFooter />
  </div>
</template>

<script>
import { MUTATIONS } from '@store/ui'
import OurStudioValues from '@c/OurStudio/OurStudioValues'
import OurStudioPeople from '@c/OurStudio/OurStudioPeople'
import OurStudioElliotJames from '@c/OurStudio/OurStudioElliotJames'
import OurStudioClients from '@c/OurStudio/OurStudioClients'
import OurStudioCareers from '@c/OurStudio/OurStudioCareers'

const routeComponenetTable = {
  values: {
    is: OurStudioValues,
    title: 'Our Values',
  },
  leadership: {
    is: OurStudioPeople,
    title: 'Leadership',
  },
  'elliot-james': {
    is: OurStudioElliotJames,
    title: 'Elliot & James',
  },
  clients: {
    is: OurStudioClients,
    title: 'Clients',
  },
  careers: {
    is: OurStudioCareers,
    title: 'Careers',
  },
}

export default {
  data() {
    return {
      slug: this.$route.params.slug,
    }
  },

  computed: {
    routeExists() {
      return Object.keys(routeComponenetTable).includes(this.$route.params.slug)
    },
    is() {
      if (!this.routeExists) return ''
      return routeComponenetTable[this.slug].is
    },
    title() {
      if (!this.routeExists) return ''
      return routeComponenetTable[this.slug].title
    },
    filters() {
      if (!this.routeExists) return []
      return Object.entries(routeComponenetTable).map(([id, { title }]) => ({
        title,
        id,
      }))
    },
  },

  created() {
    if (!this.routeExists) {
      this.$router.push({
        name: '404',
      })
    }
  },

  mounted() {
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR, 'white')
  },

  methods: {
    handleClick(filterId) {
      this.slug = filterId
      // Super hacky
      history.pushState({}, null, `/our-studio/${this.slug}`)
    },
  },
}
</script>
