<template>
  <section>
    <div
      class="flex justify-center md:justify-start mt-size-7 sm:mt-size-7 md:mt-size-8 lg:mt-size-9 mb-size-6 sm:mb-size-6 md:mb-size-7 lg:mb-size-8 ml-section"
    >
      <CorePaginationBullet class="mr-size-5" number="1" @activate="activate" />
      <CorePaginationBullet class="mr-size-5" number="2" @activate="activate" />
      <CorePaginationBullet class="mr-size-5" number="3" @activate="activate" />
      <CorePaginationBullet class="mr-size-5" number="4" @activate="activate" />
    </div>
    <div
      slot="pagination"
      class="flex mt-size-9 mb-size-8 ml-section swiper-pagination relative"
    ></div>
    <client-only>
      <swiper ref="mySwiper" :options="options">
        <swiper-slide class="slide">
          <div
            class="ml-section mb-size-8 sm:mb-size-8 md:mb-size-9 lg:mb-size-10"
          >
            <div class="flex">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="128.088"
                  height="233.283"
                  viewBox="0 0 128.088 233.283"
                >
                  <g
                    id="Group_2612"
                    data-name="Group 2612"
                    transform="translate(-294.817 -2360.675)"
                  >
                    <g
                      id="Group_2611"
                      data-name="Group 2611"
                      transform="translate(295.921 2361.325)"
                    >
                      <line
                        id="Line_1632"
                        data-name="Line 1632"
                        y1="39.347"
                        x2="20.966"
                        transform="translate(40.042 185.074)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1508"
                        data-name="Path 1508"
                        d="M335.51,2432.982s-11.605,19.427-12.995,23.337.885,5.425.885,5.425,1.514,1.514,3.91-1.768,15.894-19.931,17.535-25.1a5.506,5.506,0,0,0-5.552-7.443,36.166,36.166,0,0,1-5.663-.017"
                        transform="translate(-268.88 -2292.972)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1509"
                        data-name="Path 1509"
                        d="M326.488,2453.066s-6.813,10.471-1.766,9.714,18.542-18.921,18.668-23.085a5.879,5.879,0,0,0-2.787-5.6"
                        transform="translate(-268.058 -2286.062)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1510"
                        data-name="Path 1510"
                        d="M328.49,2453.179s-6.963,10.826-3.306,11.2,14.632-14.759,15.011-17.409.356-7.616-1.273-6.772"
                        transform="translate(-266.754 -2279.843)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2607"
                        data-name="Group 2607"
                        transform="translate(60.979 43.93)"
                      >
                        <path
                          id="Path_1511"
                          data-name="Path 1511"
                          d="M325.9,2488.588V2469.5m3.983,49.077v20.973H325.9v-17.161m3.983-95.193a14.165,14.165,0,0,0,22.257-11.634v-21.517a11.128,11.128,0,0,0-22.257,0Z"
                          transform="translate(-325.897 -2382.92)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <path
                        id="Path_1512"
                        data-name="Path 1512"
                        d="M335.6,2480.525v-32.384a18.111,18.111,0,0,1-6.087-13.552v-43.114a7.352,7.352,0,0,0-.968-3.646l-10.928-19.136a8.416,8.416,0,0,1-1.107-4.168H346.5a8.414,8.414,0,0,1-1.1,4.168l-10.93,19.136a7.371,7.371,0,0,0-.966,3.646v43.114a14.1,14.1,0,0,0,2.1,7.425v-28.941a15.111,15.111,0,0,1,30.223,0v21.517a18.15,18.15,0,0,1-26.24,16.254v49.882"
                        transform="translate(-274.623 -2358.016)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1513"
                        data-name="Path 1513"
                        d="M315.584,2476.766c.509.071,1.021.138,1.542.2a76.132,76.132,0,0,0,10.562.492c7.431-.161,4.382-5.387-7-10.479l-5.1,9.787"
                        transform="translate(-275.584 -2252.051)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1514"
                        data-name="Path 1514"
                        d="M302.754,2467.028"
                        transform="translate(-288.854 -2252)"
                        fill="#00973d"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1515"
                        data-name="Path 1515"
                        d="M297.47,2532.07l12.649-21.4a15.612,15.612,0,0,0,2.122-6.721l1.79-22.9a60.573,60.573,0,0,1,20.888-41.2l22.131-19.036s5.169-.287,0,6.894-16.083,29.293-16.083,29.293,8.9,13.786,5.456,28.435"
                        transform="translate(-294.319 -2299.793)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <line
                        id="Line_1633"
                        data-name="Line 1633"
                        x1="5.408"
                        y2="8.227"
                        transform="translate(50.749 224.049)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1516"
                        data-name="Path 1516"
                        d="M327.922,2439.465s1.505-16.612,17.985-16.479c15.294.124,18.526,0,18.526,0s16.154,1.4,24.34-13.355h-30.64a36.743,36.743,0,0,0-20.265,5.926c-5.244,3.46-10.013,8.619-10.013,15.938"
                        transform="translate(-262.893 -2311.365)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1517"
                        data-name="Path 1517"
                        d="M356.774,2430.892s-1.505-16.612-17.987-16.478c-15.294.122-18.524,0-18.524,0s-16.156,1.4-24.342-13.355h30.642a36.742,36.742,0,0,1,20.263,5.923c5.244,3.463,10.013,8.622,10.013,15.938"
                        transform="translate(-295.921 -2320.228)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1518"
                        data-name="Path 1518"
                        d="M320.717,2367.835a6.51,6.51,0,1,1,13.019,0"
                        transform="translate(-270.275 -2361.325)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <ellipse
                        id="Ellipse_1141"
                        data-name="Ellipse 1141"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 39.684)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2608"
                        data-name="Group 2608"
                        transform="translate(51.324 42.789)"
                      >
                        <line
                          id="Line_1634"
                          data-name="Line 1634"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1635"
                          data-name="Line 1635"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <ellipse
                        id="Ellipse_1142"
                        data-name="Ellipse 1142"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 49.745)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2609"
                        data-name="Group 2609"
                        transform="translate(51.324 52.849)"
                      >
                        <line
                          id="Line_1636"
                          data-name="Line 1636"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1637"
                          data-name="Line 1637"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <ellipse
                        id="Ellipse_1143"
                        data-name="Ellipse 1143"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 59.806)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2610"
                        data-name="Group 2610"
                        transform="translate(51.324 62.91)"
                      >
                        <line
                          id="Line_1638"
                          data-name="Line 1638"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1639"
                          data-name="Line 1639"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <path
                        id="Path_1519"
                        data-name="Path 1519"
                        d="M302.754,2467.028s9.278,7.343,26.1,9.687"
                        transform="translate(-288.854 -2252)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                    </g>
                    <path
                      id="Path_1520"
                      data-name="Path 1520"
                      d="M325.9,2402.617a11.481,11.481,0,0,0,3.983,4.209"
                      transform="translate(31.003 42.707)"
                      fill="none"
                      stroke="#1a1818"
                      stroke-miterlimit="10"
                      stroke-width="1.3"
                    />
                    <path
                      id="Path_1521"
                      data-name="Path 1521"
                      d="M325.9,2405.629a18.675,18.675,0,0,0,3.983,2.7"
                      transform="translate(31.003 45.822)"
                      fill="none"
                      stroke="#1a1818"
                      stroke-miterlimit="10"
                      stroke-width="1.3"
                    />
                  </g>
                </svg>
              </div>
              <div class="ml-size-3 sm:ml-size-4 md:ml-size-6 lg:ml-size-7">
                <h4
                  class="font-tt-norms-pro-bold text-size-5 lg:text-size-6 mb-size-5"
                >
                  Music is hope
                </h4>
                <p
                  class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5"
                >
                  Music has the power to promote positive thoughts and mental
                  wellbeing – especially for people trapped in the most negative
                  situations.
                </p>
              </div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide class="slide">
          <div
            class="ml-section mb-size-8 sm:mb-size-8 md:mb-size-9 lg:mb-size-10"
          >
            <div class="flex">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="128.088"
                  height="233.283"
                  viewBox="0 0 128.088 233.283"
                >
                  <g
                    id="Group_2612"
                    data-name="Group 2612"
                    transform="translate(-294.817 -2360.675)"
                  >
                    <g
                      id="Group_2611"
                      data-name="Group 2611"
                      transform="translate(295.921 2361.325)"
                    >
                      <line
                        id="Line_1632"
                        data-name="Line 1632"
                        y1="39.347"
                        x2="20.966"
                        transform="translate(40.042 185.074)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1508"
                        data-name="Path 1508"
                        d="M335.51,2432.982s-11.605,19.427-12.995,23.337.885,5.425.885,5.425,1.514,1.514,3.91-1.768,15.894-19.931,17.535-25.1a5.506,5.506,0,0,0-5.552-7.443,36.166,36.166,0,0,1-5.663-.017"
                        transform="translate(-268.88 -2292.972)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1509"
                        data-name="Path 1509"
                        d="M326.488,2453.066s-6.813,10.471-1.766,9.714,18.542-18.921,18.668-23.085a5.879,5.879,0,0,0-2.787-5.6"
                        transform="translate(-268.058 -2286.062)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1510"
                        data-name="Path 1510"
                        d="M328.49,2453.179s-6.963,10.826-3.306,11.2,14.632-14.759,15.011-17.409.356-7.616-1.273-6.772"
                        transform="translate(-266.754 -2279.843)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2607"
                        data-name="Group 2607"
                        transform="translate(60.979 43.93)"
                      >
                        <path
                          id="Path_1511"
                          data-name="Path 1511"
                          d="M325.9,2488.588V2469.5m3.983,49.077v20.973H325.9v-17.161m3.983-95.193a14.165,14.165,0,0,0,22.257-11.634v-21.517a11.128,11.128,0,0,0-22.257,0Z"
                          transform="translate(-325.897 -2382.92)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <path
                        id="Path_1512"
                        data-name="Path 1512"
                        d="M335.6,2480.525v-32.384a18.111,18.111,0,0,1-6.087-13.552v-43.114a7.352,7.352,0,0,0-.968-3.646l-10.928-19.136a8.416,8.416,0,0,1-1.107-4.168H346.5a8.414,8.414,0,0,1-1.1,4.168l-10.93,19.136a7.371,7.371,0,0,0-.966,3.646v43.114a14.1,14.1,0,0,0,2.1,7.425v-28.941a15.111,15.111,0,0,1,30.223,0v21.517a18.15,18.15,0,0,1-26.24,16.254v49.882"
                        transform="translate(-274.623 -2358.016)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1513"
                        data-name="Path 1513"
                        d="M315.584,2476.766c.509.071,1.021.138,1.542.2a76.132,76.132,0,0,0,10.562.492c7.431-.161,4.382-5.387-7-10.479l-5.1,9.787"
                        transform="translate(-275.584 -2252.051)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1514"
                        data-name="Path 1514"
                        d="M302.754,2467.028"
                        transform="translate(-288.854 -2252)"
                        fill="#00973d"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1515"
                        data-name="Path 1515"
                        d="M297.47,2532.07l12.649-21.4a15.612,15.612,0,0,0,2.122-6.721l1.79-22.9a60.573,60.573,0,0,1,20.888-41.2l22.131-19.036s5.169-.287,0,6.894-16.083,29.293-16.083,29.293,8.9,13.786,5.456,28.435"
                        transform="translate(-294.319 -2299.793)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <line
                        id="Line_1633"
                        data-name="Line 1633"
                        x1="5.408"
                        y2="8.227"
                        transform="translate(50.749 224.049)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1516"
                        data-name="Path 1516"
                        d="M327.922,2439.465s1.505-16.612,17.985-16.479c15.294.124,18.526,0,18.526,0s16.154,1.4,24.34-13.355h-30.64a36.743,36.743,0,0,0-20.265,5.926c-5.244,3.46-10.013,8.619-10.013,15.938"
                        transform="translate(-262.893 -2311.365)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1517"
                        data-name="Path 1517"
                        d="M356.774,2430.892s-1.505-16.612-17.987-16.478c-15.294.122-18.524,0-18.524,0s-16.156,1.4-24.342-13.355h30.642a36.742,36.742,0,0,1,20.263,5.923c5.244,3.463,10.013,8.622,10.013,15.938"
                        transform="translate(-295.921 -2320.228)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1518"
                        data-name="Path 1518"
                        d="M320.717,2367.835a6.51,6.51,0,1,1,13.019,0"
                        transform="translate(-270.275 -2361.325)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <ellipse
                        id="Ellipse_1141"
                        data-name="Ellipse 1141"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 39.684)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2608"
                        data-name="Group 2608"
                        transform="translate(51.324 42.789)"
                      >
                        <line
                          id="Line_1634"
                          data-name="Line 1634"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1635"
                          data-name="Line 1635"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <ellipse
                        id="Ellipse_1142"
                        data-name="Ellipse 1142"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 49.745)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2609"
                        data-name="Group 2609"
                        transform="translate(51.324 52.849)"
                      >
                        <line
                          id="Line_1636"
                          data-name="Line 1636"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1637"
                          data-name="Line 1637"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <ellipse
                        id="Ellipse_1143"
                        data-name="Ellipse 1143"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 59.806)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2610"
                        data-name="Group 2610"
                        transform="translate(51.324 62.91)"
                      >
                        <line
                          id="Line_1638"
                          data-name="Line 1638"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1639"
                          data-name="Line 1639"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <path
                        id="Path_1519"
                        data-name="Path 1519"
                        d="M302.754,2467.028s9.278,7.343,26.1,9.687"
                        transform="translate(-288.854 -2252)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                    </g>
                    <path
                      id="Path_1520"
                      data-name="Path 1520"
                      d="M325.9,2402.617a11.481,11.481,0,0,0,3.983,4.209"
                      transform="translate(31.003 42.707)"
                      fill="none"
                      stroke="#1a1818"
                      stroke-miterlimit="10"
                      stroke-width="1.3"
                    />
                    <path
                      id="Path_1521"
                      data-name="Path 1521"
                      d="M325.9,2405.629a18.675,18.675,0,0,0,3.983,2.7"
                      transform="translate(31.003 45.822)"
                      fill="none"
                      stroke="#1a1818"
                      stroke-miterlimit="10"
                      stroke-width="1.3"
                    />
                  </g>
                </svg>
              </div>
              <div class="ml-size-3 sm:ml-size-4 md:ml-size-6 lg:ml-size-7">
                <h4
                  class="font-tt-norms-pro-bold text-size-5 lg:text-size-6 mb-size-5"
                >
                  Music is hope
                </h4>
                <p
                  class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5"
                >
                  Music has the power to promote positive thoughts and mental
                  wellbeing – especially for people trapped in the most negative
                  situations.
                </p>
              </div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide class="slide">
          <div
            class="ml-section mb-size-8 sm:mb-size-8 md:mb-size-9 lg:mb-size-10"
          >
            <div class="flex">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="128.088"
                  height="233.283"
                  viewBox="0 0 128.088 233.283"
                >
                  <g
                    id="Group_2612"
                    data-name="Group 2612"
                    transform="translate(-294.817 -2360.675)"
                  >
                    <g
                      id="Group_2611"
                      data-name="Group 2611"
                      transform="translate(295.921 2361.325)"
                    >
                      <line
                        id="Line_1632"
                        data-name="Line 1632"
                        y1="39.347"
                        x2="20.966"
                        transform="translate(40.042 185.074)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1508"
                        data-name="Path 1508"
                        d="M335.51,2432.982s-11.605,19.427-12.995,23.337.885,5.425.885,5.425,1.514,1.514,3.91-1.768,15.894-19.931,17.535-25.1a5.506,5.506,0,0,0-5.552-7.443,36.166,36.166,0,0,1-5.663-.017"
                        transform="translate(-268.88 -2292.972)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1509"
                        data-name="Path 1509"
                        d="M326.488,2453.066s-6.813,10.471-1.766,9.714,18.542-18.921,18.668-23.085a5.879,5.879,0,0,0-2.787-5.6"
                        transform="translate(-268.058 -2286.062)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1510"
                        data-name="Path 1510"
                        d="M328.49,2453.179s-6.963,10.826-3.306,11.2,14.632-14.759,15.011-17.409.356-7.616-1.273-6.772"
                        transform="translate(-266.754 -2279.843)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2607"
                        data-name="Group 2607"
                        transform="translate(60.979 43.93)"
                      >
                        <path
                          id="Path_1511"
                          data-name="Path 1511"
                          d="M325.9,2488.588V2469.5m3.983,49.077v20.973H325.9v-17.161m3.983-95.193a14.165,14.165,0,0,0,22.257-11.634v-21.517a11.128,11.128,0,0,0-22.257,0Z"
                          transform="translate(-325.897 -2382.92)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <path
                        id="Path_1512"
                        data-name="Path 1512"
                        d="M335.6,2480.525v-32.384a18.111,18.111,0,0,1-6.087-13.552v-43.114a7.352,7.352,0,0,0-.968-3.646l-10.928-19.136a8.416,8.416,0,0,1-1.107-4.168H346.5a8.414,8.414,0,0,1-1.1,4.168l-10.93,19.136a7.371,7.371,0,0,0-.966,3.646v43.114a14.1,14.1,0,0,0,2.1,7.425v-28.941a15.111,15.111,0,0,1,30.223,0v21.517a18.15,18.15,0,0,1-26.24,16.254v49.882"
                        transform="translate(-274.623 -2358.016)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1513"
                        data-name="Path 1513"
                        d="M315.584,2476.766c.509.071,1.021.138,1.542.2a76.132,76.132,0,0,0,10.562.492c7.431-.161,4.382-5.387-7-10.479l-5.1,9.787"
                        transform="translate(-275.584 -2252.051)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1514"
                        data-name="Path 1514"
                        d="M302.754,2467.028"
                        transform="translate(-288.854 -2252)"
                        fill="#00973d"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1515"
                        data-name="Path 1515"
                        d="M297.47,2532.07l12.649-21.4a15.612,15.612,0,0,0,2.122-6.721l1.79-22.9a60.573,60.573,0,0,1,20.888-41.2l22.131-19.036s5.169-.287,0,6.894-16.083,29.293-16.083,29.293,8.9,13.786,5.456,28.435"
                        transform="translate(-294.319 -2299.793)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <line
                        id="Line_1633"
                        data-name="Line 1633"
                        x1="5.408"
                        y2="8.227"
                        transform="translate(50.749 224.049)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1516"
                        data-name="Path 1516"
                        d="M327.922,2439.465s1.505-16.612,17.985-16.479c15.294.124,18.526,0,18.526,0s16.154,1.4,24.34-13.355h-30.64a36.743,36.743,0,0,0-20.265,5.926c-5.244,3.46-10.013,8.619-10.013,15.938"
                        transform="translate(-262.893 -2311.365)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1517"
                        data-name="Path 1517"
                        d="M356.774,2430.892s-1.505-16.612-17.987-16.478c-15.294.122-18.524,0-18.524,0s-16.156,1.4-24.342-13.355h30.642a36.742,36.742,0,0,1,20.263,5.923c5.244,3.463,10.013,8.622,10.013,15.938"
                        transform="translate(-295.921 -2320.228)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1518"
                        data-name="Path 1518"
                        d="M320.717,2367.835a6.51,6.51,0,1,1,13.019,0"
                        transform="translate(-270.275 -2361.325)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <ellipse
                        id="Ellipse_1141"
                        data-name="Ellipse 1141"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 39.684)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2608"
                        data-name="Group 2608"
                        transform="translate(51.324 42.789)"
                      >
                        <line
                          id="Line_1634"
                          data-name="Line 1634"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1635"
                          data-name="Line 1635"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <ellipse
                        id="Ellipse_1142"
                        data-name="Ellipse 1142"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 49.745)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2609"
                        data-name="Group 2609"
                        transform="translate(51.324 52.849)"
                      >
                        <line
                          id="Line_1636"
                          data-name="Line 1636"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1637"
                          data-name="Line 1637"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <ellipse
                        id="Ellipse_1143"
                        data-name="Ellipse 1143"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 59.806)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2610"
                        data-name="Group 2610"
                        transform="translate(51.324 62.91)"
                      >
                        <line
                          id="Line_1638"
                          data-name="Line 1638"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1639"
                          data-name="Line 1639"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <path
                        id="Path_1519"
                        data-name="Path 1519"
                        d="M302.754,2467.028s9.278,7.343,26.1,9.687"
                        transform="translate(-288.854 -2252)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                    </g>
                    <path
                      id="Path_1520"
                      data-name="Path 1520"
                      d="M325.9,2402.617a11.481,11.481,0,0,0,3.983,4.209"
                      transform="translate(31.003 42.707)"
                      fill="none"
                      stroke="#1a1818"
                      stroke-miterlimit="10"
                      stroke-width="1.3"
                    />
                    <path
                      id="Path_1521"
                      data-name="Path 1521"
                      d="M325.9,2405.629a18.675,18.675,0,0,0,3.983,2.7"
                      transform="translate(31.003 45.822)"
                      fill="none"
                      stroke="#1a1818"
                      stroke-miterlimit="10"
                      stroke-width="1.3"
                    />
                  </g>
                </svg>
              </div>
              <div class="ml-size-3 sm:ml-size-4 md:ml-size-6 lg:ml-size-7">
                <h4
                  class="font-tt-norms-pro-bold text-size-5 lg:text-size-6 mb-size-5"
                >
                  Music is hope
                </h4>
                <p
                  class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5"
                >
                  Music has the power to promote positive thoughts and mental
                  wellbeing – especially for people trapped in the most negative
                  situations.
                </p>
              </div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide class="slide">
          <div
            class="ml-section mb-size-8 sm:mb-size-8 md:mb-size-9 lg:mb-size-10"
          >
            <div class="flex">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="128.088"
                  height="233.283"
                  viewBox="0 0 128.088 233.283"
                >
                  <g
                    id="Group_2612"
                    data-name="Group 2612"
                    transform="translate(-294.817 -2360.675)"
                  >
                    <g
                      id="Group_2611"
                      data-name="Group 2611"
                      transform="translate(295.921 2361.325)"
                    >
                      <line
                        id="Line_1632"
                        data-name="Line 1632"
                        y1="39.347"
                        x2="20.966"
                        transform="translate(40.042 185.074)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1508"
                        data-name="Path 1508"
                        d="M335.51,2432.982s-11.605,19.427-12.995,23.337.885,5.425.885,5.425,1.514,1.514,3.91-1.768,15.894-19.931,17.535-25.1a5.506,5.506,0,0,0-5.552-7.443,36.166,36.166,0,0,1-5.663-.017"
                        transform="translate(-268.88 -2292.972)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1509"
                        data-name="Path 1509"
                        d="M326.488,2453.066s-6.813,10.471-1.766,9.714,18.542-18.921,18.668-23.085a5.879,5.879,0,0,0-2.787-5.6"
                        transform="translate(-268.058 -2286.062)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1510"
                        data-name="Path 1510"
                        d="M328.49,2453.179s-6.963,10.826-3.306,11.2,14.632-14.759,15.011-17.409.356-7.616-1.273-6.772"
                        transform="translate(-266.754 -2279.843)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2607"
                        data-name="Group 2607"
                        transform="translate(60.979 43.93)"
                      >
                        <path
                          id="Path_1511"
                          data-name="Path 1511"
                          d="M325.9,2488.588V2469.5m3.983,49.077v20.973H325.9v-17.161m3.983-95.193a14.165,14.165,0,0,0,22.257-11.634v-21.517a11.128,11.128,0,0,0-22.257,0Z"
                          transform="translate(-325.897 -2382.92)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <path
                        id="Path_1512"
                        data-name="Path 1512"
                        d="M335.6,2480.525v-32.384a18.111,18.111,0,0,1-6.087-13.552v-43.114a7.352,7.352,0,0,0-.968-3.646l-10.928-19.136a8.416,8.416,0,0,1-1.107-4.168H346.5a8.414,8.414,0,0,1-1.1,4.168l-10.93,19.136a7.371,7.371,0,0,0-.966,3.646v43.114a14.1,14.1,0,0,0,2.1,7.425v-28.941a15.111,15.111,0,0,1,30.223,0v21.517a18.15,18.15,0,0,1-26.24,16.254v49.882"
                        transform="translate(-274.623 -2358.016)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1513"
                        data-name="Path 1513"
                        d="M315.584,2476.766c.509.071,1.021.138,1.542.2a76.132,76.132,0,0,0,10.562.492c7.431-.161,4.382-5.387-7-10.479l-5.1,9.787"
                        transform="translate(-275.584 -2252.051)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1514"
                        data-name="Path 1514"
                        d="M302.754,2467.028"
                        transform="translate(-288.854 -2252)"
                        fill="#00973d"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1515"
                        data-name="Path 1515"
                        d="M297.47,2532.07l12.649-21.4a15.612,15.612,0,0,0,2.122-6.721l1.79-22.9a60.573,60.573,0,0,1,20.888-41.2l22.131-19.036s5.169-.287,0,6.894-16.083,29.293-16.083,29.293,8.9,13.786,5.456,28.435"
                        transform="translate(-294.319 -2299.793)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <line
                        id="Line_1633"
                        data-name="Line 1633"
                        x1="5.408"
                        y2="8.227"
                        transform="translate(50.749 224.049)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1516"
                        data-name="Path 1516"
                        d="M327.922,2439.465s1.505-16.612,17.985-16.479c15.294.124,18.526,0,18.526,0s16.154,1.4,24.34-13.355h-30.64a36.743,36.743,0,0,0-20.265,5.926c-5.244,3.46-10.013,8.619-10.013,15.938"
                        transform="translate(-262.893 -2311.365)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1517"
                        data-name="Path 1517"
                        d="M356.774,2430.892s-1.505-16.612-17.987-16.478c-15.294.122-18.524,0-18.524,0s-16.156,1.4-24.342-13.355h30.642a36.742,36.742,0,0,1,20.263,5.923c5.244,3.463,10.013,8.622,10.013,15.938"
                        transform="translate(-295.921 -2320.228)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <path
                        id="Path_1518"
                        data-name="Path 1518"
                        d="M320.717,2367.835a6.51,6.51,0,1,1,13.019,0"
                        transform="translate(-270.275 -2361.325)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <ellipse
                        id="Ellipse_1141"
                        data-name="Ellipse 1141"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 39.684)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2608"
                        data-name="Group 2608"
                        transform="translate(51.324 42.789)"
                      >
                        <line
                          id="Line_1634"
                          data-name="Line 1634"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1635"
                          data-name="Line 1635"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <ellipse
                        id="Ellipse_1142"
                        data-name="Ellipse 1142"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 49.745)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2609"
                        data-name="Group 2609"
                        transform="translate(51.324 52.849)"
                      >
                        <line
                          id="Line_1636"
                          data-name="Line 1636"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1637"
                          data-name="Line 1637"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <ellipse
                        id="Ellipse_1143"
                        data-name="Ellipse 1143"
                        cx="3.231"
                        cy="4.397"
                        rx="3.231"
                        ry="4.397"
                        transform="translate(44.862 59.806)"
                        fill="#1a1818"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                      <g
                        id="Group_2610"
                        data-name="Group 2610"
                        transform="translate(51.324 62.91)"
                      >
                        <line
                          id="Line_1638"
                          data-name="Line 1638"
                          x2="3.15"
                          transform="translate(0 2.585)"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                        <line
                          id="Line_1639"
                          data-name="Line 1639"
                          x2="3.15"
                          fill="none"
                          stroke="#1a1818"
                          stroke-miterlimit="10"
                          stroke-width="1.3"
                        />
                      </g>
                      <path
                        id="Path_1519"
                        data-name="Path 1519"
                        d="M302.754,2467.028s9.278,7.343,26.1,9.687"
                        transform="translate(-288.854 -2252)"
                        fill="none"
                        stroke="#1a1818"
                        stroke-miterlimit="10"
                        stroke-width="1.3"
                      />
                    </g>
                    <path
                      id="Path_1520"
                      data-name="Path 1520"
                      d="M325.9,2402.617a11.481,11.481,0,0,0,3.983,4.209"
                      transform="translate(31.003 42.707)"
                      fill="none"
                      stroke="#1a1818"
                      stroke-miterlimit="10"
                      stroke-width="1.3"
                    />
                    <path
                      id="Path_1521"
                      data-name="Path 1521"
                      d="M325.9,2405.629a18.675,18.675,0,0,0,3.983,2.7"
                      transform="translate(31.003 45.822)"
                      fill="none"
                      stroke="#1a1818"
                      stroke-miterlimit="10"
                      stroke-width="1.3"
                    />
                  </g>
                </svg>
              </div>
              <div class="ml-size-3 sm:ml-size-4 md:ml-size-6 lg:ml-size-7">
                <h4
                  class="font-tt-norms-pro-bold text-size-5 lg:text-size-6 mb-size-5"
                >
                  Music is hope
                </h4>
                <p
                  class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5"
                >
                  Music has the power to promote positive thoughts and mental
                  wellbeing – especially for people trapped in the most negative
                  situations.
                </p>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper>
    </client-only>
  </section>
</template>
<script>
export default {
  data() {
    return {
      options: {
        autoplay: { delay: 8000 },
        keyboard: { enabled: true },
        loop: {
          loopedSlides: 1,
        },
        preloadImages: true,
        lazy: {
          loadPrevNext: true,
          loadOnTransitionStart: true,
        },
        spaceBetween: 0,
        slidesPerView: 1,
        watchSlidesVisibility: true,
      },
    }
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.$swiper
    },
  },
  methods: {
    activate(i) {
      console.log('Current Swiper instance object', this.swiper)
      this.swiper.slideTo(i, 1000, false)
    },
  },
}
</script>
<style lang="postcss" scoped>
@media screen and (min-width: 1024px) {
  .ml-section {
    margin-left: calc(74px + 5rem);
  }
}
.pagination-bullet,
.swiper-pagination-bullet-custom {
  width: 57px;
  height: 57px;
  &__number {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.circle-1,
.circle-2,
.circle-3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @apply cursor-pointer;
}
.circle-1 {
  width: 45px;
  height: 45px;
  transition-duration: 0.7s;
}
.circle-2 {
  width: 69px;
  height: 69px;
  transition-duration: 0.5s;
}
.circle-3 {
  width: 81px;
  height: 81px;
  transition-duration: 0.3s;
}
.pagination-bullet:hover,
.swiper-pagination-bullet-custom:hover {
  .circle-1,
  .circle-2,
  .circle-3 {
    @apply border;
    @apply border-black;
  }
  .circle-1 {
    transition-duration: 0.3s;
  }
  .circle-2 {
    transition-duration: 0.5s;
  }
  .circle-3 {
    transition-duration: 0.7s;
  }
}
@media screen and (max-width: 768px) {
  .pagination-bullet,
  .swiper-pagination-bullet-custom {
    width: calc(0.705 * 57px);
    height: calc(0.705 * 57px);
  }
  .circle-1 {
    width: calc(0.705 * 45px);
    height: calc(0.705 * 45px);
  }
  .circle-2 {
    width: calc(0.705 * 69px);
    height: calc(0.705 * 69px);
  }
  .circle-3 {
    width: calc(0.705 * 81px);
    height: calc(0.705 * 81px);
  }
}
</style>
