<template>
  <section class="my-size-7 sm:my-size-7 md:my-size-8 lg:my-size-10">
    <div class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto">
      <span
        class="highlighted-text font-tusker uppercase text-size-4 sm:text-size-4 md:text-size-5 lg:text-size-7 text-mid-blue lg:text-opacity-25 hover:text-opacity-100 transition duration-500 ease-in-out flex flex-col lg:inline"
      >
        <span
          class="font-tt-norms-pro-bold text-size-2 highlighted-text__artist order-2 lg:inline-block pb-size-7 lg:pb-0"
          >Name Surname Artist, UK</span
        ><span
          class="highlighted-text__quote tracking-wide relative flex flex-col lg:inline"
        >
          <span class="order-2 py-size-4 lg:py-size-0"
            >“When I wrote the lyrics, I was in a negative state. I’m always in
            a negative state, but when I performed it, that’s when I felt
            better. Because I feel like I can get my message across.”
          </span>
          <span
            class="highlighted-text__image lg:absolute lg:right-0 lg:opacity-0 lg:transition lg:duration-500 lg:ease-in-out lg:z-10 order-1"
          >
            <img
              class="pointer-events-none overflow-visible object-cover rounded-full lg:rounded-none image"
              :src="
                require('~/assets/images/WhyDetaineesAndMusic/highlighted-text-placeholder.jpg')
              "
              :srcset="
                require('~/assets/images/WhyDetaineesAndMusic/highlighted-text-placeholder.jpg')
              "
              inner-class=""
            /> </span
        ></span>
      </span>
      <span
        class="highlighted-text font-tusker uppercase text-size-4 sm:text-size-4 md:text-size-5 lg:text-size-7 text-mid-blue lg:text-opacity-25 hover:text-opacity-100 transition duration-500 ease-in-out flex flex-col lg:inline"
      >
        <span
          class="font-tt-norms-pro-bold text-size-2 highlighted-text__artist order-2 lg:inline-block pb-size-7 lg:pb-0"
          >Name Surname Artist, UK</span
        ><span
          class="highlighted-text__quote tracking-wide relative flex flex-col lg:inline"
        >
          <span class="order-2 py-size-4 lg:py-size-0"
            >“When I wrote the lyrics, I was in a negative state. I’m always in
            a negative state, but when I performed it, that’s when I felt
            better. Because I feel like I can get my message across.”
          </span>
          <span
            class="highlighted-text__image lg:absolute lg:right-0 lg:opacity-0 lg:transition lg:duration-500 lg:ease-in-out lg:z-10 order-1"
          >
            <img
              class="pointer-events-none overflow-visible object-cover rounded-full lg:rounded-none image"
              :src="
                require('~/assets/images/WhyDetaineesAndMusic/highlighted-text-placeholder-2.jpg')
              "
              :srcset="
                require('~/assets/images/WhyDetaineesAndMusic/highlighted-text-placeholder-2.jpg')
              "
              inner-class=""
            /> </span
        ></span>
      </span>
      <span
        class="highlighted-text font-tusker uppercase text-size-4 sm:text-size-4 md:text-size-5 lg:text-size-7 text-mid-blue lg:text-opacity-25 hover:text-opacity-100 transition duration-500 ease-in-out flex flex-col lg:inline"
      >
        <span
          class="font-tt-norms-pro-bold text-size-2 highlighted-text__artist order-2 lg:inline-block"
          >Name Surname Artist, UK</span
        ><span
          class="highlighted-text__quote tracking-wide relative flex flex-col lg:inline"
        >
          <span class="order-2 py-size-4 lg:py-size-0"
            >“When I wrote the lyrics, I was in a negative state. I’m always in
            a negative state, but when I performed it, that’s when I felt
            better. Because I feel like I can get my message across.”
          </span>
          <span
            class="highlighted-text__image lg:absolute lg:right-0 lg:opacity-0 lg:transition lg:duration-500 lg:ease-in-out lg:z-10 order-1"
          >
            <img
              class="pointer-events-none overflow-visible object-cover rounded-full lg:rounded-none image"
              :src="
                require('~/assets/images/WhyDetaineesAndMusic/highlighted-text-placeholder-3.jpg')
              "
              :srcset="
                require('~/assets/images/WhyDetaineesAndMusic/highlighted-text-placeholder-3.jpg')
              "
              inner-class=""
            /> </span
        ></span>
      </span>
    </div>
  </section>
</template>
<script>
export default {}
</script>
<style lang="postcss" scoped>
.highlighted-text {
  &__artist {
    width: 170px;
  }
}
@media screen and (max-width: 1023px) {
  .image {
    width: 124px;
    height: 124px;
  }
}
@media screen and (min-width: 1024px) {
  .highlighted-text {
    &__image {
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      min-width: 550px;
    }
  }

  .highlighted-text__quote:hover,
  .highlighted-text:hover {
    .highlighted-text__image {
      @apply opacity-100;
    }
  }
}
</style>
