<template>
  <section
    class="bg-light-green xl:bg-mid-green pb-size-7 sm:pb-size-7 md:pb-size-8 lg:pb-size-10 pt-size-6 sm:pt-size-6 md:pt-size-8 lg:pt-size-10"
  >
    <div
      class="container px-size-5 sm:px-size-5 md:px-size-6 lg:px-8 mx-auto relative"
    >
      <div class="flex">
        <div class="w-full xl:w-3/4 lg:pr-size-8 xl:pr-size-10">
          <BlockTitleParagraph
            title="How we do it"
            body1="Lead artists like me take our instruments and recording equipment into immigration detention centres. And together with the people detained there, we make music. Every session is different. People bring their life and musical experiences to the room, coming up with tunes and lyrics. So far, we’ve worked with 26,436 people. That’s 26,436 people who have had some relief from the distress of life in a detention centre."
            body2=""
          />
        </div>
        <div class="w-full xl:w-1/4">
          <aside>
            <BlockCardPerson
              name="ANNA"
              position="Resident Musician"
              bio="Short bio of person nullam sapien.Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit."
            />
          </aside>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {}
</script>
