<template>
  <div>
    <div v-if="$fetchState.pending"></div>
    <div v-else-if="$fetchState.error">
      Error while fetching project: {{ $fetchState.error.message }}
    </div>
    <div v-else class="bg-white">
      <main>
        <OurWorkTitle
          class="mx-auto px-gutter pt-l lg:pt-xxxl"
          :title="title"
        />
        <CoreGrid
          class="mx-auto px-gutter pt-m lg:pt-s pb-s lg:pb-xxl gap-y-xxs lg:gap-y-0"
        >
          <OurWorkMeta
            v-for="(item, index) in entry.meta"
            :key="`our-work-meta-${index}`"
            :meta="item"
            :delay="index % 6"
          />
        </CoreGrid>
        <div class="mb-m lg:mb-xl">
          <div
            v-for="(style, index) in entry.contentStyles"
            :key="style.typeHandle + '-' + index"
          >
            <OurWorkStyleA
              v-if="style.typeHandle === 'styleA'"
              :entry="style"
              class="mb-xs lg:mb-xl"
            />

            <OurWorkStyleB
              v-if="style.typeHandle === 'styleB'"
              :entry="style"
              class="mb-xs lg:mb-xl"
            />

            <OurWorkStyleC
              v-if="style.typeHandle === 'styleC'"
              :entry="style"
              class="mb-xs lg:mb-xl"
            />

            <OurWorkStyleD
              v-if="style.typeHandle === 'styleD'"
              :entry="style"
              class="mb-xs lg:mb-xl"
            />

            <OurWorkStyleSoloSplit
              v-if="style.typeHandle === 'styleSoloSplit'"
              :entry="style"
            />

            <OurWorkStyleSoloFull
              v-if="style.typeHandle === 'styleSoloFull'"
              :entry="style"
            />

            <OurWorkStyleVideo
              v-if="style.typeHandle === 'styleVideo'"
              :entry="style"
              class="mb-xs lg:mb-xl"
            />
          </div>
        </div>
        <OurWorkRelatedPress :press="entry.relatedPressAndMedia" />
        <OurWorkAddInfo :info="entry.additionalInformation" />
        <OurWorkSimilarProjects :projects="entry.similarProjects" />
      </main>
      <BlockFooter class="pt-s lg:pt-xl" background="black" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import NavLevel3Transition from '@mixins/NavLevel3Transition'
import SeoMatic from '@mixins/SeoMatic'
import { OUR_WORK } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'
import { OurWorkEntryQuery as query } from '@gql/queries'
// import { isNul } from '@utils/types'

export default {
  name: 'OurWorkEntry',
  layout: 'chinese',
  mixins: [NavLevel3Transition, SeoMatic],
  async fetch() {
    const result = await this.$craft({
      query,
      variables: {
        slug: this.$route.params.slug,
        site: 'mawdChinese',
      },
    })
    // console.log('result', result)
    const { entry } = result.data
    this.entry = entry
    this.generateTags(entry.seomatic)
  },
  data() {
    return {
      entry: {},
      // iconWhite: true,
      prevRoute: null,
    }
  },
  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
    }),
    title() {
      return {
        title: this.entry.title,
        location: this.entry.location[0].title,
      }
    },
  },

  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.prevRoute = vm.$store.commit(MUTATIONS.SET_PREV_ROUTE_ENTRY, from)
    })
  },
  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, OUR_WORK)
    this.$store.commit(MUTATIONS.SET_MENU_WHITE)
    this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR_ONLY, 'white')
  },
}
</script>
