<template>
  <section>
    <PressMediaEntries
      ref="press-media-entries"
      :entries="entries"
      class="px-gutter-mob lg:px-gutter-desk mt-l lg:mt-xxxl"
    />
    <BlockFooter />
  </section>
</template>

<script>
import wait from '@utils/wait'
import { PRESS_MEDIA } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'

const query = `
{
  entries: entries(section: "pressAndMedia", orderBy: "date DESC") {
    title
    slug
    ... on pressAndMedia_pressAndMedia_Entry {
      date @formatDateTime(format: "j M Y")
      year: date @formatDateTime(format: "Y")
      ... on pressAndMedia_pressAndMedia_Entry {
        media {
          logo: url
        }
      }
      pressAndMediaOutlet
      externalLink
    }
  }
}
`
export default {
  async fetch() {
    const result = await this.$craft({ query })
    const { entries } = result.data
    this.entries = entries
  },
  data() {
    return {
      entries: [],
      routeFrom: false,
    }
  },
  watch: {
    // We use $fetchState to check whether content is done loading
    // Using our wait utility for the page transition (ms) if coming from a previous route (page)
    '$fetchState.pending': {
      immediate: true,
      async handler(pending) {
        if (!this.$route.hash) return
        if (process.server) return
        if (pending) return
        if (!this.entries.length) return

        await this.$nextTick()

        const element = this.$refs['press-media-entries'].$refs[
          'press-media-entry'
        ].find((entry) => entry.id === this.$route.hash.slice(1))

        if (this.routeFrom) await wait(1000)

        window.scrollTo({
          top: element.offsetTop,
          behavior: 'smooth',
        })
      },
    },
  },
  beforeRouteEnter(to, from, next) {
    // this is used to set the routeFrom {data property} in the component
    // as this does not exist in beforeRouteEnter we use vm
    next((vm) => {
      if (from.name) vm._data.routeFrom = true
    })
  },
  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, PRESS_MEDIA)
  },
}
</script>
