<template>
  <section>
    <PressMediaWelcome />
  </section>
</template>

<script>
import NavLevel3Transition from '@mixins/NavLevel3Transition'
import { PRESS_MEDIA } from '@c/Core/CoreBreadcrumb'
import { MUTATIONS } from '@store/ui'

export default {
  mixins: [NavLevel3Transition],

  mounted() {
    this.$store.commit(MUTATIONS.SET_BREADCRUMB, PRESS_MEDIA)
  },
}
</script>
