<template>
  <div>
    <h2
      v-for="(item, index) in items"
      :key="index"
      :ref="`title${index}`"
      class="absolute font-euclid-semibold text-fluid-size-10 text-white"
      v-text="item"
    ></h2>
  </div>
</template>

<script>
import { gsap } from 'gsap'
export default {
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      intro: gsap.timeline({ paused: true, onComplete: this.repeat }),
      pause: 3.5,
      speed: 0.4,
    }
  },

  mounted() {
    this.initAnimation()
  },

  methods: {
    initAnimation() {
      this.intro = null
      this.intro = gsap.timeline({ paused: true, onComplete: this.repeat })
      let playhead = 0
      let count = 0
      this.items.forEach(() => {
        this.intro.add(this.animateElementIn(`title${count}`), playhead)
        this.intro.add(`loop${count}`, playhead + this.speed)
        playhead = playhead + this.pause
        count++
      })
      this.intro.add(this.animateElementLast(`title0`), playhead)
      this.intro.restart()
    },
    animateElementIn(target) {
      const tl = gsap.timeline()
      const t = this.$refs[target]
      tl.fromTo(
        t,
        { opacity: 0, y: '20%' },
        { opacity: 1, y: '0%', duration: this.speed, ease: 'power1.easeIn' },
        0
      ).to(t, {
        opacity: 0,
        y: '-20%',
        duration: this.speed,
        ease: 'power1.easeIn',
        delay: this.pause - this.speed,
      })
      return tl
    },
    animateElementLast(target) {
      const tl = gsap.timeline()
      const t = this.$refs[target]
      tl.fromTo(
        t,
        { opacity: 0, y: '20%' },
        { opacity: 1, y: '0%', duration: this.speed, ease: 'power1.easeIn' },
        0
      ).to(t, {
        opacity: 1,
        duration: this.speed,
        ease: 'power1.easeIn',
        delay: this.pause - this.speed,
      })
      return tl
    },
    repeat() {
      this.intro.seek('loop0').play()
    },
  },
}
</script>
