<template>
  <div
    class="loading flex justify-center items-center pointer-events-none h-screen w-screen overflow-hidden absolute top-0 z-10"
  >
    <svg
      id="L9"
      x="0px"
      y="0px"
      viewBox="0 0 100 100"
      enable-background="new 0 0 0 0"
      xml:space="preserve"
    >
      <path
        fill="#B4D0E7"
        d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50"
      >
        <animateTransform
          attributeName="transform"
          attributeType="XML"
          type="rotate"
          dur="1s"
          from="0 50 50"
          to="360 50 50"
          repeatCount="indefinite"
        />
      </path>
    </svg>
  </div>
</template>

<script>
export default {}
</script>

<style lang="postcss" scoped>
.loading {
  transition-property: opacity;
  transition-duration: var(--duration-image-load);
  transition-timing-function: var(--ease-general);
  svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
  }
  &.loaded {
    @apply opacity-0;
  }
}
</style>
