<template>
  <p
    class="font-tt-norms-pro-regular text-black text-size-4 sm:text-size-4 md:text-size-5 lg:text-size-6 text-center"
  >
    {{ content }}
  </p>
</template>
<script>
export default {
  props: {
    content: {
      type: String,
      default:
        'For people held in UK immigration detention, music can be freedom.',
    },
  },
}
</script>
<style lang="postcss" scoped>
p {
  max-width: 980px;
  margin: 0 auto;
}
</style>
