<template>
  <button
    class="block border-white border rounded-md px-2 text-size-1 uppercase tt-norms-pro-regular"
  >
    <span>{{ label }}</span>
  </button>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: 'Info',
    },
  },
}
</script>
