<template>
  <div class="relative" :class="active ? 'active-person' : ''">
    <hr />
    <div
      class="person flex flex-row items-center py-size-5 cursor-pointer"
      @click="activeForMobile()"
    >
      <div class="flex flex-row items-center w-1/3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="6"
          height="6"
          viewBox="0 0 6 6"
          class="mr-size-5 square transition-all duration-500 ease-in-out"
        >
          <rect
            id="Rectangle_3171"
            data-name="Rectangle 3171"
            width="6"
            height="6"
          />
        </svg>
        <h4 class="font-tt-norms-pro-regular text-size-4" v-text="name" />
      </div>
      <div class="flex flex-row items-center justify w-2/3 justify-between">
        <h4 class="font-tt-norms-pro-regular text-size-4" v-text="position" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="9"
          height="13"
          viewBox="0 0 9 13"
          class="mr-size-4 triangle transition-all duration-500 ease-in-out"
        >
          <g
            id="Group_3126"
            data-name="Group 3126"
            transform="translate(-0.776 -0.279)"
          >
            <path
              id="Polygon_10"
              data-name="Polygon 10"
              d="M6.5,0,13,9H0Z"
              transform="translate(9.776 0.279) rotate(90)"
            />
          </g>
        </svg>
      </div>
    </div>
    <div
      class="person__description xl:absolute xl:ml-size-7 xl:opacity-0 xl:transition-all xl:duration-500 xl:ease-in-out flex flex-row xl:flex-col"
    >
      <div
        class="person__image mb-size-6 mr-size-4 sm:mr-size-4 md:mr-size-5 lg:mr-size-7 xl:mr-size-9"
      >
        <img
          :src="imgSrc"
          :srcset="imgSrc"
          alt=""
          class="object-cover h-full w-full rounded-full xl:rounded-none"
        />
      </div>
      <p
        class="font-tt-norms-pro-regular text-size-1 sm:text-size-1 md:text-size-3 lg:text-size-3 relative"
        v-text="description"
      />
    </div>
  </div>
</template>
<script>
export default {
  props: {
    name: {
      type: String,
      default: 'John Speyer',
    },
    position: {
      type: String,
      default: 'Director',
    },
    imgSrc: {
      type: String,
      default: require('~/assets/images/WhoWeAre/person-placeholder-1.jpg'),
    },
    description: {
      type: String,
      default:
        'Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.egestas lectus dui, blandit tempus metus Nullam sapien ante, posuere at bibendum et, lacinia nec nulla. Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec. egestas lectus dui, blandit tempus metus',
    },
  },
  data() {
    return {
      active: false,
    }
  },
  methods: {
    activeForMobile() {
      this.active = !this.active
    },
  },
}
</script>
<style lang="postcss" scoped>
.person__image {
  min-width: 100px;
  min-height: 100px;
}
@media screen and (min-width: 1280px) {
  .person__description {
    /* width: calc((1440px - 32rem + 74px) * 0.25); */
    width: 425px;
    left: 100%;
    top: -177px;
    p {
      margin-left: calc(74px + 5rem);
      &:before {
        content: '';
        @apply absolute;
        @apply bg-black;
        width: 74px;
        height: 1px;
        left: calc(-74px - 5rem);
        margin-top: 2rem;
      }
    }
  }
  .person:hover {
    .square {
      @apply opacity-0;
      @apply mr-0;
    }
    .triangle {
      @apply mr-0;
    }
  }
  .person:hover + .person__description {
    @apply opacity-100;
  }
}
@media screen and (max-width: 1280px) {
  .person__description {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease;
  }

  .active-person .person__description {
    max-height: 220px;
  }
}
</style>
