<template>
  <div class="h-full w-full relative">
    <div
      class="absolute top-0 text-white h-full w-full z-10 flex items-center justify-center"
      @click="handlePause(playing)"
    >
      <button
        v-show="!playing && !paused"
        class="text-white font-euclid-regular text-size-2 lg:text-size-3 focus:outline-none"
        @click="muted = false"
      >
        Play
      </button>
    </div>
    <video
      v-if="!!src"
      ref="video"
      :key="src"
      :autoplay="autoplay"
      loop
      :muted="muted"
      playsinline
      class="h-full w-full object-cover"
    >
      <source :src="src" />
    </video>
    <div class="w-full transform-full flex p-gutter items-center z-20 relative">
      <div class="flex-grow h-playbar bg-white mr-xs">
        <div class="h-playbar bg-black" :style="style" />
      </div>
      <div
        class="font-euclid-regular text-size-2 lg:text-size-3 cursor-hover select-none"
        :class="[muted ? 'text-light-grey' : 'text-white']"
        @click="muted = !muted"
        @mouseenter="setInteracting(true)"
        @mouseleave="setInteracting(false)"
      >
        Sound
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { isUndefined } from '@utils/types'
import { MUTATIONS } from '@store/ui'

export default {
  props: {
    mobile: {
      type: Array,
      default: () => [],
    },
    desktop: {
      type: Array,
      default: () => [],
    },
    paused: {
      type: Boolean,
      default: false,
    },
    autoplay: {
      type: Boolean,
      default: true,
    },
  },

  data: () => ({
    percentage: 0,
    muted: true,
    playing: false,
  }),

  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
      deviceWidth: (state) => state.ui.deviceWidth,
    }),
    src() {
      const videoSizes = [...this[this.isMobile ? 'mobile' : 'desktop']]
      const sorted = videoSizes.sort((a, b) => a.width - b.width)
      const video = sorted.find(({ width }) => width >= this.deviceWidth)

      if (isUndefined(video)) {
        return videoSizes[videoSizes.length - 1].videoUrl
      }

      return video.videoUrl
    },
    style() {
      return {
        width: `${this.percentage}%`,
      }
    },
  },

  watch: {
    paused(val) {
      this.handlePause(val)
    },
    autoplay: {
      immediate: true,
      handler(value) {
        value ? (this.playing = true) : (this.playing = false)
      },
    },
  },

  mounted() {
    this.$refs.video.ontimeupdate = this.handleTimeupdate
  },

  methods: {
    handleTimeupdate() {
      this.percentage =
        (this.$refs.video.currentTime / this.$refs.video.duration) * 100
    },
    handlePause(val) {
      if (this.$refs.video) {
        if (val) {
          this.$refs.video.pause()
          this.playing = false
        } else {
          this.$refs.video.play()
          this.playing = true
        }
        this.setInteracting(false)
      }
    },
    setInteracting(state) {
      this.$store.commit(MUTATIONS.SET_CURSOR_INTERACTING, state)
    },
  },
}
</script>

<style scoped>
.transform-full {
  transform: translateY(-100%);
}

.h-playbar {
  height: 3px;
}
</style>
