<template>
  <button
    class="py-size-2 px-size-4 md:py-size-4 md:px-size-6 rounded-full text-white min-w-button-sm sm:min-w-button-sm md:min-w-button-md lg:min-w-button text-size-3 md:text-size-4 font-tt-norms-pro-medium hover:text-white relative overflow-hidden"
    :class="[colour]"
  >
    <span class="relative">{{ label }}</span>
  </button>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: 'Find out why',
    },
    colour: {
      type: String,
      default: 'green',
    },
  },
}
</script>

<style lang="postcss" scoped>
button {
  transition-property: transform, color, filter;
  transition-duration: var(--duration-button);
  transition-timing-function: var(--ease-out-quint);
  transform: scale3d(1, 1, 1);
  filter: drop-shadow(0 0.2rem 0.5rem rgba(0, 0, 0, 0));
  @apply bg-black;
  @apply text-white;
  /* used for donate button :: stand out  */
  &.yellow {
    @apply bg-mid-yellow;
    @apply text-black;
  }
  &.white {
    @apply bg-white;
    @apply text-black;
    @apply border;
    @apply font-tt-norms-pro-bold;
    @apply font-bold;
    @apply text-size-5;
    @apply py-size-3;
    min-width: auto;
    &:before {
      @apply bg-black;
    }
    &.btn--categories {
      @apply py-size-3;
      @apply px-size-5;
      @apply font-tt-norms-pro-regular;
      @apply text-size-4;
      min-width: auto;
    }
  }
  &.active {
    &.btn--categories {
      @apply py-size-3;
      @apply px-size-5;
      @apply font-tt-norms-pro-regular;
      @apply text-size-4;
      min-width: auto;
    }
  }
  &:before {
    transition-property: transform, color;
    transition-duration: var(--duration-button);
    transition-timing-function: var(--ease-out-quint);
    content: '';
    @apply absolute;
    height: 48px;
    width: 48px;
    @apply rounded-full;
    top: 50%;
    left: 50%;
    transform: scale3d(0, 0, 0) translate(-50%, -50%);
    transform-origin: 0 0;
    @apply pointer-events-none;
  }
  &.green {
    &:before {
      @apply bg-mid-green;
    }
  }
  &.blue {
    &:before {
      @apply bg-mid-blue;
    }
  }
  /* used for donate button :: stand out  */
  &.yellow {
    &:before {
      @apply bg-black;
    }
  }
  &:hover {
    transform: scale3d(1.04, 1.04, 1.04);
    filter: drop-shadow(0 0.2rem 0.5rem rgba(0, 0, 0, 0.3));
    &:before {
      transform: scale3d(6, 6, 6) translate(-50%, -50%);
    }
    &.yellow {
      @apply text-white;
    }
    &.white {
      @apply text-white;
    }
  }
  &:after {
    /* content: '';
    @apply absolute top-0 left-0;
    @apply border-mid-yellow border-2;
    @apply w-full h-full;
    @apply rounded-full;
    transform: scale3d(1.1, 1.1, 1.1); */
  }
  &.min-w-button-sm {
    min-width: 140px;
  }
  &.min-w-button-md {
    min-width: 250px;
  }
}
</style>
