<template>
  <div class="">
    <hr />
    <div class="download flex flex-row items-center py-size-5 cursor-pointer">
      <div class="flex flex-row items-center justify-between w-1/2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="6"
          height="6"
          viewBox="0 0 6 6"
          class="mr-size-5 square transition-all duration-500 ease-in-out"
        >
          <rect
            id="Rectangle_3171"
            data-name="Rectangle 3171"
            width="6"
            height="6"
          />
        </svg>
        <h4
          class="font-tt-norms-pro-regular text-size-4 flex-grow"
          v-text="name"
        />
        <h4 class="font-tt-norms-pro-regular text-size-4" v-text="type" />
      </div>
      <div class="flex flex-row items-center justify-between w-1/2">
        <div class="w-1/3 text-right">
          <h4 class="font-tt-norms-pro-regular text-size-4" v-text="weight" />
        </div>
        <div class="w-1/3 text-right">
          <h4 class="font-tt-norms-pro-regular text-size-4" v-text="file" />
        </div>
        <div class="w-1/3 text-right">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="9"
            height="13"
            viewBox="0 0 9 13"
            class="mr-size-4 triangle transition-all duration-500 ease-in-out ml-auto transform rotate-90"
          >
            <g
              id="Group_3126"
              data-name="Group 3126"
              transform="translate(-0.776 -0.279)"
            >
              <path
                id="Polygon_10"
                data-name="Polygon 10"
                d="M6.5,0,13,9H0Z"
                transform="translate(9.776 0.279) rotate(90)"
              />
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    name: {
      type: String,
      default: 'Financial report 2020',
    },
    type: {
      type: String,
      default: 'Report',
    },
    weight: {
      type: String,
      default: '256Kb',
    },
    file: {
      type: String,
      default: 'PDF',
    },
  },
}
</script>
<style lang="postcss" scoped>
.download:hover {
  .square {
    @apply opacity-0;
    @apply mr-0;
  }
  .triangle {
    @apply mr-0;
  }
}
</style>
