<template>
  <div
    class="pagination-bullet rounded-full border border-black relative cursor-pointer transition duration-500 ease-in-out"
    @click="active"
  >
    <span
      v-if="previous == true"
      class="transform rotate-180 block w-full h-full"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="8"
        height="12"
        viewBox="0 0 8 12"
        class="absolute pagination-bullet__number"
      >
        <g
          id="Group_2888"
          data-name="Group 2888"
          transform="translate(0.21 0.076)"
        >
          <path
            id="Polygon_10"
            data-name="Polygon 10"
            d="M6,0l6,8H0Z"
            transform="translate(7.79 -0.076) rotate(90)"
          />
        </g>
      </svg>
    </span>

    <svg
      v-else-if="next == true"
      xmlns="http://www.w3.org/2000/svg"
      width="8"
      height="12"
      viewBox="0 0 8 12"
      class="absolute pagination-bullet__number"
    >
      <g
        id="Group_2888"
        data-name="Group 2888"
        transform="translate(0.21 0.076)"
      >
        <path
          id="Polygon_10"
          data-name="Polygon 10"
          d="M6,0l6,8H0Z"
          transform="translate(7.79 -0.076) rotate(90)"
        />
      </g>
    </svg>

    <svg
      v-else-if="dot == true"
      xmlns="http://www.w3.org/2000/svg"
      width="8"
      height="8"
      viewBox="0 0 8 8"
      class="absolute pagination-bullet__number"
    >
      <circle id="Ellipse_1196" data-name="Ellipse 1196" cx="4" cy="4" r="4" />
    </svg>

    <span
      v-else
      class="font-tt-norms-pro-bold text-size-3 font-bold absolute pagination-bullet__number"
      v-text="number"
    />

    <div
      class="circle-3 absolute rounded-full border border-black border-opacity-0 transition ease-in-out"
    ></div>
    <div
      class="circle-2 absolute rounded-full border border-black border-opacity-0 transition ease-in-out"
    ></div>
    <div
      class="circle-1 absolute rounded-full border border-black border-opacity-0 transition ease-in-out"
    ></div>
  </div>
</template>
<script>
export default {
  props: {
    number: {
      type: String,
      default: '1',
    },
    previous: {
      type: Boolean,
      default: false,
    },
    next: {
      type: Boolean,
      default: false,
    },
    dot: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    active() {
      this.$emit('activate', this.number)
    },
  },
}
</script>
<style lang="postcss" scoped>
.pagination-bullet {
  width: 57px;
  height: 57px;
  &__number {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.circle-1,
.circle-2,
.circle-3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @apply cursor-pointer;
}
.circle-1 {
  width: 45px;
  height: 45px;
  transition-duration: 0.7s;
}
.circle-2 {
  width: 69px;
  height: 69px;
  transition-duration: 0.5s;
}
.circle-3 {
  width: 81px;
  height: 81px;
  transition-duration: 0.3s;
}
.pagination-bullet:hover {
  .circle-1,
  .circle-2,
  .circle-3 {
    @apply border;
    @apply border-black;
  }
  .circle-1 {
    transition-duration: 0.3s;
  }
  .circle-2 {
    transition-duration: 0.5s;
  }
  .circle-3 {
    transition-duration: 0.7s;
  }
}
</style>
