<template>
  <div class="overflow-hidden">
    <img
      v-if="placeholderBox && !cover"
      :src="placeholderBox"
      :alt="title"
      :class="innerClass"
      :style="innerStyle"
    />
    <picture v-lazyload>
      <source :data-url-srcset="srcset" type="image/jpeg" />
      <source :data-url-srcset="srcsetWebp" type="image/webp" />
      <img
        ref="img"
        :data-url-src="src"
        :alt="title"
        :class="innerClass"
        :style="innerStyle"
      />
    </picture>
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      default: '',
    },
    srcset: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    placeholderBox: {
      type: String,
      default: '',
    },
    srcsetWebp: {
      type: String,
      default: '',
    },
    innerClass: {
      type: String,
      default: '',
    },
    innerStyle: {
      type: Object,
      default: () => ({}),
    },
    cover: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="postcss" scoped>
picture {
  source,
  img {
    @apply opacity-0;
    filter: blur(10px);
    transition-property: opacity, transform, filter;
    transition-duration: var(--duration-image-load);
    transition-timing-function: var(--ease-general);
  }
  &.loaded {
    source,
    img {
      @apply opacity-100;
      filter: blur(0px);
      transform: var(--scale-increase-small);
    }
  }
}
</style>
