<template>
  <div class="flex" :class="city">
    <img
      :src="require('~/assets/images/WhatWeDo/map-pin.svg')"
      :srcset="require('~/assets/images/WhatWeDo/map-pin.svg')"
      alt=""
      class="md:cursor-pointer pin-image"
      @click="active()"
    />
    <div class="flex items-center">
      <div class="ml-size-2 xl:ml-size-2 xxl:ml-size-3">
        <h4
          class="font-tt-norms-pro-bold text-size-2 md:text-size-3 xxl:text-size-4 text-white"
          v-text="city"
        />
        <h4
          class="font-tt-norms-pro-regular text-size-2 md:text-size-3 xxl:text-size-4 text-white"
          v-text="community1"
        />
        <h4
          v-if="community2 !== ''"
          class="font-tt-norms-pro-regular text-size-2 md:text-size-3 xxl:text-size-4 text-white"
          v-text="community2"
        />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    data: {
      type: Object,
      default() {
        return {}
      },
    },
    city: {
      type: String,
      default: 'Bedford',
    },
    community1: {
      type: String,
      default: 'Colnbrook IRC',
    },
    community2: {
      type: String,
      default: '',
    },
  },
  methods: {
    active() {
      this.$emit('onActive', this.data)
    },
  },
}
</script>
<style lang="postcss" scoped>
@media screen and (max-width: 1440px) {
  .pin-image {
    max-width: 100px;
  }
}
@media screen and (max-width: 1280px) {
  .pin-image {
    max-width: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .pin-image {
    max-width: 60px;
  }
}
@media screen and (max-width: 768px) {
  .pin-image {
    max-width: 40px;
  }
}
</style>
