<template>
  <div class="stats mb-size-7 sm:mb-size-7 md:mb-size-8 lg:mb-size-9">
    <hr />
    <div class="flex flex-col lg:flex-row py-size-5 sm:py-size-6 lg:py-size-7">
      <h3 class="w-full lg:w-1/2 font-tusker text-size-7">26,436</h3>
      <h4
        class="w-full lg:w-1/2 font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-6 mt-size-1 lg:mt-0"
      >
        Workshop participants
      </h4>
    </div>
    <hr />
    <div class="flex flex-col lg:flex-row py-size-5 sm:py-size-6 lg:py-size-7">
      <h3 class="w-full lg:w-1/2 font-tusker text-size-7">642</h3>
      <h4
        class="w-full lg:w-1/2 font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-6 mt-size-1 lg:mt-0"
      >
        Songs recorded
      </h4>
    </div>
    <hr />
    <div class="flex flex-col lg:flex-row py-size-5 sm:py-size-6 lg:py-size-7">
      <h3 class="w-full lg:w-1/2 font-tusker text-size-7">95%</h3>
      <h4
        class="w-full lg:w-1/2 font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-6 mt-size-1 lg:mt-0"
      >
        Feel better afterwards
      </h4>
    </div>
    <hr />
  </div>
</template>
<script>
export default {}
</script>
<style lang="postcss" scoped>
@media screen and (min-width: 768px) {
  .stats {
    margin-left: calc(74px + 5rem);
  }
}
</style>
