<template>
  <section class="pt-size-6 sm:pt-size-6 md:pt-size-9 lg:pt-size-11">
    <BlockTitleParagraph
      title="How we work"
      body1="We have a massively talented
    team of musicians from all over the world who are trained to work with
    people held within the closed detention system."
      body2=""
      class="w-full xl:w-4/5 mb-size-6 sm:mb-size-6 md:mb-size-7 lg:mb-size-8 xl:mb-size-10"
    />
    <BlockImageText
      class="mb-size-7 sm:mb-size-7 md:mb-size-8 lg:mb-size-9 xl:mb-size-11"
    />
    <BlockTextImage
      class="mb-size-7 sm:mb-size-7 md:mb-size-8 lg:mb-size-9 xl:mb-size-11"
      :img-src="require('~/assets/images/WhatWeDo/placeholder-2.jpg')"
      title="Musician residencies"
      body="We also work in immigration detention centres on more long-term projects, where the same musician will lead regular sessions. This enables everyone involved to build confidence, to find strength and to grow their musicianship, resulting in an even higher quality of music and bigger, longer-lasting changes to their wellbeing. "
    />
    <BlockImageText
      class="mb-size-7 sm:mb-size-7 md:mb-size-8 lg:mb-size-9 xl:mb-size-11"
      :img-src="require('~/assets/images/WhatWeDo/placeholder-3.jpg')"
      title="Community exchanges"
      body="We link up people who are held inside immigration detention centres with community groups who may find themselves shut off and stigmatised by society, such as mental health settings and youth groups, Unable to meet in person, they connect through music. Walls are broken down as both groups use music as a channel to understand each other better, and together create an original album of their own music. "
    />
    <BlockTextImage
      class="mb-size-6 sm:mb-size-6 md:mb-size-7 lg:mb-size-8 xl:mb-size-9"
      :img-src="require('~/assets/images/WhatWeDo/placeholder-4.jpg')"
      title="Special projects and events"
      body="We hold special performances and projects across the year, bringing people who are currently detained and those who are now free together with communities, choirs and musicians. We bring their incredible music, made in extraordinary circumstances, to a wider audience, encouraging people to talk about the issues of immigration detention.
      During COVID we are developing new ways of delivering our work in detention centres, which include specially commissioned arts activity packs and DIY radio. "
    />
  </section>
</template>
<script>
export default {}
</script>
