<template>
  <section class="relative map-container">
    <CoreImage
      class="pointer-events-none"
      :src="require('~/assets/images/WhatWeDo/map.jpg')"
      :srcset="require('~/assets/images/WhatWeDo/map.jpg')"
      inner-class="w-full block"
    />
    <CoreMapPin
      v-for="(loc, index) in locations"
      :key="index"
      class="absolute"
      :data="loc"
      :city="loc.city"
      :community1="loc.community1"
      :community2="loc.community2 ? loc.community2 : null"
      @onActive="onActive"
    />
    <div
      class="sidebar absolute top-0 left-0 bottom-0 hidden md:block"
      :class="active ? 'active' : 'false'"
    >
      <div
        class="sidebar__columm mt-size-5 lg:mt-size-5 xl:mt-size-7 xxl:mt-size-9 ml-auto mr-size-5 xl:mr-size-5 xxl:mr-size-7 xl:pl-size-5"
      >
        <div class="flex justify-between items-center">
          <div>
            <h3
              class="font-tt-norms-pro-bold text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5 text-white"
            >
              {{ activeData.city }}
            </h3>
            <h3
              class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 lg:text-size-5 text-white"
            >
              {{ activeData.community1 }}
            </h3>
          </div>
          <div @click="active = false">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="61"
              height="61"
              viewBox="0 0 61 61"
              class="cursor-pointer"
            >
              <g
                id="Group_3294"
                data-name="Group 3294"
                transform="translate(-648.635 -7218)"
              >
                <g
                  id="Ellipse_1294"
                  data-name="Ellipse 1294"
                  transform="translate(648.635 7218)"
                  fill="none"
                  stroke="#fff"
                  stroke-width="1"
                >
                  <circle cx="30.5" cy="30.5" r="30.5" stroke="none" />
                  <circle cx="30.5" cy="30.5" r="30" fill="none" />
                </g>
                <g id="Close" transform="translate(669.164 7239.402)">
                  <line
                    id="Line_12"
                    data-name="Line 12"
                    y1="19.824"
                    x2="20.3"
                    fill="none"
                    stroke="#fff"
                    stroke-width="1"
                  />
                  <line
                    id="Line_13"
                    data-name="Line 13"
                    x1="20.3"
                    y1="19.824"
                    fill="none"
                    stroke="#fff"
                    stroke-width="1"
                  />
                </g>
              </g>
            </svg>
          </div>
        </div>
        <img
          :src="require('~/assets/images/WhatWeDo/map-placeholder.jpg')"
          :srcset="require('~/assets/images/WhatWeDo/map-placeholder.jpg')"
          alt=""
          class="rounded-2xl my-size-4 lg:my-size-4 xl:my-size-5 xxl:my-size-6 w-full"
        />
        <div class="flex justify-between">
          <div>
            <h4
              class="font-tt-norms-pro-bold text-size-3 sm:text-size-3 md:text-size-4 text-white"
            >
              Recordings:
            </h4>
            <h4
              class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 text-white"
            >
              {{ activeData.recordings }}
            </h4>
          </div>
          <div>
            <h4
              class="font-tt-norms-pro-bold text-size-3 sm:text-size-3 md:text-size-4 text-white"
            >
              Sessions:
            </h4>
            <h4
              class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 text-white"
            >
              {{ activeData.sessions }}
            </h4>
          </div>
          <div>
            <h4
              class="font-tt-norms-pro-bold text-size-3 sm:text-size-3 md:text-size-4 text-white"
            >
              Participants:
            </h4>
            <h4
              class="font-tt-norms-pro-regular text-size-3 sm:text-size-3 md:text-size-4 text-white"
            >
              {{ activeData.participants }}
            </h4>
          </div>
        </div>
        <p
          class="font-tt-norms-pro-regular text-size-4 text-white my-size-4 lg:my-size-4 xl:my-size-5 xxl:my-size-6"
        >
          Nullam sapien ante, posuere at bibendum et, lacinia nec nulla.
          Curabitur porttitor lorem velit, quis hendrerit dui facilisis nec.
          Vivamus egestas lectus dui, blandit tempus metus tincidunt ut.
          Praesent ultricies urna vel scelerisque suscipitPraesent ultricies
          urna vel scelerisque suscipit.. Maecenas vitae molestie nisl, id
          moles.
        </p>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      active: false,
      activeData: {
        city: '',
        community1: '',
        recordings: 0,
        sessions: 0,
        participants: 0,
      },
      locations: [
        {
          city: 'Bedford',
          community1: 'Yarl’s Wood IRC',
          recordings: 10,
          sessions: 20,
          participants: 30,
        },
        {
          city: 'Oxford',
          community1: 'Campsfield House IRC',
          recordings: 40,
          sessions: 31,
          participants: 123,
        },
        {
          city: 'Hillingdon',
          community1: 'Colnbrook IRC',
          community2: 'Harmondsworth IRC',
          recordings: 123,
          sessions: 321,
          participants: 11,
        },
        {
          city: 'Dover',
          community1: 'Dover IRC',
          recordings: 110,
          sessions: 2,
          participants: 60,
        },
        {
          city: 'Gosport',
          community1: 'Haslar IRC',
          recordings: 120,
          sessions: 110,
          participants: 210,
        },
        {
          city: 'Portland',
          community1: 'The Verne IR',
          recordings: 40,
          sessions: 110,
          participants: 640,
        },
      ],
    }
  },
  methods: {
    onActive(data) {
      this.activeData = data
      this.active = true
    },
  },
}
</script>
<style lang="postcss" scoped>
.Bedford {
  top: 11.9%;
  left: 65.6%;
}
.Oxford {
  top: 23.2%;
  left: 57%;
}
.Hillingdon {
  top: 37%;
  left: 60%;
}
.Dover {
  top: 53.1%;
  left: 78.3%;
}
.Gosport {
  top: 56.8%;
  left: 62.5%;
}
.Portland {
  top: 58.9%;
  left: 42.7%;
}
.sidebar {
  overflow: scroll;
  max-width: 38vw;
  padding-left: calc(38vw - 500px);
  backdrop-filter: blur(25px) brightness(106%);
  background: rgba(255, 255, 255, 0);
  transition: left 0.3s ease;
  left: -38vw;
  &.active {
    left: 0;
  }
}
@media screen and (max-width: 1440px) {
  .sidebar {
    max-width: 50vw;
    padding-left: calc(50vw - 500px);
    left: -50vw;
  }
}
@media screen and (max-width: 1280px) {
  .sidebar {
    max-width: 75vw;
    padding-left: calc(75vw - 500px);
    left: -75vw;
  }
}
@media screen and (max-width: 768px) {
  .map-container {
    width: 150%;
    left: -50%;
  }
}
</style>
