<template>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
    <div>
      <div class="detainee flex">
        <div class="detainee__image-wrapper relative">
          <CoreImage
            class="pointer-events-none rounded-full border-2 border-deep-green absolute detainee__image"
            :src="image1"
            :srcset="image1"
            inner-class="object-cover"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="138.648"
            height="138.648"
            viewBox="0 0 138.648 138.648"
            class="absolute circle-1"
          >
            <circle
              id="Ellipse_895"
              data-name="Ellipse 895"
              cx="68.549"
              cy="68.549"
              r="68.549"
              transform="translate(0.775 0.775)"
              fill="none"
              stroke="#113f35"
              stroke-miterlimit="10"
              stroke-width="1.55"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="153.331"
            height="153.331"
            viewBox="0 0 153.331 153.331"
            class="absolute circle-2"
          >
            <circle
              id="Ellipse_896"
              data-name="Ellipse 896"
              cx="76.165"
              cy="76.165"
              r="76.165"
              transform="translate(0.5 0.5)"
              fill="none"
              stroke="#113f35"
              stroke-miterlimit="10"
              stroke-width="1"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="168.5"
            height="168.5"
            viewBox="0 0 168.5 168.5"
            class="absolute circle-3"
          >
            <circle
              id="Ellipse_897"
              data-name="Ellipse 897"
              cx="84"
              cy="84"
              r="84"
              transform="translate(0.25 0.25)"
              fill="none"
              stroke="#113f35"
              stroke-miterlimit="10"
              stroke-width="0.5"
            />
          </svg>
        </div>
        <div class="detainee__content ml-size-5 md:ml-size-4 flex flex-col">
          <h3 class="font-tt-norms-pro-bold text-size-3 md:text-size-4 mt-auto">
            Name Surname
          </h3>
          <h4
            class="font-tt-norms-pro-regular text-size-3 md:text-size-4 mb-auto"
          >
            Detainee
          </h4>
        </div>
      </div>
      <p
        class="font-tt-norms-pro-regular text-size-4 mt-size-5 mb-size-7 lg:w-2/3"
      >
        “ Nullam sapien ante, posuere bibendum et, lacinia nec nulla. Curabitur
        porttitor lorem velit, quis hendrerit dui facilisis nec et, lacinia nec
        nulla curabitur porttitor ”
      </p>
      <BlockSong :id="3" />
    </div>
    <div>
      <div class="detainee flex">
        <div class="detainee__image-wrapper relative">
          <CoreImage
            class="pointer-events-none rounded-full border-2 border-deep-green absolute detainee__image"
            :src="image1"
            :srcset="image1"
            inner-class="object-cover"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="138.648"
            height="138.648"
            viewBox="0 0 138.648 138.648"
            class="absolute circle-1"
          >
            <circle
              id="Ellipse_895"
              data-name="Ellipse 895"
              cx="68.549"
              cy="68.549"
              r="68.549"
              transform="translate(0.775 0.775)"
              fill="none"
              stroke="#113f35"
              stroke-miterlimit="10"
              stroke-width="1.55"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="153.331"
            height="153.331"
            viewBox="0 0 153.331 153.331"
            class="absolute circle-2"
          >
            <circle
              id="Ellipse_896"
              data-name="Ellipse 896"
              cx="76.165"
              cy="76.165"
              r="76.165"
              transform="translate(0.5 0.5)"
              fill="none"
              stroke="#113f35"
              stroke-miterlimit="10"
              stroke-width="1"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="168.5"
            height="168.5"
            viewBox="0 0 168.5 168.5"
            class="absolute circle-3"
          >
            <circle
              id="Ellipse_897"
              data-name="Ellipse 897"
              cx="84"
              cy="84"
              r="84"
              transform="translate(0.25 0.25)"
              fill="none"
              stroke="#113f35"
              stroke-miterlimit="10"
              stroke-width="0.5"
            />
          </svg>
        </div>
        <div class="detainee__content ml-size-5 md:ml-size-4 flex flex-col">
          <h3 class="font-tt-norms-pro-bold text-size-4 mt-auto">
            Name Surname
          </h3>
          <h4 class="font-tt-norms-pro-regular text-size-4 mb-auto">
            Detainee
          </h4>
        </div>
      </div>
      <p
        class="font-tt-norms-pro-regular text-size-4 mt-size-5 mb-size-7 lg:w-2/3"
      >
        “ Nullam sapien ante, posuere bibendum et, lacinia nec nulla. Curabitur
        porttitor lorem velit, quis hendrerit dui facilisis nec et, lacinia nec
        nulla curabitur porttitor ”
      </p>
      <BlockSong />
    </div>
  </div>
</template>
<script>
export default {
  props: {
    image1: {
      type: String,
      default: require('~/assets/images/WhatWeDo/detainee-1.jpg'),
    },
  },
}
</script>
<style lang="postcss" scoped>
.detainee__image,
.circle-1,
.circle-2,
.circle-3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.detainee__image {
  width: 122px;
  height: 122px;
}
.detainee__image-wrapper {
  width: 168px;
  height: 168px;
}
@media screen and (max-width: 1024px) {
  .detainee__image {
    width: calc(0.75 * 122px);
    height: calc(0.75 * 122px);
  }
  .detainee__image-wrapper {
    width: calc(0.75 * 168px);
    height: calc(0.75 * 168px);
  }
  .circle-1 {
    width: calc(0.75 * 138.648px);
    height: calc(0.75 * 138.648px);
  }
  .circle-2 {
    width: calc(0.75 * 153.331px);
    height: calc(0.75 * 153.331px);
  }
  .circle-3 {
    width: calc(0.75 * 168.5px);
    height: calc(0.75 * 168.5px);
  }
}
</style>
