<template>
  <main v-if="!$fetchState.pending">
    <CoreChineseSnapScroll :items="items">
      <!-- MAWD logo -->
      <SpineChineseLogo />
      <!-- Overview -->
      <SpineChineseOverview :content="data.entry.about" />
      <!-- EXCD -->
      <SpineChineseExcd
        :content="data.entry"
        class="spine w-full h-screen bg-black"
      />
      <!-- Work -->
      <SpineChineseOurWork :entries="data.ourWorkSelected" />
      <!-- Clients -->
      <SpineChineseClients />
      <!-- Testimonials -->
      <SpineChineseTestimonials />
      <!-- Contact -->
      <SpineChineseContact />
    </CoreChineseSnapScroll>
  </main>
</template>

<script>
import { ChineseHomePageQuery as query } from '@gql/queries'
import { MUTATIONS } from '@store/ui'
import { CHINESE } from '@constants'
import { mapState } from 'vuex'

export default {
  layout: 'chinese',
  async fetch() {
    const result = await this.$craft({
      query,
    })
    // console.log('result', result)
    this.data = result.data
  },

  data: () => ({
    data: null,
    items: CHINESE,
  }),

  computed: {
    ...mapState({
      isMobile: (state) => state.ui.isMobile,
      scrollData: (state) => state.ui.scrollData,
      deviceHeight: (state) => state.ui.deviceHeight,
    }),
  },

  transition(to, from) {
    if (!from) return
    if (from.path === '/')
      return {
        name: 'route-transition-slide-in',
        mode: '',
      }
    else if (to.path === '/')
      return {
        name: 'route-transition-slide-out',
        mode: '',
      }
  },

  mounted() {
    if (this.scrollData) {
      const ref = this.items.find((x) => x.step === this.scrollData.step)
      const target = ref || this.items[0]
      this.setColor(target)
      this.setScroll(target)
    }
  },
  methods: {
    setColor(params) {
      const bgCol = this.isMobile
        ? params.background.mobile
        : params.background.desktop
      this.$store.commit(MUTATIONS.SET_BACKGROUND_COLOR_ONLY, bgCol)
      bgCol === 'black'
        ? this.$store.commit(MUTATIONS.SET_MENU_TRANSPARENT_REVERSE)
        : this.$store.commit(MUTATIONS.SET_MENU_TRANSPARENT)
    },
    setScroll(params) {
      const amt = -params.step * this.deviceHeight
      this.$store.commit(MUTATIONS.SET_SCROLL_DATA, {
        anchor: params.anchor,
        step: params.step,
        amt,
        subScrollStep: 0,
        reversed: false,
      })
    },
  },
  head: {
    bodyAttrs: {
      class: 'snap-scroll',
    },
  },
}
</script>

<style></style>
