<template functional>
  <g>
    <path
      d="M25,50A25,25,0,1,1,50,25,25,25,0,0,1,25,50ZM25,2.44A22.56,22.56,0,1,0,47.56,25,22.59,22.59,0,0,0,25,2.44Z"
    />
    <rect
      x="15.01"
      y="24.39"
      width="20.21"
      height="1.22"
      transform="translate(-10.32 25.08) rotate(-45)"
    />
    <rect
      x="24.51"
      y="14.9"
      width="1.22"
      height="20.21"
      transform="translate(-10.32 25.08) rotate(-45)"
    />
  </g>
</template>
