<template functional>
  <g id="Mid-weight_Architect" data-name="Mid-weight Architect" class="cls-1">
    <g isolation="isolate">
      <polygon
        points="27.81 27.79 27.84 50 22.26 50 22.26 27.81 0 27.79 0 22.21 22.26 22.23 22.26 0 27.84 0 27.84 22.23 50 22.21 50 27.79 27.81 27.79"
      />
    </g>
  </g>
</template>
