<template functional>
  <g>
    <path
      d="M25,50A25,25,0,1,1,50,25,25,25,0,0,1,25,50ZM25,3.23A21.77,21.77,0,1,0,46.77,25,21.79,21.79,0,0,0,25,3.23Z"
    />
    <rect
      x="15.18"
      y="24.19"
      width="19.87"
      height="1.61"
      transform="translate(-10.32 25.08) rotate(-45)"
    />
    <rect
      x="24.31"
      y="15.06"
      width="1.61"
      height="19.87"
      transform="translate(-10.32 25.08) rotate(-45)"
    />
  </g>
</template>
